Repository microsoft/BCApps, changes with the labels that .github/labeler.yml gives for each.
All labels: Build: Automation, Build: scripts & configs, AL: System Application, AL: Business Foundation, AL: Apps (W1), AL: Tools, AL: Rulesets

.github/labeler.yml:

"Build: Automation":
- changed-files:
  - any-glob-to-any-file: ['.github/**', '.azuredevops/**']

"Build: scripts & configs":
- changed-files:
  - any-glob-to-any-file: ['build/**']

"AL: System Application":
- changed-files:
  - any-glob-to-any-file: ['src/System Application/**']

"AL: Business Foundation":
- changed-files:
  - any-glob-to-any-file: ['src/Business Foundation/**']

"AL: Apps (W1)":
- changed-files:
  - any-glob-to-any-file: ['src/Apps/W1/**']

"AL: Tools":
- changed-files:
  - any-glob-to-any-file: ['src/Tools/**']

"AL: Rulesets":
- changed-files:
  - any-glob-to-any-file: ['src/Rulesets/**']

[27.x] Feature configuration module backport (#5336)
  src/System Application/App/Feature Configuration/app.json
  src/System Application/App/Feature Configuration/src/FeatureConfiguration.Codeunit.al
  src/System Application/App/Feature Configuration/src/FeatureConfigurationImpl.Codeunit.al
  src/System Application/Test Library/Feature Configuration/app.json
  src/System Application/Test Library/Feature Configuration/src/FeatureConfigTestLib.Codeunit.al
Labels: AL: System Application

Fix Parameter SalesLine for Event OnAfterCreateAdditionalInvoiceLine
  src/Apps/W1/Subscription Billing/App/Billing/Codeunits/CreateBillingDocuments.Codeunit.al
  src/Apps/W1/Subscription Billing/App/Sales Service Commitments/Table Extensions/SalesLine.TableExt.al
Labels: AL: Apps (W1)

reset the parameters for RequiredTestIsolation = None
  build/scripts/RunTestsInBcContainer.ps1
Labels: Build: scripts & configs

fix CZ VAT
  src/Apps/W1/EDocumentConnectors/Avalara/Test/src/IntegrationTests.Codeunit.al
Labels: AL: Apps (W1)

Merge 740a75f87972d30a0aad5b285af5b2cbe9b127ac into f195519be573741002090fc9188b68b7ed93d7a9
  src/Apps/W1/EDocumentConnectors/Avalara/Test/src/IntegrationTests.Codeunit.al
Labels: AL: Apps (W1)

move to group
  src/Apps/W1/ExcelReports/App/src/RoleCenters/EXRFinRoleCenter.PageExt.al
Labels: AL: Apps (W1)

fix format issue in PowerBI test (#5373)
  src/Apps/W1/PowerBIReports/Test/E2EPowerBIProjectTest.Codeunit.al
Labels: AL: Apps (W1)

[Agent] Replace dotnet usage by system codeunit (#5281)
  src/System Application/App/AI/src/Copilot/CopilotAICapabilities.Page.al
  src/System Application/App/Agent/Interaction/AgentSession.Codeunit.al
  src/System Application/App/Agent/Interaction/Internal/AgentSessionImpl.Codeunit.al
  src/System Application/App/Agent/Interaction/Internal/AgentTaskImpl.Codeunit.al
  src/System Application/App/Agent/Setup/Agent.Codeunit.al
  src/System Application/App/Agent/Setup/AgentAccessControl.Page.al
  src/System Application/App/Agent/Setup/AgentCard.Page.al
  src/System Application/App/Agent/Setup/AgentImpl.Codeunit.al
  src/System Application/App/Agent/Setup/AgentList.Page.al
  src/System Application/App/Agent/Setup/AgentUserSettings.Page.al
  src/System Application/App/Agent/Setup/AgentUserSubform.PageExt.al
  src/System Application/App/Extension Management/src/ExtensionManagement.Page.al
  src/System Application/App/Feature Key/src/FeatureManagement.Page.al
  src/System Application/App/Permission Sets/src/PermissionSet.Page.al
  src/System Application/App/Security Groups/src/SecurityGroups.Page.al
Labels: AL: System Application

group 40 instead
  src/Apps/W1/ExcelReports/App/src/RoleCenters/EXRFinRoleCenter.PageExt.al
Labels: AL: Apps (W1)

try run tests in CZ
  build/projects/Apps (W1)/.AL-Go/settings.json
Labels: Build: scripts & configs

[Master]-E-Documents: Check 'Your reference' not available in service documents in Belgian localisation (#5347)
  src/Apps/W1/EDocument/App/src/Format/EDocPEPPOLBIS30.Codeunit.al
  src/Apps/W1/EDocument/Test/src/Processing/EDocE2ETest.Codeunit.al
Labels: AL: Apps (W1)

[27.x] FORNAV connector tests uptake in private NAV - fix CZ VAT (#5382)
  src/Apps/W1/EDocumentConnectors/Avalara/Test/src/IntegrationTests.Codeunit.al
Labels: AL: Apps (W1)

HandleSubscriptionOptionOnGetRecRefAndFieldsNoByType *1
  src/Apps/W1/Subscription Billing/App/Billing/Codeunits/SalesDocuments.Codeunit.al
Labels: AL: Apps (W1)

Subscription Lines Cannot Be Opened from Sales Line *1
  src/Apps/W1/Subscription Billing/App/Sales Service Commitments/Tables/SalesSubscriptionLine.Table.al
Labels: AL: Apps (W1)

Subscription Lines Cannot Be Opened from Sales Line *2
  src/Apps/W1/Subscription Billing/App/Sales Service Commitments/Tables/SalesSubscriptionLine.Table.al
Labels: AL: Apps (W1)

Update artifact version in AL-Go settings
  .github/AL-Go-Settings.json
Labels: Build: Automation

addafter action
  src/Apps/W1/ExcelReports/App/src/RoleCenters/EXRFinRoleCenter.PageExt.al
Labels: AL: Apps (W1)

Extend Price Update in SubscriptionBilling Fixes #5374
  src/Apps/W1/Subscription Billing/App/Contract Price Update/Codeunits/CalculationBaseByPerc.Codeunit.al
  src/Apps/W1/Subscription Billing/App/Contract Price Update/Codeunits/PriceByPercent.Codeunit.al
  src/Apps/W1/Subscription Billing/App/Contract Price Update/Codeunits/PriceUpdateManagement.Codeunit.al
  src/Apps/W1/Subscription Billing/App/Contract Price Update/Codeunits/RecentItemPrice.Codeunit.al
  src/Apps/W1/Subscription Billing/App/Service Commitments/Tables/SubscriptionLine.Table.al
Labels: AL: Apps (W1)

Remove "local" from procedure ValidateShortcutDimCode in table 8052 "Customer Subscription Contract" (#5260)
  src/Apps/W1/Subscription Billing/App/Customer Contracts/Tables/CustomerSubscriptionContract.Table.al
Labels: AL: Apps (W1)

Adressing Feedback
  src/Apps/W1/Subscription Billing/App/Billing/Codeunits/BillingProposal.Codeunit.al
  src/Apps/W1/Subscription Billing/App/Billing/Codeunits/CreateBillingDocuments.Codeunit.al
  src/Apps/W1/Subscription Billing/App/Billing/Codeunits/SubBillingBackgroundJobs.Codeunit.al
  src/Apps/W1/Subscription Billing/App/Billing/Tables/BillingTemplate.Table.al
Labels: AL: Apps (W1)

ExcelReports - Handle dependencies to deprecated reports (#5369)
  src/Apps/W1/ExcelReports/App/src/RoleCenters/EXRFinRoleCenter.PageExt.al
Labels: AL: Apps (W1)

missing ReplicateData on new table
  src/Apps/W1/EDocument/App/src/Processing/Import/Purchase/PurchaseOrderMatching/EDocPOMatchingSetup.Table.al
Labels: AL: Apps (W1)

Update BCArtifact version. New value: 28.0.41695.0
  .github/AL-Go-Settings.json
Labels: Build: Automation

Update customSettings.json
  build/projects/Apps (W1)/.AL-Go/customSettings.json
Labels: Build: scripts & configs

Update BCArtifact version. New value: bcinsider/Sandbox/27.2//latest
  .github/AL-Go-Settings.json
Labels: Build: Automation

Merge
  src/Apps/W1/Shopify/App/src/Transactions/Reports/ShpfySuggestPayments.Report.al
  src/Apps/W1/Shopify/App/src/Transactions/Tables/ShpfyOrderTransaction.Table.al
Labels: AL: Apps (W1)

Extend Price Update in SubscriptionBilling After code review Fixes #5374
  src/Apps/W1/Subscription Billing/App/Contract Price Update/Codeunits/PriceUpdateManagement.Codeunit.al
  src/Apps/W1/Subscription Billing/App/Service Commitments/Tables/SubscriptionLine.Table.al
Labels: AL: Apps (W1)

missing ReplicateData on new E-Documents table (#5389)
  src/Apps/W1/EDocument/App/src/Processing/Import/Purchase/PurchaseOrderMatching/EDocPOMatchingSetup.Table.al
Labels: AL: Apps (W1)

Update src/System Application/App/Agent/Interaction/Internal/AgentTaskImpl.Codeunit.al
  src/System Application/App/Agent/Interaction/Internal/AgentTaskImpl.Codeunit.al
Labels: AL: System Application

Sort usings alphabetically
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesCopilotImpl.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/Telemetry/NoSeriesCopilotTelemetry.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/Tools/NoSeriesCopAddIntent.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/Tools/NoSeriesCopChangeIntent.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Register/NoSeriesCopilotRegister.Codeunit.al
  src/Business Foundation/App/Permissions/BusFoundAdmin.PermissionSet.al
  src/Business Foundation/App/Permissions/BusFoundRead.PermissionSet.al
  src/Business Foundation/App/Permissions/BusFoundView.PermissionSet.al
  src/Business Foundation/Test/NoSeries/src/ERMNoSeriesTests.Codeunit.al
  src/Business Foundation/Test/NoSeries/src/NoSeriesBatchTests.Codeunit.al
Labels: AL: Business Foundation

Few feedback fixed
  src/Apps/W1/Quality Management/app/src/Dispositions/Move/QltyMoveInventory.Report.al
  src/Apps/W1/Quality Management/app/src/RoleCenters/QltyMgmtMainRoleCenter.Profile.al
  src/Apps/W1/Quality Management/app/src/Setup/Setup/QltyManagementSetup.Page.al
Labels: AL: Apps (W1)

Skip existing API tools when adding in bulk
  src/System Application/App/MCP/src/Configuration/Codeunits/MCPConfigImplementation.Codeunit.al
Labels: AL: System Application

EDocument: align CLEANSCHEMA guard and ObsoleteTag versions for historical matching
  src/Apps/W1/EDocument/App/src/Processing/Import/EDocHistoricalMatchingSetup.Table.al
  src/Apps/W1/EDocument/App/src/Processing/Import/EDocLineMatchingScope.Enum.al
  src/Apps/W1/EDocument/App/src/Processing/Import/EDocVendorMatchingScope.Enum.al
Labels: AL: Apps (W1)

New catalogs inherit settings from existing ones
  src/Apps/W1/Shopify/App/src/Catalogs/Codeunits/ShpfyCatalogAPI.Codeunit.al
Labels: AL: Apps (W1)

Sort usings alphabetically
  src/Apps/W1/APIReportsFinance/App/src/APIFinanceGlobalSettings.Page.al
  src/Apps/W1/DataArchive/App/src/DataArchiveExportToCSV.Codeunit.al
  src/Apps/W1/DataArchive/App/src/DataArchiveProvider.Codeunit.al
  src/Apps/W1/DataCorrectionFA/App/src/codeunits/FALedgerEntriesScan.Codeunit.al
  src/Apps/W1/DataCorrectionFA/App/src/pages/FALedgerEntriesIssues.page.al
  src/Apps/W1/DataCorrectionFA/App/src/tables/FALedgEntrywIssue.Table.al
  src/Apps/W1/DataSearch/App/DataSearchDefaults.Codeunit.al
  src/Apps/W1/DataSearch/App/DataSearchObjectMapping.Codeunit.al
  src/Apps/W1/EDocument/App/Permissions/EDocCoreEdit.PermissionSet.al
  src/Apps/W1/EDocument/App/Permissions/EDocCoreObjects.PermissionSet.al
  src/Apps/W1/EDocument/App/Permissions/EDocCoreRead.PermissionSet.al
  src/Apps/W1/EDocument/App/Permissions/EDocCoreUser.PermissionSet.al
  src/Apps/W1/EDocument/App/src/ClearanceModel/EDocumentQRCodeViewer.Page.al
  src/Apps/W1/EDocument/App/src/DataExchange/EDocDataExchangeImpl.Codeunit.al
  src/Apps/W1/EDocument/App/src/DataExchange/PEPPOL Data Exchange Definition/EDocDEDPEPPOLPreMapping.Codeunit.al
  src/Apps/W1/EDocument/App/src/DataExchange/PEPPOL Data Exchange Definition/EDocDEDPEPPOLSubscribers.Codeunit.al
  src/Apps/W1/EDocument/App/src/Document/EDocument.Page.al
  src/Apps/W1/EDocument/App/src/Document/EDocument.Table.al
  src/Apps/W1/EDocument/App/src/EDocumentInstall.Codeunit.al
  src/Apps/W1/External File Storage - Azure Blob Service Connector/App/src/ExtBlobStoConnectorImpl.Codeunit.al
  src/Apps/W1/External File Storage - Azure Blob Service Connector/App/src/ExtBlobStorAccountWizard.Page.al
  src/Apps/W1/External File Storage - Azure File Service Connector/App/src/ExtFileShareAccountWizard.Page.al
  src/Apps/W1/External File Storage - Azure File Service Connector/App/src/ExtFileShareConnectorImpl.Codeunit.al
  src/Apps/W1/External File Storage - SharePoint Connector/App/src/ExtSharePointAccountWizard.Page.al
  src/Apps/W1/External File Storage - SharePoint Connector/App/src/ExtSharePointConnectorImpl.Codeunit.al
  src/Apps/W1/Shopify/App/src/Base/Codeunits/ShpfyCommunicationMgt.Codeunit.al
  src/Apps/W1/Shopify/App/src/Base/Codeunits/ShpfyGuidedExperience.Codeunit.al
  src/Apps/W1/Shopify/App/src/Base/Codeunits/ShpfyInitialImport.Codeunit.al
Labels: AL: Apps (W1)

Reenable test
  src/Apps/W1/Shopify/Test/DisabledTests/ShpfyGiftCardsTest.json
  src/Apps/W1/Shopify/Test/DisabledTests/ShpfyShippingTest.json
Labels: AL: Apps (W1)

add pragmas for obsolete tag 27.0
  src/Apps/W1/EDocument/App/src/Processing/Import/EDocHistoricalMatchingSetup.Table.al
  src/Apps/W1/EDocument/App/src/Processing/Import/EDocLineMatchingScope.Enum.al
  src/Apps/W1/EDocument/App/src/Processing/Import/EDocVendorMatchingScope.Enum.al
Labels: AL: Apps (W1)

Reneable TempBlob tests
  src/System Application/Test/BLOB Storage/src/TempBlobTest.Codeunit.al
  src/System Application/Test/DisabledTests/TempBlobTest.json
Labels: AL: System Application

Reenable test
  src/Apps/W1/Shopify/Test/Gift Cards/ShpfyGiftCardsTest.Codeunit.al
Labels: AL: Apps (W1)

Reenable test
  src/Apps/W1/Shopify/Test/Shipping/ShpfyShippingTest.Codeunit.al
Labels: AL: Apps (W1)
