Repository microsoft/BCApps, changes with the labels that .github/labeler.yml gives for each.
All labels: Build: Automation, Build: scripts & configs, AL: System Application, AL: Business Foundation, AL: Apps (W1), AL: Tools, AL: Rulesets

.github/labeler.yml:

"Build: Automation":
- changed-files:
  - any-glob-to-any-file: ['.github/**', '.azuredevops/**']

"Build: scripts & configs":
- changed-files:
  - any-glob-to-any-file: ['build/**']

"AL: System Application":
- changed-files:
  - any-glob-to-any-file: ['src/System Application/**']

"AL: Business Foundation":
- changed-files:
  - any-glob-to-any-file: ['src/Business Foundation/**']

"AL: Apps (W1)":
- changed-files:
  - any-glob-to-any-file: ['src/Apps/W1/**']

"AL: Tools":
- changed-files:
  - any-glob-to-any-file: ['src/Tools/**']

"AL: Rulesets":
- changed-files:
  - any-glob-to-any-file: ['src/Rulesets/**']

fix bugs in the engine
  src/Apps/W1/EDocument/Demo Data/EDocumentInvoices/EDocInvContosoComposer.Codeunit.al
Labels: AL: Apps (W1)

[Shopify] Do not send empty variant update request if there are no changes (#4808)
  src/Apps/W1/Shopify/App/src/Products/Codeunits/ShpfyVariantAPI.Codeunit.al
Labels: AL: Apps (W1)

add after antoher action
  src/Apps/W1/ExcelReports/App/src/RoleCenters/EXRFinRoleCenter.PageExt.al
Labels: AL: Apps (W1)

wrong codeunitId + one more test
  src/Apps/W1/Shopify/Test/DisabledTests/ShpfyShippingTest.json
Labels: AL: Apps (W1)

[SubscriptionBilling] Use page "Service Objects" instead of "Service Object" (#5344)
  src/Apps/W1/Subscription Billing/App/Customer Contracts/Page Extensions/CustomerCard.PageExt.al
  src/Apps/W1/Subscription Billing/App/Customer Contracts/Page Extensions/CustomerList.PageExt.al
Labels: AL: Apps (W1)

Change condition to allow max reruns in test script
  build/scripts/RunTestsInBcContainer.ps1
Labels: Build: scripts & configs

Remove CodeReviewInstructions folder
  src/Apps/W1/Quality Management/QMWorkspace.code-workspace
Labels: AL: Apps (W1)

[27.0] [Shopify] Do not send empty variant update request if there are no changes (#5368)
  src/Apps/W1/Shopify/App/src/Products/Codeunits/ShpfyVariantAPI.Codeunit.al
Labels: AL: Apps (W1)

Run integration tests and unit tests (#5279)
  build/projects/Apps (W1)/.AL-Go/RunTestsInBcContainer.ps1
  build/projects/Apps (W1)/.AL-Go/settings.json
  build/projects/System Application Tests/.AL-Go/RunTestsInBcContainer.ps1
  build/projects/System Application Tests/.AL-Go/settings.json
  build/scripts/EnlistmentHelperFunctions.psm1
  build/scripts/ImportTestDataInBcContainer.ps1
  build/scripts/RunTestsInBcContainer.ps1
  src/Apps/W1/EDocument/Test/DisabledTests/EDocEmailTests.json
  src/Apps/W1/EDocument/Test/DisabledTests/EDocPOMatchingUnitTests.DisabledTest.json
  src/Apps/W1/Shopify/Test/DisabledTests/ShpfyGiftCardsTest.json
  src/Apps/W1/Shopify/Test/DisabledTests/ShpfyShippingTest.json
Labels: Build: scripts & configs, AL: Apps (W1)

Adressing Feedback
  src/Apps/W1/Subscription Billing/App/Base/Tables/SubscriptionBillingCue.Table.al
  src/Apps/W1/Subscription Billing/App/Billing/Codeunits/BillingProposal.Codeunit.al
  src/Apps/W1/Subscription Billing/App/Billing/Codeunits/CreateBillingDocuments.Codeunit.al
  src/Apps/W1/Subscription Billing/App/Billing/Codeunits/SubBillingBackgroundJobs.Codeunit.al
  src/Apps/W1/Subscription Billing/App/Billing/Pages/ContractBillingErrLog.Page.al
  src/Apps/W1/Subscription Billing/App/Billing/Report Extensions/BatchPostSalesInvoices.ReportExt.al
  src/Apps/W1/Subscription Billing/App/Billing/Table Extensions/SalesCrMemoHeader.TableExt.al
  src/Apps/W1/Subscription Billing/App/Billing/Table Extensions/SalesInvoiceHeader.TableExt.al
  src/Apps/W1/Subscription Billing/App/Billing/Table Extensions/UserSetup.TableExt.al
  src/Apps/W1/Subscription Billing/App/Billing/Tables/BillingTemplate.Table.al
  src/Apps/W1/Subscription Billing/App/Billing/Tables/ContractBillingErrLog.Table.al
  src/Apps/W1/Subscription Billing/App/Permission Sets/SubBillingBasic.PermissionSet.al
  src/Apps/W1/Subscription Billing/App/Permission Sets/SubBillingObjects.PermissionSet.al
  src/Apps/W1/Subscription Billing/App/Permission Sets/SubBillingUser.PermissionSet.al
  src/Apps/W1/Subscription Billing/App/Sales Service Commitments/Table Extensions/SalesHeader.TableExt.al
  src/Apps/W1/Subscription Billing/Test/Billing/AutomatedBillingTest.Codeunit.al
Labels: AL: Apps (W1)

Revert "[26.0] Remove details from Agent task log entry" (#5357)
  src/System Application/App/Agent/Interaction/AgentTaskLogEntryList.Page.al
Labels: AL: System Application

Revert "[26.1] Remove details from Agent task log entry" (#5358)
  src/System Application/App/Agent/Interaction/AgentTaskLogEntryList.Page.al
Labels: AL: System Application

Revert "[26.2] Remove details from Agent task log entry" (#5359)
  src/System Application/App/Agent/Interaction/AgentTaskLogEntryList.Page.al
Labels: AL: System Application

Revert "[26.3] Remove details from Agent task log entry" (#5360)
  src/System Application/App/Agent/Interaction/Internal/AgentTaskLogEntryList.Page.al
Labels: AL: System Application

Revert "[26.4] Remove details from Agent task log entry" (#5361)
  src/System Application/App/Agent/Interaction/Internal/AgentTaskLogEntryList.Page.al
Labels: AL: System Application

Revert "[26.5] Remove details from Agent task log entry" (#5362)
  src/System Application/App/Agent/Interaction/Internal/AgentTaskLogEntryList.Page.al
Labels: AL: System Application

Revert "[26.x] Remove details from Agent task log entry" (#5363)
  src/System Application/App/Agent/Interaction/Internal/AgentTaskLogEntryList.Page.al
Labels: AL: System Application

Revert "Remove details from Agent task log entry" (#5364)
  src/System Application/App/Agent/Interaction/Internal/AgentTaskLogEntryList.Page.al
Labels: AL: System Application

[Payables Agent] Enable historical line matching experiment (#5227)
  src/Apps/W1/EDocument/App/Permissions/EDocCoreObjects.PermissionSet.al
  src/Apps/W1/EDocument/App/Permissions/EDocCoreRead.PermissionSet.al
  src/Apps/W1/EDocument/App/Permissions/EDocCoreUser.PermissionSet.al
  src/Apps/W1/EDocument/App/src/Document/EDocumentsSetup.Table.al
  src/Apps/W1/EDocument/App/src/Processing/AI/Tools/EDocHistoricalMatching.Codeunit.al
  src/Apps/W1/EDocument/App/src/Processing/EDocumentSubscribers.Codeunit.al
  src/Apps/W1/EDocument/App/src/Processing/Import/EDocHistoricalMatchingSetup.Table.al
  src/Apps/W1/EDocument/App/src/Processing/Import/EDocLineMatchingScope.Enum.al
  src/Apps/W1/EDocument/App/src/Processing/Import/EDocVendorMatchingScope.Enum.al
  src/Apps/W1/EDocument/App/src/Processing/Import/PrepareDraft/PreparePurchaseEDocDraft.Codeunit.al
Labels: AL: Apps (W1)

Update BCArtifact version. New value: 28.0.41461.0
  .github/AL-Go-Settings.json
Labels: Build: Automation

making CodeCop happy
  src/Apps/W1/EDocument/App/src/Processing/EDocumentEmailing.Codeunit.al
Labels: AL: Apps (W1)

Update ObsoleteTag from '28.0' to '27.0'
  src/Apps/W1/EDocument/App/src/Processing/Import/EDocVendorMatchingScope.Enum.al
Labels: AL: Apps (W1)

Agent Task Message - Add html sanitization by default (#5365)
  src/System Application/App/Agent/Interaction/AgentTaskBuilder.Codeunit.al
  src/System Application/App/Agent/Interaction/AgentTaskMessageBuilder.Codeunit.al
  src/System Application/App/Agent/Interaction/Internal/AgentTaskBuilderImpl.Codeunit.al
  src/System Application/App/Agent/Interaction/Internal/AgentTaskMsgBuilderImpl.Codeunit.al
  src/System Application/App/Agent/app.json
Labels: AL: System Application

Revert "[Payables Agent] Enable historical line matching experiment (#5227)"
  src/Apps/W1/EDocument/App/Permissions/EDocCoreObjects.PermissionSet.al
  src/Apps/W1/EDocument/App/Permissions/EDocCoreRead.PermissionSet.al
  src/Apps/W1/EDocument/App/Permissions/EDocCoreUser.PermissionSet.al
  src/Apps/W1/EDocument/App/src/Document/EDocumentsSetup.Table.al
  src/Apps/W1/EDocument/App/src/Processing/AI/Tools/EDocHistoricalMatching.Codeunit.al
  src/Apps/W1/EDocument/App/src/Processing/EDocumentSubscribers.Codeunit.al
  src/Apps/W1/EDocument/App/src/Processing/Import/EDocHistoricalMatchingSetup.Table.al
  src/Apps/W1/EDocument/App/src/Processing/Import/EDocLineMatchingScope.Enum.al
  src/Apps/W1/EDocument/App/src/Processing/Import/EDocVendorMatchingScope.Enum.al
  src/Apps/W1/EDocument/App/src/Processing/Import/PrepareDraft/PreparePurchaseEDocDraft.Codeunit.al
Labels: AL: Apps (W1)

[WHEN] in automated test
  src/Apps/W1/Subscription Billing/Test/UBB/UsageBasedBillingTest.Codeunit.al
Labels: AL: Apps (W1)

Change Automation
  src/Apps/W1/EDocument/Test/src/Processing/EDocE2ETest.Codeunit.al
Labels: AL: Apps (W1)

Revert "[Payables Agent] Enable historical line matching experiment (#5227)" (#5372)
  src/Apps/W1/EDocument/App/Permissions/EDocCoreObjects.PermissionSet.al
  src/Apps/W1/EDocument/App/Permissions/EDocCoreRead.PermissionSet.al
  src/Apps/W1/EDocument/App/Permissions/EDocCoreUser.PermissionSet.al
  src/Apps/W1/EDocument/App/src/Document/EDocumentsSetup.Table.al
  src/Apps/W1/EDocument/App/src/Processing/AI/Tools/EDocHistoricalMatching.Codeunit.al
  src/Apps/W1/EDocument/App/src/Processing/EDocumentSubscribers.Codeunit.al
  src/Apps/W1/EDocument/App/src/Processing/Import/EDocHistoricalMatchingSetup.Table.al
  src/Apps/W1/EDocument/App/src/Processing/Import/EDocLineMatchingScope.Enum.al
  src/Apps/W1/EDocument/App/src/Processing/Import/EDocVendorMatchingScope.Enum.al
  src/Apps/W1/EDocument/App/src/Processing/Import/PrepareDraft/PreparePurchaseEDocDraft.Codeunit.al
Labels: AL: Apps (W1)

Revert "Update ObsoleteTag from '28.0' to '27.0'"
  src/Apps/W1/EDocument/App/src/Processing/Import/EDocVendorMatchingScope.Enum.al
Labels: AL: Apps (W1)

fix format issue in PowerBI test
  src/Apps/W1/PowerBIReports/Test/E2EPowerBIProjectTest.Codeunit.al
Labels: AL: Apps (W1)

Update TempBlobTest.Codeunit.al
  src/System Application/Test/BLOB Storage/src/TempBlobTest.Codeunit.al
Labels: AL: System Application

Fix expected error message in TempBlobTest
  src/System Application/Test/BLOB Storage/src/TempBlobTest.Codeunit.al
Labels: AL: System Application

Updating the new platform signature
  src/System Application/App/AI/src/Copilot/CopilotQuota.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotQuotaImpl.Codeunit.al
Labels: AL: System Application

Adding configuration in PO matching to receive at posting of the invoice (#5303)
  src/Apps/W1/EDocument/App/src/Processing/EDocImport.Codeunit.al
  src/Apps/W1/EDocument/App/src/Processing/Import/FinishDraft/EDocCreatePurchaseInvoice.Codeunit.al
  src/Apps/W1/EDocument/App/src/Processing/Import/Purchase/EDocPurchaseDraftSubform.Page.al
  src/Apps/W1/EDocument/App/src/Processing/Import/Purchase/EDocumentPurchaseDraft.Page.al
  src/Apps/W1/EDocument/App/src/Processing/Import/Purchase/PurchaseOrderMatching/EDocPOMConfigReceipt.Enum.al
  src/Apps/W1/EDocument/App/src/Processing/Import/Purchase/PurchaseOrderMatching/EDocPOMConfiguration.Enum.al
  src/Apps/W1/EDocument/App/src/Processing/Import/Purchase/PurchaseOrderMatching/EDocPOMatching.Codeunit.al
  src/Apps/W1/EDocument/App/src/Processing/Import/Purchase/PurchaseOrderMatching/EDocPOMatchingSetup.Table.al
  src/Apps/W1/EDocument/Test/src/LibraryEDocument.Codeunit.al
  src/Apps/W1/EDocument/Test/src/Matching/EDocPOMatchingUnitTests.Codeunit.al
Labels: AL: Apps (W1)

Add TempBlobTest.json for disabled tests
  src/System Application/Test/DisabledTests/TempBlobTest.json
Labels: AL: System Application

try to run Isolation for IntegrationTests
  build/projects/Apps (W1)/.AL-Go/RunTestsInBcContainer.ps1
Labels: Build: scripts & configs

same for business foundation?
  build/projects/Business Foundation Tests/.AL-Go/RunTestsInBcContainer.ps1
  build/projects/Business Foundation Tests/.AL-Go/settings.json
Labels: Build: scripts & configs

Test fix to ensure it runs on company with only setup data
  src/Apps/W1/Quality Management/test/src/QltyCodeunitTests.Codeunit.al
  src/Apps/W1/Quality Management/test/src/QltyTestGradeCondition.Codeunit.al
  src/Apps/W1/Quality Management/test/src/QltyTestReceivingIntegr.Codeunit.al
  src/Apps/W1/Quality Management/test/src/QltyTestWorkflows.Codeunit.al
  src/Apps/W1/Quality Management/test/src/QltyTestsCreateTest.Codeunit.al
  src/Apps/W1/Quality Management/test/src/QltyTestsDispositions.Codeunit.al
  src/Apps/W1/Quality Management/test/src/QltyTestsItemTracking.Codeunit.al
  src/Apps/W1/Quality Management/test/src/QltyTestsMisc.Codeunit.al
  src/Apps/W1/Quality Management/test/src/QltyTestsTestTable.Codeunit.al
Labels: AL: Apps (W1)

script to validate embedded pages
  src/Apps/W1/PowerBIReports/Scripts/Validate-PowerBIReportPages.ps1
  src/Apps/W1/PowerBIReports/Scripts/exceptions-power-bi-pages-validation.yaml
Labels: AL: Apps (W1)

Updating the new platform methods
  src/System Application/App/AI/src/Copilot/CopilotQuota.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotQuotaImpl.Codeunit.al
Labels: AL: System Application

Features/uptake platform monetization backport bc apps changes 27x (#5314)
  src/System Application/App/AI/src/Copilot/CopilotQuota.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotQuotaImpl.Codeunit.al
Labels: AL: System Application
