Repository microsoft/BCApps, changes with the labels that .github/labeler.yml gives for each.
All labels: Build: Automation, Build: scripts & configs, AL: System Application, AL: Business Foundation, AL: Apps (W1), AL: Tools, AL: Rulesets

.github/labeler.yml:

"Build: Automation":
- changed-files:
  - any-glob-to-any-file: ['.github/**', '.azuredevops/**']

"Build: scripts & configs":
- changed-files:
  - any-glob-to-any-file: ['build/**']

"AL: System Application":
- changed-files:
  - any-glob-to-any-file: ['src/System Application/**']

"AL: Business Foundation":
- changed-files:
  - any-glob-to-any-file: ['src/Business Foundation/**']

"AL: Apps (W1)":
- changed-files:
  - any-glob-to-any-file: ['src/Apps/W1/**']

"AL: Tools":
- changed-files:
  - any-glob-to-any-file: ['src/Tools/**']

"AL: Rulesets":
- changed-files:
  - any-glob-to-any-file: ['src/Rulesets/**']

Update app baselines package version. New value: 25.3.28755.41971
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 25.1.25873.41974
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 27.0.38460.42006
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 26.4.37194.42017
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 25.4.29661.41970
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 24.5.23489.41973
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 26.2.34746.42013
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 26.1.33404.42018
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 26.3.36158.42019
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 27.1.41698.42010
  build/Packages.json
Labels: Build: scripts & configs

Update BCArtifact version. New value: bcinsider/Sandbox/25.14//latest
  .github/AL-Go-Settings.json
Labels: Build: Automation

Update BCArtifact version. New value: bcinsider/Sandbox/26.8//latest
  .github/AL-Go-Settings.json
Labels: Build: Automation

Update BCArtifact version. New value: 28.0.42027.0
  .github/AL-Go-Settings.json
Labels: Build: Automation

Move manufacturing under QM folder
  src/Apps/W1/Quality Management/Manufacturing/ExtensionLogo.png
  src/Apps/W1/Quality Management/Manufacturing/app.json
  src/Apps/W1/Quality Management/Manufacturing/src/Configuration/QltyGenRuleIntent.EnumExt.al
  src/Apps/W1/Quality Management/Manufacturing/src/Configuration/QltyInTestGeneratRules.PageExt.al
  src/Apps/W1/Quality Management/Manufacturing/src/Document/QltyProdOrderRouting.PageExt.al
  src/Apps/W1/Quality Management/Manufacturing/src/Journal/QltyConsumptionJournal.PageExt.al
  src/Apps/W1/Quality Management/Manufacturing/src/Journal/QltyOutputJournal.PageExt.al
  src/Apps/W1/Quality Management/Manufacturing/src/Permissions/QltyMfgEntryInspector.PermissionSetExt.al
  src/Apps/W1/Quality Management/Manufacturing/src/Permissions/QltyMfgGeneral.PermissionSetExt.al
  src/Apps/W1/Quality Management/Manufacturing/src/Permissions/QltyMfgObjects.PermissionSet.al
  src/Apps/W1/Quality Management/Manufacturing/src/QltyAutoProductionTrigger.Enum.al
  src/Apps/W1/Quality Management/Manufacturing/src/QltyManufacturIntegration.Codeunit.al
  src/Apps/W1/Quality Management/Manufacturing/src/QltyMfgFilterHelpers.Codeunit.al
  src/Apps/W1/Quality Management/Manufacturing/src/QltyMfgSessionHelper.Codeunit.al
  src/Apps/W1/Quality Management/Manufacturing/src/QltyMfgTraversal.Codeunit.al
  src/Apps/W1/Quality Management/Manufacturing/src/QltyProdGenRuleWizard.Page.al
  src/Apps/W1/Quality Management/Manufacturing/src/QltyProductionAutoConfig.Codeunit.al
  src/Apps/W1/Quality Management/Manufacturing/src/QltyProductionTrigger.Enum.al
  src/Apps/W1/Quality Management/Manufacturing/src/RoleCenters/QltyMachineOperatorRC.PageExt.al
  src/Apps/W1/Quality Management/Manufacturing/src/RoleCenters/QltyShopSupervisorRC.PageExt.al
  src/Apps/W1/Quality Management/Manufacturing/src/Routing/QltyRoutingLineLookup.Page.al
  src/Apps/W1/Quality Management/Manufacturing/src/Setup/QltyManagementSetup.PageExt.al
  src/Apps/W1/Quality Management/app/app.json
  src/Apps/W1/Quality Management/app/src/Configuration/GenerationRule/QltyGenRuleIntent.Enum.al
  src/Apps/W1/Quality Management/app/src/Configuration/GenerationRule/QltyInTestGeneratRules.Page.al
  src/Apps/W1/Quality Management/app/src/Configuration/GenerationRule/QltyInTestGenerationRule.Table.al
  src/Apps/W1/Quality Management/app/src/Configuration/QltyAutoConfigure.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Configuration/SourceConfiguration/QltyTraversal.Codeunit.al
  src/Apps/W1/Quality Management/app/src/RoleCenters/QltyMgmtMainRoleCenter.Page.al
  src/Apps/W1/Quality Management/app/src/Setup/Setup/QltyManagementSetup.Page.al
  src/Apps/W1/Quality Management/app/src/Workflow/QltyWorkflowRespOptions.PageExt.al
Labels: AL: Apps (W1)

[Profiler Schedules] A non-SUPER user should not be able to specify another user (#5447)
  src/System Application/App/Performance Profiler/src/PerfProfilerScheduleCard.Page.al
Labels: AL: System Application

Pending obsoletion on PDFDocument.Codeunit.al (#5257)
  src/System Application/App/Pdf/src/PDFDocument.Codeunit.al
Labels: AL: System Application
