Repository microsoft/BCApps, changes with the labels that .github/labeler.yml gives for each.
All labels: Build: Automation, Build: scripts & configs, AL: System Application, AL: Business Foundation, AL: Apps (W1), AL: Tools, AL: Rulesets

Sort usings alphabetically
  src/Business Foundation/Test/NoSeries/src/NoSeriesTests.Codeunit.al
  src/Business Foundation/Test/NoSeriesCopilot/src/NoSeriesCopilotAccuTests.Codeunit.al
Labels: AL: Business Foundation

Update NoSeries test library using
  src/Apps/W1/Subscription Billing/Test/Base/ContractTestLibrary.Codeunit.al
Labels: AL: Apps (W1)

Re-enable TempBlob tests (#5398)
  src/System Application/Test/BLOB Storage/src/TempBlobTest.Codeunit.al
  src/System Application/Test/DisabledTests/TempBlobTest.json
Labels: AL: System Application

Update app baselines package version. New value: 26.4.37194.41729
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 25.5.30849.41748
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 25.5.30849.41748
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 26.0.30643.41722
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 24.5.23489.41745
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 25.2.27733.41746
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 26.2.34746.41724
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 25.1.25873.41742
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 26.1.33404.41726
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 26.5.38752.41739
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 24.5.23489.41745
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 26.3.36158.41731
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 27.1.41736.0
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 27.0.38460.41755
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 27.2.41767.0
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 25.4.29661.41743
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 25.3.28755.41744
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 26.5.38752.41739
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 25.0.23364.41627
  build/Packages.json
Labels: Build: scripts & configs

set classification for new table
  src/Apps/W1/EDocument/App/src/Processing/EDocumentSubscribers.Codeunit.al
Labels: AL: Apps (W1)

Misc 1
  src/Apps/W1/Quality Management/app/src/Configuration/Grade/QltyGradeEvaluation.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Configuration/QltyAutoConfigure.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Configuration/Template/Field/QltyLookupCodeList.Page.al
  src/Apps/W1/Quality Management/app/src/Document/QltyCreateInspectionTest.Report.al
  src/Apps/W1/Quality Management/app/src/Document/QltyInspectionTestCreate.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Document/QltyInspectionTestHeader.Table.al
  src/Apps/W1/Quality Management/app/src/Integration/Inventory/QltyInventoryAvailability.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Integration/Receiving/QltyReceivingIntegration.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Reports/QltyReportSelection.Page.al
  src/Apps/W1/Quality Management/app/src/Workflow/QltyWorkflowResponse.Codeunit.al
  src/Apps/W1/Quality Management/test/src/QltyTestsCreateTest.Codeunit.al
Labels: AL: Apps (W1)

Unblock BCApp uptake by classifying new table (#5419)
  src/Apps/W1/EDocument/App/src/Processing/EDocumentSubscribers.Codeunit.al
Labels: AL: Apps (W1)

[Shopify] Order transaction shop code is flowfield (#5310)
  src/Apps/W1/Shopify/App/src/Base/Codeunits/ShpfyUpgradeMgt.Codeunit.al
  src/Apps/W1/Shopify/App/src/Transactions/Codeunits/ShpfyTransactions.Codeunit.al
  src/Apps/W1/Shopify/App/src/Transactions/Reports/ShpfySuggestPayments.Report.al
  src/Apps/W1/Shopify/App/src/Transactions/Tables/ShpfyOrderTransaction.Table.al
Labels: AL: Apps (W1)

[Shopify] Reenable tests (#5397)
  src/Apps/W1/Shopify/Test/DisabledTests/ShpfyGiftCardsTest.json
  src/Apps/W1/Shopify/Test/DisabledTests/ShpfyShippingTest.json
  src/Apps/W1/Shopify/Test/Gift Cards/ShpfyGiftCardsTest.Codeunit.al
  src/Apps/W1/Shopify/Test/Shipping/ShpfyShippingTest.Codeunit.al
Labels: AL: Apps (W1)

[Shopify] New catalogs inherit settings from existing ones (#5396)
  src/Apps/W1/Shopify/App/src/Catalogs/Codeunits/ShpfyCatalogAPI.Codeunit.al
Labels: AL: Apps (W1)

[MCP] Skip existing API tools when adding in bulk (#5394)
  src/System Application/App/MCP/src/Configuration/Codeunits/MCPConfigImplementation.Codeunit.al
Labels: AL: System Application

Update PO Matching Setup Data Sensitivity
  src/Apps/W1/EDocument/App/src/Processing/EDocumentSubscribers.Codeunit.al
Labels: AL: Apps (W1)

Update BCArtifact version. New value: 28.0.41770.0
  .github/AL-Go-Settings.json
Labels: Build: Automation

took some parts out of QM app related to MFG
  src/Apps/W1/Quality Management/app/src/Configuration/GenerationRule/QltyInTestGeneratRules.Page.al
  src/Apps/W1/Quality Management/app/src/Configuration/GenerationRule/QltyInTestGenerationRule.Table.al
  src/Apps/W1/Quality Management/app/src/Configuration/QltyAutoConfigure.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Manufacturing/ExtensionLogo.png
  src/Apps/W1/Quality Management/app/src/Manufacturing/app.json
  src/Apps/W1/Quality Management/app/src/Manufacturing/src/Configuration/GenerationRule/QltyInTestGenerationRuleExt.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Manufacturing/src/Configuration/GenerationRule/QltyInTestGenerationRuleExt.TableExt.al
  src/Apps/W1/Quality Management/app/src/Manufacturing/src/Document/QltyProdOrderRouting.PageExt.al
  src/Apps/W1/Quality Management/app/src/Manufacturing/src/Journal/QltyConsumptionJournal.PageExt.al
  src/Apps/W1/Quality Management/app/src/Manufacturing/src/Journal/QltyOutputJournal.PageExt.al
  src/Apps/W1/Quality Management/app/src/Manufacturing/src/QltyAutoProductionTrigger.Enum.al
  src/Apps/W1/Quality Management/app/src/Manufacturing/src/QltyManufacturIntegration.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Manufacturing/src/QltyProdGenRuleWizard.Page.al
  src/Apps/W1/Quality Management/app/src/Manufacturing/src/QltyProductionTrigger.Enum.al
  src/Apps/W1/Quality Management/app/src/Manufacturing/src/Routing/QltyRoutingLineLookup.Page.al
  src/Apps/W1/Quality Management/app/src/Manufacturing/src/Setup/QltyMgmtSetupExt.PageExt.al
  src/Apps/W1/Quality Management/app/src/Manufacturing/src/Setup/QltyMgmtSetupExt.TableExt.al
  src/Apps/W1/Quality Management/app/src/Permissions/QltyEntryInspector.PermissionSet.al
  src/Apps/W1/Quality Management/app/src/Permissions/QltyGeneral.PermissionSet.al
  src/Apps/W1/Quality Management/app/src/Permissions/QltyMngmntObjects.PermissionSet.al
  src/Apps/W1/Quality Management/app/src/Setup/Setup/QltyManagementSetup.Page.al
  src/Apps/W1/Quality Management/app/src/Setup/Setup/QltyManagementSetup.Table.al
  src/Apps/W1/Quality Management/app/src/Setup/SetupWizard/QltyManagementSetupWizard.Page.al
  src/Apps/W1/Quality Management/app/src/Utilities/QltyFilterHelpers.Codeunit.al
Labels: AL: Apps (W1)

Revert "[Master]-E-Documents: Check 'Your reference' not available in service documents in Belgian localisation (#5347)"
  src/Apps/W1/EDocument/App/src/Format/EDocPEPPOLBIS30.Codeunit.al
  src/Apps/W1/EDocument/Test/src/Processing/EDocE2ETest.Codeunit.al
Labels: AL: Apps (W1)

Add 'Application Test Library' to custom settings
  build/projects/Apps (W1)/.AL-Go/customSettings.json
Labels: Build: scripts & configs

fix merge mistake
  src/Apps/W1/EDocument/App/src/Format/EDocPEPPOLBIS30.Codeunit.al
Labels: AL: Apps (W1)

fix merge caused import issue
  src/Apps/W1/EDocument/Test/src/Processing/EDocE2ETest.Codeunit.al
Labels: AL: Apps (W1)

disable rule
  src/rulesets/ruleset.json
Labels: none

Revert EphemeralKeySet changes and fix a small bug
  src/System Application/App/Cryptography Management/src/CertificateRequestImpl.Codeunit.al
  src/System Application/App/Cryptography Management/src/SignatureKeyImpl.Codeunit.al
  src/System Application/App/Cryptography Management/src/X509Certificate2Impl.Codeunit.al
Labels: AL: System Application

Added Sales by Projects embedded page
  src/Apps/W1/PowerBIReports/App/Core/RoleCenterExtensions/OrderProcessorRoleCenter.PageExt.al
  src/Apps/W1/PowerBIReports/App/Core/RoleCenterExtensions/SalesMarketingManagerRC.PageExt.al
  src/Apps/W1/PowerBIReports/App/Sales/Embedded/SalesbyProjects.Page.al
Labels: AL: Apps (W1)

Readded MIT license comment
  src/Apps/W1/PowerBIReports/App/Core/RoleCenterExtensions/OrderProcessorRoleCenter.PageExt.al
  src/Apps/W1/PowerBIReports/App/Core/RoleCenterExtensions/SalesMarketingManagerRC.PageExt.al
Labels: AL: Apps (W1)

.github/labeler.yml:

"Build: Automation":
- changed-files:
  - any-glob-to-any-file: ['.github/**', '.azuredevops/**']

"Build: scripts & configs":
- changed-files:
  - any-glob-to-any-file: ['build/**']

"AL: System Application":
- changed-files:
  - any-glob-to-any-file: ['src/System Application/**']

"AL: Business Foundation":
- changed-files:
  - any-glob-to-any-file: ['src/Business Foundation/**']

"AL: Apps (W1)":
- changed-files:
  - any-glob-to-any-file: ['src/Apps/W1/**']

"AL: Tools":
- changed-files:
  - any-glob-to-any-file: ['src/Tools/**']

"AL: Rulesets":
- changed-files:
  - any-glob-to-any-file: ['src/Rulesets/**']
