Repository microsoft/BCApps, changes with the labels that .github/labeler.yml gives for each.
All labels: Build: Automation, Build: scripts & configs, AL: System Application, AL: Business Foundation, AL: Apps (W1), AL: Tools, AL: Rulesets

Added MIT license comment
  src/Apps/W1/PowerBIReports/App/Sales/Embedded/SalesbyProjects.Page.al
Labels: AL: Apps (W1)

Add a method to validate the host of 2 urls
  src/System Application/App/URI/src/Uri.Codeunit.al
Labels: AL: System Application

Updated Purchase Return Overview report page ID
  src/Apps/W1/PowerBIReports/App/Purchasing/Embedded/PurchaseReturnOverview.Page.al
Labels: AL: Apps (W1)

Revert "[Master]-E-Documents: Check 'Your reference' not available in… (#5422)
  src/Apps/W1/EDocument/App/src/Format/EDocPEPPOLBIS30.Codeunit.al
  src/Apps/W1/EDocument/Test/src/Processing/EDocE2ETest.Codeunit.al
Labels: AL: Apps (W1)

Update PO Matching Setup Data Sensitivity (#5421)
  src/Apps/W1/EDocument/App/src/Processing/EDocumentSubscribers.Codeunit.al
Labels: AL: Apps (W1)

Fix a typo in cert request imp (#4234)
  src/System Application/App/Cryptography Management/src/CertificateRequestImpl.Codeunit.al
Labels: AL: System Application

First shot at refactoring
  src/Apps/W1/Quality Management/app/src/Configuration/GenerationRule/QltyInTestGeneratRules.Page.al
  src/Apps/W1/Quality Management/app/src/Configuration/GenerationRule/QltyInTestGenerationRule.Table.al
  src/Apps/W1/Quality Management/app/src/Manufacturing/ExtensionLogo.png
  src/Apps/W1/Quality Management/app/src/Manufacturing/app.json
  src/Apps/W1/Quality Management/app/src/Manufacturing/src/Document/QltyProdOrderRouting.PageExt.al
  src/Apps/W1/Quality Management/app/src/Manufacturing/src/Journal/QltyConsumptionJournal.PageExt.al
  src/Apps/W1/Quality Management/app/src/Manufacturing/src/Journal/QltyOutputJournal.PageExt.al
  src/Apps/W1/Quality Management/app/src/Manufacturing/src/Permissions/QltyMfgEntryInspector.PermissionSetExt.al
  src/Apps/W1/Quality Management/app/src/Manufacturing/src/Permissions/QltyMfgGeneral.PermissionSetExt.al
  src/Apps/W1/Quality Management/app/src/Manufacturing/src/Permissions/QltyMfgObjects.PermissionSet.al
  src/Apps/W1/Quality Management/app/src/Manufacturing/src/QltyAutoProductionTrigger.Enum.al
  src/Apps/W1/Quality Management/app/src/Manufacturing/src/QltyManufacturIntegration.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Manufacturing/src/QltyMfgFilterHelpers.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Manufacturing/src/QltyMfgSessionHelper.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Manufacturing/src/QltyProdGenRuleWizard.Page.al
  src/Apps/W1/Quality Management/app/src/Manufacturing/src/QltyProductionTrigger.Enum.al
  src/Apps/W1/Quality Management/app/src/Manufacturing/src/Routing/QltyRoutingLineLookup.Page.al
  src/Apps/W1/Quality Management/app/src/Permissions/QltyEntryInspector.PermissionSet.al
  src/Apps/W1/Quality Management/app/src/Permissions/QltyGeneral.PermissionSet.al
  src/Apps/W1/Quality Management/app/src/Permissions/QltyMngmntObjects.PermissionSet.al
  src/Apps/W1/Quality Management/app/src/Setup/Setup/QltyManagementSetup.Page.al
  src/Apps/W1/Quality Management/app/src/Setup/Setup/QltyManagementSetup.Table.al
  src/Apps/W1/Quality Management/app/src/Setup/SetupWizard/QltyManagementSetupWizard.Page.al
  src/Apps/W1/Quality Management/app/src/Utilities/QltyFilterHelpers.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Utilities/QltySessionHelper.Codeunit.al
  src/Apps/W1/Quality Management/test/src/QltyTestsCreateTest.Codeunit.al
  src/Apps/W1/Quality Management/test/src/QltyTestsFilterHelpers.Codeunit.al
  src/Apps/W1/Quality Management/test/src/QltyTestsMoreTests.Codeunit.al
  src/Apps/W1/Quality Management/test/src/QltyTestsTestTable.Codeunit.al
Labels: AL: Apps (W1)

Draft documentation added
  src/Apps/W1/Quality Management/Documentation/qms-assisted-setup-wizard.md
  src/Apps/W1/Quality Management/Documentation/qms-configuring-grades.md
  src/Apps/W1/Quality Management/Documentation/qms-lot-blocking-unblocking.md
  src/Apps/W1/Quality Management/Documentation/qms-manual-test-creation.md
  src/Apps/W1/Quality Management/Documentation/qms-non-compliant-processing.md
  src/Apps/W1/Quality Management/Documentation/qms-overview.md
  src/Apps/W1/Quality Management/Documentation/qms-production-output-testing.md
  src/Apps/W1/Quality Management/Documentation/qms-purchase-receipt-testing-simple.md
  src/Apps/W1/Quality Management/Documentation/qms-purchase-receipt-testing-warehouse.md
  src/Apps/W1/Quality Management/Documentation/qms-quality-templates.md
  src/Apps/W1/Quality Management/Documentation/qms-quality-workflows.md
  src/Apps/W1/Quality Management/Documentation/qms-scheduled-test-creation.md
  src/Apps/W1/Quality Management/Documentation/qms-setup.md
  src/Apps/W1/Quality Management/Documentation/qms-test-generation-rules.md
Labels: AL: Apps (W1)

disable al0897 temporarily
  src/rulesets/ruleset.json
Labels: none

add justification
  src/rulesets/ruleset.json
Labels: none

set action to none
  src/rulesets/ruleset.json
Labels: none

Minor
  src/Apps/W1/EDocument/App/.resources/Prompts/DeferralMatching-SystemPrompt.md
  src/Apps/W1/EDocument/App/.resources/Prompts/EDocHistoricalMatching-SystemPrompt.md
  src/Apps/W1/EDocument/App/.resources/Prompts/EDocSimilarDescriptions-SystemPrompt.md
  src/Apps/W1/EDocument/App/.resources/Prompts/GLAccountMatching-SystemPrompt.md
  src/Apps/W1/EDocument/App/src/ClearanceModel/StandardSalesCreditMemowithQR.docx
  src/Apps/W1/EDocument/App/src/ClearanceModel/StandardSalesInvoicewithQR.docx
  src/Apps/W1/EDocument/App/src/Processing/AI/Tools/EDocDeferralMatching.Codeunit.al
  src/Apps/W1/EDocument/App/src/Processing/AI/Tools/EDocGLAccountMatching.Codeunit.al
  src/Apps/W1/EDocument/App/src/Processing/AI/Tools/EDocHistoricalMatching.Codeunit.al
  src/Apps/W1/EDocument/App/src/Processing/AI/Tools/EDocSimilarDescriptions.Codeunit.al
Labels: AL: Apps (W1)

Add Rijndael encryption and decryption procedures for binary data
  src/System Application/App/Cryptography Management/src/CryptographyManagementImpl.Codeunit.al
  src/System Application/App/Cryptography Management/src/RijndaelCryptography.Codeunit.al
Labels: AL: System Application

Add tests for binary data encryption and decryption using Rijndael
  src/System Application/Test/Cryptography Management/src/RijndaelCryptographyTest.Codeunit.al
Labels: AL: System Application

Disable rule AL0897 temporarily (#5430)
  src/rulesets/ruleset.json
Labels: none

Added telemetry tags
  src/Apps/W1/EDocument/App/src/Processing/AI/Tools/EDocDeferralMatching.Codeunit.al
  src/Apps/W1/EDocument/App/src/Processing/AI/Tools/EDocGLAccountMatching.Codeunit.al
  src/Apps/W1/EDocument/App/src/Processing/AI/Tools/EDocHistoricalMatching.Codeunit.al
  src/Apps/W1/EDocument/App/src/Processing/AI/Tools/EDocSimilarDescriptions.Codeunit.al
Labels: AL: Apps (W1)

Minor
  src/Apps/W1/EDocument/App/src/Processing/AI/Tools/EDocDeferralMatching.Codeunit.al
  src/Apps/W1/EDocument/App/src/Processing/AI/Tools/EDocGLAccountMatching.Codeunit.al
  src/Apps/W1/EDocument/App/src/Processing/AI/Tools/EDocHistoricalMatching.Codeunit.al
  src/Apps/W1/EDocument/App/src/Processing/AI/Tools/EDocSimilarDescriptions.Codeunit.al
Labels: AL: Apps (W1)

Add a method that validates urls in a table to hardcoded urls
  src/System Application/App/URI/src/Uri.Codeunit.al
Labels: AL: System Application

Updated "Purchase Return Overview" report page ID (#5426)
  src/Apps/W1/PowerBIReports/App/Purchasing/Embedded/PurchaseReturnOverview.Page.al
Labels: AL: Apps (W1)

Update src/Apps/W1/Quality Management/Documentation/qms-lot-blocking-unblocking.md
  src/Apps/W1/Quality Management/Documentation/qms-lot-blocking-unblocking.md
Labels: AL: Apps (W1)

Update BCArtifact version. New value: 28.0.41854.0
  .github/AL-Go-Settings.json
Labels: Build: Automation

update reference to 28.0
  .github/AL-Go-Settings.json
Labels: Build: Automation

No. Series seems to miss a check on "Sequence Name" being blank when getting a new sequence number (#5305)
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesSequenceImpl.Codeunit.al
Labels: AL: Business Foundation

Add ShpfyCatalogPricesTest.json with disabled tests
  src/Apps/W1/Shopify/Test/DisabledTests/ShpfyCatalogPricesTest.json
Labels: AL: Apps (W1)

Add disabled test for Shpfy Product Price Calc
  src/Apps/W1/Shopify/Test/DisabledTests/ShpfyProductPriceCalcTest.json
Labels: AL: Apps (W1)

Add Rijndael encryption and decryption procedures for binary data
  src/System Application/App/Cryptography Management/src/CryptographyManagementImpl.Codeunit.al
  src/System Application/App/Cryptography Management/src/RijndaelCryptography.Codeunit.al
Labels: AL: System Application

Add tests for binary data encryption and decryption using Rijndael
  src/System Application/Test/Cryptography Management/src/RijndaelCryptographyTest.Codeunit.al
Labels: AL: System Application

Changes & Automation
  src/Apps/W1/EDocument/App/src/Format/EDocPEPPOLBIS30.Codeunit.al
  src/Apps/W1/EDocument/Test/src/Processing/EDocProcessTest.Codeunit.al
Labels: AL: Apps (W1)

refactor objects except wizard
  src/Apps/W1/Quality Management/app/src/Configuration/GenerationRule/QltyInTestGeneratRules.Page.al
  src/Apps/W1/Quality Management/app/src/Manufacturing/src/Configuration/GenerationRule/QtyInTestGenRulesExt.PageExt.al
  src/Apps/W1/Quality Management/app/src/Manufacturing/src/Permissions/QltyMfgEntryInspector.PermissionSetExt.al
  src/Apps/W1/Quality Management/app/src/Manufacturing/src/Permissions/QltyMfgGeneral.PermissionSetExt.al
  src/Apps/W1/Quality Management/app/src/Manufacturing/src/Permissions/QltyMfgObjects.PermissionSet.al
  src/Apps/W1/Quality Management/app/src/Manufacturing/src/QltyProdGenRuleWizard.Page.al
  src/Apps/W1/Quality Management/app/src/Manufacturing/src/Setup/QltyMgmtSetupExt.PageExt.al
  src/Apps/W1/Quality Management/app/src/Manufacturing/src/Setup/QltyMgmtSetupExt.TableExt.al
  src/Apps/W1/Quality Management/app/src/Manufacturing/src/Utilities/QltyFilterHelpersMfg.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Permissions/QltyEntryInspector.PermissionSet.al
  src/Apps/W1/Quality Management/app/src/Permissions/QltyGeneral.PermissionSet.al
  src/Apps/W1/Quality Management/app/src/Permissions/QltyMngmntObjects.PermissionSet.al
  src/Apps/W1/Quality Management/app/src/Setup/Setup/QltyManagementSetup.Page.al
  src/Apps/W1/Quality Management/app/src/Setup/Setup/QltyManagementSetup.Table.al
  src/Apps/W1/Quality Management/app/src/Setup/SetupWizard/QltyManagementSetupWizard.Page.al
  src/Apps/W1/Quality Management/app/src/Utilities/QltyFilterHelpers.Codeunit.al
Labels: AL: Apps (W1)

Fixes
  src/Apps/W1/Quality Management/app/src/Document/QltyInspectionTestHeader.Table.al
  src/Apps/W1/Quality Management/app/src/Integration/Receiving/QltyRecGenRuleWizard.Page.al
  src/Apps/W1/Quality Management/test/src/QltyTestsTraversal.Codeunit.al
Labels: AL: Apps (W1)

Fixes 2
  src/Apps/W1/Quality Management/app/src/Permissions/QltyEntryInspector.PermissionSet.al
  src/Apps/W1/Quality Management/app/src/Permissions/QltyGeneral.PermissionSet.al
  src/Apps/W1/Quality Management/app/src/Permissions/QltyMngmntObjects.PermissionSet.al
  src/Apps/W1/Quality Management/app/src/RoleCenters/QltyManagement.Profile.al
  src/Apps/W1/Quality Management/app/src/RoleCenters/QltyManager.Profile.al
  src/Apps/W1/Quality Management/app/src/RoleCenters/QltyManagerRC.Page.al
  src/Apps/W1/Quality Management/app/src/RoleCenters/QltyManagerRoleCenter.Page.al
  src/Apps/W1/Quality Management/app/src/Setup/Setup/QltyManagementSetup.Page.al
  src/Apps/W1/Quality Management/app/src/Setup/SetupWizard/QltyManagementSetupWizard.Page.al
Labels: AL: Apps (W1)

Update BCArtifact version. New value: 28.0.41890.0
  .github/AL-Go-Settings.json
Labels: Build: Automation

Reenable pricing tests
  src/Apps/W1/Shopify/Test/Catalogs/ShpfyCatalogPricesTest.Codeunit.al
  src/Apps/W1/Shopify/Test/DisabledTests/ShpfyCatalogPricesTest.json
  src/Apps/W1/Shopify/Test/DisabledTests/ShpfyProductPriceCalcTest.json
  src/Apps/W1/Shopify/Test/Products/ShpfyProductPriceCalcTest.Codeunit.al
Labels: AL: Apps (W1)

Rijndael encrypt decrypt binary data for main (#5435)
  src/System Application/App/Cryptography Management/src/CryptographyManagementImpl.Codeunit.al
  src/System Application/App/Cryptography Management/src/RijndaelCryptography.Codeunit.al
  src/System Application/Test/Cryptography Management/src/RijndaelCryptographyTest.Codeunit.al
Labels: AL: System Application

Rijndael encrypt decrypt binary data for 27.x (#5431)
  src/System Application/App/Cryptography Management/src/CryptographyManagementImpl.Codeunit.al
  src/System Application/App/Cryptography Management/src/RijndaelCryptography.Codeunit.al
  src/System Application/Test/Cryptography Management/src/RijndaelCryptographyTest.Codeunit.al
Labels: AL: System Application

updating minor where it's being obsoleted
  src/System Application/App/Pdf/src/PDFDocument.Codeunit.al
Labels: AL: System Application

oops
  src/System Application/App/Pdf/src/PDFDocument.Codeunit.al
Labels: AL: System Application

removed formatter change
  src/System Application/App/Pdf/src/PDFDocument.Codeunit.al
Labels: AL: System Application

removed formatter change
  src/System Application/App/Pdf/src/PDFDocument.Codeunit.al
Labels: AL: System Application

cleaner diff
  src/System Application/App/Pdf/src/PDFDocument.Codeunit.al
Labels: AL: System Application

.github/labeler.yml:

"Build: Automation":
- changed-files:
  - any-glob-to-any-file: ['.github/**', '.azuredevops/**']

"Build: scripts & configs":
- changed-files:
  - any-glob-to-any-file: ['build/**']

"AL: System Application":
- changed-files:
  - any-glob-to-any-file: ['src/System Application/**']

"AL: Business Foundation":
- changed-files:
  - any-glob-to-any-file: ['src/Business Foundation/**']

"AL: Apps (W1)":
- changed-files:
  - any-glob-to-any-file: ['src/Apps/W1/**']

"AL: Tools":
- changed-files:
  - any-glob-to-any-file: ['src/Tools/**']

"AL: Rulesets":
- changed-files:
  - any-glob-to-any-file: ['src/Rulesets/**']
