Repository microsoft/BCApps, changes with the labels that .github/labeler.yml gives for each.
All labels: Build: Automation, Build: scripts & configs, AL: System Application, AL: Business Foundation, AL: Apps (W1), AL: Tools, AL: Rulesets

.github/labeler.yml:

"Build: Automation":
- changed-files:
  - any-glob-to-any-file: ['.github/**', '.azuredevops/**']

"Build: scripts & configs":
- changed-files:
  - any-glob-to-any-file: ['build/**']

"AL: System Application":
- changed-files:
  - any-glob-to-any-file: ['src/System Application/**']

"AL: Business Foundation":
- changed-files:
  - any-glob-to-any-file: ['src/Business Foundation/**']

"AL: Apps (W1)":
- changed-files:
  - any-glob-to-any-file: ['src/Apps/W1/**']

"AL: Tools":
- changed-files:
  - any-glob-to-any-file: ['src/Tools/**']

"AL: Rulesets":
- changed-files:
  - any-glob-to-any-file: ['src/Rulesets/**']

Implement code review suggestions
  src/Apps/W1/Quality Management/app/src/AccessControl/QltyPermissionMgmt.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Configuration/GenerationRule/JobQueue/QltyScheduleInspectionTest.Report.al
  src/Apps/W1/Quality Management/app/src/Configuration/GenerationRule/QltyGenerationRuleMgmt.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Configuration/GenerationRule/QltyInTestGeneratRules.Page.al
  src/Apps/W1/Quality Management/app/src/Configuration/GenerationRule/QltyInTestGenerationRule.Table.al
  src/Apps/W1/Quality Management/app/src/Configuration/Grade/QltyGradeConditionMgmt.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Configuration/Grade/QltyInspectionGrade.Table.al
  src/Apps/W1/Quality Management/app/src/Configuration/Grade/QltyInspectionGradeList.Page.al
  src/Apps/W1/Quality Management/app/src/Configuration/QltyAutoConfigure.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Configuration/SourceConfiguration/QltyTraversal.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Configuration/Template/Field/QltyField.Table.al
  src/Apps/W1/Quality Management/app/src/Configuration/Template/Field/QltyFieldNumberCardPart.Page.al
  src/Apps/W1/Quality Management/app/src/Dispositions/InventoryAdjustment/QltyDispNegAdjustInv.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Dispositions/Move/QltyDispMoveWorksheet.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Dispositions/PutAway/QltyDispInternalPutAway.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Document/QltyCreateInspectionTest.Report.al
  src/Apps/W1/Quality Management/app/src/Document/QltyInspectionTest.Page.al
  src/Apps/W1/Quality Management/app/src/Document/QltyInspectionTestCreate.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Document/QltyInspectionTestHeader.Table.al
  src/Apps/W1/Quality Management/app/src/Document/QltyInspectionTestLine.Table.al
  src/Apps/W1/Quality Management/app/src/Integration/Inventory/QltyItemJournalManagement.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Integration/Inventory/QltyItemTracking.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Integration/Inventory/QltyItemTrackingMgmt.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Integration/Inventory/Tracking/QltyTrackingIntegration.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Integration/Manufacturing/QltyManufacturIntegration.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Integration/Receiving/QltyReceivingIntegration.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Integration/Warehouse/QltyWarehouseIntegration.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Setup/Setup/QltyManagementSetup.Table.al
  src/Apps/W1/Quality Management/app/src/Utilities/QltyExpressionMgmt.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Utilities/QltyFilterHelpers.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Utilities/QltyMiscHelpers.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Utilities/QltyNotificationMgmt.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Workflow/QltyWorkflowResponse.Codeunit.al
  src/Apps/W1/Quality Management/app/src/Workflow/QltyWorkflowSetup.Codeunit.al
  src/Apps/W1/Quality Management/test/src/QltyTestWorkflows.Codeunit.al
  src/Apps/W1/Quality Management/test/src/QltyTestsDispositions.Codeunit.al
  src/Apps/W1/Quality Management/test/src/QltyTestsItemTracking.Codeunit.al
  src/Apps/W1/Quality Management/test/src/QltyTestsTestTable.Codeunit.al
  src/Apps/W1/Quality Management/test/src/TestLibraries/QltyPurOrderGenerator.Codeunit.al
Labels: AL: Apps (W1)

Tests fix
  src/Apps/W1/Quality Management/test/src/QltyTestWorkflows.Codeunit.al
  src/Apps/W1/Quality Management/test/src/QltyTestsCreateTest.Codeunit.al
Labels: AL: Apps (W1)

Update BCArtifact version. New value: 28.0.41922.0
  .github/AL-Go-Settings.json
Labels: Build: Automation

Update BCArtifact version. New value: bcartifacts/Sandbox/27.1//latest
  .github/AL-Go-Settings.json
Labels: Build: Automation

Remove unused code
  src/Apps/W1/Quality Management/app/src/Utilities/QltyExpressionMgmt.Codeunit.al
Labels: AL: Apps (W1)

Minor
  src/Apps/W1/EDocument/App/src/Processing/AI/Tools/EDocDeferralMatching.Codeunit.al
  src/Apps/W1/EDocument/App/src/Processing/AI/Tools/EDocGLAccountMatching.Codeunit.al
  src/Apps/W1/EDocument/App/src/Processing/AI/Tools/EDocHistoricalMatching.Codeunit.al
  src/Apps/W1/EDocument/App/src/Processing/AI/Tools/EDocSimilarDescriptions.Codeunit.al
Labels: AL: Apps (W1)

Added missing closing bracket
  src/Apps/W1/PowerBIReports/App/Core/RoleCenterExtensions/OrderProcessorRoleCenter.PageExt.al
Labels: AL: Apps (W1)

Uptake new API to allow specifying a custom question on OCV's UI
  src/System Application/App/Microsoft User Feedback/README.md
  src/System Application/App/Microsoft User Feedback/src/MicrosoftUserFeedback.Codeunit.al
  src/System Application/App/Microsoft User Feedback/src/MicrosoftUserFeedbackImpl.Codeunit.al
Labels: AL: System Application

resolve Joshua comment
  src/Apps/W1/EDocument/App/src/Processing/Import/EDocHistoricalMatchingSetup.Table.al
Labels: AL: Apps (W1)

[Shopify] Reenable pricing tests (#5440)
  src/Apps/W1/Shopify/Test/Catalogs/ShpfyCatalogPricesTest.Codeunit.al
  src/Apps/W1/Shopify/Test/DisabledTests/ShpfyCatalogPricesTest.json
  src/Apps/W1/Shopify/Test/DisabledTests/ShpfyProductPriceCalcTest.json
  src/Apps/W1/Shopify/Test/Products/ShpfyProductPriceCalcTest.Codeunit.al
Labels: AL: Apps (W1)

Revert "resolve Joshua comment"
  src/Apps/W1/EDocument/App/src/Processing/Import/EDocHistoricalMatchingSetup.Table.al
Labels: AL: Apps (W1)

Apply suggestions from code review
  src/Apps/W1/EDocument/Test/src/Processing/EDocProcessTest.Codeunit.al
Labels: AL: Apps (W1)

Change to modify if exists
  src/Apps/W1/EDocument/App/src/Processing/Import/Purchase/History/EDocPurchaseHistMapping.Codeunit.al
  src/Apps/W1/EDocument/App/src/Processing/Import/Purchase/History/EDocVendorAssignHistory.Table.al
Labels: AL: Apps (W1)

Agent Monetization - New method to check the consumption (#5379)
  src/System Application/App/AI/src/Copilot/CopilotQuota.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotQuotaImpl.Codeunit.al
Labels: AL: System Application

Add "Sales by Projects" embedded page (#5424)
  src/Apps/W1/PowerBIReports/App/Core/RoleCenterExtensions/OrderProcessorRoleCenter.PageExt.al
  src/Apps/W1/PowerBIReports/App/Core/RoleCenterExtensions/SalesMarketingManagerRC.PageExt.al
  src/Apps/W1/PowerBIReports/App/Sales/Embedded/SalesbyProjects.Page.al
Labels: AL: Apps (W1)

A non-SUPER user should not be able to specify another user
  src/System Application/App/Performance Profiler/src/PerfProfilerScheduleCard.Page.al
Labels: AL: System Application

Fix
  src/Apps/W1/EDocument/App/src/Processing/Import/Purchase/EDocReadPurchLines.Page.al
Labels: AL: Apps (W1)

FORNAV connector tests uptake in private NAV - fix CZ VAT (#5381)
  src/Apps/W1/EDocumentConnectors/Avalara/Test/src/IntegrationTests.Codeunit.al
Labels: AL: Apps (W1)

Disabling modify setting does not apply for already added tools
  src/System Application/App/MCP/src/Configuration/Codeunits/MCPConfigImplementation.Codeunit.al
  src/System Application/App/MCP/src/Configuration/Pages/MCPConfigCard.Page.al
  src/System Application/Test/MCP/src/MCPConfigTest.Codeunit.al
Labels: AL: System Application

[Payables Agent] Enable historical line matching experiment (#5395)
  src/Apps/W1/EDocument/App/Permissions/EDocCoreObjects.PermissionSet.al
  src/Apps/W1/EDocument/App/Permissions/EDocCoreRead.PermissionSet.al
  src/Apps/W1/EDocument/App/Permissions/EDocCoreUser.PermissionSet.al
  src/Apps/W1/EDocument/App/src/Document/EDocumentsSetup.Table.al
  src/Apps/W1/EDocument/App/src/Processing/AI/Tools/EDocHistoricalMatching.Codeunit.al
  src/Apps/W1/EDocument/App/src/Processing/EDocumentSubscribers.Codeunit.al
  src/Apps/W1/EDocument/App/src/Processing/Import/EDocHistoricalMatchingSetup.Table.al
  src/Apps/W1/EDocument/App/src/Processing/Import/EDocLineMatchingScope.Enum.al
  src/Apps/W1/EDocument/App/src/Processing/Import/EDocVendorMatchingScope.Enum.al
  src/Apps/W1/EDocument/App/src/Processing/Import/PrepareDraft/PreparePurchaseEDocDraft.Codeunit.al
Labels: AL: Apps (W1)

E-Document Header History - change to modify if exists (#5446)
  src/Apps/W1/EDocument/App/src/Processing/Import/Purchase/History/EDocPurchaseHistMapping.Codeunit.al
  src/Apps/W1/EDocument/App/src/Processing/Import/Purchase/History/EDocVendorAssignHistory.Table.al
Labels: AL: Apps (W1)

Fix Parameter SalesLine for Event OnAfterCreateAdditionalInvoiceLine (#5380)
  src/Apps/W1/Subscription Billing/App/Billing/Codeunits/CreateBillingDocuments.Codeunit.al
  src/Apps/W1/Subscription Billing/App/Sales Service Commitments/Table Extensions/SalesLine.TableExt.al
Labels: AL: Apps (W1)

Fix sub contract subscriber
  src/Apps/W1/Subscription Billing/App/Base/Codeunits/SubContractsGeneralMgt.Codeunit.al
Labels: AL: Apps (W1)

Generate hash and sign/verify data for secrettext values (#5334)
  src/System Application/App/Cryptography Management/src/CryptographyManagement.Codeunit.al
  src/System Application/App/Cryptography Management/src/CryptographyManagementImpl.Codeunit.al
Labels: AL: System Application

Include Authorization type transactions to payment method mapping
  src/Apps/W1/Shopify/App/src/Order handling/Codeunits/ShpfyOrderMapping.Codeunit.al
Labels: AL: Apps (W1)

Added IntegrationEvents for Shopify Extension.
  src/Apps/W1/Shopify/App/src/Companies/Reports/ShpfyAddCompanyToShopify.Report.al
  src/Apps/W1/Shopify/App/src/Companies/Reports/ShpfyAddCustasLocations.Report.al
  src/Apps/W1/Shopify/App/src/Customers/Reports/ShpfyAddCustomerToShopify.Report.al
  src/Apps/W1/Shopify/App/src/Inventory/Codeunits/ShpfyInventoryAPI.Codeunit.al
  src/Apps/W1/Shopify/App/src/Inventory/Codeunits/ShpfyInventoryEvents.Codeunit.al
  src/Apps/W1/Shopify/App/src/Products/Codeunits/ShpfyProductEvents.Codeunit.al
  src/Apps/W1/Shopify/App/src/Products/Codeunits/ShpfySyncProducts.Codeunit.al
  src/Apps/W1/Shopify/App/src/Products/Page Extensions/ShpfyItemCard.PageExt.al
  src/Apps/W1/Shopify/App/src/Products/Reports/ShpfyAddItemtoShopify.Report.al
Labels: AL: Apps (W1)

Added IntegrationEvents for Shopify Extension.
  src/Apps/W1/Shopify/App/src/Inventory/Tables/ShpfyShopInventory.Table.al
Labels: AL: Apps (W1)

change layout dynamically. step 1
  src/Apps/W1/EDocument/Demo Data/.resources/Layouts/PurchaseInvoice.rdlc
  src/Apps/W1/EDocument/Demo Data/.resources/Layouts/StandardPurchaseOrder.docx
  src/Apps/W1/EDocument/Demo Data/EDocumentInvoices/EDocInvContosoComposer.Codeunit.al
  src/Apps/W1/EDocument/Demo Data/app.json
Labels: AL: Apps (W1)

change layout dynamically. step 2
  src/Apps/W1/EDocument/Demo Data/.resources/Layouts/PurchaseInvoice.rdlc
  src/Apps/W1/EDocument/Demo Data/EDocumentInvoices/EDocInvContosoComposer.Codeunit.al
  src/Apps/W1/EDocument/Demo Data/EDocumentInvoices/SamplePurchaseInvoice.ReportExt.al
  src/Apps/W1/EDocument/Demo Data/resources/Layouts/PurchaseInvoice.rdlc
Labels: AL: Apps (W1)

change layout dynamically. step 3
  src/Apps/W1/EDocument/Demo Data/.resources/Layouts/StandardPurchaseOrder.docx
  src/Apps/W1/EDocument/Demo Data/EDocumentInvoices/SamplePurchaseInvoice.ReportExt.al
  src/Apps/W1/EDocument/Demo Data/EDocumentInvoices/SamplePurchaseInvoice.rdlc
  src/Apps/W1/EDocument/Demo Data/app.json
Labels: AL: Apps (W1)

change layout dynamically. step 4
  src/Apps/W1/EDocument/Demo Data/EDocumentInvoices/EDocInvContosoComposer.Codeunit.al
  src/Apps/W1/EDocument/Demo Data/EDocumentInvoices/SamplePurchaseInvoice.rdlc
Labels: AL: Apps (W1)

Update app baselines package version. New value: 25.5.30849.41975
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 26.0.30643.42014
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 26.5.38752.41977
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 25.5.30849.41975
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 26.5.38752.41977
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 27.2.42003.0
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 25.0.23364.41976
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 24.5.23489.41973
  build/Packages.json
Labels: Build: scripts & configs

Update app baselines package version. New value: 25.2.27733.42005
  build/Packages.json
Labels: Build: scripts & configs
