Repository microsoft/BCApps, pull requests merged in 2023-12, with the labels that each got.

#396 Add work item for automated PRs
  .github/workflows/UpdateBCArtifactVersion.yaml
  .github/workflows/UpdatePackageVersions.yaml
  build/scripts/AutomatedSubmission.psm1
  build/scripts/GitHub/GitHubPullRequest.class.psm1
  build/scripts/UpdateBCArtifactVersion.ps1
  build/scripts/UpdatePackageVersions.ps1
Labels: Build: Automation, Build: scripts & configs

#393 BCPT: Added "Message" to Telemetry
  src/Tools/Performance Toolkit/App/src/BCPTLine.Codeunit.al
Labels: From Fork, linked, AL: Tools

#395 BCPT: RunId when running from CommandLine
  src/Tools/Performance Toolkit/App/src/BCPTStartTests.Codeunit.al
Labels: From Fork, linked, AL: Tools

#403 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#406 [main] Update package versions
  build/Packages.json
Labels: automation, Build: scripts & configs

#407 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#405 Add access to countryLetterCode and preferredLanguage from tenant info.
  src/System Application/App/Azure AD Tenant/src/AzureADTenant.Codeunit.al
  src/System Application/App/Azure AD Tenant/src/AzureADTenantImpl.Codeunit.al
Labels: AL: System Application, From Fork

#410 [Copilot] Update gpt-4 model deployment name for internal dev
  src/System Application/App/AI/src/Azure OpenAI/AOAIDeploymentsImpl.Codeunit.al
Labels: AL: System Application

#366 [Copilot] Add approximation token function to AI SDK
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAI.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIChatMessages.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIChatMessagesImpl.Codeunit.al
  src/System Application/Test Library/AI/src/AzureOpenAITestLibrary.Codeunit.al
Labels: AL: System Application

#400 #389 BCPT validate Codeunit ID
  src/Tools/Performance Toolkit/App/src/BCPTTestSuite.Codeunit.al
Labels: From Fork, linked, AL: Tools

#401 #387 BCPT TestSuiteLineExists
  src/Tools/Performance Toolkit/App/src/BCPTLine.Table.al
  src/Tools/Performance Toolkit/App/src/BCPTTestSuite.Codeunit.al
Labels: From Fork, linked, AL: Tools

#416 [Copilot] Minor fixes and additions for AI module
  src/System Application/App/AI/src/Copilot/CopilotAICapabilities.Page.al
  src/System Application/App/AI/src/Copilot/CopilotCapabilityImpl.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotStatus.Enum.al
Labels: AL: System Application

#418 Use full artifact URL as value for the artifact property in AL-Go-Settings.json
  .github/AL-Go-Settings.json
Labels: Build: Automation

#420 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#421 [main] Update package versions
  build/Packages.json
Labels: automation, Build: scripts & configs

#422 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#424 Updated AL-Go System Files
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation

#427 [Bug]: User Settings Region Lookup does not preselect current setting (like Language Lookup does) Fixes #351
  src/System Application/App/Language/src/LanguageImpl.Codeunit.al
Labels: AL: System Application, From Fork, linked

#433 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#434 Added missing captions on groups in recurrence schedule page
  src/System Application/App/Recurrence Schedule/src/RecurrenceScheduleCard.Page.al
Labels: AL: System Application, From Fork, linked

#435 [Copilot] Missing customdimensions for Chat Completions
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
Labels: AL: System Application

#439 [Copilot] Hide status field when data movement is not enabled
  src/System Application/App/AI/src/Copilot/CopilotCapabilitiesGA.Page.al
  src/System Application/App/AI/src/Copilot/CopilotCapabilitiesPreview.Page.al
Labels: AL: System Application

#417 Add a script to create local development environment
  .github/workflows/powershell.yaml
  .gitignore
  build/scripts/DevEnv/ALGoProjectInfo.class.psm1
  build/scripts/DevEnv/AppProjectInfo.class.psm1
  build/scripts/DevEnv/NewDevEnv.ps1
  build/scripts/DevEnv/NewDevEnv.psm1
Labels: Build: Automation, Build: scripts & configs

#438 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#402 #398 GetSeed for CU Any
  src/Tools/Test Framework/Test Libraries/Any/src/Any.Codeunit.al
Labels: From Fork, linked, AL: Tools

#440 Add procedures with defaultButton true
  src/System Application/App/Confirm Management/src/ConfirmManagement.Codeunit.al
Labels: AL: System Application, From Fork, linked

#318 Generic Microsoft Graph API Wrapper
  src/System Application/App/MicrosoftGraph/app.json
  src/System Application/App/MicrosoftGraph/src/Authorization/GraphAuthClientCredentials.Codeunit.al
  src/System Application/App/MicrosoftGraph/src/Authorization/GraphAuthorization.Codeunit.al
  src/System Application/App/MicrosoftGraph/src/Authorization/GraphAuthorization.Interface.al
  src/System Application/App/MicrosoftGraph/src/Authorization/GraphAuthorizationImpl.Codeunit.al
  src/System Application/App/MicrosoftGraph/src/GraphAPIVersion.Enum.al
  src/System Application/App/MicrosoftGraph/src/GraphClient.Codeunit.al
  src/System Application/App/MicrosoftGraph/src/GraphClientImpl.Codeunit.al
  src/System Application/App/MicrosoftGraph/src/GraphConflictBehavior.Enum.al
  src/System Application/App/MicrosoftGraph/src/GraphOptionalParameters.Codeunit.al
  src/System Application/App/MicrosoftGraph/src/helper/GraphRequestHelper.Codeunit.al
  src/System Application/App/MicrosoftGraph/src/helper/GraphUriBuilder.Codeunit.al
  src/System Application/App/Rest Client/app.json
  src/System Application/App/Rest Client/src/Authentication/HttpAuthOAuthClientCredentials.Codeunit.al
  src/System Application/Test/MicrosoftGraph/app.json
  src/System Application/Test/MicrosoftGraph/src/GraphAuthSpy.Codeunit.al
  src/System Application/Test/MicrosoftGraph/src/GraphClientTest.Codeunit.al
  src/System Application/Test/MicrosoftGraph/src/MockHttpClientHandler.Codeunit.al
Labels: AL: System Application, From Fork

#443 Skip workitem validation when PR is closed
  .github/workflows/WorkitemValidation.yaml
Labels: Build: Automation

#444 Fix error "The date is not valid." in SetDefaultSeed
  src/Tools/Test Framework/Test Libraries/Any/src/Any.Codeunit.al
Labels: AL: Tools

#317 Stop inserting newer versions of Guided Experience Item and provide the functionality to cleanup
  src/System Application/App/Guided Experience/permissions/GuidedExperienceObjects.PermissionSet.al
  src/System Application/App/Guided Experience/src/Guided Experience/GuidedExperience.Codeunit.al
  src/System Application/App/Guided Experience/src/Guided Experience/GuidedExperienceImpl.Codeunit.al
  src/System Application/App/Guided Experience/src/Guided Experience/GuidedExperienceItemCleanup.Codeunit.al
  src/System Application/App/Guided Experience/src/Guided Experience/GuidedExperienceItemCleanup.Page.al
  src/System Application/Test/Guided Experience/app.json
  src/System Application/Test/Guided Experience/src/DuplicatedGuidedExpItem.Codeunit.al
  src/System Application/Test/Guided Experience/src/GuidedExperienceTest.Codeunit.al
Labels: AL: System Application

#449 [main] [net8] UriBuilderTest.Codeunit.al - update port validation error text
  src/System Application/Test/URI/src/UriBuilderTest.Codeunit.al
Labels: AL: System Application

#341 Add Azure File Services API module
  src/System Application/App/Azure File Services API/README.md
  src/System Application/App/Azure File Services API/app.json
  src/System Application/App/Azure File Services API/src/AFSDirectoryContent.Table.al
  src/System Application/App/Azure File Services API/src/AFSFileClient.Codeunit.al
  src/System Application/App/Azure File Services API/src/AFSFileClientImpl.Codeunit.al
  src/System Application/App/Azure File Services API/src/AFSHandle.Table.al
  src/System Application/App/Azure File Services API/src/AFSOperationPayload.Codeunit.al
  src/System Application/App/Azure File Services API/src/AFSOperationResponse.Codeunit.al
  src/System Application/App/Azure File Services API/src/AFSOptionalParameters.Codeunit.al
  src/System Application/App/Azure File Services API/src/API Enums/AFSFileAttribute.Enum.al
  src/System Application/App/Azure File Services API/src/API Enums/AFSFileLastWriteTime.Enum.al
  src/System Application/App/Azure File Services API/src/API Enums/AFSFilePermissionCopyMode.Enum.al
  src/System Application/App/Azure File Services API/src/API Enums/AFSFileResourceType.Enum.al
  src/System Application/App/Azure File Services API/src/API Enums/AFSLeaseAction.Enum.al
  src/System Application/App/Azure File Services API/src/API Enums/AFSOperation.Enum.al
  src/System Application/App/Azure File Services API/src/API Enums/AFSProperties.Enum.al
  src/System Application/App/Azure File Services API/src/API Enums/AFSWrite.Enum.al
  src/System Application/App/Azure File Services API/src/Helper/AFSDirectoryContentHelper.Codeunit.al
  src/System Application/App/Azure File Services API/src/Helper/AFSFormatHelper.Codeunit.al
  src/System Application/App/Azure File Services API/src/Helper/AFSHandleHelper.Codeunit.al
  src/System Application/App/Azure File Services API/src/Helper/AFSHelperLibrary.Codeunit.al
  src/System Application/App/Azure File Services API/src/Helper/AFSHttpContentHelper.Codeunit.al
  src/System Application/App/Azure File Services API/src/Helper/AFSHttpHeaderHelper.Codeunit.al
  src/System Application/App/Azure File Services API/src/Helper/AFSURIHelper.Codeunit.al
  src/System Application/App/Azure File Services API/src/Helper/AFSWebRequestHelper.Codeunit.al
  src/System Application/Test/Azure File Services API/app.json
  src/System Application/Test/Azure File Services API/src/AFSFileClientTest.Codeunit.al
  src/System Application/Test/Azure File Services API/src/AFSGetTestStorageAuth.Codeunit.al
  src/System Application/Test/Azure File Services API/src/AFSInitTestStorage.Codeunit.al
  src/System Application/Test/DisabledTests/AFSFileClient.json
Labels: AL: System Application, From Fork

#454 Address code review comments to #341
  src/System Application/App/Azure File Services API/app.json
  src/System Application/App/Azure File Services API/src/AFSDirectoryContent.Table.al
  src/System Application/App/Azure File Services API/src/AFSFileClientImpl.Codeunit.al
  src/System Application/App/Azure File Services API/src/AFSHandle.Table.al
  src/System Application/App/Azure File Services API/src/AFSOperationPayloadImpl.Codeunit.al
  src/System Application/App/Azure File Services API/src/AFSOperationResponse.Codeunit.al
  src/System Application/App/Azure File Services API/src/AFSOperationResponseImpl.Codeunit.al
  src/System Application/App/Azure File Services API/src/AFSOptionalParameters.Codeunit.al
  src/System Application/App/Azure File Services API/src/AFSOptionalParametersImpl.Codeunit.al
  src/System Application/App/Azure File Services API/src/API Enums/AFSProperty.Enum.al
  src/System Application/App/Azure File Services API/src/Helper/AFSDirectoryContentHelper.Codeunit.al
  src/System Application/App/Azure File Services API/src/Helper/AFSHandleHelper.Codeunit.al
  src/System Application/App/Azure File Services API/src/Helper/AFSHttpContentHelper.Codeunit.al
  src/System Application/App/Azure File Services API/src/Helper/AFSHttpHeaderHelper.Codeunit.al
  src/System Application/App/Azure File Services API/src/Helper/AFSWebRequestHelper.Codeunit.al
  src/System Application/App/Azure File Services API/src/Helper/XMLUtilityImpl.Codeunit.al
  src/System Application/Test/Azure File Services API/app.json
  src/System Application/Test/Azure File Services API/src/AFSFileClientTest.Codeunit.al
  src/System Application/Test/Azure File Services API/src/AFSGetTestStorageAuth.Codeunit.al
  src/System Application/Test/Azure File Services API/src/AFSInitTestStorage.Codeunit.al
Labels: AL: System Application

#451 "FindBlobsByTags" feature escapes parameters two times
  src/System Application/App/Azure Blob Services API/src/Helper/ABSFormatHelper.Codeunit.al
Labels: AL: System Application, From Fork, linked

#453 fix empty record is shown when no data is fetched
  src/System Application/App/Guided Experience/src/Guided Experience/GuidedExperienceItemCleanup.Page.al
Labels: AL: System Application

#452 [main] Update package versions
  build/Packages.json
Labels: automation, Build: scripts & configs

#455 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation, linked
