Repository microsoft/BCApps, pull requests merged in 2023-11, with the labels that each got.

#297 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#299 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#294 [Copilot][Marketing Text]Add marketing text upgrade codeunit
  src/System Application/App/Entity Text/app.json
  src/System Application/App/Entity Text/src/EntityTextAIInstall.Codeunit.al
  src/System Application/App/Entity Text/src/EntityTextAIUpgrade.Codeunit.al
Labels: AL: System Application

#296 [Copilot][Marketing Text] Use SetPrimarySystemMessage instead of AddSystemMessage
  src/System Application/App/Entity Text/src/EntityTextImpl.Codeunit.al
Labels: AL: System Application

#300 [Copilot][Marketing Text] Adjust message for telemetry
  src/System Application/App/Entity Text/src/EntityTextImpl.Codeunit.al
Labels: AL: System Application

#302 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#308 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#307 [main] Update package versions
  build/Packages.json
Labels: automation, Build: Automation

#312 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#313 Remove GitHubPAT from Sync pipeline
  .azuredevops/SyncMirroredRepository.yml
Labels: Build: Automation

#311 Avoid automation creating duplicate PRs
  .github/workflows/UpdateBCArtifactVersion.yaml
  .github/workflows/UpdatePackageVersions.yaml
  build/scripts/AutomatedSubmission.psm1
  build/scripts/UpdateBCArtifactVersion.ps1
  build/scripts/UpdatePackageVersions.ps1
Labels: Build: Automation

#315 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#306 Using PS classes for GitHub-related objects (PRs and issues) in work item validation
  .github/workflows/WorkitemValidation.yaml
  build/scripts/GitHub/GitHubAPI.class.psm1
  build/scripts/GitHub/GitHubIssue.class.psm1
  build/scripts/GitHub/GitHubPullRequest.class.psm1
  build/scripts/GitHubHelpers.psm1
  build/scripts/PullRequestValidation/PullRequestValidation.psm1
  build/scripts/PullRequestValidation/ValidateIssuesForPullRequest.ps1
  build/scripts/PullRequestValidation/ValidateWorkItemsForPullRequest.ps1
Labels: Build: Automation

#316 Bugs 487877: Ensure deletion of detached media is not reverted due to timeout
  src/System Application/App/Data Administration/src/MediaCleanup.Codeunit.al
  src/System Application/App/Data Administration/src/MediaCleanupImpl.Codeunit.al
Labels: AL: System Application

#272 Add workflow for workitem validation
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/WorkitemValidation.yaml
  build/scripts/GitHub/GitHubAPI.class.psm1
  build/scripts/GitHub/GitHubIssue.class.psm1
  build/scripts/GitHub/GitHubPullRequest.class.psm1
  build/scripts/PullRequestValidation/AddMilestoneToPullRequest.ps1
  build/scripts/PullRequestValidation/ValidateIssuesForPullRequest.ps1
Labels: Build: Automation

#321 Add missing indirect permission in Recurrence Schedule
  src/System Application/App/Recurrence Schedule/src/RecurrenceScheduleImpl.Codeunit.al
Labels: AL: System Application

#325 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#320 Update UploadAndDeployExtension.Page.al to make it clear that we are referring to 3rd party extensions
  src/System Application/App/Extension Management/src/UploadAndDeployExtension.Page.al
Labels: AL: System Application

#331 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#332 Fix syncing mechanism
  build/scripts/SyncMirror.ps1
Labels: Build: Automation

#338 Copilot: Bank Rec missing in production - feature blocked
  src/System Application/App/AI/src/Copilot/CopilotAICapabilities.Page.al
Labels: AL: System Application

#322 Add one more label area
  .github/labeler.yml
Labels: Build: Automation

#323 Improve PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Build: Automation

#339 Update poolname in security-tools.yml
  .azuredevops/security-tools.yml
Labels: Build: Automation

#343 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#344 [main] Update package versions
  build/Packages.json
Labels: automation, Build: scripts & configs

#85 Add PSScriptAnalyzer code scanning
  .github/workflows/powershell.yaml
Labels: Build: Automation

#352 Fix PS errors and warnings
  .github/workflows/powershell.yaml
  build.ps1
  build/projects/Performance Toolkit/.AL-Go/ImportTestToolkitToBcContainer.ps1
  build/projects/System Application Tests/.AL-Go/ImportTestToolkitToBcContainer.ps1
  build/projects/System Application/.AL-Go/PreCompileApp.ps1
  build/projects/Test Framework/.AL-Go/PreCompileApp.ps1
  build/projects/Test Stability Tools/.AL-Go/PreCompileApp.ps1
  build/scripts/AppTranslations.psm1
  build/scripts/AutomatedSubmission.psm1
  build/scripts/CompileAppInBcContainer.ps1
  build/scripts/GitHub/GitHubPullRequest.class.psm1
  build/scripts/PSScriptAnalyzerSettings.psd1
  build/scripts/PreCompileApp.ps1
  build/scripts/SyncMirror.ps1
Labels: Build: Automation, Build: scripts & configs

#353 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#348 Update IsEnabled method for feature key
  src/System Application/App/Feature Key/src/FeatureManagementImpl.Codeunit.al
Labels: AL: System Application

#333 Add workitem validation all pull requests
  .github/workflows/WorkitemValidation.yaml
  build/scripts/GitHub/GitHubPullRequest.class.psm1
  build/scripts/PullRequestValidation/ValidateIssuesForPullRequest.ps1
Labels: Build: Automation, Build: scripts & configs

#357 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#356 [main] Update package versions
  build/Packages.json
Labels: automation, Build: scripts & configs

#360 Skip adding milestones for automation PRs
  build/scripts/PullRequestValidation/AddMilestoneToPullRequest.ps1
Labels: Build: scripts & configs

#362 Revert "Update IsEnabled method for feature key (#348)"
  src/System Application/App/Feature Key/src/FeatureManagementImpl.Codeunit.al
Labels: AL: System Application

#364 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#367 Fix the skipping logic for milestones
  build/scripts/PullRequestValidation/AddMilestoneToPullRequest.ps1
Labels: Build: scripts & configs

#281 [Permission Sets] Enable inclusion and exclusion of unassignable permission sets
  src/System Application/App/Permission Sets/app.json
  src/System Application/App/Permission Sets/src/PermissionSetBuffer.Table.al
  src/System Application/App/Permission Sets/src/PermissionSetLookupList.Page.al
  src/System Application/App/Permission Sets/src/PermissionSetRelation.Codeunit.al
  src/System Application/App/Permission Sets/src/PermissionSetRelationBuffer.Table.al
  src/System Application/App/Permission Sets/src/PermissionSetRelationImpl.Codeunit.al
  src/System Application/Test/Permission Sets/src/PermissionRelationTests.Codeunit.al
Labels: AL: System Application

#372 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#376 [Extension Management] Permission error on Extension Management page
  src/System Application/App/Extension Management/src/ExtensionManagement.Page.al
Labels: AL: System Application

#365 Update workitem validation logic
  .github/workflows/WorkitemValidation.yaml
  build/scripts/GitHub/GitHubIssue.class.psm1
  build/scripts/GitHub/GitHubPullRequest.class.psm1
  build/scripts/GitHub/GitHubWorkItemLink.class.psm1
  build/scripts/PullRequestValidation/LinkPullRequestToWorkItem.ps1
  build/scripts/PullRequestValidation/ValidateInternalWorkItemForPullRequest.ps1
  build/scripts/PullRequestValidation/ValidateIssuesForPullRequest.ps1
Labels: Build: Automation, Build: scripts & configs

#378 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#359 New TestMetodLine Key in app Test Runner (issue #23772, ALAppExtension repo)
  src/Tools/Test Framework/Test Runner/src/TestMethodLine.Table.al
Labels: From Fork, linked, AL: Tools

#371 Make the 'Extension Marketplace' page discoverable with 'AppSource' search term
  src/System Application/App/Extension Management/src/ExtensionMarketplace.Page.al
Labels: AL: System Application, From Fork, linked

#380 [Email] Use Sent From email in EmailViewer
  src/System Application/App/Email/src/Email/Sent/EmailViewer.Page.al
Labels: AL: System Application

#385 BCPT: Added stacktrace for errored interaction
  src/Tools/Performance Toolkit/App/src/BCPTLine.Codeunit.al
  src/Tools/Performance Toolkit/App/src/BCPTTestSuite.Codeunit.al
Labels: From Fork, linked, AL: Tools

#386 [Copilot] Adding telemetry tag for retrying generation completion
  src/System Application/App/Entity Text/src/EntityTextImpl.Codeunit.al
Labels: AL: System Application
