Repository microsoft/BCApps, pull requests merged in 2024-04, with the labels that each got.

#853 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#848 [main] Update package versions
  build/Packages.json
Labels: Automation, Build: scripts & configs

#851 [releases/24.0] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#852 [releases/24.x] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#850 [releases/24.0] Update package versions
  build/Packages.json
Labels: Automation, Build: scripts & configs

#833 Uptake Scorecard workflow
  .github/workflows/CreateBuildTag.yaml
  .github/workflows/MSDO.yml
  .github/workflows/UpdateBCArtifactVersion.yaml
  .github/workflows/UpdatePackageVersions.yaml
  .github/workflows/powershell.yaml
  .github/workflows/scorecard-analysis.yml
Labels: Build: Automation

#860 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#859 [releases/24.x] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#858 [releases/24.0] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#856 Determine maxAllowedObsoleteVersion from config in main
  build/BuildConfig.json
  build/scripts/GuardingV2ExtensionsHelper.psm1
Labels: Build: scripts & configs

#864 [releases/24.x] Determine maxAllowedObsoleteVersion from config in main
  build/BuildConfig.json
  build/scripts/GuardingV2ExtensionsHelper.psm1
Labels: Build: scripts & configs

#865 [releases/24.0] Determine maxAllowedObsoleteVersion from config in main
  build/BuildConfig.json
  build/scripts/GuardingV2ExtensionsHelper.psm1
Labels: Build: scripts & configs

#841 [releases/24.x] [OAuth2] Additional SecretText usage on Certificates
  src/System Application/App/Azure Key Vault/src/AzureKeyVault.Codeunit.al
  src/System Application/App/Azure Key Vault/src/AzureKeyVaultImpl.Codeunit.al
  src/System Application/App/Customer Experience Survey/src/CustExpSurveyReqImpl.Codeunit.al
  src/System Application/App/Entity Text/src/AzureOpenAiSettings.Table.al
  src/System Application/App/OAuth2/OAuth2.Codeunit.al
  src/System Application/App/OAuth2/OAuth2Impl.Codeunit.al
Labels: AL: System Application

#840 [24.x] Client Credentials Support for Sharepoint (#705)
  src/System Application/App/SharePoint Authorization/src/SharePointAuth.Codeunit.al
  src/System Application/App/SharePoint Authorization/src/SharePointAuthImpl.Codeunit.al
  src/System Application/App/SharePoint Authorization/src/SharePointClientCredentials.Codeunit.al
Labels: AL: System Application

#871 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#872 [releases/24.x] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#879 Align keyword casing in System App
  src/System Application/App/AI/src/Copilot/CopilotCapabilityImpl.Codeunit.al
  src/System Application/App/AppSource Gallery/src/AppSourceProductDetails.Page.al
  src/System Application/App/AppSource Gallery/src/AppSourceProductList.Page.al
  src/System Application/App/AppSource Gallery/src/AppSourceProductManager.Codeunit.al
  src/System Application/App/AppSource Gallery/src/AppSrcProductDepsProvider.Codeunit.al
  src/System Application/App/ControlAddIns/src/VideoPlayer.ControlAddin.al
  src/System Application/App/Feature Key/src/FeatureManagement.Page.al
  src/System Application/App/Filter Tokens/src/FilterTokensImpl.Codeunit.al
  src/System Application/App/Guided Experience/permissions/GuidedExperienceObjects.PermissionSet.al
  src/System Application/App/Json/src/JsonImpl.Codeunit.al
  src/System Application/Test/AI/src/AzureOpenAITest.Codeunit.al
  src/System Application/Test/Auto Format/src/AutoFormatTest.EnumExt.al
  src/System Application/Test/Azure AD User Management/src/AzureADUserManagementTest.Codeunit.al
  src/System Application/Test/Cryptography Management/src/DESCryptoServiceProviderTest.Codeunit.al
  src/System Application/Test/Cryptography Management/src/GenerateBase64KeyedHashTest.Codeunit.al
  src/System Application/Test/Email/src/EmailAddressLookupTests.Codeunit.al
  src/System Application/Test/Email/src/EmailE2ETests.Codeunit.al
  src/System Application/Test/Email/src/EmailEditorValidationTests.Codeunit.al
  src/System Application/Test/Email/src/EmailMessageUnitTest.Codeunit.al
  src/System Application/Test/Email/src/EmailRetentionPolicyTests.Codeunit.al
  src/System Application/Test/Guided Experience/src/ChecklistTestReport.Report.al
  src/System Application/Test/MicrosoftGraph/src/MockHttpClientHandler.Codeunit.al
  src/System Application/Test/Performance Profiler/src/ProfilingDataProcessorTest.Codeunit.al
  src/System Application/Test/Record Link Management/src/RecordLinkMgtTest.Codeunit.al
  src/System Application/Test/Record Reference/src/RecordReferenceInterfTest.Codeunit.al
  src/System Application/Test/Record Reference/src/RecordReferenceNormalTest.Codeunit.al
  src/System Application/Test/Rest Client/src/HttpAuthenticationTests.Codeunit.al
  src/System Application/Test/Rest Client/src/TestHttpClientHandler.Codeunit.al
  src/System Application/Test/Retention Policy/src/RetenPolAllowedTblTest.Codeunit.al
  src/System Application/Test/Upgrade Tags/src/UpgradeTagTest.Codeunit.al
  src/Tools/Test Framework/Test Runner/src/ALTestSuite.Table.al
  src/Tools/Test Framework/Test Runner/src/ALTestSuites.Page.al
  src/Tools/Test Framework/Test Runner/src/ALTestTool.Page.al
  src/Tools/Test Framework/Test Runner/src/CodeCoverage/ALCodeCoverage.Page.al
  src/Tools/Test Framework/Test Runner/src/CommandLineTestTool.Page.al
  src/Tools/Test Framework/Test Runner/src/SelectTestRunner.Page.al
  src/Tools/Test Framework/Test Runner/src/SelectTests.Page.al
  src/Tools/Test Framework/Test Runner/src/SelectTestsByRange.Page.al
  src/Tools/Test Framework/Test Runner/src/TestMethodLine.Table.al
  src/Tools/Test Framework/Test Runner/src/TestRoleCenter.Page.al
  src/Tools/Test Framework/Test Runner/src/TestRunnerGetMethods.Codeunit.al
  src/Tools/Test Framework/Test Runner/src/TestRunnerIsolCodeunit.Codeunit.al
  src/Tools/Test Framework/Test Runner/src/TestRunnerIsolDisabled.Codeunit.al
  src/Tools/Test Framework/Test Runner/src/TestRunnerMgt.Codeunit.al
  src/Tools/Test Framework/Test Runner/src/TestRunnerProgressDialog.Codeunit.al
  src/Tools/Test Framework/Test Runner/src/TestSuiteMgt.Codeunit.al
Labels: AL: System Application, AL: Tools

#868 Calculate full BC artifact URL when updating it
  build/scripts/EnlistmentHelperFunctions.psm1
  build/scripts/UpdateBCArtifactVersion.ps1
Labels: Build: scripts & configs

#877 [releases/24.x] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#878 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#883 [24.0] Implement different fallback mechanism when determining baselines
  build/scripts/EnlistmentHelperFunctions.psm1
  build/scripts/UpdateBCArtifactVersion.ps1
Labels: Build: scripts & configs

#889 [releases/24.x] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#884 [24.x] Implement different fallback mechanism when determining baselines
  build/scripts/EnlistmentHelperFunctions.psm1
  build/scripts/UpdateBCArtifactVersion.ps1
Labels: Build: scripts & configs

#881 ResetAssistedSetup doesn't take filter into consideration
  src/System Application/App/Guided Experience/src/Guided Experience/GuidedExperienceImpl.Codeunit.al
  src/System Application/Test/Guided Experience/src/GuidedExperienceTest.Codeunit.al
Labels: AL: System Application

#892 [releases/24.x] Fix tags
  src/System Application/App/OAuth2/OAuth2.Codeunit.al
  src/System Application/App/OAuth2/OAuth2Impl.Codeunit.al
Labels: AL: System Application

#888 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#901 [releases/24.x] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#900 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#899 [main] Update package versions
  build/Packages.json
Labels: Automation, Build: scripts & configs

#902 [releases/24.0] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#891 [24.x] ResetAssistedSetup doesn't take filter into consideration
  src/System Application/App/Guided Experience/src/Guided Experience/GuidedExperienceImpl.Codeunit.al
  src/System Application/Test/Guided Experience/src/GuidedExperienceTest.Codeunit.al
Labels: AL: System Application

#898 [releases/24.x] Update package versions
  build/Packages.json
Labels: Automation, Build: scripts & configs

#910 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#914 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#913 [releases/24.0] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#916 Remove legacy add-in Microsoft.Dynamics.Nav.Integration.Office
  src/System Application/App/DotNet Aliases/src/dotnet.al
Labels: AL: System Application

#904 Fix path to loading image resource
  src/System Application/App/ControlAddIns/Resources/WaitSpinner/js/WaitSpinner.js
  src/System Application/App/Resources/WaitSpinner/js/WaitSpinner.js
Labels: AL: System Application

#918 Update AL-Go System Files
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#919 [Copilot] Pass capability name to ALCopilotFunctions
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
  src/System Application/App/DotNet Aliases/src/dotnet.al
Labels: AL: System Application

#923 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#922 [releases/24.x] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#921 [releases/24.0] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#925 Disable Rest Client Tests
  src/System Application/Test/DisabledTests/RestClientTests.DisabledTest.json
Labels: AL: System Application

#926 [releases/24.x] Disable Rest Client Tests
  src/System Application/Test/DisabledTests/RestClientTests.DisabledTest.json
Labels: AL: System Application

#927 [releases/24.0] Disable Rest Client Tests
  src/System Application/Test/DisabledTests/RestClientTests.DisabledTest.json
Labels: AL: System Application

#882 [Copilot] Improve API of Function Calling
  src/System Application/App/AI/app.json
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIChatMessages.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIToolsImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/Tools/AOAIFunction.Interface.al
  src/System Application/App/AI/src/Azure OpenAI/Operation Response/AOAIFunctionResponse.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Operation Response/AOAIOperationResponse.Codeunit.al
  src/System Application/Test/AI/app.json
  src/System Application/Test/AI/src/AzureOpenAIToolsTest.Codeunit.al
  src/System Application/Test/AI/src/Functions/BadTestFunction1.Codeunit.al
  src/System Application/Test/AI/src/Functions/BadTestFunction2.Codeunit.al
  src/System Application/Test/AI/src/Functions/TestFunction1.Codeunit.al
  src/System Application/Test/AI/src/Functions/TestFunction2.Codeunit.al
Labels: AL: System Application

#917 Move OpenXml type to framework
  src/System Application/App/DotNet Aliases/src/dotnet.al
Labels: AL: System Application

#928 [Copilot] Minor changes to the internals of OperationResponse and FunctionResponse
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Operation Response/AOAIFunctionResponse.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Operation Response/AOAIOperationResponse.Codeunit.al
Labels: AL: System Application

#929 Enable AS0105
  build/scripts/GuardingV2ExtensionsHelper.psm1
  src/System Application/App/ControlAddIns/src/PowerBIManagement.ControlAddin.al
  src/System Application/App/OAuth2/OAuth2.Codeunit.al
  src/System Application/App/OAuth2/OAuth2Impl.Codeunit.al
Labels: AL: System Application, Build: scripts & configs

#905 [24.x] Fix path to loading image resource
  src/System Application/App/ControlAddIns/Resources/WaitSpinner/js/WaitSpinner.js
  src/System Application/App/Resources/WaitSpinner/js/WaitSpinner.js
Labels: AL: System Application

#933 [releases/24.0] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#934 [releases/24.x] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#935 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#912 [24.x] Only table with type Normal is supported in Data Classification Worksheet and Data Privacy Utilities
  src/System Application/App/Data Classification/src/DataClassificationMgt.Codeunit.al
  src/System Application/App/Data Classification/src/DataClassificationMgtImpl.Codeunit.al
  src/System Application/Test Library/Data Classification/src/LibraryDataClassification.Codeunit.al
  src/System Application/Test/Data Classification/src/DataClassWorksheetTests.Codeunit.al
  src/System Application/Test/Data Classification/src/DataClassificationMgtTests.Codeunit.al
Labels: AL: System Application

#783 Add replacements for legacy control add-ins
  src/System Application/App/ControlAddIns/src/MicrosoftDynamicsNavClientBusinessChart.ControlAddin.al
  src/System Application/App/ControlAddIns/src/MicrosoftDynamicsNavClientFlowIntegration.ControlAddin.al
  src/System Application/App/ControlAddIns/src/MicrosoftDynamicsNavClientOAuthIntegration.ControlAddin.al
  src/System Application/App/ControlAddIns/src/MicrosoftDynamicsNavClientPageReady.ControlAddin.al
  src/System Application/App/ControlAddIns/src/MicrosoftDynamicsNavClientPowerBIManagement.ControlAddin.al
  src/System Application/App/ControlAddIns/src/MicrosoftDynamicsNavClientRoleCenterSelector.ControlAddin.al
  src/System Application/App/ControlAddIns/src/MicrosoftDynamicsNavClientVideoPlayer.ControlAddin.al
  src/System Application/App/ControlAddIns/src/MicrosoftDynamicsNavClientWebPageViewer.ControlAddin.al
  src/System Application/App/ControlAddIns/src/MicrosoftDynamicsNavClientWelcomeWizard.ControlAddin.al
Labels: AL: System Application

#937 [releases/24.0] Run extension setup after installing app from AppSource
  src/System Application/App/Extension Management/src/ExtensionOperationImpl.Codeunit.al
Labels: AL: System Application

#938 [releases/24.x] Run extension setup after installing app from AppSource
  src/System Application/App/Extension Management/src/ExtensionOperationImpl.Codeunit.al
Labels: AL: System Application

#906 [24.0] Fix path to loading image resource
  src/System Application/App/ControlAddIns/Resources/WaitSpinner/js/WaitSpinner.js
  src/System Application/App/Resources/WaitSpinner/js/WaitSpinner.js
Labels: AL: System Application

#936 Add translatable captions to RetentionPeriodEnum
  src/System Application/App/Retention Policy/src/Retention Period/RetentionPeriodEnum.Enum.al
Labels: AL: System Application

#944 [releases/24.x] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#942 [releases/24.0] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#943 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#941 [main] Update package versions
  build/Packages.json
Labels: Automation, Build: scripts & configs

#939 [releases/24.x] Add translatable captions to RetentionPeriodEnum
  src/System Application/App/Retention Policy/src/Retention Period/RetentionPeriodEnum.Enum.al
Labels: AL: System Application

#945 Fix return value for ProcessFunctionCall
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
Labels: AL: System Application

#947 [releases/24.0] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#948 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#949 [releases/24.x] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#954 [releases/24.0] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#953 [releases/24.x] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#951 [24.x] Fix Get-CurrentBranch to always rely on git (and not GITHUB_REF env variable)
  build/scripts/EnlistmentHelperFunctions.psm1
Labels: Build: scripts & configs

#950 Fix Get-CurrentBranch to always rely on git (and not GITHUB_REF env variable)
  build/scripts/EnlistmentHelperFunctions.psm1
Labels: Build: scripts & configs

#960 [24.x][BC Idea] Add Put method to 'Graph Client' Codeunit (#773)
  src/System Application/App/MicrosoftGraph/src/GraphClient.Codeunit.al
  src/System Application/App/MicrosoftGraph/src/GraphClientImpl.Codeunit.al
  src/System Application/App/MicrosoftGraph/src/helper/GraphRequestHelper.Codeunit.al
Labels: AL: System Application

#962 [releases/24.0] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#963 [releases/24.x] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#964 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#959 Add the ability to check if there is an email account set for a scanrio
  src/System Application/App/Email/src/Scenario/EmailScenario.Codeunit.al
  src/System Application/App/Email/src/Scenario/EmailScenarioImpl.Codeunit.al
  src/System Application/Test/Email/src/EmailScenarioTest.Codeunit.al
Labels: AL: System Application

#972 [releases/24.0] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#971 [releases/24.0] Update package versions
  build/Packages.json
Labels: Automation, Build: scripts & configs

#974 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#973 [releases/24.x] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#978 Allow allowlisted tenants to get the first party deployment names
  src/System Application/App/AI/src/Azure OpenAI/AOAIAuthorization.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AOAIDeploymentsImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
Labels: AL: System Application

#982 [24.x][CopilotToolkit] Allow allowlisted tenants to get the first party deployment names
  src/System Application/App/AI/src/Azure OpenAI/AOAIAuthorization.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AOAIDeploymentsImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
Labels: AL: System Application

#684 Ensure Entra tenant ID is formatted consistently in helper function
  src/System Application/App/Azure AD Tenant/src/AzureADTenant.Codeunit.al
  src/System Application/App/Azure AD Tenant/src/AzureADTenantImpl.Codeunit.al
Labels: AL: System Application

#968 [24.x] add IsThereEmailAccountSetForScenario functionality
  src/System Application/App/Email/src/Scenario/EmailScenario.Codeunit.al
  src/System Application/App/Email/src/Scenario/EmailScenarioImpl.Codeunit.al
  src/System Application/Test/Email/src/EmailScenarioTest.Codeunit.al
Labels: AL: System Application

#990 Skip upgrade when correct Code is used in Guided Experience Item
  src/System Application/App/Guided Experience/src/Guided Experience/GuidedExperienceImpl.Codeunit.al
  src/System Application/App/Guided Experience/src/Guided Experience/GuidedExperienceUpgrade.Codeunit.al
Labels: AL: System Application

#992 [24.x] Skip upgrade when correct Code is used in Guided Experience Item
  src/System Application/App/Guided Experience/src/Guided Experience/GuidedExperienceImpl.Codeunit.al
  src/System Application/App/Guided Experience/src/Guided Experience/GuidedExperienceUpgrade.Codeunit.al
Labels: AL: System Application

#998 [releases/24.0] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#996 [releases/24.x] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1000 [releases/24.x] Enable IncrementVersionNumber from AL-Go
  .github/AL-Go-Settings.json
Labels: Build: Automation

#1001 Update AL-Go System Files
  .github/AL-Go-Settings.json
  .github/workflows/IncrementVersionNumber.yaml
Labels: Build: Automation

#1003 Cleanup the Edit-In Excel module docs
  src/System Application/App/Edit in Excel/README.md
Labels: AL: System Application

#988 Implement graceful handling of empty JSON responses
  src/System Application/App/Rest Client/src/HttpContent.Codeunit.al
  src/System Application/App/Rest Client/src/HttpContentImpl.Codeunit.al
  src/System Application/App/Rest Client/src/RestClient.Codeunit.al
  src/System Application/Test/Rest Client/src/HttpContentTests.Codeunit.al
Labels: AL: System Application, From Fork, Linked

#1018 [releases/24.0] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1022 [releases/24.0] Update package versions
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1020 [releases/24.1] Update package versions
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1016 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1019 [releases/24.1] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1006 Fix error in AFS shared key authorization (#961)
  src/System Application/App/Azure File Services API/src/AFSOperationPayloadImpl.Codeunit.al
  src/System Application/App/Azure File Services API/src/Helper/AFSHttpContentHelper.Codeunit.al
  src/System Application/Test/Azure File Services API/src/AFSFileClientTest.Codeunit.al
  src/System Application/Test/Azure File Services API/src/AFSGetTestStorageAuth.Codeunit.al
Labels: AL: System Application, From Fork, Linked, Integration
