Repository microsoft/BCApps, pull requests merged in 2024-02, with the labels that each got.

#412 Obsolete Extension Marketplace page
  src/System Application/App/Extension Management/permissions/ExtensionManagementObjects.PermissionSet.al
  src/System Application/App/Extension Management/src/ExtensionManagement.Page.al
  src/System Application/App/Extension Management/src/ExtensionMarketplace.Codeunit.al
  src/System Application/App/Extension Management/src/ExtensionMarketplace.Page.al
Labels: AL: System Application

#533 Add permissions test for No. Series
  src/Business Foundation/App/NoSeries/Permissions/NoSeriesObjects.permissionset.al
  src/Business Foundation/App/NoSeries/src/Batch/NoSeriesBatch.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Batch/NoSeriesBatchImpl.Codeunit.al
  src/Business Foundation/App/NoSeries/src/GlobalNoSeries/CrossCompanyNoSeries.Codeunit.al
  src/Business Foundation/App/NoSeries/src/GlobalNoSeries/NoSeriesTenant.Table.al
  src/Business Foundation/App/NoSeries/src/Legacy/NoSeriesLinePurchase.Table.al
  src/Business Foundation/App/NoSeries/src/Legacy/NoSeriesLineSales.Table.al
  src/Business Foundation/App/NoSeries/src/Legacy/NoSeriesManagement.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Legacy/NoSeriesMgt.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Setup/NoSeries.Table.al
  src/Business Foundation/App/NoSeries/src/Setup/NoSeriesLine.Table.al
  src/Business Foundation/App/NoSeries/src/Setup/NoSeriesRelationship.Table.al
  src/Business Foundation/App/NoSeries/src/Setup/NoSeriesSetupImpl.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Single/NoSeries.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesImpl.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesSequenceImpl.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesStatelessImpl.Codeunit.al
  src/Business Foundation/Test/NoSeries/src/NoSeriesBatchTests.Codeunit.al
  src/Business Foundation/Test/NoSeries/src/NoSeriesTest.PermissionSet.al
  src/Business Foundation/Test/NoSeries/src/NoSeriesTests.Codeunit.al
  src/Tools/Test Framework/Test Libraries/Permissions Mock/src/PermissionsMock.Codeunit.al
Labels: AL: Tools

#519 Client extensions control add-ins
  src/System Application/App/ControlAddIns/src/BarcodeFailure.Enum.al
  src/System Application/App/ControlAddIns/src/BarcodeScannerProviderAddIn.ControlAddIn.al
  src/System Application/App/ControlAddIns/src/CameraBarcodeScannerProviderAddIn.ControlAddIn.al
  src/System Application/App/ControlAddIns/src/emptyScript.js
Labels: AL: System Application

#502 Add build configuration for strictmode
  build/projects/Business Foundation/.AL-Go/settings.json
  build/projects/Performance Toolkit/.AL-Go/settings.json
  build/projects/System Application/.AL-Go/settings.json
  build/projects/Test Framework/.AL-Go/settings.json
  build/scripts/EnlistmentHelperFunctions.psm1
  build/scripts/GuardingV2ExtensionsHelper.psm1
  build/scripts/PreCompileApp.ps1
Labels: Build: scripts & configs

#503 [UriBuilder] Add function to add OData query parameters with preserved $ signs
  src/System Application/App/URI/src/UriBuilder.Codeunit.al
  src/System Application/App/URI/src/UriBuilderImpl.Codeunit.al
  src/System Application/Test/URI/src/UriBuilderQueryTest.Codeunit.al
Labels: AL: System Application

#540 [main] Update package versions
  build/Packages.json
Labels: automation, Build: scripts & configs

#538 SharePoint MetaData fixes
  src/System Application/App/SharePoint/src/SharePointClient.Codeunit.al
  src/System Application/App/SharePoint/src/SharePointClientImpl.Codeunit.al
  src/System Application/App/SharePoint/src/model/file/SharePointFile.Codeunit.al
  src/System Application/App/SharePoint/src/model/file/SharePointFile.Table.al
  src/System Application/App/SharePoint/src/model/folder/SharePointFolder.Table.al
  src/System Application/App/SharePoint/src/model/list/SharePointList.Table.al
  src/System Application/App/SharePoint/src/model/listitem/SharePointListItem.Codeunit.al
  src/System Application/App/SharePoint/src/model/listitem/SharePointListItem.Table.al
  src/System Application/App/SharePoint/src/model/listitemattachment/SharePointListItemAtch.Table.al
Labels: AL: System Application, From Fork, linked

#541 Add missing caption
  src/System Application/App/Email/src/Email/Outbox/EmailEditor.Page.al
  src/System Application/App/Email/src/Email/Sent/EmailViewer.Page.al
Labels: AL: System Application

#537 AppSource Gallery to replace Appsource Marketplace
  src/System Application/App/AppSource Gallery/README.md
  src/System Application/App/AppSource Gallery/app.json
  src/System Application/App/AppSource Gallery/src/AppSourceProduct.Table.al
  src/System Application/App/AppSource Gallery/src/AppSourceProductDetails.Page.al
  src/System Application/App/AppSource Gallery/src/AppSourceProductList.Page.al
  src/System Application/App/AppSource Gallery/src/AppSourceProductManager.Codeunit.al
  src/System Application/App/AppSource Gallery/src/IAppSourceProductManagerDependencies.Interface.al
  src/System Application/App/Extension Management/src/ExtensionManagement.Page.al
  src/System Application/App/Language/src/Language.Codeunit.al
  src/System Application/App/Language/src/LanguageImpl.Codeunit.al
  src/System Application/Test/AppSource Gallery/app.json
  src/System Application/Test/AppSource Gallery/src/AppSourceProductManagerTest.Codeunit.al
Labels: AL: System Application

#528 [AI SDK] Abstract getting model names to use latest/preview
  src/System Application/App/AI/src/Azure OpenAI/AOAIDeployments.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AOAIDeploymentsImpl.Codeunit.al
  src/System Application/App/Entity Text/src/EntityTextImpl.Codeunit.al
Labels: AL: System Application

#547 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#544 Add system permissions to control the access to Page Scripting
  src/System Application/App/Permissions/SystemApplicationAdmin.PermissionSet.al
  src/System Application/App/Permissions/SystemApplicationEdit.PermissionSet.al
  src/System Application/App/System Permissions/permissions/PageScriptingPlay.Permissionset.al
  src/System Application/App/System Permissions/permissions/PageScriptingRec.Permissionset.al
Labels: AL: System Application

#546 [Copilot] Register Analyze List into list of capabilities
  src/System Application/App/AI/src/Copilot/CopilotCapabilityImpl.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotCapabilityInstall.Codeunit.al
Labels: AL: System Application

#542 [Copilot] Privacy notice disabled notification showing when "Allow Data Movement" is off
  src/System Application/App/AI/src/Copilot/CopilotAICapabilities.Page.al
Labels: AL: System Application

#551 Add GetLinkedPowerPlatformEnvironmentId() method to Environment Information codeunit
  src/System Application/App/Environment Information/src/EnvironmentInformation.Codeunit.al
  src/System Application/App/Environment Information/src/EnvironmentInformationImpl.Codeunit.al
Labels: AL: System Application

#554 [Copilot] Update text for Copilot & AI Capabilities page
  src/System Application/App/AI/src/Copilot/CopilotAICapabilities.Page.al
Labels: AL: System Application

#556 Rename variables in RSACryptoServiceProviderTest.Codeunit.al
  src/System Application/Test/Cryptography Management/src/RSACryptoServiceProviderTests.Codeunit.al
Labels: AL: System Application

#555 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#564 Use base64 for keys
  src/System Application/Test/Cryptography Management/src/RSACryptoServiceProviderTests.Codeunit.al
Labels: AL: System Application

#563 Uptake BC Admin
  src/System Application/App/AI/src/Copilot/CopilotCapabilityImpl.Codeunit.al
  src/System Application/App/Azure AD Plan/src/AzureADPlanImpl.Codeunit.al
  src/System Application/App/Azure AD User Management/src/AzureADUserMgmtImpl.Codeunit.al
  src/System Application/App/Azure AD User Management/src/User sync/AzureADUserSyncImpl.Codeunit.al
Labels: AL: System Application

#566 Uptake bypass
  src/System Application/Test/Cryptography Management/src/RSACryptoServiceProviderTests.Codeunit.al
Labels: AL: System Application

#571 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#570 [main] Update package versions
  build/Packages.json
Labels: automation, Build: scripts & configs

#573 Remove redundant internal event in the User Permissions module
  src/System Application/App/User Permissions/src/UserPermissionsImpl.Codeunit.al
  src/System Application/Test Library/User Permissions/src/TestUserPermissionsSubs.Codeunit.al
Labels: AL: System Application

#575 Update AL-Go System Files
  .github/AL-Go-Settings.json
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
Labels: Build: Automation

#558 Add links to Microsoft Learn resources for System app
  CONTRIBUTING.md
Labels: From Fork, linked

#580 Fix plan filter in AzureADPlanImpl
  src/System Application/App/Azure AD Plan/src/AzureADPlanImpl.Codeunit.al
Labels: AL: System Application

#576 Bump action versions. Fix for "Node.js actions are deprecated" warnings
  .github/workflows/CreateBuildTag.yaml
  .github/workflows/MSDO.yml
  .github/workflows/PullRequestLabeler.yaml
  .github/workflows/UpdateBCArtifactVersion.yaml
  .github/workflows/UpdatePackageVersions.yaml
  .github/workflows/WorkitemValidation.yaml
  .github/workflows/powershell.yaml
Labels: Build: Automation

#574 [Copilot] Ignore capability/appid for telemetry when provided by platform
  src/System Application/App/AI/src/Copilot/CopilotTelemetry.Codeunit.al
Labels: AL: System Application

#582 Fix PR Labeler syntax
  .github/labeler.yml
Labels: Build: Automation

#585 Revert "Allowed to set more Environment Infos in tests"
  src/System Application/App/Environment Information/src/EnvironmentInformationImpl.Codeunit.al
  src/System Application/Test Library/Environment Information/src/EnvironmentInfoTestLibrary.Codeunit.al
  src/System Application/Test/Environment Information/src/EnvironmentInformationTest.Codeunit.al
  src/System Application/Test/Satisfaction Survey/src/SatisfactionSurveyTests.Codeunit.al
Labels: AL: System Application

#560 No. Series: Ability to show only expiring lines
  src/Business Foundation/App/NoSeries/src/Setup/NoSeries.Page.al
  src/Business Foundation/App/NoSeries/src/Setup/NoSeriesSetupImpl.Codeunit.al
Labels: AL: Business Foundation

#578 [Copilot] Azure OpenAI Tools support added to our Copilot Toolkit
  src/System Application/App/AI/app.json
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIChatMessages.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIToolsImpl.Codeunit.al
  src/System Application/Test Library/AI/src/AzureOpenAITestLibrary.Codeunit.al
  src/System Application/Test/AI/app.json
  src/System Application/Test/AI/src/AzureOpenAIToolsTest.Codeunit.al
Labels: AL: System Application

#567 Cache information for OnAddCommonCustomDimensions telemetry subscriber
  src/System Application/App/Azure AD User Management/app.json
  src/System Application/App/Azure AD User Management/src/AzureADUserMgmtImpl.Codeunit.al
  src/System Application/App/Azure AD User Management/src/AzureADUserSubscribers.Codeunit.al
Labels: AL: System Application

#531 Porting tool to enable easier backporting
  build/scripts/CrossBranchPorting.psm1
Labels: Build: scripts & configs

#588 No. Series: Update running out of numbers warning
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesStatelessImpl.Codeunit.al
Labels: AL: Business Foundation

#590 obsolete legacy No. Series methods
  src/Business Foundation/App/NoSeries/src/Legacy/NoSeriesManagement.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Single/NoSeries.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesImpl.Codeunit.al
Labels: AL: Business Foundation

#595 Uptake BC artifact daily
  .github/workflows/UpdateBCArtifactVersion.yaml
Labels: Build: Automation

#597 Allow plus sign in field names when using Edit-In Excel
  src/System Application/App/Edit in Excel/src/EditinExcelImpl.Codeunit.al
  src/System Application/Test/Edit in Excel/src/EditInExcelTest.Codeunit.al
Labels: AL: System Application

#599 [main] Update package versions
  build/Packages.json
Labels: automation, Build: scripts & configs

#598 Add technical version to feature key mgmt page
  src/System Application/App/Feature Key/src/FeatureManagement.Page.al
Labels: AL: System Application

#602 Fix workitem creation on sync failure
  .azuredevops/SyncMirroredRepository.yml
  .azuredevops/security-tools.yml
  .github/workflows/CreateBuildTag.yaml
  .github/workflows/WorkitemValidation.yaml
Labels: Build: Automation

#593 Enable premium users to access essential environments
  src/System Application/App/Azure AD Plan/src/AzureADPlan.Codeunit.al
  src/System Application/App/Azure AD Plan/src/AzureADPlanImpl.Codeunit.al
  src/System Application/App/Azure AD Plan/src/UserPlanExperience.Enum.al
  src/System Application/App/Azure AD User Management/src/User sync/AzureADUserSyncImpl.Codeunit.al
  src/System Application/Test/Azure AD User Management/src/AzureADUserSyncTest.Codeunit.al
Labels: AL: System Application

#605 Small fixes to backporting tooling
  build/scripts/CrossBranchPorting.psm1
Labels: Build: scripts & configs

#586 AppSource Gallery follow-up fixes
  src/System Application/App/AppSource Gallery/app.json
  src/System Application/App/AppSource Gallery/src/AppSourceJsonUtilities.Codeunit.al
  src/System Application/App/AppSource Gallery/src/AppSourceProduct.Table.al
  src/System Application/App/AppSource Gallery/src/AppSourceProductDetails.Page.al
  src/System Application/App/AppSource Gallery/src/AppSourceProductList.Page.al
  src/System Application/App/AppSource Gallery/src/AppSourceProductManager.Codeunit.al
  src/System Application/App/AppSource Gallery/src/AppSourceProductManagerDependencies.Interface.al
  src/System Application/App/AppSource Gallery/src/IAppSourceProductManagerDependencies.Interface.al
  src/System Application/App/Extension Management/src/MarketplaceExtnDeployment.Page.al
  src/System Application/App/Language/src/Language.Codeunit.al
  src/System Application/App/Language/src/LanguageImpl.Codeunit.al
  src/System Application/Test/AppSource Gallery/app.json
  src/System Application/Test/AppSource Gallery/src/AppSourceProductManagerTest.Codeunit.al
Labels: AL: System Application

#607 No. Series: Add telemetry
  src/Business Foundation/App/NoSeries/src/Batch/NoSeriesBatchImpl.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesSequenceImpl.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesStatelessImpl.Codeunit.al
Labels: AL: Business Foundation

#613 Check if completion token is null before processing its value
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
Labels: AL: System Application

#614 Obsolete AzureOpenAiSettings table properly
  src/System Application/App/Entity Text/src/AzureOpenAiSettings.Table.al
Labels: AL: System Application

#611 Update AL-Go System Files
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#621 [OAuth] Reintroduce OAuthControlAddin for OnPrem support
  src/System Application/App/ControlAddIns/src/OAuthControlAddIn.ControlAddIn.al
  src/System Application/App/ControlAddIns/src/OAuthIntegration.Controladdin.al
  src/System Application/App/OAuth2/OAuth2ControlAddIn.Page.al
Labels: AL: System Application

#620 [PowerBI] Add missing script reference to PowerBI Control Addin
  src/System Application/App/ControlAddIns/Resources/PowerBIManagement/js/powerbi.js
  src/System Application/App/ControlAddIns/src/PowerBIManagement.ControlAddin.al
  src/System Application/App/Resources/PowerBIManagement/js/powerbi.js
Labels: AL: System Application

#629 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#628 [releases/24.x] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#627 [releases/24.0] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#594 Add Legacy Action Bar setting
  src/System Application/App/User Settings/app.json
  src/System Application/App/User Settings/src/ApplicationUserSettings.Table.al
  src/System Application/App/User Settings/src/UserPersonalization.Page.al
  src/System Application/App/User Settings/src/UserSettings.Codeunit.al
  src/System Application/App/User Settings/src/UserSettings.Page.al
  src/System Application/App/User Settings/src/UserSettings.Table.al
  src/System Application/App/User Settings/src/UserSettingsImpl.Codeunit.al
Labels: AL: System Application

#495 #437 Expose an event to skip suite errors
  src/Tools/Performance Toolkit/App/src/BCPTLine.Codeunit.al
  src/Tools/Performance Toolkit/App/src/BCPTLogEntries.Page.al
  src/Tools/Performance Toolkit/App/src/BCPTLogEntry.Table.al
  src/Tools/Performance Toolkit/App/src/BCPTTestSuite.Codeunit.al
Labels: From Fork, AL: Tools

#637 [24.0] Temporarily disable strictmode
  build/projects/Business Foundation/.AL-Go/settings.json
  build/projects/Performance Toolkit/.AL-Go/settings.json
  build/projects/System Application/.AL-Go/settings.json
  build/projects/Test Framework/.AL-Go/settings.json
Labels: Build: scripts & configs

#640 Modern action bar toggle
  src/System Application/App/User Settings/src/UserSettingsImpl.Codeunit.al
Labels: AL: System Application

#632 [24.x] Add Legacy Action Bar setting
  src/System Application/App/User Settings/app.json
  src/System Application/App/User Settings/src/ApplicationUserSettings.Table.al
  src/System Application/App/User Settings/src/UserPersonalization.Page.al
  src/System Application/App/User Settings/src/UserSettings.Codeunit.al
  src/System Application/App/User Settings/src/UserSettings.Page.al
  src/System Application/App/User Settings/src/UserSettings.Table.al
  src/System Application/App/User Settings/src/UserSettingsImpl.Codeunit.al
Labels: AL: System Application

#633 [24.0] Add Legacy Action Bar setting
  src/System Application/App/User Settings/app.json
  src/System Application/App/User Settings/src/ApplicationUserSettings.Table.al
  src/System Application/App/User Settings/src/UserPersonalization.Page.al
  src/System Application/App/User Settings/src/UserSettings.Codeunit.al
  src/System Application/App/User Settings/src/UserSettings.Page.al
  src/System Application/App/User Settings/src/UserSettings.Table.al
  src/System Application/App/User Settings/src/UserSettingsImpl.Codeunit.al
Labels: AL: System Application

#649 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#648 [releases/24.x] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#647 [releases/24.0] Update package versions
  build/Packages.json
Labels: automation, Build: scripts & configs

#646 [releases/24.x] Update package versions
  build/Packages.json
Labels: automation, Build: scripts & configs

#645 [main] Update package versions
  build/Packages.json
Labels: automation, Build: scripts & configs

#610 Refactor AppSource Gallery tests to use test library
  src/System Application/App/AppSource Gallery/app.json
  src/System Application/App/AppSource Gallery/src/AppSourceJsonUtilities.Codeunit.al
  src/System Application/App/AppSource Gallery/src/AppSourceProductManager.Codeunit.al
  src/System Application/App/AppSource Gallery/src/AppSrcProductDepsProvider.Codeunit.al
  src/System Application/Test Library/AppSource Gallery/app.json
  src/System Application/Test Library/AppSource Gallery/src/AppSourceMockDepsProvider.Codeunit.al
  src/System Application/Test Library/AppSource Gallery/src/AppSrcProductMgrTestImpl.Codeunit.al
  src/System Application/Test/AppSource Gallery/app.json
  src/System Application/Test/AppSource Gallery/src/AppSourceGalleryTest.Codeunit.al
  src/System Application/Test/AppSource Gallery/src/AppSourceProductManagerTest.Codeunit.al
Labels: AL: System Application

#641 Return rather than exit strictmode when tag isn't present
  build/scripts/PreCompileApp.ps1
Labels: Build: scripts & configs

#651 [releases/24.x] Return rather than exit strictmode when tag isn't present
  build/scripts/PreCompileApp.ps1
Labels: Build: scripts & configs

#652 [releases/24.0] Return rather than exit strictmode when tag isn't present
  build/projects/Business Foundation/.AL-Go/settings.json
  build/projects/Performance Toolkit/.AL-Go/settings.json
  build/projects/System Application/.AL-Go/settings.json
  build/projects/Test Framework/.AL-Go/settings.json
  build/scripts/PreCompileApp.ps1
Labels: Build: scripts & configs

#657 Fix ID collisions in AppSource Gallery
  src/System Application/Test Library/AppSource Gallery/app.json
  src/System Application/Test Library/AppSource Gallery/src/AppSourceMockDepsProvider.Codeunit.al
  src/System Application/Test Library/AppSource Gallery/src/AppSrcProductMgrTestImpl.Codeunit.al
Labels: AL: System Application

#655 [24.0] When controlling field visibility, use variable instead of field to avoid client error
  src/System Application/App/Retention Policy/src/Retention Policy Setup/RetentionPolicySetupCard.Page.al
Labels: AL: System Application

#656 [24.x] When controlling field visibility, use variable instead of field to avoid client error
  src/System Application/App/Retention Policy/src/Retention Policy Setup/RetentionPolicySetupCard.Page.al
Labels: AL: System Application

#653 Set MaxAllowedObsoleteVersion to 25
  build/BuildConfig.json
Labels: Build: scripts & configs

#661 Data Search Libraries Added
  src/System Application/App/DotNet Aliases/src/dotnet.al
Labels: AL: System Application

#662 Data Search Libraries Added
  src/System Application/App/DotNet Aliases/src/dotnet.al
Labels: AL: System Application
