Repository microsoft/BCApps, pull requests merged in 2024-10, with the labels that each got.

#2141 fix permission in test
  src/System Application/Test/Data Administration/src/MediaCleanupTest.Codeunit.al
Labels: AL: System Application

#2140 [main] Update BCArtifact version. New value: 26.0.24908.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2139 [24.0] Update app baselines package version. New value: 23.5.16502.24854
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2138 [25.0] Update app baselines package version. New value: 24.5.23489.24909
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2137 [24.3] Update app baselines package version. New value: 24.2.20227.24862
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2136 [24.1] Update app baselines package version. New value: 24.0.16410.24853
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2134 [main] Update app baselines package version. New value: 25.1.24906.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2132 [24.5] Update app baselines package version. New value: 24.4.22295.24910
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2131 [24.x] Update translation package version. New value: 24.6.20240926.8
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2130 [24.2] Update app baselines package version. New value: 24.1.18927.24857
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2142 Reenable Rest Client tests
  src/System Application/Test/DisabledTests/RestClientTests.DisabledTest.json
Labels: AL: System Application

#2114 [Hotfix] Added dotnet wrappers for Purview telemetry 24.5
  src/System Application/App/DotNet Aliases/src/dotnet.al
Labels: AL: System Application

#2145 [25.0] Update BCArtifact version. New value: bcartifacts/Sandbox/25.0/base/latest
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2067 Adding Purview telemetry to the System apps (24.x)
  src/System Application/App/AI/src/Copilot/CopilotCapabilitiesGA.Page.al
  src/System Application/App/Azure AD Plan/src/Plan Configuration/PlanConfiguration.Table.al
  src/System Application/App/Azure AD Plan/src/Plan Configuration/PlanConfigurationCard.Page.al
  src/System Application/App/Azure AD User Management/src/User sync/AzureADUserUpdateWizard.Page.al
  src/System Application/App/Data Classification/app.json
  src/System Application/App/Data Classification/src/DataClassificationMgtImpl.Codeunit.al
  src/System Application/App/Feature Key/app.json
  src/System Application/App/Feature Key/src/FeatureManagementImpl.Codeunit.al
  src/System Application/App/Permission Sets/src/PermissionImpl.Codeunit.al
  src/System Application/App/Permission Sets/src/PermissionSet.Page.al
  src/System Application/App/Permission Sets/src/PermissionSetCopyImpl.Codeunit.al
  src/System Application/App/Privacy Notice/app.json
  src/System Application/App/Privacy Notice/src/PrivacyNoticeApproval.Codeunit.al
  src/System Application/App/Retention Policy/src/Apply Retention Policy/ApplyRetentionPolicyImpl.Codeunit.al
  src/System Application/App/Retention Policy/src/Retention Policy Setup/RetentionPolicySetup.Table.al
  src/System Application/App/Security Groups/src/SecurityGroupPermissionSets.Page.al
  src/System Application/App/User Settings/src/UserSettingsImpl.Codeunit.al
  src/System Application/App/Web Service Management/src/WebServiceManagementImpl.Codeunit.al
Labels: AL: System Application

#2125 [24.5] Adding Purview telemetry to the System apps
  src/System Application/App/AI/src/Copilot/CopilotCapabilitiesGA.Page.al
  src/System Application/App/Azure AD Plan/src/Plan Configuration/PlanConfiguration.Table.al
  src/System Application/App/Azure AD Plan/src/Plan Configuration/PlanConfigurationCard.Page.al
  src/System Application/App/Azure AD User Management/src/User sync/AzureADUserUpdateWizard.Page.al
  src/System Application/App/Data Classification/app.json
  src/System Application/App/Data Classification/src/DataClassificationMgtImpl.Codeunit.al
  src/System Application/App/Feature Key/app.json
  src/System Application/App/Feature Key/src/FeatureManagementImpl.Codeunit.al
  src/System Application/App/Permission Sets/src/PermissionImpl.Codeunit.al
  src/System Application/App/Permission Sets/src/PermissionSet.Page.al
  src/System Application/App/Permission Sets/src/PermissionSetCopyImpl.Codeunit.al
  src/System Application/App/Privacy Notice/app.json
  src/System Application/App/Privacy Notice/src/PrivacyNoticeApproval.Codeunit.al
  src/System Application/App/Retention Policy/src/Apply Retention Policy/ApplyRetentionPolicyImpl.Codeunit.al
  src/System Application/App/Retention Policy/src/Retention Policy Setup/RetentionPolicySetup.Table.al
  src/System Application/App/Security Groups/src/SecurityGroupPermissionSets.Page.al
  src/System Application/App/User Settings/src/UserSettingsImpl.Codeunit.al
  src/System Application/App/Web Service Management/src/WebServiceManagementImpl.Codeunit.al
Labels: AL: System Application

#2124 [24.4] Adding Purview telemetry to the System apps
  src/System Application/App/AI/src/Copilot/CopilotCapabilitiesGA.Page.al
  src/System Application/App/Azure AD Plan/src/Plan Configuration/PlanConfiguration.Table.al
  src/System Application/App/Azure AD Plan/src/Plan Configuration/PlanConfigurationCard.Page.al
  src/System Application/App/Azure AD User Management/src/User sync/AzureADUserUpdateWizard.Page.al
  src/System Application/App/Data Classification/app.json
  src/System Application/App/Data Classification/src/DataClassificationMgtImpl.Codeunit.al
  src/System Application/App/Feature Key/app.json
  src/System Application/App/Feature Key/src/FeatureManagementImpl.Codeunit.al
  src/System Application/App/Permission Sets/src/PermissionImpl.Codeunit.al
  src/System Application/App/Permission Sets/src/PermissionSet.Page.al
  src/System Application/App/Permission Sets/src/PermissionSetCopyImpl.Codeunit.al
  src/System Application/App/Privacy Notice/app.json
  src/System Application/App/Privacy Notice/src/PrivacyNoticeApproval.Codeunit.al
  src/System Application/App/Retention Policy/src/Apply Retention Policy/ApplyRetentionPolicyImpl.Codeunit.al
  src/System Application/App/Retention Policy/src/Retention Policy Setup/RetentionPolicySetup.Table.al
  src/System Application/App/Security Groups/src/SecurityGroupPermissionSets.Page.al
  src/System Application/App/User Settings/src/UserSettingsImpl.Codeunit.al
  src/System Application/App/Web Service Management/src/WebServiceManagementImpl.Codeunit.al
Labels: AL: System Application

#2150 [main] Update BCArtifact version. New value: 26.0.25030.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2117 [AI Test Tool] Only update input dataset if not set
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestMethodLine.Table.al
Labels: AL: Tools

#2151 [main] Update BCArtifact version. New value: 26.0.25082.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2160 [releases/24.x] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - aae02ad59c6f4cd9d551a613b1d230d93e5a3098
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2153 [releases/24.1] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - aae02ad59c6f4cd9d551a613b1d230d93e5a3098
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2154 [releases/24.3] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - aae02ad59c6f4cd9d551a613b1d230d93e5a3098
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2155 [main] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - aae02ad59c6f4cd9d551a613b1d230d93e5a3098
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2157 [releases/24.0] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - aae02ad59c6f4cd9d551a613b1d230d93e5a3098
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2158 [releases/25.x] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - aae02ad59c6f4cd9d551a613b1d230d93e5a3098
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2159 [releases/25.0] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - aae02ad59c6f4cd9d551a613b1d230d93e5a3098
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2161 [releases/24.2] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - aae02ad59c6f4cd9d551a613b1d230d93e5a3098
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2162 [releases/24.4] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - aae02ad59c6f4cd9d551a613b1d230d93e5a3098
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2156 [releases/24.5] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - aae02ad59c6f4cd9d551a613b1d230d93e5a3098
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2166 [main] Update BCArtifact version. New value: 26.0.25124.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2179 [main] Update BCArtifact version. New value: 26.0.25229.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2178 [24.0] Update app baselines package version. New value: 23.5.16502.25173
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2177 [24.2] Update app baselines package version. New value: 24.1.18927.25172
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2175 [24.1] Update app baselines package version. New value: 24.0.16410.25171
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2173 [24.3] Update app baselines package version. New value: 24.2.20227.25182
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2172 [24.4] Update app baselines package version. New value: 24.3.21374.25178
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2171 [24.5] Update app baselines package version. New value: 24.4.22295.25180
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2170 [25.x] Update app baselines package version. New value: 25.0.23364.25217
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2165 [CES] Remove modern action bar survey
  src/System Application/App/User Settings/src/UserSettings.Page.al
  src/System Application/App/User Settings/src/UserSettingsImpl.Codeunit.al
Labels: AL: System Application

#2182 [main] Update BCArtifact version. New value: 26.0.25286.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2164 Allow install
  src/System Application/App/AppSource Gallery/app.json
  src/System Application/App/AppSource Gallery/src/AppSourceProductDetails.Page.al
  src/System Application/App/AppSource Gallery/src/AppSourceProductManager.Codeunit.al
Labels: AL: System Application

#2108 [AI Test Tool] Add support for multiple iterations of suite
  src/Tools/AI Test Toolkit/Permissions/AITestToolkitObj.PermissionSet.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITBatchRunDialog.Page.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuite.Page.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuiteMgt.Codeunit.al
Labels: AL: Tools

#2187 [main] Update BCArtifact version. New value: 26.0.25345.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2143 Fetching user settings should return the company specified in the user personalization if specified
  src/System Application/App/User Settings/src/UserSettingsImpl.Codeunit.al
Labels: AL: System Application

#2144 [User Subform] Fix permission set lookup
  src/System Application/App/User Permissions/src/UserSubform.Page.al
Labels: AL: System Application

#2149 AI TestToolkit: Support uploading of dataset and suite xml from AITestContext
  src/Tools/AI Test Toolkit/src/AITCommandLineCard.Page.al
  src/Tools/AI Test Toolkit/src/AITTestContextImpl.Codeunit.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITALTestSuiteMgt.Codeunit.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuite.Table.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuiteImportExport.XmlPort.al
  src/Tools/Test Framework/Test Runner/src/DataDrivenTest/DataInputs/TestInputGroup.Table.al
  src/Tools/Test Framework/Test Runner/src/DataDrivenTest/DataInputs/TestInputsManagement.Codeunit.al
Labels: AL: Tools

#2193 [releases/25.0] Minor bugs on AppSource module
  src/System Application/App/AppSource Gallery/src/AppSourceProductDetails.Page.al
  src/System Application/App/AppSource Gallery/src/AppSourceProductList.Page.al
  src/System Application/App/AppSource Gallery/src/AppSourceProductManager.Codeunit.al
  src/System Application/App/Extension Management/src/ExtensionInstallation.Page.al
Labels: AL: System Application

#2198 [24.5] Update app baselines package version. New value: 24.4.22295.25426
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2199 [25.x] Update app baselines package version. New value: 25.0.23364.25488
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2200 [24.1] Update app baselines package version. New value: 24.0.16410.25451
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2201 [24.3] Update app baselines package version. New value: 24.2.20227.25447
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2202 [main] Update app baselines package version. New value: 25.1.25484.0
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2203 [24.2] Update app baselines package version. New value: 24.1.18927.25448
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2204 [25.0] Update app baselines package version. New value: 24.5.23489.25450
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2205 [24.4] Update app baselines package version. New value: 24.3.21374.25449
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2206 [24.0] Update app baselines package version. New value: 23.5.16502.25446
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2207 [main] Update BCArtifact version. New value: 26.0.25490.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2188 Using older api version to detect contact me apps.
  src/System Application/App/AppSource Gallery/app.json
  src/System Application/App/AppSource Gallery/src/AppSourceProductDetails.Page.al
  src/System Application/App/AppSource Gallery/src/AppSourceProductManager.Codeunit.al
  src/System Application/Test Library/AppSource Gallery/src/AppSrcProductMgrTestImpl.Codeunit.al
  src/System Application/Test/AppSource Gallery/src/AppSourceGalleryTest.Codeunit.al
Labels: AL: System Application

#2211 [main] Update BCArtifact version. New value: 26.0.25535.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2210 Update dependabot configuration
  .github/dependabot.yml
Labels: Build: Automation

#2215 [main] Update BCArtifact version. New value: 26.0.25585.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2217 Add build metadata to Extension Settings page
  src/System Application/App/Extension Management/src/ExtensionSettings.Page.al
Labels: AL: System Application

#2221 Fixing Purview misc mistakes in System apps
  src/System Application/App/AI/src/Copilot/CopilotCapabilitiesGA.Page.al
  src/System Application/App/Permission Sets/src/PermissionImpl.Codeunit.al
  src/System Application/App/Privacy Notice/src/PrivacyNoticeApproval.Codeunit.al
  src/System Application/App/Retention Policy/src/Retention Policy Setup/RetentionPolicySetup.Table.al
  src/System Application/App/User Settings/src/UserSettingsImpl.Codeunit.al
  src/System Application/App/Web Service Management/src/WebServiceManagementImpl.Codeunit.al
Labels: AL: System Application

#2232 [main] Update BCArtifact version. New value: 26.0.25660.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2233 [25.x] Fixing Purview misc mistakes in System apps
  src/System Application/App/AI/src/Copilot/CopilotCapabilitiesGA.Page.al
  src/System Application/App/Permission Sets/src/PermissionImpl.Codeunit.al
  src/System Application/App/Privacy Notice/src/PrivacyNoticeApproval.Codeunit.al
  src/System Application/App/Retention Policy/src/Retention Policy Setup/RetentionPolicySetup.Table.al
  src/System Application/App/User Settings/src/UserSettingsImpl.Codeunit.al
  src/System Application/App/Web Service Management/src/WebServiceManagementImpl.Codeunit.al
Labels: AL: System Application

#2246 [main] Update BCArtifact version. New value: 26.0.25733.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2245 [24.0] Update app baselines package version. New value: 23.5.16502.25695
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2243 [24.1] Update app baselines package version. New value: 24.0.16410.25686
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2242 [24.2] Update app baselines package version. New value: 24.1.18927.25706
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2241 [24.3] Update app baselines package version. New value: 24.2.20227.25710
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2240 [25.x] Update app baselines package version. New value: 25.0.23364.25714
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2239 [main] Update app baselines package version. New value: 25.1.25729.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2238 [24.4] Update app baselines package version. New value: 24.3.21374.25708
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2236 [24.5] Update app baselines package version. New value: 24.4.22295.25705
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2235 Add missing init for the GetProductDetails method.
  src/System Application/App/AppSource Gallery/src/AppSourceProductManager.Codeunit.al
Labels: AL: System Application

#2186 Added access to attachment ID in Codeunit "EMail Message"
  src/System Application/App/Email/src/Message/EmailMessage.Codeunit.al
  src/System Application/App/Email/src/Message/EmailMessageImpl.Codeunit.al
  src/System Application/Test/Email/src/EmailMessageUnitTest.Codeunit.al
Labels: AL: System Application, From Fork, Linked, Integration

#2249 [main] Update BCArtifact version. New value: 26.0.25774.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2111 [Number Series Copilot] Bug Fixes in Intent Understanding and Field Validation
  src/Business Foundation/App/NoSeriesCopilot/Permissions/NoSeriesCopilotObjects.permissionset.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesCopilotImpl.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesGeneration.Page.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/Search/Classic/NoSeriesTextMatchImpl.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/Tools/NoSeriesCopAddIntent.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/Tools/NoSeriesCopChangeIntent.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/Tools/NoSeriesCopNxtYrIntent.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/Tools/NoSeriesCopToolsImpl.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Register/NoSeriesCopilotRegister.Codeunit.al
Labels: From Fork, Linked, AL: Business Foundation, Integration

#2251 [25.x][Number Series Copilot] Bug Fixes in Intent Understanding and Field V…
  src/Business Foundation/App/NoSeriesCopilot/Permissions/NoSeriesCopilotObjects.permissionset.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesCopilotImpl.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesGeneration.Page.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/Search/Classic/NoSeriesTextMatchImpl.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/Tools/NoSeriesCopAddIntent.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/Tools/NoSeriesCopChangeIntent.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/Tools/NoSeriesCopNxtYrIntent.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/Tools/NoSeriesCopToolsImpl.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Register/NoSeriesCopilotRegister.Codeunit.al
Labels: AL: Business Foundation

#2190 Fix unguarded record lookup which fails choosing email scenario with no email account
  src/System Application/App/Email/src/Scenario/EmailScenarioSetup.Page.al
Labels: AL: System Application

#2253 [main] Update BCArtifact version. New value: 26.0.25821.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2218 [AI Test Tool] Only show dialog when test lines exist
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuite.Page.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuite.Table.al
Labels: AL: Tools

#2257 [main] Update BCArtifact version. New value: 26.0.25853.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2129 Get rid of allowedsecretslist from app KV
  src/System Application/App/Azure Key Vault/app.json
  src/System Application/App/Azure Key Vault/src/AzureKeyVaultImpl.Codeunit.al
  src/System Application/Test/Azure Key Vault/src/AzureKeyVaultTest.Codeunit.al
  src/System Application/Test/Satisfaction Survey/src/SatisfactionSurveyTests.Codeunit.al
Labels: AL: System Application

#2256 Get applications from all market in the AppSource Apps list page.
  src/System Application/App/AppSource Gallery/src/AppSourceProductManager.Codeunit.al
Labels: AL: System Application

#2274 [24.0] Update app baselines package version. New value: 23.5.16502.26011
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2273 [25.0] Update app baselines package version. New value: 24.5.23489.26005
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2272 [main] Update app baselines package version. New value: 25.2.26015.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2271 [24.3] Update app baselines package version. New value: 24.2.20227.26013
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2270 [24.5] Update app baselines package version. New value: 24.4.22295.26006
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2269 [24.x] Update app translations package version. New value: 24.7.20241024.8
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2268 [24.2] Update app baselines package version. New value: 24.1.18927.26012
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2267 [24.4] Update app baselines package version. New value: 24.3.21374.26004
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2266 [25.x] Update app baselines package version. New value: 25.1.25885.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2265 [25.1] Update app baselines package version. New value: 25.0.23364.26007 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2264 [24.1] Update app baselines package version. New value: 24.0.16410.26010
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2261 [main] Update BCArtifact version. New value: 26.0.25899.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2260 [25.x] Update BCArtifact version. New value: bcinsider/Sandbox/25.2/base/latest
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2276 [main] Update BCArtifact version. New value: 26.0.26081.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2277 [releases/24.3] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - c62bf167f8c516d997bed1ed600a9d03d5093ad5
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2278 [releases/24.2] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - c62bf167f8c516d997bed1ed600a9d03d5093ad5
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2279 [releases/24.5] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - c62bf167f8c516d997bed1ed600a9d03d5093ad5
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2280 [main] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - c62bf167f8c516d997bed1ed600a9d03d5093ad5
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2281 [releases/24.1] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - c62bf167f8c516d997bed1ed600a9d03d5093ad5
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2282 [releases/24.4] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - c62bf167f8c516d997bed1ed600a9d03d5093ad5
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2283 [releases/24.0] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - c62bf167f8c516d997bed1ed600a9d03d5093ad5
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2284 [releases/25.1] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - c62bf167f8c516d997bed1ed600a9d03d5093ad5
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2285 [releases/25.x] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - c62bf167f8c516d997bed1ed600a9d03d5093ad5
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2286 [releases/25.0] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - c62bf167f8c516d997bed1ed600a9d03d5093ad5
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2288 [releases/24.x] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - c62bf167f8c516d997bed1ed600a9d03d5093ad5
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs
