Repository microsoft/BCApps, pull requests merged in 2024-06, with the labels that each got.

#1226 Add commit to resets
  src/System Application/App/Satisfaction Survey/src/SatisfactionSurveyImpl.Codeunit.al
Labels: AL: System Application

#1230 [main] Update BCArtifact version. New value: 25.0.20293.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1228 [24.0] Update BCArtifact version. New value: 24.0.16410.20290
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1227 [24.1] Update BCArtifact version. New value: 24.1.18927.20291
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1233 [releases/24.x] Add commit to resets
  src/System Application/App/Satisfaction Survey/src/SatisfactionSurveyImpl.Codeunit.al
Labels: AL: System Application

#1234 [releases/24.1] Add commit to resets
  src/System Application/App/Satisfaction Survey/src/SatisfactionSurveyImpl.Codeunit.al
Labels: AL: System Application

#1235 [releases/24.0] Add commit to resets
  src/System Application/App/Satisfaction Survey/src/SatisfactionSurveyImpl.Codeunit.al
Labels: AL: System Application

#1240 [releases/24.1] Revert added commits to SatisfactionSurvey resets.
  src/System Application/App/Satisfaction Survey/src/SatisfactionSurveyImpl.Codeunit.al
Labels: AL: System Application

#1241 [releases/24.0] Revert added commits to SatisfactionSurvey resets.
  src/System Application/App/Satisfaction Survey/src/SatisfactionSurveyImpl.Codeunit.al
Labels: AL: System Application

#1239 [releases/24.x] Revert added commits to SatisfactionSurvey resets.
  src/System Application/App/Satisfaction Survey/src/SatisfactionSurveyImpl.Codeunit.al
Labels: AL: System Application

#1238 Revert added commits to SatisfactionSurvey resets.
  src/System Application/App/Satisfaction Survey/src/SatisfactionSurveyImpl.Codeunit.al
Labels: AL: System Application

#1243 fix bug related to daily no. series lines
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesImpl.Codeunit.al
  src/Business Foundation/Test/NoSeries/src/NoSeriesBatchTests.Codeunit.al
Labels: AL: Business Foundation

#1253 [24.2] Update app baselines package version. New value: 24.1.18927.20357 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1254 [24.0] Update app baselines package version. New value: 23.5.16502.20333
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1252 [24.1] Update app baselines package version. New value: 24.0.16410.20359
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1255 [24.0] Update BCArtifact version. New value: 24.0.16410.20359
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1257 [main] Update BCArtifact version. New value: 25.0.20366.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1251 [24.x] Update app baselines package version. New value: 24.2.20355.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1258 [24.1] Update BCArtifact version. New value: 24.1.18927.20357
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1250 [main] Update app baselines package version. New value: 24.3.20365.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1259 [24.x] Update BCArtifact version. New value: 24.3.20365.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1246 [releases/24.1] fix bug related to daily no. series lines
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesImpl.Codeunit.al
  src/Business Foundation/Test/NoSeries/src/NoSeriesBatchTests.Codeunit.al
Labels: AL: Business Foundation

#1247 [releases/24.0] fix bug related to daily no. series lines
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesImpl.Codeunit.al
  src/Business Foundation/Test/NoSeries/src/NoSeriesBatchTests.Codeunit.al
Labels: AL: Business Foundation

#1244 [releases/24.x] fix bug related to daily no. series lines
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesImpl.Codeunit.al
  src/Business Foundation/Test/NoSeries/src/NoSeriesBatchTests.Codeunit.al
Labels: AL: Business Foundation

#1245 [releases/24.2] fix bug related to daily no. series lines
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesImpl.Codeunit.al
  src/Business Foundation/Test/NoSeries/src/NoSeriesBatchTests.Codeunit.al
Labels: AL: Business Foundation

#1265 [24.x] Update BCArtifact version. New value: 24.3.20415.0
  .github/AL-Go-Settings.json
  build/Packages.json
Labels: Automation, Build: Automation, Build: scripts & configs

#1261 [24.2] Update BCArtifact version. New value: 24.2.20227.20416
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1262 [24.1] Update BCArtifact version. New value: 24.1.18927.20417
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1263 [24.0] Update BCArtifact version. New value: 24.0.16410.20418
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1264 [main] Update BCArtifact version. New value: 25.0.20419.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1266 [24.x] Update BCArtifact version. New value: 24.3.20464.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1270 [24.0] Update BCArtifact version. New value: 24.0.16410.20505
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1272 [24.1] Update BCArtifact version. New value: 24.1.18927.20507
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1273 [24.2] Update BCArtifact version. New value: 24.2.20227.20513
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1274 [24.x] Update BCArtifact version. New value: 24.3.20516.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1260 [Copilot] Add authorization interface for managed resources
  src/System Application/App/AI/src/Azure OpenAI/AOAIAuthorization.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AOAIResourceUtilization.Enum.al
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAI.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
Labels: AL: System Application

#1281 [24.0] Update BCArtifact version. New value: 24.0.16410.20534
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1280 [24.x] Update BCArtifact version. New value: 24.3.20544.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1279 [24.1] Update BCArtifact version. New value: 24.1.18927.20535
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1278 [main] Update BCArtifact version. New value: 25.0.20538.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1277 [24.2] Update BCArtifact version. New value: 24.2.20227.20536
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1282 [Copilot] Use managed deployment instead of deployment when setting first party authorization
  src/System Application/App/AI/src/Azure OpenAI/AOAIAuthorization.Codeunit.al
Labels: AL: System Application

#1284 [24.x] Update app baselines package version. New value: 24.2.20227.20579 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1285 [24.2] Update app baselines package version. New value: 24.1.18927.20578
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1286 [main] Update app baselines package version. New value: 24.3.20605.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1287 [24.1] Update app baselines package version. New value: 24.0.16410.20592
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1288 [24.0] Update app baselines package version. New value: 23.5.16502.20560
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1293 [24.0] Update BCArtifact version. New value: 24.0.16410.20592
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1292 [24.1] Update BCArtifact version. New value: 24.1.18927.20578
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1291 [24.x] Update BCArtifact version. New value: 24.3.20605.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1289 [24.2] Update BCArtifact version. New value: 24.2.20227.20579
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1296 Suppress AL0667 on ProfileSystemScope
  src/System Application/App/User Settings/src/UserSettingsImpl.Codeunit.al
Labels: AL: System Application

#1295 [Copilot] First party authorization throws error when checking if configured
  src/System Application/App/AI/src/Azure OpenAI/AOAIAuthorization.Codeunit.al
Labels: AL: System Application

#1309 [24.0] Update BCArtifact version. New value: 24.0.16410.20652
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1308 [main] Update BCArtifact version. New value: 25.0.20655.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1307 [24.x] Update BCArtifact version. New value: 24.3.20650.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1306 [24.2] Update BCArtifact version. New value: 24.2.20227.20651
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1305 [24.1] Update BCArtifact version. New value: 24.1.18927.20653
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1297 Ignore eslint rule for SDK. Obsolete not used add-in.
  src/System Application/App/ControlAddIns/Resources/FlowIntegration/js/msflowsdk-1.1.1.144.min.js
  src/System Application/App/ControlAddIns/src/FlowIntegration.ControlAddin.al
  src/System Application/App/Resources/FlowIntegration/js/msflowsdk-1.1.1.144.min.js
Labels: AL: System Application

#1299 remove unnecessary upgrade code for No Series
  src/Business Foundation/App/NoSeries/src/Upgrade/NoSeriesInstaller.Codeunit.al
Labels: AL: Business Foundation

#1302 [24.x] remove unnecessary upgrade code for No Series
  src/Business Foundation/App/NoSeries/src/Upgrade/NoSeriesInstaller.Codeunit.al
Labels: AL: Business Foundation

#1300 [24.2] remove unnecessary upgrade code for No Series
  src/Business Foundation/App/NoSeries/src/Upgrade/NoSeriesInstaller.Codeunit.al
Labels: AL: Business Foundation

#1303 [24.1] remove unnecessary upgrade code for No Series
  src/Business Foundation/App/NoSeries/src/Upgrade/NoSeriesInstaller.Codeunit.al
Labels: AL: Business Foundation

#1304 [24.0] remove unnecessary upgrade code for No Series
  src/Business Foundation/App/NoSeries/src/Upgrade/NoSeriesInstaller.Codeunit.al
Labels: AL: Business Foundation

#1317 [HotFix][24.x]No Series Line should be picked in the order of Starting Date
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesImpl.Codeunit.al
Labels: AL: Business Foundation

#1318 [HotFix][24.2] No Series Line should be picked in the order of Starting Date
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesImpl.Codeunit.al
Labels: AL: Business Foundation

#1319 [HotFix][24.1]No Series Line should be picked in the order of Starting Date
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesImpl.Codeunit.al
Labels: AL: Business Foundation

#1321 [HotFix][24.0]No Series Line should be picked in the order of Starting Date
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesImpl.Codeunit.al
Labels: AL: Business Foundation

#1327 [24.0] Update BCArtifact version. New value: 24.0.16410.20709
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1326 [24.1] Update BCArtifact version. New value: 24.1.18927.20710
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1325 [24.x] Update BCArtifact version. New value: 24.3.20705.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1324 [main] Update BCArtifact version. New value: 25.0.20714.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1323 [24.2] Update BCArtifact version. New value: 24.2.20227.20697
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1314 Update AL-Go System Files
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1313 Update AL-Go System Files
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1312 Update AL-Go System Files
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1311 Update AL-Go System Files
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1310 Update AL-Go System Files
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1330 Private/qutreson/suppress user personalization scope
  src/System Application/App/Page Action Provider/src/PageActionProviderImpl.Codeunit.al
  src/System Application/App/User Settings/src/UserSettingsImpl.Codeunit.al
Labels: AL: System Application

#1337 [24.2] Update BCArtifact version. New value: 24.2.20227.20762
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1336 [main] Update BCArtifact version. New value: 25.0.20764.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1335 [24.0] Update BCArtifact version. New value: 24.0.16410.20760
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1334 [24.x] Update BCArtifact version. New value: 24.3.20759.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1333 [24.1] Update BCArtifact version. New value: 24.1.18927.20761
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1339 [24.1] Update BCArtifact version. New value: 24.1.18927.20810
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1340 [main] Update BCArtifact version. New value: 25.0.20818.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1341 [24.2] Update BCArtifact version. New value: 24.2.20227.20808
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1342 [24.0] Update BCArtifact version. New value: 24.0.16410.20811
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1343 [24.x] Update BCArtifact version. New value: 24.3.20814.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1349 Suppress AL0667 on ProfileSystemScope (#1296)
  src/System Application/App/User Settings/src/UserSettingsImpl.Codeunit.al
Labels: AL: System Application

#1348 Suppress AL0667 on ProfileSystemScope (#1296)
  src/System Application/App/User Settings/src/UserSettingsImpl.Codeunit.al
Labels: AL: System Application

#1347 Suppress AL0667 on ProfileSystemScope (#1296)
  src/System Application/App/User Settings/src/UserSettingsImpl.Codeunit.al
Labels: AL: System Application

#1345 Suppress AL0667 on ProfileSystemScope (#1296)
  src/System Application/App/User Settings/src/UserSettingsImpl.Codeunit.al
Labels: AL: System Application

#1329 Make Marketing Text support users having settings.language set to pt
  src/System Application/App/Entity Text/src/EntityTextAOAISettings.Codeunit.al
Labels: AL: System Application

#1358 [main] Update BCArtifact version. New value: 25.0.20897.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1360 [24.0] Update BCArtifact version. New value: 24.0.16410.20902
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1359 [24.1] Update BCArtifact version. New value: 24.1.18927.20890
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1357 [24.2] Update BCArtifact version. New value: 24.2.20227.20903
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1356 [24.x] Update BCArtifact version. New value: 24.3.20909.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1355 [24.0] Update app baselines package version. New value: 23.5.16502.20861
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1354 [main] Update app baselines package version. New value: 24.3.20901.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1353 [24.2] Update app baselines package version. New value: 24.1.18927.20890
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1352 [24.x] Update app baselines package version. New value: 24.2.20227.20903 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1351 [24.1] Update app baselines package version. New value: 24.0.16410.20902
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1361 Manually calculate Field Type in OnAfterGetCurrRecord
  src/System Application/App/Data Classification/src/DataClassificationWorksheet.Page.al
Labels: AL: System Application

#1365 [24.2] Update BCArtifact version. New value: 24.2.20227.20965
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1366 [24.x] Update BCArtifact version. New value: 24.3.20962.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1367 [main] Update BCArtifact version. New value: 25.0.20968.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1363 [24.1] Update BCArtifact version. New value: 24.1.18927.20964
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1364 [24.0] Update BCArtifact version. New value: 24.0.16410.20963
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1328 Duplicate resource file for AL error OnPrem
  src/System Application/App/ControlAddIns/Resources/emptyScript.js
  src/System Application/App/ControlAddIns/src/BarcodeScannerProviderAddIn.ControlAddIn.al
  src/System Application/App/ControlAddIns/src/CameraBarcodeScannerProviderAddIn.ControlAddIn.al
  src/System Application/App/Resources/emptyScript.js
Labels: AL: System Application

#1298 Update path for ruleset file
  .github/AL-Go-Settings.json
  build/projects/Business Foundation/.AL-Go/settings.json
  build/projects/Performance Toolkit/.AL-Go/settings.json
  build/projects/System Application Modules/.AL-Go/settings.json
  build/projects/System Application Tests/.AL-Go/settings.json
  build/projects/System Application/.AL-Go/settings.json
  build/projects/Test Framework/.AL-Go/settings.json
  build/projects/Test Stability Tools/.AL-Go/settings.json
Labels: Build: Automation, Build: scripts & configs

#1374 [24.0] Update BCArtifact version. New value: 24.0.16410.20986
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1373 [24.x] Update BCArtifact version. New value: 24.3.20999.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1372 [main] Update BCArtifact version. New value: 25.0.21002.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1370 [24.2] Update BCArtifact version. New value: 24.2.20227.20970
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1371 [24.1] Update BCArtifact version. New value: 24.1.18927.20975
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1369 Escape special characters in ABS Blob Storage blob filenames
  src/System Application/App/Azure Blob Services API/src/ABSOperationPayload.Codeunit.al
Labels: AL: System Application, From Fork, Linked, Integration

#1344 New pages for scheduled performance profiles
  src/System Application/App/Performance Profiler/app.json
  src/System Application/App/Performance Profiler/permissions/PerfProfilerTablesEdit.permissionset.al
  src/System Application/App/Performance Profiler/permissions/PerfProfilerTablesView.permissionset.al
  src/System Application/App/Performance Profiler/permissions/PerformanceProfilerObjects.PermissionSet.al
  src/System Application/App/Performance Profiler/src/PerfProfActivityMapper.Codeunit.al
  src/System Application/App/Performance Profiler/src/PerfProfileActivityType.enum.al
  src/System Application/App/Performance Profiler/src/PerfProfilerScheduleCard.Page.al
  src/System Application/App/Performance Profiler/src/PerfProfilerSchedulesList.Page.al
  src/System Application/App/Performance Profiler/src/PerformanceProfileList.Page.al
  src/System Application/App/Performance Profiler/src/PerformanceProfiler.Page.al
  src/System Application/App/Performance Profiler/src/PerformanceProfilerInstaller.Codeunit.al
  src/System Application/App/Performance Profiler/src/SamplingPerfProfilerImpl.Codeunit.al
  src/System Application/App/Performance Profiler/src/ScheduledPerfProfiler.Codeunit.al
  src/System Application/App/Performance Profiler/src/ScheduledPerfProfilerImpl.Codeunit.al
  src/System Application/App/Permissions/SystemTablesBasic.PermissionSet.al
  src/System Application/App/Retention Policy/src/Retention Policy Allowed Tables/RetenPolAllowedTblImpl.Codeunit.al
  src/System Application/App/Retention Policy/src/Retention Policy Setup/RetentionPolicySetup.Table.al
  src/System Application/Test/Performance Profiler/app.json
  src/System Application/Test/Performance Profiler/src/ScheduledPerfProfilingTest.Codeunit.al
Labels: AL: System Application

#1378 [24.0] Update BCArtifact version. New value: 24.0.16410.21040
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1379 [main] Update BCArtifact version. New value: 25.0.21052.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1380 [24.2] Update BCArtifact version. New value: 24.2.20227.21047
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1382 [24.x] Update BCArtifact version. New value: 24.3.21056.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1384 [24.x] Update BCArtifact version. New value: 24.3.21098.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1385 [24.1] Update BCArtifact version. New value: 24.1.18927.21093
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1386 [24.2] Update BCArtifact version. New value: 24.2.20227.21094
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1387 [24.0] Update BCArtifact version. New value: 24.0.16410.21082
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1388 [main] Update BCArtifact version. New value: 25.0.21097.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1375 [24.x] Duplicate resource file for AL error OnPrem
  src/System Application/App/ControlAddIns/Resources/emptyScript.js
  src/System Application/App/ControlAddIns/src/BarcodeScannerProviderAddIn.ControlAddIn.al
  src/System Application/App/ControlAddIns/src/CameraBarcodeScannerProviderAddIn.ControlAddIn.al
  src/System Application/App/Resources/emptyScript.js
Labels: AL: System Application

#1395 [main] Update BCArtifact version. New value: 25.0.21190.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1397 [24.2] Update BCArtifact version. New value: 24.2.20227.21188
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1396 [24.0] Update BCArtifact version. New value: 24.0.16410.21178
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1394 [24.1] Update BCArtifact version. New value: 24.1.18927.21189
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1393 [24.0] Update app baselines package version. New value: 23.5.16502.21172
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1392 [main] Update app baselines package version. New value: 24.3.21177.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1390 [24.x] Update app baselines package version. New value: 24.2.20227.21176 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1391 [24.1] Update app baselines package version. New value: 24.0.16410.21178
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1389 [24.2] Update app baselines package version. New value: 24.1.18927.21180
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1398 [24.x] Update BCArtifact version. New value: 24.3.21186.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1294 [24.x][Copilot] Add authorization interface for managed resources + Use managed deployment instead of deployment when setting first party authorization
  src/System Application/App/AI/src/Azure OpenAI/AOAIAuthorization.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AOAIResourceUtilization.Enum.al
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAI.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
Labels: AL: System Application

#1332 [PowerBI] Add more flexible options for embedding, enable client resizing
  src/System Application/App/ControlAddIns/Resources/PowerBIManagement/js/PowerBIManagement.js
  src/System Application/App/ControlAddIns/src/PowerBIManagement.ControlAddin.al
  src/System Application/App/Resources/PowerBIManagement/js/PowerBIManagement.js
  src/System Application/App/Resources/PowerBIManagement/stylesheets/PowerBIManagement.css
Labels: AL: System Application

#1404 [24.1] Update BCArtifact version. New value: 24.1.18927.21238
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1403 [24.2] Update BCArtifact version. New value: 24.2.20227.21239
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1402 [main] Update BCArtifact version. New value: 25.0.21245.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1401 [24.0] Update BCArtifact version. New value: 24.0.16410.21240
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1400 [24.x] Update BCArtifact version. New value: 24.3.21244.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1399 Fix retention policy allowed table issue and add test
  src/System Application/App/Retention Policy/src/Retention Policy Allowed Tables/RetenPolAllowedTblImpl.Codeunit.al
  src/System Application/Test/Performance Profiler/app.json
  src/System Application/Test/Performance Profiler/src/ScheduledPerfProfilingTest.Codeunit.al
Labels: AL: System Application

#1413 [24.x][Copilot] Pass capability name to ALCopilotFunctions
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
  src/System Application/App/DotNet Aliases/src/dotnet.al
Labels: AL: System Application

#1417 [24.2] Update BCArtifact version. New value: 24.2.20227.21302
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1416 [main] Update BCArtifact version. New value: 25.0.21299.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation
