Repository microsoft/BCApps, pull requests merged in 2024-07, with the labels that each got.

#1441 [main] Update BCArtifact version. New value: 25.0.21385.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1440 [24.3] Update BCArtifact version. New value: 24.3.21374.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1438 [24.1] Update BCArtifact version. New value: 24.1.18927.21358
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1426 [releases/24.0] GetNextNo should error when line is closed, not take a number from an earlier line
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesImpl.Codeunit.al
  src/Business Foundation/Test/NoSeries/Permissions/NoSeriesTest.PermissionSet.al
  src/Business Foundation/Test/NoSeries/src/NoSeriesTests.Codeunit.al
Labels: AL: Business Foundation

#1428 [releases/24.2] GetNextNo should error when line is closed, not take a number from an earlier line
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesImpl.Codeunit.al
  src/Business Foundation/Test/NoSeries/Permissions/NoSeriesTest.PermissionSet.al
  src/Business Foundation/Test/NoSeries/src/NoSeriesTests.Codeunit.al
Labels: AL: Business Foundation

#1427 [releases/24.1] GetNextNo should error when line is closed, not take a number from an earlier line
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesImpl.Codeunit.al
  src/Business Foundation/Test/NoSeries/Permissions/NoSeriesTest.PermissionSet.al
  src/Business Foundation/Test/NoSeries/src/NoSeriesTests.Codeunit.al
Labels: AL: Business Foundation

#1439 [24.0] Update BCArtifact version. New value: 24.0.16410.21355
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1429 Improve documentation and obsolete attribute for no. series refactoring
  src/Business Foundation/App/NoSeries/readme_refactoring.md
  src/Business Foundation/App/NoSeries/src/Legacy/NoSeriesManagement.Codeunit.al
Labels: From Fork, Linked, AL: Business Foundation, Integration

#1412 [Bug]: OptionalParams.SignedStart is not set/used in StorServAuthSAS.…
  src/System Application/App/Azure Storage Services Authorization/src/StorServAuthImpl.Codeunit.al
Labels: AL: System Application, From Fork, Linked, Integration

#995 Enable Telemetry for ISV
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIChatMessagesImpl.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotCapabilityImpl.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotSettings.Table.al
  src/System Application/App/AI/src/Copilot/CopilotTelemetry.Codeunit.al
  src/System Application/App/Telemetry/app.json
  src/System Application/App/Telemetry/src/Feature Telemetry/FeatureTelemetry.Codeunit.al
  src/System Application/App/Telemetry/src/Feature Telemetry/FeatureTelemetryImpl.Codeunit.al
  src/System Application/App/Telemetry/src/Logging/ALTelemetryScope.Enum.al
  src/System Application/App/Telemetry/src/Logging/Telemetry.Codeunit.al
  src/System Application/App/Telemetry/src/Logging/TelemetryImpl.Codeunit.al
  src/System Application/App/Telemetry/src/Logging/TelemetryLoggers.Codeunit.al
  src/System Application/App/Telemetry/src/Logging/TelemetryLoggersImpl.Codeunit.al
  src/System Application/Test/Telemetry/src/TelemetryLoggersTest.Codeunit.al
Labels: AL: System Application

#1445 [main] Update AL-Go System Files from microsoft/AL-Go-PTE@main - 81cff3d03e8fe6b88ee3fc0848594bfd4d9039a4
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1448 [24.2][Copilot] Pass capability name to ALCopilotFunctions
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
  src/System Application/App/DotNet Aliases/src/dotnet.al
Labels: AL: System Application

#1447 [24.1][Copilot] Pass capability name to ALCopilotFunctions
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
  src/System Application/App/DotNet Aliases/src/dotnet.al
Labels: AL: System Application

#1459 [main] Update BCArtifact version. New value: 25.0.21469.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1458 [24.0] Update BCArtifact version. New value: 24.0.16410.21465
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1457 [24.3] Update BCArtifact version. New value: 24.3.21374.21443
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1456 [24.1] Update BCArtifact version. New value: 24.1.18927.21466
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1455 [24.0] Update app baselines package version. New value: 23.5.16502.21459
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1454 [main] Update app baselines package version. New value: 24.3.21374.21443 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1453 [24.3] Update app baselines package version. New value: 24.2.20227.21467 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1452 [24.2] Update app baselines package version. New value: 24.1.18927.21466
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1451 [24.1] Update app baselines package version. New value: 24.0.16410.21465
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1437 [24.2] Update BCArtifact version. New value: 24.2.20227.21357
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1446 fixes an issue where a subscriber can no longer change the result from GetNextNo or PeekNextNo. The fix is for obsolete code only.
  src/Business Foundation/App/NoSeries/src/Legacy/NoSeriesManagement.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesImpl.Codeunit.al
Labels: AL: Business Foundation

#1464 [releases/24.0] fixes an issue where a subscriber can no longer change the result from GetNextNo or PeekNextNo. The fix is for obsolete code only.
  src/Business Foundation/App/NoSeries/src/Legacy/NoSeriesManagement.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesImpl.Codeunit.al
Labels: AL: Business Foundation

#1462 [releases/24.2] fixes an issue where a subscriber can no longer change the result from GetNextNo or PeekNextNo. The fix is for obsolete code only.
  src/Business Foundation/App/NoSeries/src/Legacy/NoSeriesManagement.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesImpl.Codeunit.al
Labels: AL: Business Foundation

#1460 [releases/24.x] fixes an issue where a subscriber can no longer change the result from GetNextNo or PeekNextNo. The fix is for obsolete code only.
  src/Business Foundation/App/NoSeries/src/Legacy/NoSeriesManagement.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesImpl.Codeunit.al
Labels: AL: Business Foundation

#1463 [releases/24.1] fixes an issue where a subscriber can no longer change the result from GetNextNo or PeekNextNo. The fix is for obsolete code only.
  src/Business Foundation/App/NoSeries/src/Legacy/NoSeriesManagement.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesImpl.Codeunit.al
Labels: AL: Business Foundation

#825 Updated devcontainer experience
  LOCAL_DEV_ENV.md
  build/scripts/DevEnv/ALDev.psm1
  build/scripts/DevEnv/DefaultLaunchSettings.json
  build/scripts/DevEnv/DefaultSettings.json
  build/scripts/DevEnv/NewDevContainer.psm1
  build/scripts/DevEnv/NewDevEnv.ps1
  build/scripts/DevEnv/NewDevEnv.psm1
  build/scripts/EnlistmentHelperFunctions.psm1
Labels: Build: scripts & configs, Linked

#1465 Clean up use of repoversion in projects
  build/projects/Business Foundation/.AL-Go/settings.json
  build/projects/Performance Toolkit/.AL-Go/settings.json
  build/projects/System Application Tests/.AL-Go/settings.json
  build/projects/System Application/.AL-Go/settings.json
  build/projects/Test Framework/.AL-Go/settings.json
Labels: Build: scripts & configs

#1471 [24.x] Update BCArtifact version. New value: 24.4.21521.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1470 [24.3] Update BCArtifact version. New value: 24.3.21374.21517
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1469 [24.0] Update BCArtifact version. New value: 24.0.16410.21514
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1468 [main] Update BCArtifact version. New value: 25.0.21520.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1467 [24.1] Update BCArtifact version. New value: 24.1.18927.21516
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1466 [24.2] Update BCArtifact version. New value: 24.2.20227.21515
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1483 [24.x] Update BCArtifact version. New value: 24.4.21546.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1482 [24.2] Update BCArtifact version. New value: 24.2.20227.21529
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1481 [main] Update BCArtifact version. New value: 25.0.21545.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1480 [24.3] Update BCArtifact version. New value: 24.3.21374.21547
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1444 Scheduled Profiler - Add event subscriber to link help page with schedules + profiling status on the schedules page
  src/System Application/App/Performance Profiler/src/PerfProfilerSchedulesList.Page.al
  src/System Application/App/Performance Profiler/src/PerformanceProfileList.Page.al
  src/System Application/App/Performance Profiler/src/ScheduledPerfProfiler.Codeunit.al
  src/System Application/App/Performance Profiler/src/ScheduledPerfProfilerImpl.Codeunit.al
  src/System Application/App/Performance Profiler/src/dotnet.al
Labels: AL: System Application

#1275 Model Upgrade and Function Calling added
  src/System Application/App/Entity Text/app.json
  src/System Application/App/Entity Text/src/EntityText.Codeunit.al
  src/System Application/App/Entity Text/src/EntityTextFactboxPart.Page.al
  src/System Application/App/Entity Text/src/EntityTextImpl.Codeunit.al
  src/System Application/App/Entity Text/src/EntityTextPart.Page.al
  src/System Application/App/Entity Text/src/EntityTextPrompts.Codeunit.al
  src/System Application/App/Entity Text/src/FunctionsImpl/GenerateProdMktAdFunction.Codeunit.al
  src/System Application/App/Entity Text/src/FunctionsImpl/MagicFunction.Codeunit.al
Labels: AL: System Application

#1478 Install AL Extension included in container
  build/scripts/DevEnv/NewDevEnv.ps1
  build/scripts/DevEnv/NewDevEnv.psm1
Labels: Build: scripts & configs

#1492 Nikolak/stefan maron review/ai test tooklit
  src/Tools/AI Test Toolkit/app.json
  src/Tools/AI Test Toolkit/src/AITTestContext.Codeunit.al
  src/Tools/AI Test Toolkit/src/AITTestRunner.Codeunit.al
  src/Tools/AI Test Toolkit/src/API/AITLogEntryAPI.Page.al
  src/Tools/AI Test Toolkit/src/API/AITSuiteAPI.Page.al
  src/Tools/AI Test Toolkit/src/API/AITSuiteLineAPI.Page.al
  src/Tools/AI Test Toolkit/src/CommandLineCard.Page.al
  src/Tools/AI Test Toolkit/src/Logs/AITLogEntries.Page.al
  src/Tools/AI Test Toolkit/src/Logs/AITLogEntry.Codeunit.al
  src/Tools/AI Test Toolkit/src/Logs/AITLogEntry.Table.al
  src/Tools/AI Test Toolkit/src/Logs/AITTestMethodLinesCompare.Page.al
  src/Tools/AI Test Toolkit/src/Logs/AITTestSuiteCompare.Page.al
  src/Tools/AI Test Toolkit/src/SampleTests/DemoSuite/SentenceValidator.Codeunit.al
  src/Tools/AI Test Toolkit/src/SampleTests/MarketingTextSample/MarketingTextQualityTest.Codeunit.al
  src/Tools/AI Test Toolkit/src/SampleTests/SalesLinesSuggestionsSample/SLSAccuracyTest.Codeunit.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITALTestSuiteMgt.Codeunit.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITLineStatus.Enum.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestMethodLine.Table.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestMethodLines.Page.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuite.Page.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuite.Table.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuiteImportExport.XmlPort.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuiteList.Page.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuiteMgt.Codeunit.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuiteStatus.Enum.al
  src/Tools/Test Framework/Test Runner/app.json
  src/Tools/Test Framework/Test Runner/src/TestMethodLine.Table.al
Labels: AL: Tools

#1461 [releases/24.3] fixes an issue where a subscriber can no longer change the result from GetNextNo or PeekNextNo. The fix is for obsolete code only.
  src/Business Foundation/App/NoSeries/src/Legacy/NoSeriesManagement.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesImpl.Codeunit.al
Labels: AL: Business Foundation

#1410 Add VS Code Request Manager module
  src/System Application/App/Entitlements/DelegatedAdminagentPartner.Entitlement.al
  src/System Application/App/Entitlements/DelegatedBCAdminAgentPartner.Entitlement.al
  src/System Application/App/Entitlements/DelegatedHelpdeskagentPartner.Entitlement.al
  src/System Application/App/Entitlements/Dynamics365AdminPartner.Entitlement.al
  src/System Application/App/Extension Management/app.json
  src/System Application/App/Extension Management/src/ExtensionManagement.Page.al
  src/System Application/App/Permissions/SystemApplicationAdmin.PermissionSet.al
  src/System Application/App/User Settings/src/UserSettings.Codeunit.al
  src/System Application/App/VS Code Integration/Permissions/VSCIntgrAdmin.PermissionSet.al
  src/System Application/App/VS Code Integration/README.md
  src/System Application/App/VS Code Integration/app.json
  src/System Application/App/VS Code Integration/src/VsCodeIntegration.Codeunit.al
  src/System Application/App/VS Code Integration/src/VsCodeIntegrationImpl.Codeunit.al
  src/System Application/App/VS Code Integration/src/dotnet.al
  src/System Application/Test/Vs Code Integration/app.json
  src/System Application/Test/Vs Code Integration/src/VSCodeIntegrationTest.Codeunit.al
Labels: AL: System Application

#1486 [24.0] Update BCArtifact version. New value: 24.0.16410.21569
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1487 [24.x] Update BCArtifact version. New value: 24.4.21579.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1489 [24.1] Update BCArtifact version. New value: 24.1.18927.21567
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1490 [main] Update BCArtifact version. New value: 25.0.21582.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1491 [24.3] Update BCArtifact version. New value: 24.3.21374.21561
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1322 AI Test Toolkit
  build/projects/AI Test Toolkit/.AL-Go/PreCompileApp.ps1
  build/projects/AI Test Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/AI Test Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/AI Test Toolkit/.AL-Go/settings.json
  src/Tools/AI Test Toolkit/Permissions/AITestToolKitRead.PermissionSet.al
  src/Tools/AI Test Toolkit/Permissions/AITestToolKitView.PermissionSet.al
  src/Tools/AI Test Toolkit/Permissions/AITestToolkit.PermissionSet.al
  src/Tools/AI Test Toolkit/Permissions/AITestToolkitObj.PermissionSet.al
  src/Tools/AI Test Toolkit/app.json
  src/Tools/AI Test Toolkit/logo/ExtensionLogo.png
  src/Tools/AI Test Toolkit/src/AITCommandLineCard.Page.al
  src/Tools/AI Test Toolkit/src/AITInstall.Codeunit.al
  src/Tools/AI Test Toolkit/src/AITTestContext.Codeunit.al
  src/Tools/AI Test Toolkit/src/AITTestContextImpl.Codeunit.al
  src/Tools/AI Test Toolkit/src/AITTestRunIteration.Codeunit.al
  src/Tools/AI Test Toolkit/src/API/AITLogEntryAPI.Page.al
  src/Tools/AI Test Toolkit/src/Logs/AITLogEntries.Page.al
  src/Tools/AI Test Toolkit/src/Logs/AITLogEntry.Codeunit.al
  src/Tools/AI Test Toolkit/src/Logs/AITLogEntry.Table.al
  src/Tools/AI Test Toolkit/src/Logs/AITTestMethodLinesCompare.Page.al
  src/Tools/AI Test Toolkit/src/Logs/AITTestSuiteCompare.Page.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITALTestSuiteMgt.Codeunit.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITLineStatus.Enum.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestMethodLine.Table.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestMethodLines.Page.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuite.Page.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuite.Table.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuiteImportExport.XmlPort.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuiteList.Page.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuiteMgt.Codeunit.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuiteStatus.Enum.al
  src/Tools/Test Framework/Test Runner/app.json
  src/Tools/Test Framework/Test Runner/permissions/TestRunnerExec.PermissionSet.al
  src/Tools/Test Framework/Test Runner/permissions/TestRunnerObj.PermissionSet.al
  src/Tools/Test Framework/Test Runner/src/ALTestRunnerResetEnvironment.Codeunit.al
  src/Tools/Test Framework/Test Runner/src/ALTestTool.Page.al
  src/Tools/Test Framework/Test Runner/src/CodeCoverage/ALCodeCoverage.Page.al
  src/Tools/Test Framework/Test Runner/src/CommandLineTestTool.Page.al
  src/Tools/Test Framework/Test Runner/src/DataDrivenTest/DDTCommandLineTestTool.PageExt.al
  src/Tools/Test Framework/Test Runner/src/DataDrivenTest/DataDrivenTestTool.PageExt.al
  src/Tools/Test Framework/Test Runner/src/DataDrivenTest/DataInputs/ExpandDataDrivenTests.Codeunit.al
  src/Tools/Test Framework/Test Runner/src/DataDrivenTest/DataInputs/TestInput.Codeunit.al
  src/Tools/Test Framework/Test Runner/src/DataDrivenTest/DataInputs/TestInput.Page.al
  src/Tools/Test Framework/Test Runner/src/DataDrivenTest/DataInputs/TestInput.Table.al
  src/Tools/Test Framework/Test Runner/src/DataDrivenTest/DataInputs/TestInputGroup.Table.al
  src/Tools/Test Framework/Test Runner/src/DataDrivenTest/DataInputs/TestInputGroups.Page.al
  src/Tools/Test Framework/Test Runner/src/DataDrivenTest/DataInputs/TestInputJson.Codeunit.al
  src/Tools/Test Framework/Test Runner/src/DataDrivenTest/DataInputs/TestInputMethodLine.TableExt.al
  src/Tools/Test Framework/Test Runner/src/DataDrivenTest/DataInputs/TestInputPart.Page.al
  src/Tools/Test Framework/Test Runner/src/DataDrivenTest/DataInputs/TestInputsManagement.Codeunit.al
  src/Tools/Test Framework/Test Runner/src/DataDrivenTest/DataOutputs/TestOutput.Codeunit.al
  src/Tools/Test Framework/Test Runner/src/DataDrivenTest/DataOutputs/TestOutput.Table.al
  src/Tools/Test Framework/Test Runner/src/DataDrivenTest/DataOutputs/TestOutputJson.Codeunit.al
  src/Tools/Test Framework/Test Runner/src/DataDrivenTest/DataOutputs/TestOutputs.Page.al
  src/Tools/Test Framework/Test Runner/src/TestMethodLine.Table.al
  src/Tools/Test Framework/Test Runner/src/TestRunnerGetMethods.Codeunit.al
  src/Tools/Test Framework/Test Runner/src/TestRunnerIsolDisabled.Codeunit.al
  src/Tools/Test Framework/Test Runner/src/TestRunnerMgt.Codeunit.al
  src/Tools/Test Framework/Test Runner/src/TestSuiteMgt.Codeunit.al
Labels: Build: scripts & configs, AL: Tools

#1494 [24.2] Update BCArtifact version. New value: 24.2.20227.21613
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1495 [24.x] Update BCArtifact version. New value: 24.4.21616.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1496 [main] Update BCArtifact version. New value: 25.0.21617.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1497 [24.1] Update BCArtifact version. New value: 24.1.18927.21622
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1498 [24.3] Update BCArtifact version. New value: 24.3.21374.21615
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1500 Revert Test Runner to v 25.0
  src/Tools/Test Framework/Test Runner/app.json
Labels: AL: Tools

#1499 [24.0] Update BCArtifact version. New value: 24.0.16410.21633
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1501 Scheduled Profiler - Fix permissions
  src/System Application/App/Performance Profiler/src/PerfProfilerScheduleCard.Page.al
  src/System Application/App/Performance Profiler/src/PerfProfilerSchedulesList.Page.al
Labels: AL: System Application

#1408 Bugfix nextmarker in AFSFileClientImpl.Codeunit
  src/System Application/App/Azure File Services API/src/AFSFileClientImpl.Codeunit.al
Labels: AL: System Application, From Fork, Linked, Integration

#1502 Features/BF_AuditCodes
  src/Business Foundation/App/AuditCodes/src/ReturnReason.Table.al
Labels: AL: Business Foundation

#1506 Add replicate data false properties
  src/Tools/Test Framework/Test Runner/src/DataDrivenTest/DataInputs/TestInput.Table.al
  src/Tools/Test Framework/Test Runner/src/DataDrivenTest/DataInputs/TestInputGroup.Table.al
  src/Tools/Test Framework/Test Runner/src/DataDrivenTest/DataOutputs/TestOutput.Table.al
Labels: AL: Tools

#1518 [24.x] Update BCArtifact version. New value: 24.4.21700.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1517 [24.3] Update BCArtifact version. New value: 24.3.21374.21695
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1516 [main] Update BCArtifact version. New value: 25.0.21703.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1515 [24.1] Update BCArtifact version. New value: 24.1.18927.21698
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1514 [24.0] Update BCArtifact version. New value: 24.0.16410.21699
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1513 [24.2] Update BCArtifact version. New value: 24.2.20227.21697
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1512 [24.0] Update app baselines package version. New value: 23.5.16502.21696
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1511 [24.3] Update app baselines package version. New value: 24.2.20227.21697
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1510 [24.2] Update app baselines package version. New value: 24.1.18927.21698
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1508 [main] Update app baselines package version. New value: 24.4.21700.0
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1507 [24.x] Update app baselines package version. New value: 24.3.21374.21695
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1526 Move objects out of the Cloud Manager scope
  src/System Application/App/VS Code Integration/Permissions/VSCIntgrAdmin.PermissionSet.al
  src/System Application/App/VS Code Integration/app.json
  src/System Application/App/VS Code Integration/src/VsCodeIntegration.Codeunit.al
  src/System Application/App/VS Code Integration/src/VsCodeIntegrationImpl.Codeunit.al
Labels: AL: System Application

#1527 [main] Update AL-Go System Files - 0aab342a0ddd80612fafbc5149c8e95b3476b12a
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/AI Test Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/AI Test Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1523 [releases/24.x] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 0aab342a0ddd80612fafbc5149c8e95b3476b12a
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1521 [releases/24.0] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 0aab342a0ddd80612fafbc5149c8e95b3476b12a
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1524 [releases/24.2] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 0aab342a0ddd80612fafbc5149c8e95b3476b12a
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1520 [releases/24.1] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 0aab342a0ddd80612fafbc5149c8e95b3476b12a
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1522 [releases/24.3] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 0aab342a0ddd80612fafbc5149c8e95b3476b12a
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1534 [main] Update BCArtifact version. New value: 25.0.21741.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1532 [24.0] Update BCArtifact version. New value: 24.0.16410.21743
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1531 [24.x] Update BCArtifact version. New value: 24.4.21738.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1530 [24.3] Update BCArtifact version. New value: 24.3.21374.21739
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1529 [24.1] Update BCArtifact version. New value: 24.1.18927.21740
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1533 [24.2] Update BCArtifact version. New value: 24.2.20227.21742
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1519 Fix empty No Series code in GetNoSeriesLine
  src/Business Foundation/App/NoSeries/src/Setup/NoSeriesSetupImpl.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Single/NoSeries.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesImpl.Codeunit.al
  src/Business Foundation/Test/NoSeries/src/NoSeriesTests.Codeunit.al
Labels: AL: Business Foundation

#1543 [24.2] Update BCArtifact version. New value: 24.2.20227.21781
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1542 [24.3] Update BCArtifact version. New value: 24.3.21374.21783
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1541 [24.0] Update BCArtifact version. New value: 24.0.16410.21764
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1540 [24.1] Update BCArtifact version. New value: 24.1.18927.21780
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1539 [main] Update BCArtifact version. New value: 25.0.21760.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1538 [24.x] Update BCArtifact version. New value: 24.4.21774.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1545 Improve error message
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesImpl.Codeunit.al
  src/Business Foundation/Test/NoSeries/src/NoSeriesTests.Codeunit.al
Labels: AL: Business Foundation

#1435 Remove Extension Marketplace and add details on Extension Settings
  src/System Application/App/AppSource Gallery/src/AppSourceExtensionManagement.PageExt.al
  src/System Application/App/AppSource Gallery/src/AppSourceMarketPlaceExtension.PageExt.al
  src/System Application/App/AppSource Gallery/src/AppSourceProductManager.Codeunit.al
  src/System Application/App/Extension Management/src/ExtensionInstallationImpl.Codeunit.al
  src/System Application/App/Extension Management/src/ExtensionManagement.Page.al
  src/System Application/App/Extension Management/src/ExtensionMarketplace.Codeunit.al
  src/System Application/App/Extension Management/src/ExtensionMarketplace.Page.al
  src/System Application/App/Extension Management/src/ExtensionSettings.Page.al
Labels: AL: System Application

#1552 [24.3] Update BCArtifact version. New value: 24.3.21374.21813
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1548 [24.1] Update BCArtifact version. New value: 24.1.18927.21812
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1551 [24.0] Update BCArtifact version. New value: 24.0.16410.21814
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1547 [main] Update BCArtifact version. New value: 25.0.21810.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1550 [24.x] Update BCArtifact version. New value: 24.4.21815.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1549 [24.2] Update BCArtifact version. New value: 24.2.20227.21811
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1537 [releases/24.x] Fix empty No Series code in GetNoSeriesLine
  src/Business Foundation/App/NoSeries/src/Setup/NoSeriesSetupImpl.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Single/NoSeries.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesImpl.Codeunit.al
  src/Business Foundation/Test/NoSeries/src/NoSeriesTests.Codeunit.al
Labels: AL: Business Foundation

#1553 Fix permissions for 'VS Code Integration - Admin'
  src/System Application/App/Entitlements/DelegatedAdminagentPartner.Entitlement.al
  src/System Application/App/Entitlements/DelegatedBCAdminAgentPartner.Entitlement.al
  src/System Application/App/Entitlements/DelegatedHelpdeskagentPartner.Entitlement.al
  src/System Application/App/Entitlements/Dynamics365AdminPartner.Entitlement.al
  src/System Application/App/VS Code Integration/Permissions/VSCIntgrAdmin.PermissionSet.al
Labels: AL: System Application

#1554 Data Driven Tests: Show better error message when parsing of JSONL fails
  src/Tools/Test Framework/Test Runner/src/DataDrivenTest/DataInputs/TestInputJson.Codeunit.al
  src/Tools/Test Framework/Test Runner/src/DataDrivenTest/DataInputs/TestInputsManagement.Codeunit.al
Labels: AL: Tools

#1563 [main] Update BCArtifact version. New value: 25.0.21881.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1565 [24.2] Update BCArtifact version. New value: 24.2.20227.21875
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1566 [24.3] Update BCArtifact version. New value: 24.3.21374.21873
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1567 [24.x] Update BCArtifact version. New value: 24.4.21878.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1564 [24.0] Update BCArtifact version. New value: 24.0.16410.21874
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1562 [24.1] Update BCArtifact version. New value: 24.1.18927.21876
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1570 [24X][Copilot] Marketing Text Improvements - Functions and GPT4o
  src/System Application/App/Entity Text/app.json
  src/System Application/App/Entity Text/src/EntityText.Codeunit.al
  src/System Application/App/Entity Text/src/EntityTextFactboxPart.Page.al
  src/System Application/App/Entity Text/src/EntityTextImpl.Codeunit.al
  src/System Application/App/Entity Text/src/EntityTextPart.Page.al
  src/System Application/App/Entity Text/src/EntityTextPrompts.Codeunit.al
  src/System Application/App/Entity Text/src/FunctionsImpl/GenerateProdMktAdFunction.Codeunit.al
  src/System Application/App/Entity Text/src/FunctionsImpl/MagicFunction.Codeunit.al
Labels: AL: System Application

#1586 [24.2] Update BCArtifact version. New value: 24.2.20227.21882
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1585 [24.0] Update BCArtifact version. New value: 24.0.16410.21899
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1584 [24.1] Update BCArtifact version. New value: 24.1.18927.21904
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1582 [main] Update BCArtifact version. New value: 25.0.21910.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1581 [24.3] Update BCArtifact version. New value: 24.3.21374.21898
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1580 [24.0] Update app baselines package version. New value: 23.5.16502.21869
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1579 [main] Update app baselines package version. New value: 24.4.21909.0
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1578 [24.3] Update app baselines package version. New value: 24.2.20227.21882
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1577 [24.1] Update app baselines package version. New value: 24.0.16410.21899
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1576 [24.x] Update app baselines package version. New value: 24.3.21374.21898
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1575 [24.2] Update app baselines package version. New value: 24.1.18927.21904
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1589 [No. Series] Test Library helper functions to create No. Series and Relationship
  src/Business Foundation/Test Library/NoSeries/src/LibraryNoSeries.Codeunit.al
Labels: AL: Business Foundation

#1594 [24.x] Update BCArtifact version. New value: 24.4.21986.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1593 [24.1] Update BCArtifact version. New value: 24.1.18927.21974
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1592 [24.0] Update BCArtifact version. New value: 24.0.16410.21990
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1591 [24.3] Update BCArtifact version. New value: 24.3.21374.21987
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1590 [24.2] Update BCArtifact version. New value: 24.2.20227.21988
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1595 [main] Update BCArtifact version. New value: 25.0.21993.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1588 [main] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 0aab342a0ddd80612fafbc5149c8e95b3476b12a
  .github/RELEASENOTES.copy.md
Labels: Build: Automation

#1572 [242][Copilot] Marketing Text Improvements - Functions and GPT4o
  src/System Application/App/Entity Text/app.json
  src/System Application/App/Entity Text/src/EntityText.Codeunit.al
  src/System Application/App/Entity Text/src/EntityTextFactboxPart.Page.al
  src/System Application/App/Entity Text/src/EntityTextImpl.Codeunit.al
  src/System Application/App/Entity Text/src/EntityTextPart.Page.al
  src/System Application/App/Entity Text/src/EntityTextPrompts.Codeunit.al
  src/System Application/App/Entity Text/src/FunctionsImpl/GenerateProdMktAdFunction.Codeunit.al
  src/System Application/App/Entity Text/src/FunctionsImpl/MagicFunction.Codeunit.al
Labels: AL: System Application

#1569 [240][Copilot] Marketing Text Improvements - Functions and GPT4o
  src/System Application/App/AI/app.json
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIChatComplParamsImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIChatCompletionParams.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIChatMessages.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIChatMessagesImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIChatRoles.Enum.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIToolsImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/Tools/AOAIFunction.Interface.al
  src/System Application/App/AI/src/Azure OpenAI/Operation Response/AOAIFunctionResponse.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Operation Response/AOAIOperationResponse.Codeunit.al
  src/System Application/App/Entity Text/app.json
  src/System Application/App/Entity Text/src/EntityText.Codeunit.al
  src/System Application/App/Entity Text/src/EntityTextFactboxPart.Page.al
  src/System Application/App/Entity Text/src/EntityTextImpl.Codeunit.al
  src/System Application/App/Entity Text/src/EntityTextPart.Page.al
  src/System Application/App/Entity Text/src/EntityTextPrompts.Codeunit.al
  src/System Application/App/Entity Text/src/FunctionsImpl/GenerateProdMktAdFunction.Codeunit.al
  src/System Application/App/Entity Text/src/FunctionsImpl/MagicFunction.Codeunit.al
  src/System Application/Test/AI/app.json
  src/System Application/Test/AI/src/AzureOpenAIToolsTest.Codeunit.al
  src/System Application/Test/AI/src/Functions/BadTestFunction1.Codeunit.al
  src/System Application/Test/AI/src/Functions/BadTestFunction2.Codeunit.al
  src/System Application/Test/AI/src/Functions/TestFunction1.Codeunit.al
  src/System Application/Test/AI/src/Functions/TestFunction2.Codeunit.al
Labels: AL: System Application

#1573 [241][Copilot] Marketing Text Improvements - Functions and GPT4o
  src/System Application/App/AI/app.json
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIChatComplParamsImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIChatCompletionParams.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIChatMessages.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIChatMessagesImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIChatRoles.Enum.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIToolsImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/Tools/AOAIFunction.Interface.al
  src/System Application/App/AI/src/Azure OpenAI/Operation Response/AOAIFunctionResponse.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Operation Response/AOAIOperationResponse.Codeunit.al
  src/System Application/App/Entity Text/app.json
  src/System Application/App/Entity Text/src/EntityText.Codeunit.al
  src/System Application/App/Entity Text/src/EntityTextFactboxPart.Page.al
  src/System Application/App/Entity Text/src/EntityTextImpl.Codeunit.al
  src/System Application/App/Entity Text/src/EntityTextPart.Page.al
  src/System Application/App/Entity Text/src/EntityTextPrompts.Codeunit.al
  src/System Application/App/Entity Text/src/FunctionsImpl/GenerateProdMktAdFunction.Codeunit.al
  src/System Application/App/Entity Text/src/FunctionsImpl/MagicFunction.Codeunit.al
  src/System Application/Test/AI/app.json
  src/System Application/Test/AI/src/AzureOpenAIToolsTest.Codeunit.al
  src/System Application/Test/AI/src/Functions/BadTestFunction1.Codeunit.al
  src/System Application/Test/AI/src/Functions/BadTestFunction2.Codeunit.al
  src/System Application/Test/AI/src/Functions/TestFunction1.Codeunit.al
  src/System Application/Test/AI/src/Functions/TestFunction2.Codeunit.al
Labels: AL: System Application

#1604 Update dependency version in Entity Text app.json
  src/System Application/App/Entity Text/app.json
Labels: AL: System Application

#1610 [24.3] Update BCArtifact version. New value: 24.3.21374.22091
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1609 [24.x] Update BCArtifact version. New value: 24.4.22094.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1608 [24.1] Update BCArtifact version. New value: 24.1.18927.22093
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1607 [24.0] Update BCArtifact version. New value: 24.0.16410.22090
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1605 [main] Update BCArtifact version. New value: 25.0.22097.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1606 [24.2] Update BCArtifact version. New value: 24.2.20227.22092
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1612 Bugs/540527 AI test toolkit fix pending code review comments and minor improvements
  src/Tools/AI Test Toolkit/src/AITCommandLineCard.Page.al
  src/Tools/AI Test Toolkit/src/API/AITLogEntryAPI.Page.al
  src/Tools/AI Test Toolkit/src/Logs/AITLogEntries.Page.al
  src/Tools/AI Test Toolkit/src/Logs/AITTestMethodLinesCompare.Page.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITALTestSuiteMgt.Codeunit.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestMethodLine.Table.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestMethodLines.Page.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuite.Page.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuite.Table.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuiteList.Page.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuiteMgt.Codeunit.al
Labels: AL: Tools

#1624 [24.2] Update BCArtifact version. New value: 24.2.20227.22123
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1623 [24.x] Update BCArtifact version. New value: 24.4.22126.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1621 [24.1] Update BCArtifact version. New value: 24.1.18927.22100
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1622 [24.0] Update BCArtifact version. New value: 24.0.16410.22101
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1620 [main] Update BCArtifact version. New value: 25.0.22130.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1613 [24.1] Update app baselines package version. New value: 24.0.16410.22101
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1619 [24.3] Update BCArtifact version. New value: 24.3.21374.22127
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1614 [main] Update app baselines package version. New value: 24.4.22126.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs
