Repository microsoft/BCApps, pull requests merged in 2024-08, with the labels that each got.

#764 [Copilot No. Series] Number series copilot
  .gitignore
  src/Business Foundation/App/NoSeriesCopilot/Permissions/NoSeriesCopilotObjects.permissionset.al
  src/Business Foundation/App/NoSeriesCopilot/Readme.md
  src/Business Foundation/App/NoSeriesCopilot/app.json
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesCopilotImpl.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesExt.PageExt.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesGeneration.Page.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesGeneration.Table.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesGenerationDetail.Table.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesGenerationSub.Page.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/Tools/NoSeriesCopAddIntent.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/Tools/NoSeriesCopChangeIntent.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/Tools/NoSeriesCopGenerate.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/Tools/NoSeriesCopNxtYrIntent.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/Tools/NoSeriesCopToolsImpl.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/Tools/RecordMatchImpl.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Register/NoSeriesCopilotCap.EnumExt.al
  src/Business Foundation/App/NoSeriesCopilot/src/Register/NoSeriesCopilotInstall.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Register/NoSeriesCopilotRegister.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Upgrade/NoSeriesCopilotUpgrTags.Codeunit.al
Labels: From Fork, Linked, AL: Business Foundation, Integration

#1699 [24.1] Update BCArtifact version. New value: 24.1.18927.22463
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1698 [24.x] Update BCArtifact version. New value: 24.5.22483.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1697 [24.0] Update BCArtifact version. New value: 24.0.16410.22464
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1696 [main] Update BCArtifact version. New value: 25.0.22475.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1695 [24.2] Update BCArtifact version. New value: 24.2.20227.22462
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1694 [24.3] Update BCArtifact version. New value: 24.3.21374.22480
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1704 [24.0] Update BCArtifact version. New value: 24.0.16410.22532
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1703 [24.2] Update BCArtifact version. New value: 24.2.20227.22536
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1702 [24.1] Update BCArtifact version. New value: 24.1.18927.22531
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1701 [24.x] Update BCArtifact version. New value: 24.5.22533.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1700 [24.3] Update BCArtifact version. New value: 24.3.21374.22530
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1706 [No Series Copilot] Uptake new AI SDK changes to tool calling
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesCopilotImpl.Codeunit.al
Labels: AL: Business Foundation

#1638 [Email] Fix permissions
  src/System Application/App/Email/src/Email/EmailImpl.Codeunit.al
  src/System Application/App/Email/src/Message/EmailMessageImpl.Codeunit.al
Labels: AL: System Application

#1707 AI Test Toolkit: Update telemetry
  src/Tools/AI Test Toolkit/src/AITCommandLineCard.Page.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestMethodLines.Page.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuite.Page.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuiteMgt.Codeunit.al
  src/Tools/Test Framework/Test Runner/src/DataDrivenTest/DataInputs/TestInputsManagement.Codeunit.al
Labels: AL: Tools

#1718 [24.1] Update BCArtifact version. New value: 24.1.18927.22603
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1717 [main] Update BCArtifact version. New value: 25.0.22611.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1716 [24.0] Update BCArtifact version. New value: 24.0.16410.22602
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1714 [24.3] Update BCArtifact version. New value: 24.3.21374.22601
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1713 [24.x] Update BCArtifact version. New value: 24.5.22610.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1715 [24.2] Update BCArtifact version. New value: 24.2.20227.22600
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1739 [24.x] Update BCArtifact version. New value: 24.5.22632.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1738 [24.4] Update BCArtifact version. New value: 24.4.22295.22621
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1736 [24.1] Update BCArtifact version. New value: 24.1.18927.22617
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1735 [main] Update BCArtifact version. New value: 25.0.22637.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1734 [24.3] Update BCArtifact version. New value: 24.3.21374.22624
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1733 [24.4] Update app baselines package version. New value: 24.3.21374.22624
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1732 [main] Update app baselines package version. New value: 24.5.22632.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1730 [24.1] Update app baselines package version. New value: 24.0.16410.22602
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1729 [24.3] Update app baselines package version. New value: 24.2.20227.22625
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1728 [24.x] Update app baselines package version. New value: 24.4.22295.22621
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1727 [24.2] Update app baselines package version. New value: 24.1.18927.22617
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1737 [24.2] Update BCArtifact version. New value: 24.2.20227.22625
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1726 [Email] Allow filtering of EmailAccounts page to only v2 accounts
  src/System Application/App/Email/src/Account/EmailAccounts.Page.al
Labels: AL: System Application

#1731 [24.0] Update app baselines package version. New value: 23.5.16502.22599
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1503 entitlements for Business Foundation
  src/Business Foundation/App/Entitlements/AzureADApplicationApi.Entitlement.al
  src/Business Foundation/App/Entitlements/AzureADApplicationAutomation.Entitlement.al
  src/Business Foundation/App/Entitlements/D365BusinessCentralInfrastructure.Entitlement.al
  src/Business Foundation/App/Entitlements/DelegatedAdminagentPartner.Entitlement.al
  src/Business Foundation/App/Entitlements/DelegatedBCAdminAgentPartner.Entitlement.al
  src/Business Foundation/App/Entitlements/DelegatedHelpdeskagentPartner.Entitlement.al
  src/Business Foundation/App/Entitlements/Dynamics365AccountantHub.Entitlement.al
  src/Business Foundation/App/Entitlements/Dynamics365AdminPartner.Entitlement.al
  src/Business Foundation/App/Entitlements/Dynamics365Administrator.Entitlement.al
  src/Business Foundation/App/Entitlements/Dynamics365BusinessCentralBasicFinancials.Entitlement.al
  src/Business Foundation/App/Entitlements/Dynamics365BusinessCentralDevice.Entitlement.al
  src/Business Foundation/App/Entitlements/Dynamics365BusinessCentralDeviceEmbedded.Entitlement.al
  src/Business Foundation/App/Entitlements/Dynamics365BusinessCentralEssentialAttach.Entitlement.al
  src/Business Foundation/App/Entitlements/Dynamics365BusinessCentralEssentialEmbedded.Entitlement.al
  src/Business Foundation/App/Entitlements/Dynamics365BusinessCentralEssentials.Entitlement.al
  src/Business Foundation/App/Entitlements/Dynamics365BusinessCentralExternalAccountant.Entitlement.al
  src/Business Foundation/App/Entitlements/Dynamics365BusinessCentralPremium.Entitlement.al
  src/Business Foundation/App/Entitlements/Dynamics365BusinessCentralPremiumEmbedded.Entitlement.al
  src/Business Foundation/App/Entitlements/Dynamics365BusinessCentralPremiumPartnerSandbox.Entitlement.al
  src/Business Foundation/App/Entitlements/Dynamics365BusinessCentralTeamMember.Entitlement.al
  src/Business Foundation/App/Entitlements/Dynamics365BusinessCentralTeamMemberEmbedded.Entitlement.al
  src/Business Foundation/App/Entitlements/Dynamics365BusinessCentralforIWs.Entitlement.al
  src/Business Foundation/App/Entitlements/InternalAdministrator.Entitlement.al
  src/Business Foundation/App/Entitlements/InternalBCAdministrator.Entitlement.al
  src/Business Foundation/App/Entitlements/Microsoft365.Entitlement.al
Labels: AL: Business Foundation

#1742 NoSeries Copilot ps not included in BF permissionset
  src/Business Foundation/App/NoSeriesCopilot/Permissions/NoSeriesCopilotObjects.permissionset.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesCopilotImpl.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/Tools/RecordMatchImpl.Codeunit.al
Labels: AL: Business Foundation

#1723 Exposing all visible and available record fields of a given page from Page Summary module.
  src/System Application/App/Page Summary Provider/src/PageSummaryProvider.Codeunit.al
  src/System Application/App/Page Summary Provider/src/PageSummaryProviderImpl.Codeunit.al
  src/System Application/Test Library/Page Summary Provider/src/PageSummaryTestCard.Page.al
  src/System Application/Test/Page Summary Provider/src/PageSummaryProviderTest.Codeunit.al
Labels: AL: System Application

#1752 [24.4] Update BCArtifact version. New value: 24.4.22295.22671
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1751 [24.3] Update BCArtifact version. New value: 24.3.21374.22670
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1750 [24.2] Update BCArtifact version. New value: 24.2.20227.22674
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1749 [24.0] Update BCArtifact version. New value: 24.0.16410.22672
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1748 [main] Update BCArtifact version. New value: 25.0.22675.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1747 [24.1] Update BCArtifact version. New value: 24.1.18927.22673
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1746 [24.x] Update BCArtifact version. New value: 24.5.22668.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1760 [releases/24.2] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 4fd6c113536be76423b0eafc1b60e0ea8d077042
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1759 [main] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 4fd6c113536be76423b0eafc1b60e0ea8d077042
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/AI Test Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/AI Test Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1758 [releases/24.3] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 4fd6c113536be76423b0eafc1b60e0ea8d077042
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1757 [releases/24.1] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 4fd6c113536be76423b0eafc1b60e0ea8d077042
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1754 [releases/24.0] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 4fd6c113536be76423b0eafc1b60e0ea8d077042
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1744 Remove BCApps telemetry app insights
  .github/AL-Go-Settings.json
Labels: Build: Automation

#1745 Add Register Copilot Capability procedure for specific app id to Copilot Test Library
  src/System Application/Test Library/AI/src/CopilotTestLibrary.Codeunit.al
Labels: AL: System Application

#1775 [main] Update BCArtifact version. New value: 25.0.22721.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1774 [24.x] Update BCArtifact version. New value: 24.5.22728.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1772 [24.0] Update BCArtifact version. New value: 24.0.16410.22726
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1771 [24.1] Update BCArtifact version. New value: 24.1.18927.22708
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1770 [24.2] Update BCArtifact version. New value: 24.2.20227.22710
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1769 [24.3] Update BCArtifact version. New value: 24.3.21374.22729
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1776 [24.1] Update BCArtifact version. New value: 24.1.18927.22747
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1777 [main] Update BCArtifact version. New value: 25.0.22758.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1778 [24.x] Update BCArtifact version. New value: 24.5.22759.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1779 [24.3] Update BCArtifact version. New value: 24.3.21374.22745
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1780 [24.2] Update BCArtifact version. New value: 24.2.20227.22746
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1781 [24.4] Update BCArtifact version. New value: 24.4.22295.22744
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1782 [24.0] Update BCArtifact version. New value: 24.0.16410.22743
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1720 Feature Management. Add an overload to IsEnabled procedure.
  src/System Application/App/Feature Key/src/FeatureManagementFacade.Codeunit.al
  src/System Application/App/Feature Key/src/FeatureManagementImpl.Codeunit.al
  src/System Application/Test/Feature Key/src/FeatureKeyTest.Codeunit.al
Labels: AL: System Application

#1789 [main] Update BCArtifact version. New value: 25.0.22800.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1796 [24.x] Update BC Artifact to latest
  .github/AL-Go-Settings.json
Labels: Build: Automation

#1795 [24.4] Update BC Artifact to latest
  .github/AL-Go-Settings.json
Labels: Build: Automation

#1794 [24.3] Update BC Artifact to latest
  .github/AL-Go-Settings.json
Labels: Build: Automation

#1793 [24.2] Update BC Artifact to latest
  .github/AL-Go-Settings.json
Labels: Build: Automation

#1792 [24.1] Update BC Artifact to latest
  .github/AL-Go-Settings.json
Labels: Build: Automation

#1783 [24.0] Update BC Artifact to latest
  .github/AL-Go-Settings.json
Labels: Build: Automation

#1784 Add Register Copilot Capability for specific app id procedure to "Copilot Test Library"
  src/System Application/Test Library/AI/src/CopilotTestLibrary.Codeunit.al
Labels: AL: System Application

#1808 [main] Update BCArtifact version. New value: 25.0.22882.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1807 [24.0] Update app baselines package version. New value: 23.5.16502.22860
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1806 [main] Update app baselines package version. New value: 24.5.22880.0
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1805 [24.3] Update app baselines package version. New value: 24.2.20227.22873
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1804 [24.2] Update app baselines package version. New value: 24.1.18927.22867
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1803 [24.4] Update app baselines package version. New value: 24.3.21374.22870
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1802 [24.x] Update app baselines package version. New value: 24.4.22295.22879
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1801 [24.1] Update app baselines package version. New value: 24.0.16410.22868
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1800 [24.x] Feature Management. Add an overload to IsEnabled procedure. (#1720)
  src/System Application/App/Feature Key/src/FeatureManagementFacade.Codeunit.al
  src/System Application/App/Feature Key/src/FeatureManagementImpl.Codeunit.al
  src/System Application/Test/Feature Key/src/FeatureKeyTest.Codeunit.al
Labels: AL: System Application

#1693 Add Source Control details to Extension Settings
  src/System Application/App/Extension Management/src/ExtensionSettings.Page.al
Labels: AL: System Application

#1810 Remove "D365 EXTENSION MGT" permission set
  src/System Application/App/Extension Management/permissions/d365extensionmgt.PermissionSet.al
Labels: AL: System Application

#1813 [releases/24.0] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 0fa5d001900cac6ce60dcb2170b620dd3694dafd
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1814 [releases/24.2] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 0fa5d001900cac6ce60dcb2170b620dd3694dafd
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1815 [releases/24.4] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 0fa5d001900cac6ce60dcb2170b620dd3694dafd
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1816 [releases/24.x] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 0fa5d001900cac6ce60dcb2170b620dd3694dafd
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1817 [releases/24.3] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 0fa5d001900cac6ce60dcb2170b620dd3694dafd
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1818 [releases/24.1] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 0fa5d001900cac6ce60dcb2170b620dd3694dafd
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1819 [main] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 0fa5d001900cac6ce60dcb2170b620dd3694dafd
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/AI Test Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/AI Test Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1811 [main] Update BCArtifact version. New value: 25.0.22930.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1812 Scheduled Profiler - Bugfixes from testing
  src/System Application/App/Performance Profiler/src/PerfProfilerScheduleCard.Page.al
  src/System Application/App/Performance Profiler/src/PerformanceProfileList.Page.al
  src/System Application/App/Performance Profiler/src/ScheduledPerfProfiler.Codeunit.al
  src/System Application/App/Performance Profiler/src/ScheduledPerfProfilerImpl.Codeunit.al
Labels: AL: System Application

#1822 [main] Update BCArtifact version. New value: 25.0.22978.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1823 Sort available profiles by caption (= display name)
  src/System Application/App/User Settings/src/UserSettingsImpl.Codeunit.al
Labels: AL: System Application

#1825 [main] Update BCArtifact version. New value: 25.0.23006.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1833 [main] Update BCArtifact version. New value: 25.0.23040.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1821 [AI Test Tool] Add support for multi-turn testing
  src/Tools/AI Test Toolkit/src/AITTestContext.Codeunit.al
  src/Tools/AI Test Toolkit/src/AITTestContextImpl.Codeunit.al
Labels: AL: Tools

#1832 [releases/24.4] Authentication failure when Get/Post request is sent to Azure Function multiple times with the same authentication parameters
  src/System Application/App/Azure Function/AzureFunctionsAuthentication.Codeunit.al
  src/System Application/App/Azure Function/AzureFunctionsOAuth2Cert.Codeunit.al
Labels: AL: System Application

#1831 [releases/24.3] Authentication failure when Get/Post request is sent to Azure Function multiple times with the same authentication parameters
  src/System Application/App/Azure Function/AzureFunctionsAuthentication.Codeunit.al
  src/System Application/App/Azure Function/AzureFunctionsOAuth2Cert.Codeunit.al
Labels: AL: System Application

#1830 [releases/24.2] Authentication failure when Get/Post request is sent to Azure Function multiple times with the same authentication parameters
  src/System Application/App/Azure Function/AzureFunctionsAuthentication.Codeunit.al
  src/System Application/App/Azure Function/AzureFunctionsOAuth2Cert.Codeunit.al
Labels: AL: System Application

#1829 [releases/24.1] Authentication failure when Get/Post request is sent to Azure Function multiple times with the same authentication parameters
  src/System Application/App/Azure Function/AzureFunctionsAuthentication.Codeunit.al
  src/System Application/App/Azure Function/AzureFunctionsOAuth2Cert.Codeunit.al
Labels: AL: System Application

#1828 [releases/24.0] Authentication failure when Get/Post request is sent to Azure Function multiple times with the same authentication parameters
  src/System Application/App/Azure Function/AzureFunctionsAuthentication.Codeunit.al
  src/System Application/App/Azure Function/AzureFunctionsOAuth2Cert.Codeunit.al
Labels: AL: System Application

#1826 [24.x] Authentication failure when Get/Post request is sent to Azure Function multiple times with the same authentication parameters
  src/System Application/App/Azure Function/AzureFunctionsAuthentication.Codeunit.al
  src/System Application/App/Azure Function/AzureFunctionsOAuth2Cert.Codeunit.al
Labels: AL: System Application

#1820 Show action
  src/System Application/App/AppSource Gallery/src/AppSourceExtensionManagement.PageExt.al
Labels: AL: System Application

#1843 [main] Update BCArtifact version. New value: 25.0.23100.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1842 [24.0] Update app baselines package version. New value: 23.5.16502.23069
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1841 [24.1] Update app baselines package version. New value: 24.0.16410.23074
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1840 [24.2] Update app baselines package version. New value: 24.1.18927.23075
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1839 [main] Update app baselines package version. New value: 24.5.23101.0
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1838 [24.x] Update app baselines package version. New value: 24.4.22295.23050
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1837 [24.3] Update app baselines package version. New value: 24.2.20227.23090
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1836 [24.4] Update app baselines package version. New value: 24.3.21374.23073
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1844 Add Refresh Allowed Tables action to Retention Policy list page
  src/System Application/App/Retention Policy/src/Retention Policy Setup/RetentionPolicySetupCard.Page.al
  src/System Application/App/Retention Policy/src/Retention Policy Setup/RetentionPolicySetupList.Page.al
Labels: AL: System Application

#1845 [main] Update BCArtifact version. New value: 25.0.23141.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1849 [releases/24.1] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 73f489ec1d9a34fa2ed69fbafd5e0ec9bd67f48b
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1850 [releases/24.3] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 73f489ec1d9a34fa2ed69fbafd5e0ec9bd67f48b
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1851 [releases/24.0] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 73f489ec1d9a34fa2ed69fbafd5e0ec9bd67f48b
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1852 [releases/24.2] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 73f489ec1d9a34fa2ed69fbafd5e0ec9bd67f48b
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1848 [releases/24.4] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 73f489ec1d9a34fa2ed69fbafd5e0ec9bd67f48b
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1827 [Copilot] Deprecate gpt35 deployment and add gpt4o & gpt4omini deployments
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesCopilotImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AOAIDeployments.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AOAIDeploymentsImpl.Codeunit.al
  src/System Application/App/Entity Text/src/EntityTextImpl.Codeunit.al
Labels: AL: System Application, AL: Business Foundation

#1858 [main] Update BCArtifact version. New value: 25.0.23170.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1861 AI Test Toolkit: Remove AOAI Model Version
  src/Tools/AI Test Toolkit/src/AITTestContext.Codeunit.al
  src/Tools/AI Test Toolkit/src/AITTestContextImpl.Codeunit.al
  src/Tools/AI Test Toolkit/src/API/AITLogEntryAPI.Page.al
  src/Tools/AI Test Toolkit/src/Logs/AITLogEntry.Table.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuite.Page.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuite.Table.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuiteImportExport.XmlPort.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuiteMgt.Codeunit.al
Labels: AL: Tools

#1854 Page Summary provider - Add ability to exclude media, media set and blobs from page summary provider
  src/System Application/App/Page Summary Provider/permissions/PageSummaryProviderObj.PermissionSet.al
  src/System Application/App/Page Summary Provider/src/PageSummaryParameters.Table.al
  src/System Application/App/Page Summary Provider/src/PageSummaryProvider.Codeunit.al
  src/System Application/App/Page Summary Provider/src/PageSummaryProviderImpl.Codeunit.al
  src/System Application/App/Page Summary Provider/src/PageSummarySettings.Table.al
  src/System Application/Test Library/Page Summary Provider/Permissions/PageSumAdminTest.PermissionSet.al
  src/System Application/Test Library/Page Summary Provider/Permissions/PageSummaryRead.PermissionSet.al
  src/System Application/Test Library/Page Summary Provider/app.json
  src/System Application/Test Library/Page Summary Provider/src/PageProviderSummaryTest3.Table.al
  src/System Application/Test Library/Page Summary Provider/src/PageSummaryMediaTestCard.Page.al
  src/System Application/Test/Page Summary Provider/src/PageSummaryProviderTest.Codeunit.al
Labels: AL: System Application

#1857 #1855 Base64 convert for secret text
  src/System Application/App/Base64 Convert/src/Base64Convert.Codeunit.al
  src/System Application/App/Base64 Convert/src/Base64ConvertImpl.Codeunit.al
Labels: AL: System Application, From Fork, Linked, Integration

#1862 Only disregard cache for the user login table when updating the login time tracker
  src/System Application/App/User Login Times/src/UserLoginTimeTrackerImpl.Codeunit.al
Labels: AL: System Application

#1853 Unix Timestamp
  src/System Application/App/Date and Time/src/UnixTimestamp.Codeunit.al
  src/System Application/App/Date and Time/src/UnixTimestampImpl.Codeunit.al
  src/System Application/Test/Date and Time/app.json
  src/System Application/Test/Date and Time/src/UnixTimestampTest.Codeunit.al
Labels: AL: System Application, From Fork, Linked, Integration

#1866 Build System Application together with test framework and other tools
  build/projects/AI Test Toolkit/.AL-Go/PreCompileApp.ps1
  build/projects/AI Test Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/AI Test Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/AI Test Toolkit/.AL-Go/settings.json
  build/projects/System Application/.AL-Go/settings.json
  build/projects/Test Framework/.AL-Go/PreCompileApp.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/settings.json
  src/Business Foundation/Test/NoSeriesCopilot/app.json
Labels: Build: scripts & configs, AL: Business Foundation

#1864 [Email] Make Email Related Record table public
  src/System Application/App/Email/src/Email/EmailRelatedRecord.Table.al
Labels: AL: System Application

#1863 [main] Update BCArtifact version. New value: 25.0.23210.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1865 [Email] Add telemetry
  src/System Application/App/Email/src/Email/EmailImpl.Codeunit.al
Labels: AL: System Application

#1859 Adding Purview telemetry to the System apps
  src/System Application/App/AI/src/Copilot/CopilotCapabilitiesGA.Page.al
  src/System Application/App/Azure AD Plan/src/Plan Configuration/PlanConfiguration.Table.al
  src/System Application/App/Azure AD Plan/src/Plan Configuration/PlanConfigurationCard.Page.al
  src/System Application/App/Azure AD User Management/src/User sync/AzureADUserUpdateWizard.Page.al
  src/System Application/App/Data Classification/src/DataClassificationMgtImpl.Codeunit.al
  src/System Application/App/Feature Key/src/FeatureManagementImpl.Codeunit.al
  src/System Application/App/Permission Sets/src/PermissionImpl.Codeunit.al
  src/System Application/App/Permission Sets/src/PermissionSet.Page.al
  src/System Application/App/Permission Sets/src/PermissionSetCopyImpl.Codeunit.al
  src/System Application/App/Privacy Notice/src/PrivacyNoticeApproval.Codeunit.al
  src/System Application/App/Retention Policy/src/Apply Retention Policy/ApplyRetentionPolicyImpl.Codeunit.al
  src/System Application/App/Retention Policy/src/Retention Policy Setup/RetentionPolicySetup.Table.al
  src/System Application/App/Security Groups/src/SecurityGroupPermissionSets.Page.al
  src/System Application/App/User Settings/src/UserSettingsImpl.Codeunit.al
  src/System Application/App/Web Service Management/src/WebServiceManagementImpl.Codeunit.al
Labels: AL: System Application

#1867 [main] Update BCArtifact version. New value: 25.0.23234.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1870 Add retention policy delete codeunit for performance profiler scheduler
  src/System Application/App/Performance Profiler/src/PerformanceProfilerDelete.Codeunit.al
Labels: AL: System Application

#1872 Add dependencies for Business Foundation Tests
  src/Business Foundation/Test/NoSeriesCopilot/app.json
  src/Business Foundation/Test/app.json
Labels: AL: Business Foundation

#1883 [main] Update BCArtifact version. New value: 25.0.23312.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1882 [24.0] Update app baselines package version. New value: 23.5.16502.23278
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1879 [24.x] Update app baselines package version. New value: 24.4.22295.23299 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1878 [24.1] Update app baselines package version. New value: 24.0.16410.23275
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1876 [24.4] Update app baselines package version. New value: 24.3.21374.23291
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1875 [main] Update app baselines package version. New value: 24.5.23302.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1874 [24.2] Update app baselines package version. New value: 24.1.18927.23298
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1692 [Copilot] Set Allow Data Movement as default
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotAICapabilities.Page.al
Labels: AL: System Application

#1871 Disable Suggest No. Series features for now.
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesExt.PageExt.al
  src/Business Foundation/App/NoSeriesCopilot/src/Register/NoSeriesCopilotInstall.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Register/NoSeriesCopilotRegister.Codeunit.al
Labels: AL: Business Foundation

#1890 Modify test that checks if Copilot Capabilities are enabled when the privacy notice is "not set"
  src/System Application/Test/AI/src/AzureOpenAITest.Codeunit.al
Labels: AL: System Application

#1888 Copilot Capabilities page string change
  src/System Application/App/AI/src/Copilot/CopilotAICapabilities.Page.al
Labels: AL: System Application

#1887 [Email] Add retention policy for email inbox
  src/System Application/App/Email/src/EmailInstaller.Codeunit.al
  src/System Application/App/Retention Policy/src/Retention Policy Setup/RetentionPolicySetup.Codeunit.al
  src/System Application/App/Retention Policy/src/Retention Policy Setup/RetentionPolicySetupImpl.Codeunit.al
Labels: AL: System Application

#1898 Add CLEAN26 as a preprocessor symbol
  .github/AL-Go-Settings.json
Labels: Build: Automation

#1903 [24.x] [Email] Make Email Related Record table public
  src/System Application/App/Email/src/Email/EmailRelatedRecord.Table.al
Labels: AL: System Application
