Repository microsoft/BCApps, pull requests merged in 2024-12, with the labels that each got.

#2423 [main] Update BCArtifact version. New value: 26.0.27451.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2405 Add retries when running git fetch
  build/scripts/EnlistmentHelperFunctions.psm1
  build/scripts/GuardingV2ExtensionsHelper.psm1
Labels: Build: scripts & configs

#2422 Unnecessary variable ShowLogo in Email Accounts Page
  src/System Application/App/Email/src/Account/EmailAccounts.Page.al
Labels: AL: System Application, From Fork, Linked, Integration

#2435 [25.0] Update app baselines package version. New value: 24.5.23489.27482
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2434 [main] Update app baselines package version. New value: 25.2.27518.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2433 [25.x] Update translation package version. New value: 25.2.20241128.3
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2432 [25.1] Update app baselines package version. New value: 25.0.23364.27490
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2430 [24.2] Update app baselines package version. New value: 24.1.18927.27481
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2429 [24.5] Update app baselines package version. New value: 24.4.22295.27487
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2427 [24.1] Update app baselines package version. New value: 24.0.16410.27488
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2431 [24.3] Update app baselines package version. New value: 24.2.20227.27484
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2426 [24.x] Update app baselines package version. New value: 24.5.23489.27522 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2424 [main] Copilot FWS: address customer feedback/FUD with Copilot & AI Capabilities page
  src/System Application/App/AI/src/Copilot/CopilotAICapabilities.Page.al
  src/System Application/App/AI/src/Copilot/CopilotCapabilitiesGA.Page.al
Labels: AL: System Application

#2438 Limit the minor version for baselines to 5
  build/scripts/EnlistmentHelperFunctions.psm1
Labels: Build: scripts & configs

#2444 [main] Update BCArtifact version. New value: 26.0.27531.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2455 [releases/25.1] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - bbc88d84c6c206b79a63ce535897e97c394d7059
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2454 [releases/24.5] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - bbc88d84c6c206b79a63ce535897e97c394d7059
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2453 [releases/24.4] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - bbc88d84c6c206b79a63ce535897e97c394d7059
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2450 [releases/24.3] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - bbc88d84c6c206b79a63ce535897e97c394d7059
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2452 [releases/25.x] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - bbc88d84c6c206b79a63ce535897e97c394d7059
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2449 [releases/24.x] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - bbc88d84c6c206b79a63ce535897e97c394d7059
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2447 [main] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - bbc88d84c6c206b79a63ce535897e97c394d7059
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2448 [releases/24.2] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - bbc88d84c6c206b79a63ce535897e97c394d7059
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2446 [releases/24.1] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - bbc88d84c6c206b79a63ce535897e97c394d7059
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2445 [releases/24.0] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - bbc88d84c6c206b79a63ce535897e97c394d7059
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2458 Agents - Introduce agent system app to v25.x
  src/System Application/App/Agent/ExtensionLogo.png
  src/System Application/App/Agent/Interaction/AgentMessage.Codeunit.al
  src/System Application/App/Agent/Interaction/AgentMessageImpl.Codeunit.al
  src/System Application/App/Agent/Interaction/AgentTask.Codeunit.al
  src/System Application/App/Agent/Interaction/AgentTaskImpl.Codeunit.al
  src/System Application/App/Agent/Interaction/AgentTaskList.Page.al
  src/System Application/App/Agent/Interaction/AgentTaskMessageCard.Page.al
  src/System Application/App/Agent/Interaction/AgentTaskMessageList.Page.al
  src/System Application/App/Agent/Interaction/AgentTaskStepList.Page.al
  src/System Application/App/Agent/Permissions/AgentObjects.PermissionSet.al
  src/System Application/App/Agent/Setup/Agent.Codeunit.al
  src/System Application/App/Agent/Setup/AgentAccessControl.Page.al
  src/System Application/App/Agent/Setup/AgentCard.Page.al
  src/System Application/App/Agent/Setup/AgentImpl.Codeunit.al
  src/System Application/App/Agent/Setup/AgentList.Page.al
  src/System Application/App/Agent/Setup/SelectAgentAccessControl.Page.al
  src/System Application/App/Agent/TaskPane/TaskDetails.Page.al
  src/System Application/App/Agent/TaskPane/TaskTimeline.Page.al
  src/System Application/App/Agent/TaskPane/Tasks.Page.al
  src/System Application/App/Agent/app.json
  src/System Application/App/Permission Sets/src/UserSubformPermissions.PageExt.al
  src/System Application/App/Security Groups/app.json
  src/System Application/App/Security Groups/permissions/SecurityGroupsObjects.PermissionSet.al
  src/System Application/App/Security Groups/src/InheritedPermissionSetsPart.Page.al
  src/System Application/App/Security Groups/src/SecurityGroupPermissionSets.Page.al
  src/System Application/App/Security Groups/src/UserSecurityGroupsPart.Page.al
  src/System Application/App/User Permissions/app.json
  src/System Application/App/User Permissions/permissions/UserPermissionsObjects.PermissionSet.al
  src/System Application/App/User Permissions/src/UserPermissions.Codeunit.al
  src/System Application/App/User Permissions/src/UserPermissionsImpl.Codeunit.al
  src/System Application/App/User Permissions/src/UserSubform.Page.al
  src/System Application/App/User Settings/src/UserSettings.Codeunit.al
  src/System Application/App/User Settings/src/UserSettingsImpl.Codeunit.al
  src/System Application/App/app.json
Labels: AL: System Application

#2459 Agents - Introduce agent system app
  src/System Application/App/Agent/ExtensionLogo.png
  src/System Application/App/Agent/Interaction/AgentMessage.Codeunit.al
  src/System Application/App/Agent/Interaction/AgentMessageImpl.Codeunit.al
  src/System Application/App/Agent/Interaction/AgentTask.Codeunit.al
  src/System Application/App/Agent/Interaction/AgentTaskImpl.Codeunit.al
  src/System Application/App/Agent/Interaction/AgentTaskList.Page.al
  src/System Application/App/Agent/Interaction/AgentTaskMessageCard.Page.al
  src/System Application/App/Agent/Interaction/AgentTaskMessageList.Page.al
  src/System Application/App/Agent/Interaction/AgentTaskStepList.Page.al
  src/System Application/App/Agent/Permissions/AgentObjects.PermissionSet.al
  src/System Application/App/Agent/Setup/Agent.Codeunit.al
  src/System Application/App/Agent/Setup/AgentAccessControl.Page.al
  src/System Application/App/Agent/Setup/AgentCard.Page.al
  src/System Application/App/Agent/Setup/AgentImpl.Codeunit.al
  src/System Application/App/Agent/Setup/AgentList.Page.al
  src/System Application/App/Agent/Setup/SelectAgentAccessControl.Page.al
  src/System Application/App/Agent/TaskPane/TaskDetails.Page.al
  src/System Application/App/Agent/TaskPane/TaskTimeline.Page.al
  src/System Application/App/Agent/TaskPane/Tasks.Page.al
  src/System Application/App/Agent/app.json
  src/System Application/App/app.json
Labels: AL: System Application

#2441 [releases/25.x] Limit the minor version for baselines to 5
  build/scripts/EnlistmentHelperFunctions.psm1
Labels: Build: scripts & configs

#2440 [releases/24.x] Limit the minor version for baselines to 5
  build/scripts/EnlistmentHelperFunctions.psm1
Labels: Build: scripts & configs

#2461 [main] Update BCArtifact version. New value: 26.0.27646.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2456 Replace EUGeo with EUDB
  src/System Application/App/AI/src/Copilot/CopilotAICapabilities.Page.al
  src/System Application/App/AI/src/Copilot/CopilotCapabilityImpl.Codeunit.al
Labels: AL: System Application

#2463 Supported Languages
  src/System Application/App/Language/app.json
  src/System Application/App/Language/permissions/LanguageEdit.PermissionSet.al
  src/System Application/App/Language/permissions/LanguageObjects.PermissionSet.al
  src/System Application/App/Language/src/AllowedLanguage.Table.al
  src/System Application/App/Language/src/AllowedLanguages.Page.al
  src/System Application/App/Language/src/LanguageImpl.Codeunit.al
  src/System Application/App/app.json
Labels: AL: System Application, From Fork, Linked

#2469 [main] Update BCArtifact version. New value: 26.0.27706.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2475 Remove emailinbox retention policy, just keep allowed tables
  src/System Application/App/Email/src/EmailInstaller.Codeunit.al
Labels: AL: System Application

#2476 [releases/25.x] Remove emailinbox retention policy, just keep allowed tables
  src/System Application/App/Email/src/EmailInstaller.Codeunit.al
Labels: AL: System Application

#2477 [releases/25.2] Remove emailinbox retention policy, just keep allowed tables
  src/System Application/App/Email/src/EmailInstaller.Codeunit.al
Labels: AL: System Application

#2478 [releases/25.1] Remove emailinbox retention policy, just keep allowed tables
  src/System Application/App/Email/src/EmailInstaller.Codeunit.al
Labels: AL: System Application

#2479 [releases/25.0] Remove emailinbox retention policy, just keep allowed tables
  src/System Application/App/Email/src/EmailInstaller.Codeunit.al
Labels: AL: System Application

#2494 [24.0] Update app baselines package version. New value: 23.5.16502.27802
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2493 [25.0] Update app baselines package version. New value: 24.5.23489.27799
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2492 [24.3] Update app baselines package version. New value: 24.2.20227.27791
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2491 [24.4] Update app baselines package version. New value: 24.3.21374.27773
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2490 [25.2] Update translation package version. New value: 25.2.20241206.5
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2489 [24.x] Update app baselines package version. New value: 24.5.23489.27799 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2487 [24.1] Update app baselines package version. New value: 24.0.16410.27776
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2486 [25.x] Update app baselines package version. New value: 25.2.27707.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2485 [25.1] Update app baselines package version. New value: 25.0.23364.27822
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2484 [24.5] Update app baselines package version. New value: 24.4.22295.27800
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2483 [24.2] Update app baselines package version. New value: 24.1.18927.27794
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2488 [main] Update app baselines package version. New value: 25.2.27707.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2442 add Drilldown to facade
  src/Business Foundation/App/NoSeries/src/Legacy/NoSeriesObsolete.TableExt.al
  src/Business Foundation/App/NoSeries/src/Setup/NoSeries.Page.al
  src/Business Foundation/App/NoSeries/src/Setup/NoSeriesSetupImpl.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Single/NoSeries.Codeunit.al
Labels: AL: Business Foundation

#2468 [25.x] AppSource installation changes.
  src/System Application/App/AppSource Gallery/src/AppSourceProductDetails.Page.al
  src/System Application/App/AppSource Gallery/src/AppSourceProductManager.Codeunit.al
  src/System Application/Test Library/AppSource Gallery/src/AppSrcProductMgrTestImpl.Codeunit.al
  src/System Application/Test/AppSource Gallery/src/AppSourceGalleryTest.Codeunit.al
Labels: AL: System Application

#2496 [releases/25.x] add Drilldown to facade
  src/Business Foundation/App/NoSeries/src/Legacy/NoSeriesObsolete.TableExt.al
  src/Business Foundation/App/NoSeries/src/Setup/NoSeries.Page.al
  src/Business Foundation/App/NoSeries/src/Setup/NoSeriesSetupImpl.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Single/NoSeries.Codeunit.al
Labels: AL: Business Foundation

#2303 Fix GetTableUrl for DataPerCompany=false
  src/System Application/App/Table Information/src/TableInformationCacheImpl.Codeunit.al
Labels: AL: System Application, From Fork, Linked, Integration

#2497 [main] Update BCArtifact version. New value: 26.0.27885.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2498 Add Commit Options to AL-Go created pull requests
  .github/AL-Go-Settings.json
  .github/dependabot.yml
Labels: Build: Automation

#2512 [releases/24.5] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - affc76e00812eaa4656997452d2f141c482cf3cc
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2511 [releases/25.1] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - affc76e00812eaa4656997452d2f141c482cf3cc
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2509 [releases/24.2] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - affc76e00812eaa4656997452d2f141c482cf3cc
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2510 [releases/24.3] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - affc76e00812eaa4656997452d2f141c482cf3cc
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2508 [releases/24.0] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - affc76e00812eaa4656997452d2f141c482cf3cc
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2507 [releases/25.0] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - affc76e00812eaa4656997452d2f141c482cf3cc
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2506 [releases/24.1] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - affc76e00812eaa4656997452d2f141c482cf3cc
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2505 [releases/24.4] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - affc76e00812eaa4656997452d2f141c482cf3cc
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2502 [releases/24.x] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - affc76e00812eaa4656997452d2f141c482cf3cc
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2501 [releases/25.x] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - affc76e00812eaa4656997452d2f141c482cf3cc
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2503 [main] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - affc76e00812eaa4656997452d2f141c482cf3cc
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2515 [25.2] Update baseline to 25.1.25873.27898
  build/Packages.json
Labels: Build: scripts & configs

#2504 [releases/25.2] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - affc76e00812eaa4656997452d2f141c482cf3cc
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2464 [25.x]Copilot FWS: address customer feedback/FUD with Copilot & AI Capabilities page
  src/System Application/App/AI/src/Copilot/CopilotAICapabilities.Page.al
  src/System Application/App/AI/src/Copilot/CopilotCapabilitiesGA.Page.al
  src/System Application/App/AI/src/Copilot/CopilotCapabilityImpl.Codeunit.al
Labels: AL: System Application

#2519 [main] Update BCArtifact version. New value: 26.0.27941.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2518 [25.x] Update BCArtifact version. New value: bcinsider/Sandbox/25.3/base/latest
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2521 [25.2] Renaming agent objects
  src/System Application/App/Agent/TaskPane/AgentTaskDetails.Page.al
  src/System Application/App/Agent/TaskPane/AgentTaskTimeline.Page.al
  src/System Application/App/Agent/TaskPane/AgentTasks.Page.al
Labels: AL: System Application

#2528 [24.3] Update app baselines package version. New value: 24.2.20227.27979
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2527 [24.5] Update app baselines package version. New value: 24.4.22295.27981
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2529 [24.4] Update app baselines package version. New value: 24.3.21374.27964
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2530 [25.x] Update app baselines package version. New value: 25.2.27733.27975
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2531 [25.1] Update app baselines package version. New value: 25.0.23364.27966
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2532 [main] Update app baselines package version. New value: 25.3.27986.0
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2533 [24.1] Update app baselines package version. New value: 24.0.16410.27978
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2535 [24.x] Update app baselines package version. New value: 24.5.23489.27972
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2536 [25.2] Update app baselines package version. New value: 25.1.25873.27974
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2537 [25.0] Update app baselines package version. New value: 24.5.23489.27972
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2538 [24.0] Update app baselines package version. New value: 23.5.16502.27931
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2539 [main] Update BCArtifact version. New value: 26.0.28000.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2525 [25.x] Renaming agent objects
  build/Packages.json
  src/System Application/App/Agent/TaskPane/AgentTaskDetails.Page.al
  src/System Application/App/Agent/TaskPane/AgentTaskTimeline.Page.al
  src/System Application/App/Agent/TaskPane/AgentTasks.Page.al
Labels: AL: System Application, Build: scripts & configs

#2543 Fixes an issue when comparing a blank no. series code to a filter for blank
  src/Business Foundation/App/NoSeries/src/Setup/NoSeriesSetupImpl.Codeunit.al
Labels: AL: Business Foundation

#2544 [releases/25.x] Fixes an issue when comparing a blank no. series code to a filter for blank
  src/Business Foundation/App/NoSeries/src/Setup/NoSeriesSetupImpl.Codeunit.al
Labels: AL: Business Foundation

#2545 [releases/25.2] Fixes an issue when comparing a blank no. series code to a filter for blank
  src/Business Foundation/App/NoSeries/src/Setup/NoSeriesSetupImpl.Codeunit.al
Labels: AL: Business Foundation

#2540 [25.2] Update BCArtifact version. New value: bcartifacts/Sandbox/25.2/base/latest
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2541 [main] Update BCArtifact version. New value: 26.0.28053.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2547 [Email] Add Last Message Only into the email filters table
  src/System Application/App/Email/src/Email/Inbox/EmailRetrievalFilters.Table.al
Labels: AL: System Application

#2549 [releases/25.2] [Email] Add Last Message Only into the email filters table
  src/System Application/App/Email/src/Email/Inbox/EmailRetrievalFilters.Table.al
Labels: AL: System Application

#2548 [releases/25.x] [Email] Add Last Message Only into the email filters table
  src/System Application/App/Email/src/Email/Inbox/EmailRetrievalFilters.Table.al
Labels: AL: System Application

#2542 Agent Task Rename - Uptake new baseline
  build/Packages.json
  src/System Application/App/Agent/TaskPane/AgentTaskDetails.Page.al
  src/System Application/App/Agent/TaskPane/AgentTaskTimeline.Page.al
  src/System Application/App/Agent/TaskPane/AgentTasks.Page.al
Labels: AL: System Application, Build: scripts & configs

#2563 [main] Update BCArtifact version. New value: 26.0.28108.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2562 [24.0] Update app baselines package version. New value: 23.5.16502.28063
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2561 [25.0] Update app baselines package version. New value: 24.5.23489.28101
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2560 [24.4] Update app baselines package version. New value: 24.3.21374.28100
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2559 [24.x] Update app baselines package version. New value: 24.5.23489.28101
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2558 [24.1] Update app baselines package version. New value: 24.0.16410.28095
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2557 [25.1] Update app baselines package version. New value: 25.0.23364.28103
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2556 [24.2] Update app baselines package version. New value: 24.1.18927.28104
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2555 [24.5] Update app baselines package version. New value: 24.4.22295.28065
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2553 [25.x] Update app baselines package version. New value: 25.2.27733.28023 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2552 [25.2] Update app baselines package version. New value: 25.1.25873.28105
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2564 [main] Update BCArtifact version. New value: 26.0.28149.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2575 [releases/24.1] Update AL-Go System Files
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2574 [releases/24.2] Update AL-Go System Files
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2572 [releases/24.4] Update AL-Go System Files
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2571 [releases/24.5] Update AL-Go System Files
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2570 [releases/24.x] Update AL-Go System Files
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2569 [releases/25.2] Update AL-Go System Files
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2568 [releases/25.1] Update AL-Go System Files
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2567 [releases/25.0] Update AL-Go System Files
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2566 [releases/25.x] Update AL-Go System Files
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2565 [main] Update AL-Go System Files
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2579 [releases/25.2] No. Series page closes when Code has special chars
  src/Business Foundation/App/NoSeries/src/Setup/NoSeriesSetupImpl.Codeunit.al
Labels: AL: Business Foundation

#2577 No. Series page closes when Code has special chars
  src/Business Foundation/App/NoSeries/src/Setup/NoSeriesSetupImpl.Codeunit.al
Labels: AL: Business Foundation

#2578 [releases/25.x] No. Series page closes when Code has special chars
  src/Business Foundation/App/NoSeries/src/Setup/NoSeriesSetupImpl.Codeunit.al
Labels: AL: Business Foundation

#2580 [main] Update BCArtifact version. New value: 26.0.28220.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2583 [main] Update BCArtifact version. New value: 26.0.28261.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2526 [PowerBI] Avoid race condition when setting filters for a loaded report before it's rendered
  src/System Application/App/ControlAddIns/Resources/PowerBIManagement/js/PowerBIManagement.js
  src/System Application/App/Resources/PowerBIManagement/js/PowerBIManagement.js
Labels: AL: System Application

#2474 [Rest Client] Support for Cookies + Fix secret headers + Collectible errors
  src/System Application/App/Rest Client/app.json
  src/System Application/App/Rest Client/src/Authentication/HttpAuthOAuthClientCredentials.Codeunit.al
  src/System Application/App/Rest Client/src/Authentication/HttpAuthenticationAnonymous.Codeunit.al
  src/System Application/App/Rest Client/src/Authentication/HttpAuthenticationBasic.Codeunit.al
  src/System Application/App/Rest Client/src/ExceptionHandling/RestClientException.Enum.al
  src/System Application/App/Rest Client/src/ExceptionHandling/RestClientExceptionBuilder.Codeunit.al
  src/System Application/App/Rest Client/src/HttpClientHandler/HttpClientHandler.Codeunit.al
  src/System Application/App/Rest Client/src/HttpClientHandler/HttpClientHandler.Interface.al
  src/System Application/App/Rest Client/src/HttpContent.Codeunit.al
  src/System Application/App/Rest Client/src/HttpContentImpl.Codeunit.al
  src/System Application/App/Rest Client/src/HttpRequestMessage.Codeunit.al
  src/System Application/App/Rest Client/src/HttpRequestMessageImpl.Codeunit.al
  src/System Application/App/Rest Client/src/HttpResponseMessage.Codeunit.al
  src/System Application/App/Rest Client/src/HttpResponseMessageImpl.Codeunit.al
  src/System Application/App/Rest Client/src/RestClient.Codeunit.al
  src/System Application/App/Rest Client/src/RestClientImpl.Codeunit.al
  src/System Application/Test/DisabledTests/RestClientTests.DisabledTest.json
  src/System Application/Test/Rest Client/app.json
  src/System Application/Test/Rest Client/src/HttpAuthenticationTests.Codeunit.al
  src/System Application/Test/Rest Client/src/HttpExceptionTests.Codeunit.al
  src/System Application/Test/Rest Client/src/RequestMessageTests.Codeunit.al
  src/System Application/Test/Rest Client/src/RestClientTests.Codeunit.al
  src/System Application/Test/Rest Client/src/TestHttpClientHandler.Codeunit.al
Labels: AL: System Application, From Fork, Linked, Integration

#2586 Bug 561192: Don't replicate data of Ext. File Storage tables
  src/System Application/App/External File Storage/src/Connector/FileStorageConnectorLogo.Table.al
  src/System Application/App/External File Storage/src/Scenario/FileScenario.Table.al
Labels: AL: System Application

#2585 [main] Update BCArtifact version. New value: 26.0.28288.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2594 [releases/25.x] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - f38e373bfc51cc2349114b04a159f7179de47502
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2597 [main] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - f38e373bfc51cc2349114b04a159f7179de47502 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2598 [releases/24.1] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - f38e373bfc51cc2349114b04a159f7179de47502
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2596 [releases/24.0] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - f38e373bfc51cc2349114b04a159f7179de47502
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2595 [releases/25.0] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - f38e373bfc51cc2349114b04a159f7179de47502
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2593 [releases/25.1] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - f38e373bfc51cc2349114b04a159f7179de47502
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2591 [releases/24.2] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - f38e373bfc51cc2349114b04a159f7179de47502
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2588 [releases/24.4] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - f38e373bfc51cc2349114b04a159f7179de47502
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2587 [releases/24.3] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - f38e373bfc51cc2349114b04a159f7179de47502
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2604 [25.x] Update app baselines package version. New value: 25.2.27733.28334 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2606 [24.x] Update app baselines package version. New value: 24.5.23489.28326
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2608 [main] Update app baselines package version. New value: 25.3.28327.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2613 [main] Update BCArtifact version. New value: 26.0.28335.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2612 [24.0] Update app baselines package version. New value: 23.5.16502.28302
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2611 [25.0] Update app baselines package version. New value: 24.5.23489.28326
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2610 [24.2] Update app baselines package version. New value: 24.1.18927.28330
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2609 [24.1] Update app baselines package version. New value: 24.0.16410.28332
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2607 [24.3] Update app baselines package version. New value: 24.2.20227.28331
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2605 [24.5] Update app baselines package version. New value: 24.4.22295.28328
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2603 [24.4] Update app baselines package version. New value: 24.3.21374.28329
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2602 [25.2] Update app baselines package version. New value: 25.1.25873.28333
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2601 [25.1] Update app baselines package version. New value: 25.0.23364.28296
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2615 [main] Update BCArtifact version. New value: 26.0.28370.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation
