Repository microsoft/BCApps, pull requests merged in 2024-11, with the labels that each got.

#2292 [main] Update BCArtifact version. New value: 26.0.26183.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2298 [24.x] Update BCArtifact version. New value: bcinsider/Sandbox/24.8/base/latest
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2297 [25.1] Update BCArtifact version. New value: bcartifacts/Sandbox/25.1/base/latest
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2294 [AI Test Tool] Add README
  src/Tools/AI Test Toolkit/README.md
Labels: AL: Tools

#2300 [releases/25.0] Unix Timestamp test should use offset for the specified date
  src/System Application/Test/Date and Time/src/UnixTimestampTest.Codeunit.al
Labels: AL: System Application

#2299 [releases/25.1] Unix Timestamp test should use offset for the specified date
  src/System Application/Test/Date and Time/src/UnixTimestampTest.Codeunit.al
Labels: AL: System Application

#2316 [releases/25.x] Unix Timestamp test should use offset for the specified date
  src/System Application/Test/Date and Time/src/UnixTimestampTest.Codeunit.al
Labels: AL: System Application

#2315 [main] Update BCArtifact version. New value: 26.0.26361.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2314 [24.0] Update app baselines package version. New value: 23.5.16502.26318
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2313 [25.0] Update app baselines package version. New value: 24.5.23489.26336
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2312 [24.1] Update app baselines package version. New value: 24.0.16410.26322
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2311 [25.1] Update app baselines package version. New value: 25.0.23364.26337
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2310 [24.5] Update app baselines package version. New value: 24.4.22295.26321
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2309 [24.x] Update app baselines package version. New value: 24.5.23489.26370
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2308 [24.3] Update app baselines package version. New value: 24.2.20227.26314
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2306 [24.2] Update app baselines package version. New value: 24.1.18927.26317
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2305 [24.4] Update app baselines package version. New value: 24.3.21374.26316
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2307 [main] Update app baselines package version. New value: 25.2.26357.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2322 [main] Update BCArtifact version. New value: 26.0.26448.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2324 [Email/RetPol] Harden retention policy for Email Inbox setup.
  src/System Application/App/Email/src/EmailInstaller.Codeunit.al
Labels: AL: System Application

#2326 [releases/25.1] [Email/RetPol] Harden retention policy for Email Inbox setup.
  src/System Application/App/Email/src/EmailInstaller.Codeunit.al
Labels: AL: System Application

#2327 [releases/25.0] [Email/RetPol] Harden retention policy for Email Inbox setup.
  src/System Application/App/Email/src/EmailInstaller.Codeunit.al
Labels: AL: System Application

#2325 [releases/25.x] [Email/RetPol] Harden retention policy for Email Inbox setup.
  src/System Application/App/Email/src/EmailInstaller.Codeunit.al
Labels: AL: System Application

#2340 [main] Update BCArtifact version. New value: 26.0.26581.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2339 [25.0] Update app baselines package version. New value: 24.5.23489.26544
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2338 [24.0] Update app baselines package version. New value: 23.5.16502.26542
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2337 [24.1] Update app baselines package version. New value: 24.0.16410.26547
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2336 [24.2] Update app baselines package version. New value: 24.1.18927.26545
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2335 [24.3] Update app baselines package version. New value: 24.2.20227.26543
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2334 [24.5] Update app baselines package version. New value: 24.4.22295.26465
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2333 [25.1] Update app baselines package version. New value: 25.0.23364.26558
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2332 [24.4] Update app baselines package version. New value: 24.3.21374.26548
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2330 [24.x] Update app baselines package version. New value: 24.5.23489.26635
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2331 [main] Update app baselines package version. New value: 25.2.26565.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2329 [25.x] Update translation package version. New value: 25.2.20241111.2
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2360 [main] Update BCArtifact version. New value: 26.0.26661.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2358 [releases/24.2] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 50903624159826257124c0f799a1b4add9b0260b
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2356 [releases/24.5] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 50903624159826257124c0f799a1b4add9b0260b
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2357 [releases/24.x] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 50903624159826257124c0f799a1b4add9b0260b
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2354 [releases/25.0] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 50903624159826257124c0f799a1b4add9b0260b
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2351 [releases/24.3] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 50903624159826257124c0f799a1b4add9b0260b
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2350 [releases/25.1] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 50903624159826257124c0f799a1b4add9b0260b
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2353 [main] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 50903624159826257124c0f799a1b4add9b0260b
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2355 [releases/24.1] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 50903624159826257124c0f799a1b4add9b0260b
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2352 [releases/24.4] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 50903624159826257124c0f799a1b4add9b0260b
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2343 [25.x] Use AppId function to delete orphaned extension data AB#557275
  src/System Application/App/Extension Management/src/ExtensionInstallationImpl.Codeunit.al
  src/System Application/App/Extension Management/src/ExtnOrphanedAppDetails.Page.al
Labels: AL: System Application

#2247 Add procedures to Get/Remove for UriBuilder Query Paramaters/Flags
  src/System Application/App/URI/src/UriBuilder.Codeunit.al
  src/System Application/App/URI/src/UriBuilderImpl.Codeunit.al
  src/System Application/Test/URI/src/UriBuilderQueryTest.Codeunit.al
Labels: AL: System Application, From Fork, Linked, Integration

#2345 [25.0] Use AppId function to delete orphaned extension data AB#557278
  src/System Application/App/Extension Management/src/ExtensionInstallationImpl.Codeunit.al
  src/System Application/App/Extension Management/src/ExtnOrphanedAppDetails.Page.al
Labels: AL: System Application

#2348 [Open in VS Code] Fix dependencies not found
  src/System Application/App/VS Code Integration/src/VsCodeIntegrationImpl.Codeunit.al
Labels: AL: System Application

#2364 [main] Update BCArtifact version. New value: 26.0.26706.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2301 2293 add page for upgrade tags
  src/System Application/App/Upgrade Tags/app.json
  src/System Application/App/Upgrade Tags/src/UpgradeTags.Page.al
  src/System Application/App/Upgrade Tags/src/UpgradeTags.Table.al
Labels: AL: System Application, From Fork, Linked, Integration

#2346 [24.x] Use AppId function to delete orphaned extension data AB#557277 #557279
  src/System Application/App/Extension Management/src/ExtensionInstallationImpl.Codeunit.al
  src/System Application/App/Extension Management/src/ExtnOrphanedAppDetails.Page.al
Labels: AL: System Application

#2347 [24.5] Use AppId function to delete orphaned extension data AB#557280
  src/System Application/App/Extension Management/src/ExtensionInstallationImpl.Codeunit.al
  src/System Application/App/Extension Management/src/ExtnOrphanedAppDetails.Page.al
Labels: AL: System Application

#2381 [main] Update BCArtifact version. New value: 26.0.26919.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2380 [25.0] Update app baselines package version. New value: 24.5.23489.26915
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2379 [24.0] Update app baselines package version. New value: 23.5.16502.26904
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2376 [24.2] Update app baselines package version. New value: 24.1.18927.26899
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2377 [24.1] Update app baselines package version. New value: 24.0.16410.26903
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2375 [24.3] Update app baselines package version. New value: 24.2.20227.26898
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2374 [25.1] Update app baselines package version. New value: 25.0.23364.26909
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2373 [24.5] Update app baselines package version. New value: 24.4.22295.26900
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2372 [24.4] Update app baselines package version. New value: 24.3.21374.26901
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2371 [25.x] Update translation package version. New value: 25.2.20241115.1
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2370 [24.x] Update app baselines package version. New value: 24.7.26253.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2378 [main] Update app baselines package version. New value: 25.2.26921.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2363 OAuth2.GetClaims()
  src/System Application/App/OAuth2/OAuth2.Codeunit.al
  src/System Application/App/OAuth2/OAuth2Impl.Codeunit.al
  src/System Application/App/OAuth2/app.json
Labels: AL: System Application, From Fork, Linked, Integration

#2384 Change the text of the invalid filter error
  src/System Application/App/Edit in Excel/src/EditinExcelImpl.Codeunit.al
Labels: AL: System Application

#2385 [main] Update BCArtifact version. New value: 26.0.26951.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2112 Fixes #1970 Increasing Image File Size Limit to 50MB
  src/System Application/App/Image/src/ImageImpl.Codeunit.al
Labels: AL: System Application, From Fork, Follow Up, Linked, Integration

#2382 [VS Code Integration] New actions in Extension Management page
  src/System Application/App/Extension Management/src/ExtensionManagement.Page.al
  src/System Application/App/Json/src/Json.Codeunit.al
  src/System Application/App/Json/src/JsonImpl.Codeunit.al
  src/System Application/App/VS Code Integration/app.json
  src/System Application/App/VS Code Integration/src/VsCodeIntegration.Codeunit.al
  src/System Application/App/VS Code Integration/src/VsCodeIntegrationImpl.Codeunit.al
Labels: AL: System Application

#2388 [main] Update BCArtifact version. New value: 26.0.27067.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2390 [main] Update BCArtifact version. New value: 26.0.27113.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2402 [25.0] Update app baselines package version. New value: 24.5.23489.27157
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2395 [24.1] Update app baselines package version. New value: 24.0.16410.27158
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2393 [24.x] Update app baselines package version. New value: 24.5.23489.27157
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2368 Add approval by default to privacy notices
  src/System Application/App/Privacy Notice/README.md
  src/System Application/App/Privacy Notice/src/PrivacyNotice.Codeunit.al
  src/System Application/App/Privacy Notice/src/PrivacyNoticeImpl.Codeunit.al
  src/System Application/App/Privacy Notice/src/PrivacyNotices.Page.al
  src/System Application/App/Privacy Notice/src/SystemPrivacyNoticeReg.Codeunit.al
Labels: AL: System Application, Integration

#2254 [Number Series Copilot] Adding Telemetry
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesCopilotImpl.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesGeneration.Page.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/Telemetry/NoSeriesCopilotTelemetry.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/Tools/NoSeriesCopAddIntent.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/Tools/NoSeriesCopChangeIntent.Codeunit.al
Labels: From Fork, Linked, AL: Business Foundation, Integration

#2361 No. Series: Ability to extend filters on finding No. Series Lines when getting new numbers
  src/Business Foundation/App/NoSeries/src/Setup/NoSeriesSetupImpl.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Single/NoSeries.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesImpl.Codeunit.al
Labels: From Fork, Linked, AL: Business Foundation, Integration

#2411 Uptake issue types
  .github/ISSUE_TEMPLATE/bcidea.yaml
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/contribution_bug.yaml
Labels: Build: Automation

#2410 Revert "[Email] Filtering for email retrievals"
  src/System Application/App/DotNet Aliases/src/dotnet.al
  src/System Application/App/Email/src/Account/EmailAccountImpl.Codeunit.al
  src/System Application/App/Email/src/Account/EmailAccounts.Page.al
  src/System Application/App/Email/src/Connector/DefaultEmailConnectorv2.Codeunit.al
  src/System Application/App/Email/src/Connector/EmailConnector.Enum.al
  src/System Application/App/Email/src/Connector/EmailConnectorv2.Interface.al
  src/System Application/App/Email/src/Connector/EmailConnectorv3.Interface.al
  src/System Application/App/Email/src/Email/Email.Codeunit.al
  src/System Application/App/Email/src/Email/EmailImpl.Codeunit.al
  src/System Application/App/Email/src/Email/Inbox/EmailRetrievalFilters.Table.al
  src/System Application/App/Email/src/Email/SendEmail.Codeunit.al
  src/System Application/App/Email/src/Message/EmailMessage.Codeunit.al
  src/System Application/App/Email/src/Message/EmailMessageImpl.Codeunit.al
  src/System Application/Test Library/Email/app.json
  src/System Application/Test Library/Email/src/TestEmailConnector.EnumExt.al
  src/System Application/Test Library/Email/src/TestEmailConnectorv2.Codeunit.al
  src/System Application/Test Library/Email/src/TestEmailConnectorv3.Codeunit.al
  src/System Application/Test/Email/src/EmailTest.Codeunit.al
Labels: AL: System Application

#2383 Add Privacy Notice IDs to telemetry statements
  src/System Application/App/Privacy Notice/src/PrivacyNoticeImpl.Codeunit.al
Labels: AL: System Application

#2416 Bug 558934: [25.x][BCApps #2361]No. Series: Ability to extend filters on finding No. Series Lines when getting new numbers
  src/Business Foundation/App/NoSeries/src/Setup/NoSeriesSetupImpl.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Single/NoSeries.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesImpl.Codeunit.al
Labels: AL: Business Foundation, Integration

#2302 [Data Driven Test Tool] Add YAML support
  src/Tools/AI Test Toolkit/src/AITCommandLineCard.Page.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITALTestSuiteMgt.Codeunit.al
  src/Tools/Test Framework/Test Runner/src/DataDrivenTest/DataDrivenTestTool.PageExt.al
  src/Tools/Test Framework/Test Runner/src/DataDrivenTest/DataInputs/TestInputGroups.Page.al
  src/Tools/Test Framework/Test Runner/src/DataDrivenTest/DataInputs/TestInputPart.Page.al
  src/Tools/Test Framework/Test Runner/src/DataDrivenTest/DataInputs/TestInputsManagement.Codeunit.al
Labels: AL: Tools

#2414 [main] Update BCArtifact version. New value: 26.0.27339.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2413 AI Test Toolkit: Improve command line tool
  src/Tools/AI Test Toolkit/src/AITCommandLineCard.Page.al
  src/Tools/AI Test Toolkit/src/API/AITLogEntryAPI.Page.al
  src/Tools/AI Test Toolkit/src/API/AITTestMethodLinesAPI.Page.al
  src/Tools/AI Test Toolkit/src/Logs/AITLogEntry.Table.al
Labels: AL: Tools

#2420 [25.x] 2293 add page for upgrade tags (#2301)
  src/System Application/App/Upgrade Tags/app.json
  src/System Application/App/Upgrade Tags/src/UpgradeTags.Page.al
  src/System Application/App/Upgrade Tags/src/UpgradeTags.Table.al
  src/System Application/App/Word Templates/src/WordTemplatesRelatedList.Page.al
Labels: AL: System Application, From Fork, Linked

#2342 [PowerBI] Decouple addin settings, default "Show zoom bar" to true
  src/System Application/App/ControlAddIns/Resources/PowerBIManagement/js/PowerBIManagement.js
  src/System Application/App/ControlAddIns/src/PowerBIManagement.ControlAddin.al
  src/System Application/App/Resources/PowerBIManagement/js/PowerBIManagement.js
Labels: AL: System Application
