Repository microsoft/BCApps, pull requests merged in 2024-03, with the labels that each got.

#674 [releases/24.0] update doc for no. series batch
  src/Business Foundation/App/NoSeries/src/Batch/NoSeriesBatch.Codeunit.al
Labels: AL: Business Foundation

#673 [releases/24.x] update doc for no. series batch
  src/Business Foundation/App/NoSeries/src/Batch/NoSeriesBatch.Codeunit.al
Labels: AL: Business Foundation

#672 update doc for no. series batch
  src/Business Foundation/App/NoSeries/src/Batch/NoSeriesBatch.Codeunit.al
Labels: AL: Business Foundation

#568 Add Set-ContentLF to match formatting from AL-Go
  build/scripts/EnlistmentHelperFunctions.psm1
  build/scripts/GitHub/GitHubPullRequest.class.psm1
Labels: Build: scripts & configs

#664 #615 Fix PutBlockList and PutBlock for Azure BLOB module
  src/System Application/App/Azure Blob Services API/src/ABSBlobClient.Codeunit.al
  src/System Application/App/Azure Blob Services API/src/ABSClientImpl.Codeunit.al
  src/System Application/Test/Azure Blob Services API/src/ABSBlobClientTest.Codeunit.al
  src/System Application/Test/Azure Blob Services API/src/ABSTestLibrary.Codeunit.al
  src/System Application/Test/DisabledTests/ABSBlobClientTest.json
Labels: AL: System Application, From Fork, Linked

#670 #668 Actually return parameters
  src/System Application/App/Azure File Services API/src/AFSOptionalParameters.Codeunit.al
  src/System Application/Test/Azure File Services API/src/AFSFileClientTest.Codeunit.al
Labels: AL: System Application, From Fork, Linked

#671 Properly handle paging (max. results and marker) for ListDirectory()
  src/System Application/App/Azure File Services API/src/AFSDirectoryContent.Table.al
  src/System Application/App/Azure File Services API/src/AFSFileClientImpl.Codeunit.al
  src/System Application/Test/Azure File Services API/src/AFSFileClientTest.Codeunit.al
Labels: AL: System Application, From Fork, Linked

#680 fix No. Series Lookup
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesImpl.Codeunit.al
  src/Business Foundation/Test/NoSeries/app.json
  src/Business Foundation/Test/NoSeries/src/ERMNoSeriesTests.Codeunit.al
  src/Business Foundation/Test/app.json
Labels: AL: Business Foundation

#687 [releases/24.0] fix No. Series Lookup
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesImpl.Codeunit.al
  src/Business Foundation/Test/NoSeries/app.json
  src/Business Foundation/Test/NoSeries/src/ERMNoSeriesTests.Codeunit.al
  src/Business Foundation/Test/app.json
Labels: AL: Business Foundation

#686 [releases/24.x] fix No. Series Lookup
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesImpl.Codeunit.al
  src/Business Foundation/Test/NoSeries/app.json
  src/Business Foundation/Test/NoSeries/src/ERMNoSeriesTests.Codeunit.al
  src/Business Foundation/Test/app.json
Labels: AL: Business Foundation

#682 [24.0][Copilot] Enable allowlisted tenants to go through firstparty auth
  src/System Application/App/AI/src/Azure OpenAI/AOAIAuthorization.Codeunit.al
Labels: AL: System Application

#683 [24.x][Copilot] Enable allowlisted tenants to go through firstparty auth
  src/System Application/App/AI/src/Azure OpenAI/AOAIAuthorization.Codeunit.al
Labels: AL: System Application

#681 Marketing Text Empty Response Fix
  src/System Application/App/Entity Text/src/EntityTextImpl.Codeunit.al
Labels: AL: System Application

#694 [releases/24.x] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Build: Automation

#692 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Build: Automation

#693 [releases/24.0] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Build: Automation

#675 AppSource Gallery feedback.
  src/System Application/App/AppSource Gallery/src/AppSourceProductDetails.Page.al
  src/System Application/App/AppSource Gallery/src/AppSourceProductList.Page.al
  src/System Application/App/Extension Management/src/ExtensionManagement.Page.al
Labels: AL: System Application

#689 [24.x] #668 Actually return parameters (#670)
  src/System Application/App/Azure File Services API/src/AFSOptionalParameters.Codeunit.al
  src/System Application/Test/Azure File Services API/src/AFSFileClientTest.Codeunit.al
Labels: AL: System Application

#695 Fix label name when creating automated PRs
  build/scripts/AutomatedSubmission.psm1
  build/scripts/PullRequestValidation/AddMilestoneToPullRequest.ps1
  build/scripts/UpdateBCArtifactVersion.ps1
  build/scripts/UpdatePackageVersions.ps1
Labels: Build: scripts & configs

#679 Improvements to backporting tool
  build/scripts/CrossBranchPorting.psm1
  build/scripts/EnlistmentHelperFunctions.psm1
Labels: Build: scripts & configs

#698 Require SUPER permission to run AAD user sync
  src/System Application/App/Azure AD User Management/src/User sync/AzureADUserUpdateWizard.Page.al
Labels: AL: System Application

#702 [releases/24.x] Fix label name when creating automated PRs
  build/scripts/AutomatedSubmission.psm1
  build/scripts/PullRequestValidation/AddMilestoneToPullRequest.ps1
  build/scripts/UpdateBCArtifactVersion.ps1
  build/scripts/UpdatePackageVersions.ps1
Labels: Build: scripts & configs

#703 [releases/24.0] Fix label name when creating automated PRs
  build/scripts/AutomatedSubmission.psm1
  build/scripts/PullRequestValidation/AddMilestoneToPullRequest.ps1
  build/scripts/UpdateBCArtifactVersion.ps1
  build/scripts/UpdatePackageVersions.ps1
Labels: Build: scripts & configs

#706 [releases/24.0] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#708 [releases/24.x] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#707 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#709 Adjust notification about Copilot capabilities not available on-prem
  src/System Application/App/AI/src/Copilot/CopilotCapabilityImpl.Codeunit.al
Labels: AL: System Application

#712 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#713 [releases/24.x] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#711 [releases/24.0] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#658 Add subscriber to system trigger OpenFeatureManagement
  src/System Application/App/Feature Key/src/FeatureManagementFacade.Codeunit.al
  src/System Application/App/Feature Key/src/FeatureManagementImpl.Codeunit.al
Labels: AL: System Application

#549 Language Id and Format Region override methods
  src/System Application/App/Language/app.json
  src/System Application/App/Language/src/Language.Codeunit.al
  src/System Application/App/Language/src/LanguageImpl.Codeunit.al
Labels: AL: System Application

#728 [releases/24.x] [Copilot] AOAI Token not returning tokens
  src/System Application/App/AI/src/Azure OpenAI/AOAIToken.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
Labels: AL: System Application

#729 [releases/24.0] [Copilot] AOAI Token not returning tokens
  src/System Application/App/AI/src/Azure OpenAI/AOAIToken.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
Labels: AL: System Application

#697 [releases/24.0] AppSource Gallery bug fixes and test refactoring
  src/System Application/App/AppSource Gallery/app.json
  src/System Application/App/AppSource Gallery/src/AppSourceJsonUtilities.Codeunit.al
  src/System Application/App/AppSource Gallery/src/AppSourceProductDetails.Page.al
  src/System Application/App/AppSource Gallery/src/AppSourceProductList.Page.al
  src/System Application/App/AppSource Gallery/src/AppSourceProductManager.Codeunit.al
  src/System Application/App/AppSource Gallery/src/AppSrcProductDepsProvider.Codeunit.al
  src/System Application/App/Extension Management/src/ExtensionManagement.Page.al
  src/System Application/Test Library/AppSource Gallery/app.json
  src/System Application/Test Library/AppSource Gallery/src/AppSourceMockDepsProvider.Codeunit.al
  src/System Application/Test Library/AppSource Gallery/src/AppSrcProductMgrTestImpl.Codeunit.al
  src/System Application/Test/AppSource Gallery/app.json
  src/System Application/Test/AppSource Gallery/src/AppSourceGalleryTest.Codeunit.al
  src/System Application/Test/AppSource Gallery/src/AppSourceProductManagerTest.Codeunit.al
Labels: AL: System Application

#739 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#738 [releases/24.0] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#730 [CES] Fix missing IsEmpty check
  src/System Application/App/Customer Experience Survey/src/CustExpSurveyReqImpl.Codeunit.al
Labels: AL: System Application

#732 [releases/24.x] [CES] Fix missing IsEmpty check
  src/System Application/App/Customer Experience Survey/src/CustExpSurveyReqImpl.Codeunit.al
Labels: AL: System Application

#733 [releases/24.0] [CES] Fix missing IsEmpty check
  src/System Application/App/Customer Experience Survey/src/CustExpSurveyReqImpl.Codeunit.al
Labels: AL: System Application

#747 [releases/24.0] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#746 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#745 [releases/24.x] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#735 Marketing Text: JA/Japanese: Remove lower boundary check as this blocks languages where spaces are…
  src/System Application/App/Entity Text/src/EntityTextImpl.Codeunit.al
Labels: AL: System Application

#751 [Copilot] Enable Function calling for all
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIToolsImpl.Codeunit.al
Labels: AL: System Application

#754 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#753 [releases/24.0] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#752 [releases/24.x] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#734 Add bug report for contribution bugs
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/contribution_bug.yaml
Labels: Build: Automation

#750 [CES] Show survey on My Settings page
  src/System Application/App/User Settings/src/UserSettings.Page.al
  src/System Application/App/User Settings/src/UserSettingsImpl.Codeunit.al
Labels: AL: System Application

#766 [releases/24.x] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#765 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#767 [releases/24.0] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#740 [releases/24.0] Language Id and Format Region override methods
  src/System Application/App/Language/app.json
  src/System Application/App/Language/src/Language.Codeunit.al
  src/System Application/App/Language/src/LanguageImpl.Codeunit.al
Labels: AL: System Application

#741 [releases/24.x] Language Id and Format Region override methods
  src/System Application/App/Language/app.json
  src/System Application/App/Language/src/Language.Codeunit.al
  src/System Application/App/Language/src/LanguageImpl.Codeunit.al
Labels: AL: System Application

#757 [releases/24.0] [CES] Show survey on My Settings page
  src/System Application/App/User Settings/src/UserSettings.Page.al
  src/System Application/App/User Settings/src/UserSettingsImpl.Codeunit.al
Labels: AL: System Application

#756 [releases/24.x] [CES] Show survey on My Settings page
  src/System Application/App/User Settings/src/UserSettings.Page.al
  src/System Application/App/User Settings/src/UserSettingsImpl.Codeunit.al
Labels: AL: System Application

#759 [releases/24.x] [Copilot] Enable Function calling for all
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIToolsImpl.Codeunit.al
Labels: AL: System Application

#760 [releases/24.0] [Copilot] Enable Function calling for all
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIToolsImpl.Codeunit.al
Labels: AL: System Application

#770 Update AL-Go System Files
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#769 Update AL-Go System Files
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#777 [main] Update package versions
  build/Packages.json
Labels: Automation, Build: scripts & configs

#778 [releases/24.x] Update package versions
  build/Packages.json
Labels: Automation, Build: scripts & configs

#779 [releases/24.0] Update package versions
  build/Packages.json
Labels: Automation, Build: scripts & configs

#780 [releases/24.x] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#781 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#782 [releases/24.0] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#784 Remove Designed Query objects from SECURITY PS
  src/System Application/App/System Permissions/permissions/SecuritySystem.PermissionSet.al
Labels: AL: System Application

#774 Marketing Text: Remove lower boundary check as this blocks languages where spaces are not used
  src/System Application/App/Entity Text/src/EntityTextImpl.Codeunit.al
Labels: AL: System Application

#776 Marketing Text: Remove lower boundary check as this blocks languages where spaces are not used
  src/System Application/App/Entity Text/src/EntityTextImpl.Codeunit.al
Labels: AL: System Application

#788 [releases/24.x] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#789 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#790 [releases/24.0] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#785 [24.0] Obsolete legacy BusinessChart addin
  src/System Application/App/ControlAddIns/src/MicrosoftDynamicsNavClientBusinessChart.ControlAddin.al
Labels: AL: System Application

#773 [BC Idea] Add Put method to 'Graph Client' Codeunit
  src/System Application/App/MicrosoftGraph/src/GraphClient.Codeunit.al
  src/System Application/App/MicrosoftGraph/src/GraphClientImpl.Codeunit.al
  src/System Application/App/MicrosoftGraph/src/helper/GraphRequestHelper.Codeunit.al
Labels: AL: System Application, From Fork, Linked

#797 [releases/24.0] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#798 [releases/24.x] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#799 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#786 [24.x] Obsolete legacy BusinessChart addin
  src/System Application/App/ControlAddIns/src/MicrosoftDynamicsNavClientBusinessChart.ControlAddin.al
Labels: AL: System Application

#792 [OAuth2] Additional SecretText usage on Certificates
  src/System Application/App/Azure Key Vault/src/AzureKeyVault.Codeunit.al
  src/System Application/App/Azure Key Vault/src/AzureKeyVaultImpl.Codeunit.al
  src/System Application/App/Customer Experience Survey/src/CustExpSurveyReqImpl.Codeunit.al
  src/System Application/App/Entity Text/src/AzureOpenAiSettings.Table.al
  src/System Application/App/OAuth2/OAuth2.Codeunit.al
  src/System Application/App/OAuth2/OAuth2Impl.Codeunit.al
Labels: AL: System Application

#801 Fix labels in issue templates
  .github/ISSUE_TEMPLATE/bcidea.yaml
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: Build: Automation

#808 [releases/24.x] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#809 [releases/24.0] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#810 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#811 [main] Update package versions
  build/Packages.json
Labels: Automation, Build: scripts & configs

#813 [releases/24.0] Update package versions
  build/Packages.json
Labels: Automation, Build: scripts & configs

#812 [releases/24.x] Update package versions
  build/Packages.json
Labels: Automation, Build: scripts & configs

#807 [24.0] Add replacements for legacy control add-ins
  src/System Application/App/ControlAddIns/src/MicrosoftDynamicsNavClientFlowIntegration.ControlAddin.al
  src/System Application/App/ControlAddIns/src/MicrosoftDynamicsNavClientOAuthIntegration.ControlAddin.al
  src/System Application/App/ControlAddIns/src/MicrosoftDynamicsNavClientPageReady.ControlAddin.al
  src/System Application/App/ControlAddIns/src/MicrosoftDynamicsNavClientPowerBIManagement.ControlAddin.al
  src/System Application/App/ControlAddIns/src/MicrosoftDynamicsNavClientRoleCenterSelector.ControlAddin.al
  src/System Application/App/ControlAddIns/src/MicrosoftDynamicsNavClientVideoPlayer.ControlAddin.al
  src/System Application/App/ControlAddIns/src/MicrosoftDynamicsNavClientWebPageViewer.ControlAddin.al
  src/System Application/App/ControlAddIns/src/MicrosoftDynamicsNavClientWelcomeWizard.ControlAddin.al
Labels: AL: System Application

#800 Improve Microsoft Graph Client by adding more setter for Request Headers
  src/System Application/App/MicrosoftGraph/src/GraphOptionalParameters.Codeunit.al
Labels: AL: System Application, From Fork, Linked

#795 Enable IncrementVersionNumber from AL-Go
  .github/AL-Go-Settings.json
Labels: Build: Automation

#716 [Copilot No. Series] Add Json functionality for working with JSON data
  src/System Application/App/Json/README.md
  src/System Application/App/Json/app.json
  src/System Application/App/Json/src/Json.Codeunit.al
  src/System Application/App/Json/src/JsonImpl.Codeunit.al
  src/System Application/Test/Json/app.json
  src/System Application/Test/Json/src/JsonTest.Codeunit.al
Labels: AL: System Application, From Fork, Linked

#823 [releases/24.0] Update package versions
  build/Packages.json
Labels: Automation, Build: scripts & configs

#822 [releases/24.x] Update package versions
  build/Packages.json
Labels: Automation, Build: scripts & configs

#821 [releases/24.x] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#820 [main] Update package versions
  build/Packages.json
Labels: Automation, Build: scripts & configs

#818 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#819 [releases/24.0] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#824 [Copilot] Add ClearTools and tests
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIChatMessages.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIToolsImpl.Codeunit.al
  src/System Application/Test/AI/src/AzureOpenAIToolsTest.Codeunit.al
Labels: AL: System Application

#806 [24.x] Add replacements for legacy control add-ins
  src/System Application/App/ControlAddIns/src/MicrosoftDynamicsNavClientFlowIntegration.ControlAddin.al
  src/System Application/App/ControlAddIns/src/MicrosoftDynamicsNavClientOAuthIntegration.ControlAddin.al
  src/System Application/App/ControlAddIns/src/MicrosoftDynamicsNavClientPageReady.ControlAddin.al
  src/System Application/App/ControlAddIns/src/MicrosoftDynamicsNavClientPowerBIManagement.ControlAddin.al
  src/System Application/App/ControlAddIns/src/MicrosoftDynamicsNavClientRoleCenterSelector.ControlAddin.al
  src/System Application/App/ControlAddIns/src/MicrosoftDynamicsNavClientVideoPlayer.ControlAddin.al
  src/System Application/App/ControlAddIns/src/MicrosoftDynamicsNavClientWebPageViewer.ControlAddin.al
  src/System Application/App/ControlAddIns/src/MicrosoftDynamicsNavClientWelcomeWizard.ControlAddin.al
Labels: AL: System Application

#830 [releases/24.0] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#832 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#831 [releases/24.x] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#705 Client Credentials Support for Sharepoint
  src/System Application/App/SharePoint Authorization/src/SharePointAuth.Codeunit.al
  src/System Application/App/SharePoint Authorization/src/SharePointAuthImpl.Codeunit.al
  src/System Application/App/SharePoint Authorization/src/SharePointClientCredentials.Codeunit.al
Labels: AL: System Application, From Fork, Follow Up, Linked

#826 Move to generated keys in RSA tests
  src/System Application/App/Cryptography Management/src/RSACryptoServiceProvider.Codeunit.al
  src/System Application/App/Cryptography Management/src/RSACryptoServiceProviderImpl.Codeunit.al
  src/System Application/Test/Cryptography Management/src/RSACryptoServiceProviderTests.Codeunit.al
Labels: AL: System Application

#834 [Email] Show notification when an email admin has a restrictive email view policy on Email Outbox and Sent Emails
  src/System Application/App/Email/src/Email/EmailImpl.Codeunit.al
  src/System Application/App/Email/src/Email/Outbox/EmailOutbox.Page.al
  src/System Application/App/Email/src/Email/Sent/SentEmails.Page.al
Labels: AL: System Application

#836 [releases/24.x] Move to generated keys in RSA tests
  src/System Application/App/Cryptography Management/src/RSACryptoServiceProvider.Codeunit.al
  src/System Application/App/Cryptography Management/src/RSACryptoServiceProviderImpl.Codeunit.al
  src/System Application/Test/Cryptography Management/src/RSACryptoServiceProviderTests.Codeunit.al
Labels: AL: System Application

#844 Replace Microsoft.Dynamics.Platform.Integration.Office with Microsoft…
  src/System Application/App/DotNet Aliases/src/dotnet.al
Labels: AL: System Application
