Repository microsoft/BCApps, pull requests merged in 2024-05, with the labels that each got.

#1024 [Copilot] Add an additional deactivation reason
  src/System Application/App/AI/src/Copilot/CopilotDeactivateCapability.Page.al
Labels: AL: System Application

#1028 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1027 [releases/24.x] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1026 [releases/24.0] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1025 [releases/24.1] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#827 Add Support to specifiy ODataQuery Parameters in Microsoft Graph Client
  src/System Application/App/MicrosoftGraph/src/GraphClientImpl.Codeunit.al
  src/System Application/App/MicrosoftGraph/src/GraphODataQueryParameter.Enum.al
  src/System Application/App/MicrosoftGraph/src/GraphOptionalParameters.Codeunit.al
  src/System Application/App/MicrosoftGraph/src/GraphOptionalParametersImpl.Codeunit.al
  src/System Application/App/MicrosoftGraph/src/GraphRequestHeader.Enum.al
  src/System Application/App/MicrosoftGraph/src/helper/GraphUriBuilder.Codeunit.al
  src/System Application/Test/MicrosoftGraph/app.json
  src/System Application/Test/MicrosoftGraph/src/GraphClientTest.Codeunit.al
Labels: AL: System Application, From Fork, Linked, Integration

#719 [Copilot No. Series] Support of JSON mode for chat completion and Tools Calling Results in Message History
  src/System Application/App/AI/app.json
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIChatComplParamsImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIChatCompletionParams.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIChatMessages.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIChatMessagesImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIChatRoles.Enum.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIToolsImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Operation Response/AOAIFunctionResponse.Codeunit.al
  src/System Application/Test/AI/src/AzureOpenAIToolsTest.Codeunit.al
Labels: AL: System Application, From Fork, Integration

#1029 Add ability to delete orphaned email messages
  src/System Application/App/Email/src/Message/EmailMessage.Codeunit.al
  src/System Application/App/Email/src/Message/EmailMessageImpl.Codeunit.al
Labels: AL: System Application

#920 [main] [bug] Change default encoding type to MsDos
  src/System Application/App/Email/src/Email/Outbox/EmailEditor.Codeunit.al
  src/System Application/App/Email/src/Message/EmailAttachments.Page.al
Labels: AL: System Application

#1023 [Main] One Line Change: remove page control of drag and drop
  src/System Application/App/Email/src/Message/EmailAttachments.Page.al
Labels: AL: System Application

#1030 Add linked label if workitem is already linked in description
  .github/workflows/WorkitemValidation.yaml
Labels: Build: Automation

#1031 [releases/24.0] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1033 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1032 [releases/24.x] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1034 [releases/24.1] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1035 [releases/24.x] [Copilot] Add an additional deactivation reason
  src/System Application/App/AI/src/Copilot/CopilotDeactivateCapability.Page.al
Labels: AL: System Application

#1043 Update BCArtifact version. New value: https://bcinsider-fvh2ekdjecfjd6gk.b02.azurefd.net/sandbox/24.2.19158.0/base
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1046 Update BCArtifact version. New value: https://bcinsider-fvh2ekdjecfjd6gk.b02.azurefd.net/sandbox/25.0.19134.0/base
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1045 Update BCArtifact version. New value: https://bcinsider-fvh2ekdjecfjd6gk.b02.azurefd.net/sandbox/24.1.18927.19155/base
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1044 Update BCArtifact version. New value: https://bcartifacts-exdbf9fwegejdqak.b02.azurefd.net/sandbox/24.0.16410.19154/base
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1048 [24.x] Add ability to delete orphaned email messages (#1029)
  src/System Application/App/Email/src/Message/EmailMessage.Codeunit.al
  src/System Application/App/Email/src/Message/EmailMessageImpl.Codeunit.al
Labels: AL: System Application

#1060 Update BCArtifact version. New value: https://bcinsider-fvh2ekdjecfjd6gk.b02.azurefd.net/sandbox/25.0.19229.0/base
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1059 Update BCArtifact version. New value: https://bcartifacts-exdbf9fwegejdqak.b02.azurefd.net/sandbox/24.0.16410.19234/base
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1057 Update BCArtifact version. New value: https://bcinsider-fvh2ekdjecfjd6gk.b02.azurefd.net/sandbox/24.1.18927.19235/base
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1058 Update BCArtifact version. New value: https://bcinsider-fvh2ekdjecfjd6gk.b02.azurefd.net/sandbox/24.2.19241.0/base
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1037 [Copilot] Remove direct internalsvisibleto to test module and redirect via test library
  src/System Application/App/AI/app.json
  src/System Application/Test Library/AI/src/AzureOpenAITestLibrary.Codeunit.al
  src/System Application/Test/AI/src/AzureOpenAIToolsTest.Codeunit.al
Labels: AL: System Application

#1047 Allow public key to be retrieved as plaintext
  src/System Application/App/Cryptography Management/src/RSACryptoServiceProvider.Codeunit.al
  src/System Application/App/Cryptography Management/src/RSACryptoServiceProviderImpl.Codeunit.al
  src/System Application/Test/Cryptography Management/src/RSACryptoServiceProviderTests.Codeunit.al
Labels: AL: System Application, From Fork, Linked

#911 Sharepoint SetXHttpMethod should set data to global variable. Cleanup
  src/System Application/App/SharePoint/src/SharePointClient.Codeunit.al
  src/System Application/App/SharePoint/src/SharePointClientImpl.Codeunit.al
  src/System Application/App/SharePoint/src/helpers/SharePointHttpContent.Codeunit.al
Labels: AL: System Application, From Fork, Linked, Integration

#1036 [releases/24.x][Copilot] Backport of update to function calling
  src/System Application/App/AI/app.json
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIChatComplParamsImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIChatCompletionParams.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIChatMessages.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIChatMessagesImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIChatRoles.Enum.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIToolsImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/Tools/AOAIFunction.Interface.al
  src/System Application/App/AI/src/Azure OpenAI/Operation Response/AOAIFunctionResponse.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Operation Response/AOAIOperationResponse.Codeunit.al
  src/System Application/Test Library/AI/src/AzureOpenAITestLibrary.Codeunit.al
  src/System Application/Test/AI/app.json
  src/System Application/Test/AI/src/AzureOpenAIToolsTest.Codeunit.al
  src/System Application/Test/AI/src/Functions/BadTestFunction1.Codeunit.al
  src/System Application/Test/AI/src/Functions/BadTestFunction2.Codeunit.al
  src/System Application/Test/AI/src/Functions/TestFunction1.Codeunit.al
  src/System Application/Test/AI/src/Functions/TestFunction2.Codeunit.al
Labels: AL: System Application

#1073 Update BCArtifact version. New value: https://bcinsider-fvh2ekdjecfjd6gk.b02.azurefd.net/sandbox/25.0.19293.0/base
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1072 Update BCArtifact version. New value: https://bcartifacts-exdbf9fwegejdqak.b02.azurefd.net/sandbox/24.0.16410.19284/base
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1071 Update BCArtifact version. New value: https://bcinsider-fvh2ekdjecfjd6gk.b02.azurefd.net/sandbox/24.2.19279.0/base
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1070 Update BCArtifact version. New value: https://bcinsider-fvh2ekdjecfjd6gk.b02.azurefd.net/sandbox/24.1.18927.19282/base
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1069 Update app baselines package version. New value: 23.5.16502.19263
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1068 Update app baselines package version. New value: 24.2.19279.0
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1067 Update app baselines package version. New value: 24.1.18927.19282
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1066 Update app baselines package version. New value: 24.0.16410.19284
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1063 Fix automation PRs title and branch name
  .github/actions/RunAutomation/UpdateBCArtifact/run.ps1
  .github/actions/RunAutomation/run.ps1
  build/scripts/AutomatedSubmission.psm1
Labels: Build: Automation, Build: scripts & configs

#1064 Refactor FindBlobsByTags method to accept OptionalParameters
  src/System Application/App/Azure Blob Services API/src/ABSBlobClient.Codeunit.al
  src/System Application/App/Azure Blob Services API/src/ABSClientImpl.Codeunit.al
Labels: AL: System Application, From Fork, Linked

#1077 Add repo param to New-TopicBranchIfNeeded call
  .github/ISSUE_TEMPLATE/bcidea.yaml
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/contribution_bug.yaml
  .github/actions/RunAutomation/UpdateBCArtifact/run.ps1
  .github/actions/RunAutomation/action.yaml
  .github/actions/RunAutomation/run.ps1
Labels: Build: Automation

#1042 [24.x] Add Support to specifiy ODataQuery Parameters in Microsoft Graph Client
  src/System Application/App/MicrosoftGraph/src/GraphClientImpl.Codeunit.al
  src/System Application/App/MicrosoftGraph/src/GraphODataQueryParameter.Enum.al
  src/System Application/App/MicrosoftGraph/src/GraphOptionalParameters.Codeunit.al
  src/System Application/App/MicrosoftGraph/src/GraphOptionalParametersImpl.Codeunit.al
  src/System Application/App/MicrosoftGraph/src/GraphRequestHeader.Enum.al
  src/System Application/App/MicrosoftGraph/src/helper/GraphUriBuilder.Codeunit.al
  src/System Application/Test/MicrosoftGraph/app.json
  src/System Application/Test/MicrosoftGraph/src/GraphClientTest.Codeunit.al
Labels: AL: System Application

#1078 Fix: Lock Label in ABS
  src/System Application/App/Azure Blob Services API/src/Helper/ABSFormatHelper.Codeunit.al
Labels: AL: System Application, From Fork, Linked

#1082 [main] Update BCArtifact version. New value: 25.0.19335.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1083 [24.x] Update BCArtifact version. New value: 24.2.19333.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1080 [24.1] Update BCArtifact version. New value: 24.1.18927.19332
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1081 [24.0] Update BCArtifact version. New value: 24.0.16410.19334
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1062 Add ShowOnly procedure to ABSOptionalParameters Codeunit
  src/System Application/App/Azure Blob Services API/src/Helper/ABSOptionalParameters.Codeunit.al
Labels: AL: System Application, From Fork, Linked

#1097 [24.1] Update BCArtifact version. New value: 24.1.18927.19445
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1096 [24.0] Update BCArtifact version. New value: 24.0.16410.19443
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1095 [24.x] Update BCArtifact version. New value: 24.2.19447.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1094 [main] Update BCArtifact version. New value: 25.0.19453.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1084 Update AL-Go System Files
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1085 Update AL-Go System Files
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1086 Update AL-Go System Files
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1087 Update AL-Go System Files
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1079 fix WritePermission
  src/Business Foundation/App/NoSeries/src/Setup/NoSeriesErrorsImpl.Codeunit.al
  src/System Application/App/Data Administration/src/MediaCleanupImpl.Codeunit.al
  src/System Application/App/Data Classification/src/DataClassificationMgtImpl.Codeunit.al
  src/System Application/App/Email/src/Account/EmailAccountImpl.Codeunit.al
  src/System Application/App/Email/src/Email/EmailImpl.Codeunit.al
  src/System Application/App/Entity Text/src/CopilotInformation.Page.al
  src/System Application/App/Entity Text/src/EntityTextAOAISettings.Codeunit.al
  src/System Application/App/Extension Management/src/ExtensionInstallationImpl.Codeunit.al
  src/System Application/App/Guided Experience/src/Guided Experience/GuidedExperienceImpl.Codeunit.al
  src/System Application/App/Page Summary Provider/src/PageSummarySettings.Page.al
  src/System Application/App/Privacy Notice/src/PrivacyNoticeImpl.Codeunit.al
  src/System Application/App/Retention Policy/src/Retention Policy Setup/RetentionPolicySetupCard.Page.al
  src/System Application/App/Satisfaction Survey/src/SatisfactionSurveyImpl.Codeunit.al
  src/System Application/App/Security Groups/src/SecurityGroupImpl.Codeunit.al
Labels: AL: System Application, AL: Business Foundation

#1099 add locktable to no series stateless impl
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesStatelessImpl.Codeunit.al
Labels: AL: Business Foundation

#1102 [main] Update app baselines package version. New value: 24.2.19483.0
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1103 [24.x] Update app baselines package version. New value: 24.1.18927.19484
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1104 [24.1] Update app baselines package version. New value: 24.0.16410.19485
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1105 [24.0] Update app baselines package version. New value: 23.5.16502.19465
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1106 [main] Update BCArtifact version. New value: 25.0.19488.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1108 [24.x] Update BCArtifact version. New value: 24.2.19483.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1109 [24.1] Update BCArtifact version. New value: 24.1.18927.19484
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1101 Make Marketing Text support all languages except Portuguese
  src/System Application/App/Entity Text/src/EntityTextAOAISettings.Codeunit.al
  src/System Application/App/Entity Text/src/EntityTextLanguages.Enum.al
Labels: AL: System Application

#1117 [24.x] Update BCArtifact version. New value: 24.2.19537.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1116 [main] Update BCArtifact version. New value: 25.0.19538.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1115 [24.0] Update BCArtifact version. New value: 24.0.16410.19533
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1114 [24.1] Update BCArtifact version. New value: 24.1.18927.19532
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1112 [releases/24.x] add locktable to no series stateless impl
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesStatelessImpl.Codeunit.al
Labels: AL: Business Foundation

#1121 [24.x] Update BCArtifact version. New value: 24.2.19595.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1122 [main] Update BCArtifact version. New value: 25.0.19593.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1123 [24.0] Update BCArtifact version. New value: 24.0.16410.19590
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1124 [24.1] Update BCArtifact version. New value: 24.1.18927.19589
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1040 Remove NonDebuggable from Microsoft Graph Client
  src/System Application/App/MicrosoftGraph/src/Authorization/GraphAuthClientCredentials.Codeunit.al
  src/System Application/App/MicrosoftGraph/src/GraphClient.Codeunit.al
Labels: AL: System Application, From Fork, Linked

#867 Init RSA PSS SignatureAlgorithm Implementation
  src/System Application/App/Cryptography Management/app.json
  src/System Application/App/Cryptography Management/src/CryptographyManagement.Codeunit.al
  src/System Application/App/Cryptography Management/src/CryptographyManagementImpl.Codeunit.al
  src/System Application/App/Cryptography Management/src/RSA.Codeunit.al
  src/System Application/App/Cryptography Management/src/RSAImpl.Codeunit.al
  src/System Application/App/Cryptography Management/src/SignatureAlgorithm.Enum.al
  src/System Application/App/Cryptography Management/src/dotnet.al
  src/System Application/Test/Cryptography Management/app.json
  src/System Application/Test/Cryptography Management/src/RSATest.Codeunit.al
Labels: AL: System Application, From Fork, Linked, Integration

#1041 Remove NonDebuggable from Azure Blob Storage
  src/System Application/App/Azure Blob Services API/src/ABSBlobClient.Codeunit.al
  src/System Application/App/Azure Blob Services API/src/ABSClientImpl.Codeunit.al
  src/System Application/App/Azure Blob Services API/src/ABSContainerClient.Codeunit.al
  src/System Application/App/Azure Blob Services API/src/ABSOperationPayload.Codeunit.al
  src/System Application/App/Azure Blob Services API/src/Helper/ABSContainerContentHelper.Codeunit.al
  src/System Application/App/Azure Blob Services API/src/Helper/ABSContainerHelper.Codeunit.al
  src/System Application/App/Azure Blob Services API/src/Helper/ABSFormatHelper.Codeunit.al
  src/System Application/App/Azure Blob Services API/src/Helper/ABSHelperLibrary.Codeunit.al
  src/System Application/App/Azure Blob Services API/src/Helper/ABSHttpContentHelper.Codeunit.al
  src/System Application/App/Azure Blob Services API/src/Helper/ABSHttpHeaderHelper.Codeunit.al
  src/System Application/App/Azure Blob Services API/src/Helper/ABSURIHelper.Codeunit.al
  src/System Application/App/Azure Blob Services API/src/Helper/ABSWebRequestHelper.Codeunit.al
  src/System Application/App/Azure Storage Services Authorization/src/AuthFormatHelper.Codeunit.al
  src/System Application/App/Azure Storage Services Authorization/src/SAS/StorServAuthSAS.Codeunit.al
  src/System Application/App/Azure Storage Services Authorization/src/SharedKey/StorServAuthSharedKey.Codeunit.al
  src/System Application/App/Azure Storage Services Authorization/src/StorServAuthImpl.Codeunit.al
  src/System Application/App/Azure Storage Services Authorization/src/StorageServiceAuthorization.Codeunit.al
  src/System Application/Test/Azure File Services API/src/AFSGetTestStorageAuth.Codeunit.al
  src/System Application/Test/Azure Storage Services Authorization/src/StorServAccountSASTest.Codeunit.al
Labels: AL: System Application, From Fork, Linked, Integration

#1119 Enable analysis assist for canada
  src/System Application/App/AI/src/Copilot/CopilotCapabilityInstall.Codeunit.al
Labels: AL: System Application

#1126 [AzureOpenAI] Obsolete hardcoded deployment names
  src/System Application/App/AI/src/Azure OpenAI/AOAIDeployments.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AOAIDeploymentsImpl.Codeunit.al
Labels: AL: System Application

#1130 [24.1] Update BCArtifact version. New value: 24.1.18927.19633
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1128 [24.x] Update BCArtifact version. New value: 24.2.19636.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1129 [main] Update BCArtifact version. New value: 25.0.19639.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1127 [24.0] Update BCArtifact version. New value: 24.0.16410.19635
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1111 remove TriggerMovedTableSchemaSanityCheck
  src/Business Foundation/App/NoSeries/src/Upgrade/NoSeriesInstaller.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Upgrade/NoSeriesUpgrade.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Upgrade/NoSeriesUpgradeTags.Codeunit.al
Labels: AL: Business Foundation

#1135 [24.1] Update BCArtifact version. New value: 24.1.18927.19722
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1136 [main] Update BCArtifact version. New value: 25.0.19727.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1137 [24.x] Update BCArtifact version. New value: 24.2.19725.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1138 [24.0] Update BCArtifact version. New value: 24.0.16410.19719
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1118 Bugs/534262
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesSequenceImpl.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesStatelessImpl.Codeunit.al
  src/Business Foundation/Test Library/NoSeries/src/LibraryNoSeries.Codeunit.al
  src/Business Foundation/Test/NoSeries/src/NoSeriesBatchTests.Codeunit.al
  src/Business Foundation/Test/NoSeries/src/NoSeriesTests.Codeunit.al
Labels: AL: Business Foundation

#1146 [main] Update BCArtifact version. New value: 25.0.19746.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1143 [24.1] Update BCArtifact version. New value: 24.1.18927.19730
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1142 [24.0] Update app baselines package version. New value: 23.5.16502.19720
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1141 [24.1] Update app baselines package version. New value: 24.0.16410.19729
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1140 [main] Update app baselines package version. New value: 24.2.19745.0
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1139 [24.x] Update app baselines package version. New value: 24.1.18927.19730
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1144 [24.0] Update BCArtifact version. New value: 24.0.16410.19729
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1147 Bugs/534262 (#1118)
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesSequenceImpl.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesStatelessImpl.Codeunit.al
  src/Business Foundation/Test Library/NoSeries/src/LibraryNoSeries.Codeunit.al
  src/Business Foundation/Test/NoSeries/src/NoSeriesBatchTests.Codeunit.al
  src/Business Foundation/Test/NoSeries/src/NoSeriesTests.Codeunit.al
Labels: AL: Business Foundation

#1148 Bugs/535035_241
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesSequenceImpl.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesStatelessImpl.Codeunit.al
  src/Business Foundation/Test Library/NoSeries/src/LibraryNoSeries.Codeunit.al
  src/Business Foundation/Test/NoSeries/src/NoSeriesBatchTests.Codeunit.al
  src/Business Foundation/Test/NoSeries/src/NoSeriesTests.Codeunit.al
Labels: AL: Business Foundation

#1149 Bugs/535034_240
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesSequenceImpl.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesStatelessImpl.Codeunit.al
  src/Business Foundation/Test Library/NoSeries/src/LibraryNoSeries.Codeunit.al
  src/Business Foundation/Test/NoSeries/src/NoSeriesBatchTests.Codeunit.al
  src/Business Foundation/Test/NoSeries/src/NoSeriesTests.Codeunit.al
Labels: AL: Business Foundation

#1120 Support using cert with Azure function
  src/System Application/App/Azure Function/AzureFunctionsAuthentication.Codeunit.al
  src/System Application/App/Azure Function/AzureFunctionsOAuth2Cert.Codeunit.al
Labels: AL: System Application

#1154 [24.1] azure function support cert auth
  src/System Application/App/Azure Function/AzureFunctionsAuthentication.Codeunit.al
  src/System Application/App/Azure Function/AzureFunctionsOAuth2Cert.Codeunit.al
Labels: AL: System Application

#1158 [24.0] Update BCArtifact version. New value: 24.0.16410.19803
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1156 [main] Update BCArtifact version. New value: 25.0.19812.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1155 [24.x] Update BCArtifact version. New value: 24.2.19802.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1076 ExtensionDeploymentStatus new Actions
  src/System Application/App/Extension Management/src/ExtensionDeploymentStatus.Page.al
Labels: AL: System Application, From Fork, Linked, Integration

#1159 Update AL-Go System Files
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullPowerPlatformChanges.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/PushPowerPlatformChanges.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  .github/workflows/_BuildPowerPlatformSolution.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1160 Update AL-Go System Files
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullPowerPlatformChanges.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/PushPowerPlatformChanges.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  .github/workflows/_BuildPowerPlatformSolution.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1161 Update AL-Go System Files
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullPowerPlatformChanges.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/PushPowerPlatformChanges.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  .github/workflows/_BuildPowerPlatformSolution.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1162 Update AL-Go System Files
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullPowerPlatformChanges.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/PushPowerPlatformChanges.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  .github/workflows/_BuildPowerPlatformSolution.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1153 [24.0] azure function support cert auth
  src/System Application/App/Azure Function/AzureFunctionsAuthentication.Codeunit.al
  src/System Application/App/Azure Function/AzureFunctionsOAuth2Cert.Codeunit.al
  src/System Application/App/OAuth2/OAuth2.Codeunit.al
  src/System Application/App/OAuth2/OAuth2Impl.Codeunit.al
Labels: AL: System Application

#1166 [24.1] Update BCArtifact version. New value: 24.1.18927.19859
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1165 [main] Update BCArtifact version. New value: 25.0.19860.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1164 [24.0] Update BCArtifact version. New value: 24.0.16410.19861
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1168 [24.0] azure function support cert auth (with addtional AKV support)
  src/System Application/App/Azure Key Vault/src/AzureKeyVault.Codeunit.al
  src/System Application/App/Azure Key Vault/src/AzureKeyVaultImpl.Codeunit.al
Labels: AL: System Application

#1172 [main] Update BCArtifact version. New value: 25.0.19942.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1171 [24.x] Update BCArtifact version. New value: 24.2.19938.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1170 [24.0] Update BCArtifact version. New value: 24.0.16410.19941
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1169 [24.1] Update BCArtifact version. New value: 24.1.18927.19939
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#969 Add GetBlobMetaData and SetBlobMetaData procedure to ABS Blob Client codeunit
  src/System Application/App/Azure Blob Services API/src/ABSBlobClient.Codeunit.al
  src/System Application/App/Azure Blob Services API/src/ABSClientImpl.Codeunit.al
  src/System Application/App/Azure Blob Services API/src/ABSOperationResponse.Codeunit.al
  src/System Application/Test/Azure Blob Services API/src/ABSBlobClientTest.Codeunit.al
  src/System Application/Test/Azure Blob Services API/src/ABSTestLibrary.Codeunit.al
  src/System Application/Test/DisabledTests/ABSBlobClientTest.json
Labels: AL: System Application, From Fork, Linked, Integration

#714 OpenChangePasswordDialog new rules #328
  src/System Application/App/Password/src/ChangePassword.Report.al
  src/System Application/App/Password/src/PasswordDialog.Page.al
  src/System Application/App/Password/src/PasswordDialogImpl.Codeunit.al
  src/System Application/App/Password/src/PasswordDialogManagement.Codeunit.al
  src/System Application/Test Library/Password/app.json
  src/System Application/Test Library/Password/src/LibraryPassword.Codeunit.al
  src/System Application/Test/Password/src/PasswordDialogTest.Codeunit.al
  src/System Application/Test/System Initialization/src/SystemInitializationTest.Codeunit.al
Labels: AL: System Application, From Fork, Linked, Integration

#1110 Add ClientCredentials Authentication with Certificate
  src/System Application/App/MicrosoftGraph/src/Authorization/GraphAuthClientCredentials.Codeunit.al
  src/System Application/App/MicrosoftGraph/src/Authorization/GraphAuthorization.Codeunit.al
  src/System Application/App/MicrosoftGraph/src/Authorization/GraphAuthorizationImpl.Codeunit.al
  src/System Application/App/Rest Client/src/Authentication/HttpAuthOAuthClientCredentials.Codeunit.al
Labels: AL: System Application, From Fork, Linked, Integration

#1173 Make Marketing Text support all languages except Portuguese (#1101)
  src/System Application/App/AI/src/Copilot/CopilotCapabilityInstall.Codeunit.al
  src/System Application/App/Entity Text/src/EntityTextAOAISettings.Codeunit.al
  src/System Application/App/Entity Text/src/EntityTextLanguages.Enum.al
Labels: AL: System Application

#1174 [24.0] Update BCArtifact version. New value: 24.0.16410.19983
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1175 [24.1] Update BCArtifact version. New value: 24.1.18927.19982
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1176 [24.x] Update BCArtifact version. New value: 24.2.19984.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1177 [main] Update BCArtifact version. New value: 25.0.19986.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1189 [24.1] Update app baselines package version. New value: 24.0.16410.20073
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1190 [24.x] Update app baselines package version. New value: 24.1.18927.20076 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1191 [main] Update app baselines package version. New value: 24.2.20071.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1192 [24.0] Update app baselines package version. New value: 23.5.16502.20066
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1193 [24.x] Update BCArtifact version. New value: 24.2.20071.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1196 [24.0] Update BCArtifact version. New value: 24.0.16410.20077
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1195 [24.1] Update BCArtifact version. New value: 24.1.18927.20076
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1113 Fix region for Microsoft AppSource Apps page API
  src/System Application/App/AppSource Gallery/src/AppSourceProductManager.Codeunit.al
Labels: AL: System Application

#1183 [releases/24.x] Fix region for Microsoft AppSource Apps page API
  src/System Application/App/AppSource Gallery/src/AppSourceProductManager.Codeunit.al
Labels: AL: System Application

#1184 [releases/24.0] Fix region for Microsoft AppSource Apps page API
  src/System Application/App/AppSource Gallery/src/AppSourceProductManager.Codeunit.al
Labels: AL: System Application

#1185 [releases/24.1] Fix region for Microsoft AppSource Apps page API
  src/System Application/App/AppSource Gallery/src/AppSourceProductManager.Codeunit.al
Labels: AL: System Application

#1197 UserPersonalization.Edit permission set - Remove removed table
  src/System Application/App/System Permissions/permissions/UserPersonalizationEdit.PermissionSet.al
Labels: AL: System Application

#1187 [24.0] Upgrade PowerBI to version 2.23.1 (#1167)
  src/System Application/App/ControlAddIns/Resources/PowerBIManagement/js/PowerBIManagement.js
  src/System Application/App/ControlAddIns/Resources/PowerBIManagement/js/powerbi.js
  src/System Application/App/ControlAddIns/src/PowerBIManagement.ControlAddin.al
  src/System Application/App/Resources/PowerBIManagement/js/PowerBIManagement.js
  src/System Application/App/Resources/PowerBIManagement/js/powerbi.js
Labels: AL: System Application

#1201 [24.1] Update BCArtifact version. New value: 24.1.18927.20113
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1200 [24.x] Update BCArtifact version. New value: 24.2.20122.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1203 [main] Update BCArtifact version. New value: 25.0.20123.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1202 [24.0] Update BCArtifact version. New value: 24.0.16410.20121
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1208 Update AL-Go System Files
  .github/workflows/CICD.yaml
  .github/workflows/PullPowerPlatformChanges.yaml
  .github/workflows/PushPowerPlatformChanges.yaml
  .github/workflows/_BuildPowerPlatformSolution.yaml
Labels: Build: Automation

#1206 Update AL-Go System Files
  .github/workflows/CICD.yaml
  .github/workflows/PullPowerPlatformChanges.yaml
  .github/workflows/PushPowerPlatformChanges.yaml
  .github/workflows/_BuildPowerPlatformSolution.yaml
Labels: Build: Automation

#1205 Update AL-Go System Files
  .github/workflows/CICD.yaml
  .github/workflows/PullPowerPlatformChanges.yaml
  .github/workflows/PushPowerPlatformChanges.yaml
  .github/workflows/_BuildPowerPlatformSolution.yaml
Labels: Build: Automation

#1210 [main] Update BCArtifact version. New value: 25.0.20194.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1213 [24.1] Update BCArtifact version. New value: 24.1.18927.20192
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1211 [24.x] Update BCArtifact version. New value: 24.2.20189.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1212 [24.0] Update BCArtifact version. New value: 24.0.16410.20193
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation
