Repository microsoft/BCApps, pull requests merged in 2024-09, with the labels that each got.

#1923 [main] Update BCArtifact version. New value: 26.0.23521.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1920 [Copilot] Add early preview availability type
  src/System Application/App/AI/src/Copilot/CopilotAICapabilities.Page.al
  src/System Application/App/AI/src/Copilot/CopilotAvailability.Enum.al
  src/System Application/App/AI/src/Copilot/CopilotCapEarlyPreview.Page.al
  src/System Application/App/AI/src/Copilot/CopilotCapabilityImpl.Codeunit.al
Labels: AL: System Application

#1889 Use multiple DisabledTests folders
  build/scripts/RunTestsInBcContainer.ps1
  src/Business Foundation/Test/DisabledTests/NoSeriesSuggestionsTest.json
Labels: Build: scripts & configs, AL: Business Foundation

#1924 Profiler Schedules - Incorrect caption
  src/System Application/App/Performance Profiler/src/PerfProfilerScheduleCard.Page.al
Labels: AL: System Application

#1925 [25.x] Profiler Schedules - Incorrect caption
  src/System Application/App/Performance Profiler/src/PerfProfilerScheduleCard.Page.al
Labels: AL: System Application

#1916 Features/539591 restructure objects to allow agents app
  src/System Application/App/Permission Sets/src/UserSubformPermissions.PageExt.al
  src/System Application/App/Security Groups/app.json
  src/System Application/App/Security Groups/permissions/SecurityGroupsObjects.PermissionSet.al
  src/System Application/App/Security Groups/src/InheritedPermissionSetsPart.Page.al
  src/System Application/App/Security Groups/src/SecurityGroupPermissionSets.Page.al
  src/System Application/App/Security Groups/src/UserSecurityGroupsPart.Page.al
  src/System Application/App/User Permissions/app.json
  src/System Application/App/User Permissions/permissions/UserPermissionsObjects.PermissionSet.al
  src/System Application/App/User Permissions/src/UserPermissions.Codeunit.al
  src/System Application/App/User Permissions/src/UserPermissionsImpl.Codeunit.al
  src/System Application/App/User Permissions/src/UserSubform.Page.al
  src/System Application/App/User Settings/src/UserSettings.Codeunit.al
  src/System Application/App/User Settings/src/UserSettingsImpl.Codeunit.al
Labels: AL: System Application

#1929 Microsoft AppSource Apps shows error on docker.
  src/System Application/App/AppSource Gallery/src/AppSourceProductManager.Codeunit.al
Labels: AL: System Application

#1932 Moving user subparts to system app - Fixing internal methods on the pages
  src/System Application/App/Security Groups/src/InheritedPermissionSetsPart.Page.al
  src/System Application/App/Security Groups/src/UserSecurityGroupsPart.Page.al
Labels: AL: System Application

#1926 [25.0] Profiler Schedules - Incorrect caption
  src/System Application/App/Performance Profiler/src/PerfProfilerScheduleCard.Page.al
Labels: AL: System Application

#1949 [24.x] Update BCArtifact version. New value: bcinsider/Sandbox/24.6/base/latest
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1948 [main] Update BCArtifact version. New value: 26.0.23634.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1945 [24.0] Update app baselines package version. New value: 23.5.16502.23612
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1944 [24.1] Update app baselines package version. New value: 24.0.16410.23611
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1943 [25.x] Update app baselines package version. New value: 25.0.23364.23629 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1942 [24.4] Update app baselines package version. New value: 24.3.21374.23624
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1941 [main] Update app baselines package version. New value: 25.1.23628.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1940 [24.3] Update app baselines package version. New value: 24.2.20227.23631
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1939 [24.5] Update app baselines package version. New value: 24.4.22295.23627 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1938 [24.2] Update app baselines package version. New value: 24.1.18927.23610
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1937 [24.x] Update app baselines package version. New value: 24.5.23596.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1934 [Perf Profiler] Wrap deserialize in a try function
  src/System Application/App/Performance Profiler/src/SamplingPerfProfilerImpl.Codeunit.al
  src/System Application/Test/Performance Profiler/src/SamplingPerfProfilerTest.Codeunit.al
Labels: AL: System Application

#1930 [releases/25.x] Fix get app id for object
  src/System Application/App/VS Code Integration/src/VsCodeIntegrationImpl.Codeunit.al
Labels: AL: System Application

#1931 [releases/25.0] Fix get app id for object
  src/System Application/App/VS Code Integration/src/VsCodeIntegrationImpl.Codeunit.al
Labels: AL: System Application

#1955 [main] Update BCArtifact version. New value: 26.0.23679.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1952 Change AOAI Deployment to 4o
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesCopilotImpl.Codeunit.al
Labels: AL: Business Foundation

#1953 Run PSScriptAnalyzer only on when there are PS changes
  .github/workflows/powershell.yaml
Labels: Build: Automation

#1959 [main] Update BCArtifact version. New value: 26.0.23743.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1957 User Login View was replaced by inherent permissions
  src/System Application/Test/User Login Times/src/UserLoginTimeTrackerTest.Codeunit.al
Labels: AL: System Application

#1964 [releases/24.4] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 9308ffb724a39179ea32dd55c838f176903a2a5c
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1969 [releases/24.0] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 9308ffb724a39179ea32dd55c838f176903a2a5c
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1967 [releases/25.0] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 9308ffb724a39179ea32dd55c838f176903a2a5c
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1968 [releases/25.x] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 9308ffb724a39179ea32dd55c838f176903a2a5c
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1962 [releases/24.1] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 9308ffb724a39179ea32dd55c838f176903a2a5c
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1965 [main] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 9308ffb724a39179ea32dd55c838f176903a2a5c
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1960 [releases/24.2] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 9308ffb724a39179ea32dd55c838f176903a2a5c
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1958 Page Summary Provider - Remove the error
  src/System Application/App/Page Summary Provider/src/PageSummaryProviderImpl.Codeunit.al
Labels: AL: System Application

#1956 [main] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 73f489ec1d9a34fa2ed69fbafd5e0ec9bd67f48b
  .github/workflows/_BuildALGoProject.yaml
Labels: Build: Automation

#1950 Minor bugs on AppSource module
  src/System Application/App/AppSource Gallery/src/AppSourceProductDetails.Page.al
  src/System Application/App/AppSource Gallery/src/AppSourceProductList.Page.al
  src/System Application/App/Extension Management/src/ExtensionInstallation.Page.al
Labels: AL: System Application

#1951 [releases/25.x] Minor bugs on AppSource module
  src/System Application/App/AppSource Gallery/src/AppSourceProductDetails.Page.al
  src/System Application/App/AppSource Gallery/src/AppSourceProductList.Page.al
  src/System Application/App/AppSource Gallery/src/AppSourceProductManager.Codeunit.al
  src/System Application/App/Extension Management/src/ExtensionInstallation.Page.al
Labels: AL: System Application

#1899 [Copilot] GetCopilotCapabilityStatus subscriber not exiting for other capabilities
  src/System Application/App/AI/src/Copilot/CopilotCapabilityImpl.Codeunit.al
Labels: AL: System Application

#1971 [main] Update BCArtifact version. New value: 26.0.23813.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1974 [main] Update BCArtifact version. New value: 26.0.23872.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1979 [24.5] Update app baselines package version. New value: 24.4.22295.23964
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1981 [24.4] Update app baselines package version. New value: 24.3.21374.23931
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1984 [24.3] Update app baselines package version. New value: 24.2.20227.23933
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1985 [25.x] Update app baselines package version. New value: 25.0.23364.23971 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1987 [24.0] Update app baselines package version. New value: 23.5.16502.23914
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1988 [main] Update BCArtifact version. New value: 26.0.23945.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#1983 [24.x] Update translation package version. New value: 24.6.20240905.3
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1991 [Copilot] Add Silent to CopilotCapabilityStatus
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAI.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotCapabilityImpl.Codeunit.al
Labels: AL: System Application

#1992 [25.x] Delete TenantMediaSet in Batch and safeguard loading detached media
  src/System Application/App/Data Administration/src/MediaCleanup.Codeunit.al
  src/System Application/App/Data Administration/src/MediaCleanupImpl.Codeunit.al
Labels: AL: System Application

#1998 [24.4] Delete TenantMediaSet in Batch and safeguard loading detached media
  src/System Application/App/Data Administration/src/MediaCleanup.Codeunit.al
  src/System Application/App/Data Administration/src/MediaCleanupImpl.Codeunit.al
Labels: AL: System Application

#1996 [24.5] Delete TenantMediaSet in Batch and safeguard loading detached media
  src/System Application/App/Data Administration/src/MediaCleanup.Codeunit.al
  src/System Application/App/Data Administration/src/MediaCleanupImpl.Codeunit.al
Labels: AL: System Application

#1995 [24.x] Delete TenantMediaSet in Batch and safeguard loading detached media
  src/System Application/App/Data Administration/src/MediaCleanup.Codeunit.al
  src/System Application/App/Data Administration/src/MediaCleanupImpl.Codeunit.al
Labels: AL: System Application

#1994 [25.0] Delete TenantMediaSet in Batch and safeguard loading detached media
  src/System Application/App/Data Administration/src/MediaCleanup.Codeunit.al
  src/System Application/App/Data Administration/src/MediaCleanupImpl.Codeunit.al
Labels: AL: System Application

#1976 Use AppId function to delete orphaned extension data AB#534788
  src/System Application/App/Extension Management/src/ExtensionInstallationImpl.Codeunit.al
  src/System Application/App/Extension Management/src/ExtnOrphanedAppDetails.Page.al
Labels: AL: System Application

#1975 Updates to the AppSource apps UX
  src/System Application/App/AppSource Gallery/src/AppSourceProductDetails.Page.al
  src/System Application/App/AppSource Gallery/src/AppSourceProductList.Page.al
Labels: AL: System Application

#2000 [main] Update BCArtifact version. New value: 26.0.24026.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2001 fix split list to include the leftovers
  src/System Application/App/Data Administration/src/MediaCleanupImpl.Codeunit.al
Labels: AL: System Application

#2003 [25.x] fix split list to include the leftovers
  src/System Application/App/Data Administration/src/MediaCleanupImpl.Codeunit.al
Labels: AL: System Application

#2004 [25.0] fix split list to include the leftovers
  src/System Application/App/Data Administration/src/MediaCleanupImpl.Codeunit.al
Labels: AL: System Application

#2005 [24.x] fix split list to include the leftovers
  src/System Application/App/Data Administration/src/MediaCleanupImpl.Codeunit.al
Labels: AL: System Application

#2006 [24.5] fix split list to include the leftovers
  src/System Application/App/Data Administration/src/MediaCleanupImpl.Codeunit.al
Labels: AL: System Application

#2007 [24.4] fix split list to include the leftovers
  src/System Application/App/Data Administration/src/MediaCleanupImpl.Codeunit.al
Labels: AL: System Application

#2014 [releases/24.x] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - ff5817559912b8a13b51c09368f01a623acd2082
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2013 [releases/24.5] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - ff5817559912b8a13b51c09368f01a623acd2082
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2009 [releases/25.x] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - ff5817559912b8a13b51c09368f01a623acd2082
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2008 [main] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - ff5817559912b8a13b51c09368f01a623acd2082
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2016 [releases/24.2] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - ff5817559912b8a13b51c09368f01a623acd2082
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2012 [releases/24.3] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - ff5817559912b8a13b51c09368f01a623acd2082
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2011 [releases/24.4] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - ff5817559912b8a13b51c09368f01a623acd2082
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2010 [releases/24.0] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - ff5817559912b8a13b51c09368f01a623acd2082
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2017 [releases/25.0] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - ff5817559912b8a13b51c09368f01a623acd2082
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2015 [releases/24.1] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - ff5817559912b8a13b51c09368f01a623acd2082
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#1972 [User Sync] Improve telemetry logging
  src/System Application/App/Azure AD Plan/src/AzureADPlanImpl.Codeunit.al
  src/System Application/App/Azure AD User Management/src/User sync/AzureADUserSyncImpl.Codeunit.al
Labels: AL: System Application

#1928 [AI Test Tool] Fix SetTestOutput
  src/Tools/AI Test Toolkit/src/AITTestContextImpl.Codeunit.al
Labels: AL: Tools

#2020 [PowerBIAddin] Add support for language config
  src/System Application/App/ControlAddIns/Resources/PowerBIManagement/js/PowerBIManagement.js
  src/System Application/App/ControlAddIns/src/PowerBIManagement.ControlAddin.al
  src/System Application/App/Resources/PowerBIManagement/js/PowerBIManagement.js
Labels: AL: System Application

#2023 [main] Update BCArtifact version. New value: 26.0.24098.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2024 AI Test Toolkit: Remove the hard checks on the UI. Instead, we rely on Installation code
  src/Tools/AI Test Toolkit/src/AITCommandLineCard.Page.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuite.Page.al
Labels: AL: Tools

#2029 [main] Update BCArtifact version. New value: 26.0.24149.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2031 Reapply "[Email] Add subject to API and docs (#1894)" (#1919)
  build/Packages.json
  src/System Application/App/Email/src/Message/EmailMessage.Codeunit.al
  src/System Application/App/Email/src/Message/EmailMessageImpl.Codeunit.al
  src/System Application/Test/Email/src/EmailTest.Codeunit.al
Labels: AL: System Application, Build: scripts & configs

#2035 [24.5] Update BCArtifact version. New value: bcartifacts/Sandbox/24.5/base/latest
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2036 [main] Update BCArtifact version. New value: 26.0.24196.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2033 Improve harms test
  src/Business Foundation/Test/NoSeriesCopilot/src/NoSeriesCopilotHarmsTests.Codeunit.al
Labels: AL: Business Foundation

#2049 [main] Update BCArtifact version. New value: 26.0.24278.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2048 [24.0] Update app baselines package version. New value: 23.5.16502.24244
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2047 [24.2] Update app baselines package version. New value: 24.1.18927.24243
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2046 [25.0] Update app baselines package version. New value: 24.5.23489.24267
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2045 [24.4] Update app baselines package version. New value: 24.3.21374.24238
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2044 [24.3] Update app baselines package version. New value: 24.2.20227.24248
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2043 [24.5] Update app baselines package version. New value: 24.4.22295.24242
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2042 [main] Update app baselines package version. New value: 25.1.24274.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2040 [25.x] Update app baselines package version. New value: 25.0.23364.24269 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#1999 Porting fix to 25.x - Client does not check Copilot Capability
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAI.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotCapabilityImpl.Codeunit.al
Labels: AL: System Application

#2055 Page summary telemetry - fix wrong condition
  src/System Application/App/Page Summary Provider/src/PageSummaryProviderImpl.Codeunit.al
Labels: AL: System Application

#2054 25.x - Page summary telemetry - fix wrong condition
  src/System Application/App/Page Summary Provider/src/PageSummaryProviderImpl.Codeunit.al
Labels: AL: System Application

#2056 [main] Update BCArtifact version. New value: 26.0.24318.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2053 [25.x][PowerBIAddin] Add support for language config (#2020)
  src/System Application/App/ControlAddIns/Resources/PowerBIManagement/js/PowerBIManagement.js
  src/System Application/App/ControlAddIns/src/PowerBIManagement.ControlAddin.al
  src/System Application/App/Resources/PowerBIManagement/js/PowerBIManagement.js
Labels: AL: System Application

#2060 [Suggest No. Series] Enable feature and sync version with version from MAIN branch.
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesCopilotImpl.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesExt.PageExt.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesGenerationDetail.Table.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesGenerationSub.Page.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/Tools/NoSeriesCopAddIntent.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/Tools/NoSeriesCopToolsImpl.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Register/NoSeriesCopilotInstall.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Register/NoSeriesCopilotRegister.Codeunit.al
  src/Business Foundation/Test/NoSeriesCopilot/src/NoSeriesCopilotHarmsTests.Codeunit.al
Labels: AL: Business Foundation

#2058 [releases/25.x] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - ff5817559912b8a13b51c09368f01a623acd2082
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
Labels: Build: scripts & configs

#2059 [main] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - ff5817559912b8a13b51c09368f01a623acd2082
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
Labels: Build: scripts & configs

#2057 [releases/24.x] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - ff5817559912b8a13b51c09368f01a623acd2082
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
Labels: Build: scripts & configs

#2062 [main] Update BCArtifact version. New value: 26.0.24375.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2069 [25.0][Suggest No. Series] Enable feature and sync version with version from MAIN branch.
  src/Business Foundation/App/NoSeriesCopilot/app.json
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesCopilotImpl.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesExt.PageExt.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesGenerationDetail.Table.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesGenerationSub.Page.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/Tools/NoSeriesCopAddIntent.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/Tools/NoSeriesCopToolsImpl.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Register/NoSeriesCopilotInstall.Codeunit.al
  src/Business Foundation/App/NoSeriesCopilot/src/Register/NoSeriesCopilotRegister.Codeunit.al
  src/Business Foundation/Test Library/NoSeriesCopilot/app.json
  src/Business Foundation/Test/NoSeriesCopilot/app.json
  src/Business Foundation/Test/NoSeriesCopilot/src/NoSeriesCopilotHarmsTests.Codeunit.al
Labels: AL: Business Foundation

#2072 Adapt script to BCApps
  .github/actions/VerifyAppChanges/TestPreprocessorSymbols.ps1
  .github/workflows/VerifyAppChanges.yaml
  build/scripts/GuardingV2ExtensionsHelper.psm1
Labels: Build: Automation, Build: scripts & configs

#2071 [main] Update BCArtifact version. New value: 26.0.24443.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2066 Bug: AI Test Capability Registration from Test Library does not work
  src/System Application/Test Library/AI/src/CopilotTestLibrary.Codeunit.al
Labels: AL: System Application

#2073 [main] Update BCArtifact version. New value: 26.0.24499.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2032 Edit In Excel: Fix metadata generation bug when caption name uses `en dash` instead of `em dash`
  src/System Application/App/Edit in Excel/src/EditinExcelImpl.Codeunit.al
  src/System Application/Test/Edit in Excel/src/EditInExcelTest.Codeunit.al
Labels: AL: System Application

#2075 [25.x] Edit In Excel: Fix metadata generation bug when caption name uses `en…
  src/System Application/App/Edit in Excel/src/EditinExcelImpl.Codeunit.al
  src/System Application/Test/Edit in Excel/src/EditInExcelTest.Codeunit.al
Labels: AL: System Application

#2076 [25.0] Private/mattinielsen/backport metadata generation error for en dash in norway tenants v25 0
  src/System Application/App/Edit in Excel/src/EditinExcelImpl.Codeunit.al
  src/System Application/Test/Edit in Excel/src/EditInExcelTest.Codeunit.al
Labels: AL: System Application

#2087 [main] Update BCArtifact version. New value: 26.0.24595.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2086 [24.0] Update app baselines package version. New value: 23.5.16502.24567
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2084 [24.2] Update app baselines package version. New value: 24.1.18927.24578
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2083 [24.4] Update app baselines package version. New value: 24.3.21374.24583
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2081 [24.1] Update app baselines package version. New value: 24.0.16410.24582
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2080 [25.x] Update app baselines package version. New value: 25.0.23364.24593 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2079 [24.3] Update app baselines package version. New value: 24.2.20227.24581
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2078 [24.5] Update app baselines package version. New value: 24.4.22295.24579
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2082 [main] Update app baselines package version. New value: 25.1.24594.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2002 Updates to the AppSource apps UX (#1975)
  src/System Application/App/AppSource Gallery/src/AppSourceProductDetails.Page.al
  src/System Application/App/AppSource Gallery/src/AppSourceProductList.Page.al
Labels: AL: System Application

#2064 Added dotnet wrappers for Purview telemetry
  src/System Application/App/DotNet Aliases/src/dotnet.al
Labels: AL: System Application

#2065 Add CLEANSCHEMA symbols
  .github/actions/TestPreprocessorSymbols/action.ps1
  .github/actions/TestPreprocessorSymbols/action.yaml
  .github/workflows/PowerShell.yaml
  .github/workflows/VerifyAppChanges.yaml
  build/scripts/GuardingV2ExtensionsHelper.psm1
  build/scripts/TestPreprocessorSymbols.psm1
  build/scripts/tests/TestPreprocessorSymbols.Test.ps1
  build/scripts/tests/runTests.ps1
  src/Business Foundation/App/AuditCodes/src/Legacy/ObsoleteSourceCodeExt.TableExt.al
  src/Business Foundation/App/AuditCodes/src/Legacy/ObsoleteSourceCodeSetupExt.TableExt.al
  src/Business Foundation/App/NoSeries/src/Legacy/NoSeriesLineObsolete.TableExt.al
  src/Business Foundation/App/NoSeries/src/Legacy/NoSeriesLinePurchase.Table.al
  src/Business Foundation/App/NoSeries/src/Legacy/NoSeriesLineSales.Table.al
  src/Business Foundation/App/NoSeries/src/Legacy/NoSeriesObsolete.TableExt.al
  src/System Application/App/Email/src/Message/EmailMessageAttachment.Table.al
  src/System Application/App/Entity Text/src/AzureOpenAiSettings.Table.al
  src/System Application/App/Guided Experience/src/Assisted Setup/AggregatedAssistedSetup.Table.al
  src/System Application/App/Guided Experience/src/Assisted Setup/AssistedSetup.Table.al
  src/System Application/App/Guided Experience/src/Assisted Setup/AssistedSetupIcons.Table.al
  src/System Application/App/Guided Experience/src/Assisted Setup/AssistedSetupLog.Table.al
  src/System Application/App/Guided Experience/src/Assisted Setup/ProductVideoCategory.Table.al
  src/System Application/App/Guided Experience/src/Manual Setup/BusinessSetupIcon.Table.al
  src/System Application/App/Guided Experience/src/Manual Setup/ManualSetup.Table.al
  src/System Application/App/Satisfaction Survey/src/NetPromoterScoreSetup.Table.al
  src/System Application/App/SmartList Designer Subscribers/src/QueryNavigationValidation.Table.al
  src/System Application/App/SmartList Designer Subscribers/src/SmartListDesignerHandler.Table.al
  src/System Application/App/User Settings/src/ExtraSettings.Table.al
  src/System Application/App/Video/src/ProductVideoBuffer.Table.al
Labels: Build: Automation, AL: System Application, Build: scripts & configs, AL: Business Foundation

#2091 [Copilot No. Series] More details in error messages
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesCopilotImpl.Codeunit.al
Labels: From Fork, Linked, AL: Business Foundation, Integration

#2092 [main] Update BCArtifact version. New value: 26.0.24649.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2103 [releases/24.5] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - becb26e1f895fb75145bbc10535afb19c09bff5c
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2102 [releases/24.0] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - becb26e1f895fb75145bbc10535afb19c09bff5c
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2101 [releases/24.1] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - becb26e1f895fb75145bbc10535afb19c09bff5c
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2100 [releases/24.x] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - becb26e1f895fb75145bbc10535afb19c09bff5c
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2099 [releases/24.3] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - becb26e1f895fb75145bbc10535afb19c09bff5c
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2098 [releases/24.2] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - becb26e1f895fb75145bbc10535afb19c09bff5c
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2097 [releases/25.x] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - becb26e1f895fb75145bbc10535afb19c09bff5c
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2095 [releases/25.0] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - becb26e1f895fb75145bbc10535afb19c09bff5c
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2094 [main] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - becb26e1f895fb75145bbc10535afb19c09bff5c
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2093 Fix TestPreprocessorSymbols action ref
  .github/workflows/VerifyAppChanges.yaml
Labels: Build: Automation

#2096 [releases/24.4] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - becb26e1f895fb75145bbc10535afb19c09bff5c
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#2088 Shorten the caption for refresh apps
  src/System Application/App/AppSource Gallery/src/AppSourceProductList.Page.al
Labels: AL: System Application

#2104 Fix getting app ID for system objects
  src/System Application/App/VS Code Integration/src/VsCodeIntegrationImpl.Codeunit.al
Labels: AL: System Application

#2105 [main] Update BCArtifact version. New value: 26.0.24720.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2026 [Control Add-ins] Load control scripts from internal CDN
  src/System Application/App/ControlAddIns/Resources/FlowIntegration/js/msflowsdk-1.1.1.144.min.js
  src/System Application/App/ControlAddIns/src/BusinessChart.ControlAddin.al
  src/System Application/App/ControlAddIns/src/FlowIntegration.ControlAddin.al
  src/System Application/App/ControlAddIns/src/MicrosoftDynamicsNavClientBusinessChart.ControlAddin.al
  src/System Application/App/ControlAddIns/src/MicrosoftDynamicsNavClientFlowIntegration.ControlAddin.al
  src/System Application/App/ControlAddIns/src/MicrosoftDynamicsNavClientRoleCenterSelector.ControlAddin.al
  src/System Application/App/ControlAddIns/src/MicrosoftDynamicsNavClientWelcomeWizard.ControlAddin.al
  src/System Application/App/ControlAddIns/src/RoleCenterSelector.ControlAddin.al
  src/System Application/App/ControlAddIns/src/WelcomeWizard.ControlAddin.al
  src/System Application/App/Resources/FlowIntegration/js/msflowsdk-1.1.1.144.min.js
Labels: AL: System Application

#2028 [Plans] Add plan for delegated dynamics 365 administrator
  src/System Application/App/Azure AD Plan/src/PlanInstaller.Codeunit.al
  src/System Application/App/Azure AD Plan/src/PlanUpgrade.Codeunit.al
  src/System Application/App/Azure AD Plan/src/PlanUpgradeTag.Codeunit.al
  src/System Application/Test/Azure AD Plan/src/AzureADPlanTests.Codeunit.al
Labels: AL: System Application

#1933 [AI Test Tool] Update lines when changing input dataset
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestMethodLine.Table.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuite.Table.al
Labels: AL: Tools

#2018 [25.x] [User Sync] Improve telemetry logging
  src/System Application/App/Azure AD Plan/src/AzureADPlanImpl.Codeunit.al
  src/System Application/App/Azure AD User Management/src/User sync/AzureADUserSyncImpl.Codeunit.al
Labels: AL: System Application

#2109 [main] Update BCArtifact version. New value: 26.0.24770.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2113 [main] Update BCArtifact version. New value: 26.0.24822.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2115 [Tenant Media Cleanup] Only delete if filter is not empty
  src/System Application/App/Data Administration/src/MediaCleanupImpl.Codeunit.al
Labels: AL: System Application

#2120 [24.5] [Tenant Media Cleanup] Only delete if filter is not empty
  src/System Application/App/Data Administration/src/MediaCleanupImpl.Codeunit.al
Labels: AL: System Application

#2119 [24.4] [Tenant Media Cleanup] Only delete if filter is not empty
  src/System Application/App/Data Administration/src/MediaCleanupImpl.Codeunit.al
Labels: AL: System Application

#2118 Enhance test for Media Cleanup
  src/System Application/Test/Data Administration/src/MediaCleanupTest.Codeunit.al
  src/System Application/Test/Data Administration/src/TestMediaCleanup.Table.al
Labels: AL: System Application

#2121 [24.x] [Tenant Media Cleanup] Only delete if filter is not empty
  src/System Application/App/Data Administration/src/MediaCleanupImpl.Codeunit.al
Labels: AL: System Application
