Repository microsoft/BCApps, pull requests merged in 2024-01, with the labels that each got.

#448 Provide more clarity for the "Expired Records" field on the retention policy setup card
  src/System Application/App/Retention Policy/src/Retention Policy Setup/RetentionPolicySetupCard.Page.al
Labels: AL: System Application

#457 [main] Update package versions
  build/Packages.json
Labels: automation, Build: scripts & configs

#458 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#373 Add GetCode function to Security Groups module
  src/System Application/App/Security Groups/src/SecurityGroup.Codeunit.al
  src/System Application/App/Security Groups/src/SecurityGroupImpl.Codeunit.al
  src/System Application/Test/Security Groups/src/SecurityGroupsTest.Codeunit.al
Labels: AL: System Application

#462 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#461 Remove dependency from Guided Experience to Entity Text
  src/System Application/App/Guided Experience/app.json
  src/System Application/App/Guided Experience/src/Checklist Banner/ChecklistBannerImpl.Codeunit.al
Labels: AL: System Application

#441 [Copilot] Assisted setup cannot be marked as completed
  src/System Application/App/AI/app.json
  src/System Application/App/AI/src/Copilot/CopilotAICapabilities.Page.al
  src/System Application/App/AI/src/Copilot/CopilotCapabilityImpl.Codeunit.al
Labels: AL: System Application

#463 Turn AW0009 and AS0059 warnings into errors
  src/System Application/App/Data Administration/src/MediaCleanupFactbox.Page.al
  src/System Application/App/Email/src/Account/EmailAccountWizard.Page.al
  src/System Application/App/Email/src/Account/EmailAccounts.Page.al
  src/System Application/App/Web Service Management/src/WebServiceManagementImpl.Codeunit.al
  src/rulesets/ruleset.json
Labels: AL: System Application

#468 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#469 Add pragma to test AS0059
  src/System Application/Test/Web Service Management/src/WebServiceManagementTest.Codeunit.al
Labels: AL: System Application

#470 Remove the faulty permission check in the RemoveOrphanedEntraGroups function
  src/System Application/App/Security Groups/src/SecurityGroupImpl.Codeunit.al
Labels: AL: System Application

#473 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#472 [main] Update package versions
  build/Packages.json
Labels: automation, Build: scripts & configs

#466 [Copilot] Add GetTokenCount and obsolete ApproximateTokenCount
  src/System Application/App/AI/app.json
  src/System Application/App/AI/src/Azure OpenAI/AOAIToken.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAI.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIChatMessagesImpl.Codeunit.al
Labels: AL: System Application

#476 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#477 Update AL-Go System Files
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation

#475 Set enableCodeAnalyzersOnTestApps to true
  .github/AL-Go-Settings.json
Labels: Build: Automation

#460 Update extension installation flow for AppSource preview - part 2
  src/System Application/App/Extension Management/src/ExtensionInstallation.Page.al
  src/System Application/App/Extension Management/src/ExtensionInstallation.Table.al
  src/System Application/App/Extension Management/src/ExtensionMarketplace.Codeunit.al
  src/System Application/App/Extension Management/src/MarketplaceExtnDeployment.Page.al
Labels: AL: System Application

#480 Bugs/as0105
  src/System Application/App/BLOB Storage/src/TempBlob.Table.al
  src/System Application/App/Data Classification/src/FieldContentBuffer.Table.al
  src/System Application/App/Guided Experience/src/Manual Setup/ManualSetup.Table.al
Labels: AL: System Application

#482 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#474 Address upcoming PTECop rule in test enum extension
  src/System Application/Test/Auto Format/src/AutoFormatTest.Codeunit.al
  src/System Application/Test/Auto Format/src/AutoFormatTest.EnumExt.al
  src/System Application/Test/Auto Format/src/AutoFormatTestPage.Page.al
Labels: AL: System Application

#485 Improve wording on linking work items.
  build/scripts/PullRequestValidation/ValidateInternalWorkItemForPullRequest.ps1
Labels: Build: scripts & configs

#486 Clean AllowExtensionAndTargetInSameModule from manifests
  src/System Application/App/app.json
Labels: AL: System Application

#487 [main] Update package versions
  build/Packages.json
Labels: automation, Build: scripts & configs

#488 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#483 [Copilot] Geocheck failure when silent
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
Labels: AL: System Application

#490 Create bug on sync failure
  .azuredevops/SyncMirroredRepository.yml
Labels: Build: Automation

#491 Add environment in UpdateGitHubGoSystemFiles.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
Labels: Build: Automation

#492 Address upcoming PTECop rule in test enum extension - part 2
  src/System Application/Test/Auto Format/src/AutoFormatTest.EnumExt.al
Labels: AL: System Application

#493 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#496 [Retention Policy] Stop run once limit is hit
  src/System Application/App/Retention Policy/src/Apply Retention Policy/ApplyRetentionPolicyImpl.Codeunit.al
  src/System Application/Test Library/Retention Policy/app.json
  src/System Application/Test Library/Retention Policy/src/RetentionPolicyTestLibrary.Codeunit.al
  src/System Application/Test/Retention Policy/src/RetentionPolicyTest.Codeunit.al
Labels: AL: System Application

#479 Allow apostrophes in page field names for edit in excel
  src/System Application/App/Edit in Excel/src/EditinExcelImpl.Codeunit.al
  src/System Application/Test/Edit in Excel/src/EditInExcelTest.Codeunit.al
Labels: AL: System Application

#498 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#505 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#504 [main] Update package versions
  build/Packages.json
Labels: automation, Build: scripts & configs

#497 Consider permission sets from security groups in the User Permissions module
  src/System Application/App/Azure AD Plan/src/AzureADPlanImpl.Codeunit.al
  src/System Application/App/User Permissions/src/UserPermissionsImpl.Codeunit.al
  src/System Application/Test/DisabledTests/AzureADPlanTests.DisabledTest.json
Labels: AL: System Application

#342 Allowed to set more Environment Infos in tests
  src/System Application/App/Environment Information/src/EnvironmentInformationImpl.Codeunit.al
  src/System Application/Test Library/Environment Information/src/EnvironmentInfoTestLibrary.Codeunit.al
  src/System Application/Test/Environment Information/src/EnvironmentInformationTest.Codeunit.al
  src/System Application/Test/Satisfaction Survey/src/SatisfactionSurveyTests.Codeunit.al
Labels: AL: System Application, From Fork, linked

#506 Introduce the "Table Key" module
  src/System Application/App/Permissions/SystemApplicationObjects.PermissionSet.al
  src/System Application/App/Table Keys/app.json
  src/System Application/App/Table Keys/permissions/TableKeyObjects.PermissionSet.al
  src/System Application/App/Table Keys/src/TableKey.Codeunit.al
  src/System Application/App/Table Keys/src/TableKeyImpl.Codeunit.al
Labels: AL: System Application

#510 Fix the error message in the TestMixedPlansDetected test
  src/System Application/Test/Azure AD User Management/src/AzureADUserSyncTest.Codeunit.al
Labels: AL: System Application

#508 Turn time token to uppercase before compare
  src/System Application/App/Filter Tokens/src/FilterTokensImpl.Codeunit.al
Labels: AL: System Application

#511 Address code review comments on ResolveTimeToken
  src/System Application/App/Filter Tokens/src/FilterTokensImpl.Codeunit.al
Labels: AL: System Application

#500 Update issue template for bug creation
  .github/ISSUE_TEMPLATE/bcidea.yaml
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: Build: Automation

#512 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#513 Update URLs and title on issues config
  .github/ISSUE_TEMPLATE/config.yml
Labels: Build: Automation

#501 Support official branches that start with releases/
  .github/AL-Go-Settings.json
  .github/workflows/UpdateBCArtifactVersion.yaml
  .github/workflows/UpdatePackageVersions.yaml
  .github/workflows/powershell.yaml
Labels: Build: Automation

#515 Update AL-Go System Files
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation

#518 [main] Update BC Artifact version
  .github/AL-Go-Settings.json
Labels: automation, Build: Automation

#521 [main] Update package versions
  build/Packages.json
Labels: automation, Build: scripts & configs

#522 Re-enable user permissions tests
  src/System Application/App/User Permissions/src/UserPermissionsImpl.Codeunit.al
  src/System Application/Test Library/User Permissions/src/TestUserPermissionsSubs.Codeunit.al
  src/System Application/Test/DisabledTests/AzureADPlanTests.DisabledTest.json
  src/System Application/Test/User Permissions/src/UserPermissionsTest.Codeunit.al
Labels: AL: System Application

#523 [OAuth Integration] Remove min height and width
  src/System Application/App/ControlAddIns/src/OAuthIntegration.Controladdin.al
Labels: AL: System Application

#517 Updating the max runtime for a BCPT suite from 4 hrs to 8 hrs
  src/Tools/Performance Toolkit/App/src/BCPTHeader.Table.al
Labels: AL: Tools

#520 Fix setting marketing text authorization
  src/System Application/App/Entity Text/src/EntityTextImpl.Codeunit.al
Labels: AL: System Application

#516 #430 | Access to NewerThanDate in sent emails
  src/System Application/App/Email/src/Email/Email.Codeunit.al
  src/System Application/App/Email/src/Email/EmailImpl.Codeunit.al
  src/System Application/App/Email/src/Email/Sent/SentEmails.Page.al
Labels: AL: System Application, From Fork, linked
