Repository microsoft/BCApps, pull requests merged in 2025-09, with the labels that each got.

#4335 Remove AOAI account validation
  src/System Application/App/AI/src/Azure OpenAI/AOAIAuthorization.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAI.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
  src/System Application/Partner Test/AI/src/AzureOpenAITestPartner.Codeunit.al
Labels: AL: System Application

#4661 Fix obsoletion in v27.0 for No Series
  src/Business Foundation/App/NoSeries/src/Upgrade/NoSeriesInstaller.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Upgrade/NoSeriesUpgrade.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Upgrade/NoSeriesUpgradeTags.Codeunit.al
Labels: AL: Business Foundation

#4692 [Copilot] GA Analyze List
  src/System Application/App/AI/src/Copilot/CopilotCapabilityInstall.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotCapabilityUpgrade.Codeunit.al
Labels: AL: System Application

#4733 [Backport 27x][Copilot] GA Analyze List (#4692)
  src/System Application/App/AI/src/Copilot/CopilotCapabilityInstall.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotCapabilityUpgrade.Codeunit.al
Labels: AL: System Application

#4709 Add DOTNET module for Power Platform API Wrapper
  src/System Application/App/Azure AD Tenant/src/AzureADTenant.Codeunit.al
  src/System Application/App/Azure AD Tenant/src/AzureADTenantImpl.Codeunit.al
  src/System Application/App/DotNet Aliases/src/dotnet.al
Labels: AL: System Application

#4701 Allow attachments to be marked as ignored
  src/System Application/App/Agent/Interaction/AgentTaskMessageBuilder.Codeunit.al
  src/System Application/App/Agent/Interaction/Internal/AgentTaskMsgBuilderImpl.Codeunit.al
Labels: AL: System Application

#4737 Allow attachments to be marked as ignored (#4701)
  src/System Application/App/Agent/Interaction/AgentTaskMessageBuilder.Codeunit.al
  src/System Application/App/Agent/Interaction/Internal/AgentTaskMsgBuilderImpl.Codeunit.al
Labels: AL: System Application

#4386 Improve error message when failing to parse yaml
  src/Tools/Test Framework/Test Runner/src/DataDrivenTest/DataInputs/TestInputsManagement.Codeunit.al
Labels: AL: Tools

#4739 [Agent] Make Agent Tasks page non-editable
  src/System Application/App/Agent/Interaction/Internal/AgentTaskList.Page.al
Labels: AL: System Application

#4760 Keep apps installed during Apps build and add RunNumberOffset to build numbers
  .github/AL-Go-Settings.json
  build/projects/Apps (W1)/.AL-Go/NewBcContainer.ps1
Labels: Build: Automation, Build: scripts & configs

#4788 Update from dyce202508 for27.x
  src/Apps/W1/Subscription Billing/App/APIs/Pages/SalesServiceCommitmentsAPI.Page.al
  src/Apps/W1/Subscription Billing/App/APIs/Pages/ServiceCommitmentsAPI.Page.al
  src/Apps/W1/Subscription Billing/App/APIs/Pages/ServiceObjectAPI.Page.al
  src/Apps/W1/Subscription Billing/App/Base/Codeunits/SubBillingInstallation.Codeunit.al
  src/Apps/W1/Subscription Billing/App/Base/Codeunits/UpgradeSubscriptionBilling.Codeunit.al
  src/Apps/W1/Subscription Billing/App/Base/Tables/SubscriptionContractSetup.Table.al
  src/Apps/W1/Subscription Billing/App/Billing/Codeunits/BillingCorrection.Codeunit.al
  src/Apps/W1/Subscription Billing/App/Billing/Codeunits/CreateBillingDocuments.Codeunit.al
  src/Apps/W1/Subscription Billing/App/Billing/Codeunits/DocumentChangeManagement.Codeunit.al
  src/Apps/W1/Subscription Billing/App/Billing/Codeunits/SalesDocuments.Codeunit.al
  src/Apps/W1/Subscription Billing/App/Contract Renewal/Codeunits/SubContrRenewalSubcribers.Codeunit.al
  src/Apps/W1/Subscription Billing/App/Customer Contracts/Pages/CustomerContract.Page.al
  src/Apps/W1/Subscription Billing/App/Customer Contracts/Pages/CustomerContractLineSubp.Page.al
  src/Apps/W1/Subscription Billing/App/Customer Contracts/Tables/CustSubContractLine.Table.al
  src/Apps/W1/Subscription Billing/App/Deferrals/Codeunits/CustomerDeferralsMngmt.Codeunit.al
  src/Apps/W1/Subscription Billing/App/Deferrals/Codeunits/VendorDeferralsMngmt.Codeunit.al
  src/Apps/W1/Subscription Billing/App/Import/Codeunits/CreateSubscriptionLine.Codeunit.al
  src/Apps/W1/Subscription Billing/App/Import/Pages/ImportedCustomerContracts.Page.al
  src/Apps/W1/Subscription Billing/App/Import/Tables/ImportedSubscriptionLine.Table.al
  src/Apps/W1/Subscription Billing/App/Service Commitments/Pages/ServiceCommitments.Page.al
  src/Apps/W1/Subscription Billing/App/Service Commitments/Tables/ItemSubscriptionPackage.Table.al
  src/Apps/W1/Subscription Billing/App/Service Commitments/Tables/SubPackageLineTemplate.Table.al
  src/Apps/W1/Subscription Billing/App/Service Commitments/Tables/SubscriptionLine.Table.al
  src/Apps/W1/Subscription Billing/App/Service Commitments/Tables/SubscriptionPackageLine.Table.al
  src/Apps/W1/Subscription Billing/App/Usage Based Billing/Codeunits/GenericConnectorProcessing.Codeunit.al
  src/Apps/W1/Subscription Billing/App/Usage Based Billing/Codeunits/UsageBasedContrSubscribers.Codeunit.al
  src/Apps/W1/Subscription Billing/App/Usage Based Billing/Interfaces/UsageDataProcessing.Interface.al
  src/Apps/W1/Subscription Billing/App/Usage Based Billing/Pages/UsageDataBillings.Page.al
  src/Apps/W1/Subscription Billing/App/Usage Based Billing/Pages/UsageDataCustomers.Page.al
  src/Apps/W1/Subscription Billing/App/Usage Based Billing/Pages/UsageDataGenericImport.Page.al
  src/Apps/W1/Subscription Billing/App/Vendor Contracts/Pages/VendorContractLineSubpage.Page.al
  src/Apps/W1/Subscription Billing/App/Vendor Contracts/Tables/VendSubContractLine.Table.al
  src/Apps/W1/Subscription Billing/Subscription Billing.code-workspace
  src/Apps/W1/Subscription Billing/Test/Base/ContractTestLibrary.Codeunit.al
  src/Apps/W1/Subscription Billing/Test/Billing/BillingCorrectionTest.Codeunit.al
  src/Apps/W1/Subscription Billing/Test/Billing/RecurringBillingDocsTest.Codeunit.al
  src/Apps/W1/Subscription Billing/Test/Billing/RecurringBillingTest.Codeunit.al
  src/Apps/W1/Subscription Billing/Test/Contract Renewal/ContractRenewalTest.Codeunit.al
  src/Apps/W1/Subscription Billing/Test/Customer Contracts/ContractsTest.Codeunit.al
  src/Apps/W1/Subscription Billing/Test/Deferrals/CustomerDeferralsTest.Codeunit.al
  src/Apps/W1/Subscription Billing/Test/Deferrals/VendorDeferralsTest.Codeunit.al
  src/Apps/W1/Subscription Billing/Test/Import/ImpServiceAndContractTest.Codeunit.al
  src/Apps/W1/Subscription Billing/Test/Service Commitments/SalesServiceCommitmentTest.Codeunit.al
  src/Apps/W1/Subscription Billing/Test/Service Commitments/ServiceCommDimensions.Codeunit.al
  src/Apps/W1/Subscription Billing/Test/Service Commitments/ServiceCommitmentTest.Codeunit.al
  src/Apps/W1/Subscription Billing/Test/UBB/UsageBasedBillingTest.Codeunit.al
  src/Apps/W1/Subscription Billing/Test/UBB/UsageBasedServiceCommTest.Codeunit.al
  src/Apps/W1/Subscription Billing/Test/Vendor Contracts/VendorContractsTest.Codeunit.al
Labels: From Fork

#4671 [MCP] Introduce MCP configurations
  src/System Application/App/MCP/Permissions/MCPObjects.PermissionSet.al
  src/System Application/App/MCP/app.json
  src/System Application/App/MCP/src/Configuration/Codeunits/MCPConfig.Codeunit.al
  src/System Application/App/MCP/src/Configuration/Codeunits/MCPConfigImplementation.Codeunit.al
  src/System Application/App/MCP/src/Configuration/Pages/MCPAPIConfigToolLookup.Page.al
  src/System Application/App/MCP/src/Configuration/Pages/MCPConfigCard.Page.al
  src/System Application/App/MCP/src/Configuration/Pages/MCPConfigList.Page.al
  src/System Application/App/MCP/src/Configuration/Pages/MCPConfigToolList.Page.al
  src/System Application/App/MCP/src/Configuration/Pages/MCPToolsByAPIGroup.Page.al
  src/System Application/Test Library/MCP/Permissions/MockAPIEdit.PermissionSet.al
  src/System Application/Test Library/MCP/app.json
  src/System Application/Test Library/MCP/src/MCPConfigTestLibrary.Codeunit.al
  src/System Application/Test Library/MCP/src/MockAPI.Page.al
  src/System Application/Test Library/MCP/src/MockAPI.Table.al
  src/System Application/Test Library/MCP/src/MockCard.Page.al
  src/System Application/Test/MCP/app.json
  src/System Application/Test/MCP/src/MCPConfigTest.Codeunit.al
Labels: AL: System Application

#4740 [Dataverse] Introduce Dataverse table builder
  src/System Application/App/Extension Management/app.json
  src/System Application/App/Extension Management/src/Extension Generation/DataverseTableBuilder.Codeunit.al
  src/System Application/App/Extension Management/src/Extension Generation/DataverseTableBuilderImpl.Codeunit.al
  src/System Application/Test Library/Extension Management/.resources/MockProxyTableSchema.txt
  src/System Application/Test Library/Extension Management/Permissions/MockProxyEdit.PermissionSet.al
  src/System Application/Test Library/Extension Management/app.json
  src/System Application/Test Library/Extension Management/src/Extension Generation/DVTableBuilderTestLibrary.Codeunit.al
  src/System Application/Test Library/Extension Management/src/Extension Generation/MockProxy.Table.al
  src/System Application/Test Library/Extension Management/src/ExtensionMgtTestLibrary.Codeunit.al
  src/System Application/Test Library/Extension Management/testArtifacts/SampleSetupForTest.Codeunit.al
  src/System Application/Test Library/app.json
  src/System Application/Test/Extension Management/app.json
  src/System Application/Test/Extension Management/readme.md
  src/System Application/Test/Extension Management/src/DataOutOfGeoAppTest.Codeunit.al
  src/System Application/Test/Extension Management/src/DataverseTableBuilderTest.Codeunit.al
  src/System Application/Test/Extension Management/src/ExtensionManagementTest.Codeunit.al
  src/System Application/Test/Extension Management/testArtifacts/PT_EmptyExtension_no1_1.0.0.0.app
  src/System Application/Test/Extension Management/testArtifacts/PT_EmptyExtension_no2_1.0.0.0.app
Labels: AL: System Application

#4867 Add gate for duplicate app and object ids
  .github/actions/TestObjectIdsAndManifests/action.ps1
  .github/actions/TestObjectIdsAndManifests/action.yaml
  .github/workflows/VerifyAppChanges.yaml
  build/scripts/AppObjectValidation.psm1
Labels: Build: Automation, Build: scripts & configs

#4826 Refine branch patterns in SyncMirroredRepository.yml
  .azuredevops/SyncMirroredRepository.yml
Labels: Build: Automation

#4875 [releases/25.x] Disable image tests
  src/System Application/Test/DisabledTests/ImageTests.DisabledTest.json
Labels: AL: System Application

#4876 [releases/24.x] Disable image tests
  src/System Application/Test/DisabledTests/ImageTests.DisabledTest.json
Labels: AL: System Application

#4890 [releases/25.5] Disable image tests
  src/System Application/Test/DisabledTests/ImageTests.DisabledTest.json
Labels: AL: System Application

#4889 [releases/25.4] Disable image tests
  src/System Application/Test/DisabledTests/ImageTests.DisabledTest.json
Labels: AL: System Application

#4887 [releases/25.2] Disable image tests
  src/System Application/Test/DisabledTests/ImageTests.DisabledTest.json
Labels: AL: System Application

#4886 [releases/25.1] Disable image tests
  src/System Application/Test/DisabledTests/ImageTests.DisabledTest.json
Labels: AL: System Application

#4882 [releases/26.3] Disable image tests
  src/System Application/Test/DisabledTests/ImageTests.DisabledTest.json
Labels: AL: System Application

#4820 [Email] Add filter on time when counting email concurrency to avoid fake "Processing" email block email sending
  src/System Application/App/Email/src/RateLimit/EmailRateLimitImpl.Codeunit.al
  src/System Application/Test/Email/src/EmailRetryTest.Codeunit.al
Labels: AL: System Application

#4895 [releases/27.0] [Email] Add filter on time when counting email concurrency to avoid fake "Processing" email block email sending
  src/System Application/App/Email/src/RateLimit/EmailRateLimitImpl.Codeunit.al
  src/System Application/Test/Email/src/EmailRetryTest.Codeunit.al
Labels: AL: System Application

#4894 [releases/27.x] [Email] Add filter on time when counting email concurrency to avoid fake "Processing" email block email sending
  src/System Application/App/Email/src/RateLimit/EmailRateLimitImpl.Codeunit.al
  src/System Application/Test/Email/src/EmailRetryTest.Codeunit.al
Labels: AL: System Application

#4896 [releases/26.x] [Email] Add filter on time when counting email concurrency to avoid fake "Processing" email block email sending
  src/System Application/App/Email/src/RateLimit/EmailRateLimitImpl.Codeunit.al
  src/System Application/Test/Email/src/EmailRetryTest.Codeunit.al
Labels: AL: System Application

#4870 (From ALAppExtensions) Deprecate more finance rdlc reports
  src/Apps/W1/ExcelReports/App/app.json
  src/Apps/W1/ExcelReports/App/src/Customer/PageExtensions/EXRCustomerList.PageExt.al
  src/Apps/W1/ExcelReports/App/src/Customer/PageExtensions/EXRReminder.PageExt.al
  src/Apps/W1/ExcelReports/App/src/Customer/PageExtensions/EXRSalesCreditMemos.PageExt.al
  src/Apps/W1/ExcelReports/App/src/Customer/PageExtensions/EXRSalesInvoiceList.PageExt.al
  src/Apps/W1/ExcelReports/App/src/Financials/EXRAgingReportBuffer.Table.al
  src/Apps/W1/ExcelReports/App/src/Financials/EXRTrialBalanceBuffer.Table.al
  src/Apps/W1/ExcelReports/App/src/Financials/PageExtensions/EXRAccountingPeriods.PageExt.al
  src/Apps/W1/ExcelReports/App/src/Financials/PageExtensions/EXRBankAccountList.PageExt.al
  src/Apps/W1/ExcelReports/App/src/Financials/PageExtensions/EXRBudget.PageExt.al
  src/Apps/W1/ExcelReports/App/src/Financials/PageExtensions/EXRChartOfAccounts.PageExt.al
  src/Apps/W1/ExcelReports/App/src/Financials/PageExtensions/EXRCurrencyCard.PageExt.al
  src/Apps/W1/ExcelReports/App/src/Financials/PageExtensions/EXRFixedAssetCard.PageExt.al
  src/Apps/W1/ExcelReports/App/src/Financials/PageExtensions/EXRGLAccountCard.PageExt.al
  src/Apps/W1/ExcelReports/App/src/Financials/PageExtensions/EXRGLAccountList.PageExt.al
  src/Apps/W1/ExcelReports/App/src/Financials/PageExtensions/EXRGLBudgetNames.PageExt.al
  src/Apps/W1/ExcelReports/App/src/Financials/PageExtensions/EXRGLRegisters.PageExt.al
  src/Apps/W1/ExcelReports/App/src/Financials/PageExtensions/EXRGeneralJournalBatches.PageExt.al
  src/Apps/W1/ExcelReports/App/src/RoleCenters/EXRARRoleCenter.PageExt.al
  src/Apps/W1/ExcelReports/App/src/RoleCenters/EXRAccPayCoordinatorRC.PageExt.al
  src/Apps/W1/ExcelReports/App/src/RoleCenters/EXRAccRecAdminRC.PageExt.al
  src/Apps/W1/ExcelReports/App/src/RoleCenters/EXRAccountantRoleCenter.PageExt.al
  src/Apps/W1/ExcelReports/App/src/RoleCenters/EXRAccountingManagerRC.PageExt.al
  src/Apps/W1/ExcelReports/App/src/RoleCenters/EXRBookkeeperRC.PageExt.al
  src/Apps/W1/ExcelReports/App/src/RoleCenters/EXRCEOAndPresidentRC.PageExt.al
  src/Apps/W1/ExcelReports/App/src/RoleCenters/EXRFinRoleCenter.PageExt.al
  src/Apps/W1/ExcelReports/App/src/RoleCenters/EXROrderProcessorRC.PageExt.al
  src/Apps/W1/ExcelReports/App/src/RoleCenters/EXRPurchasingAgentRC.PageExt.al
  src/Apps/W1/ExcelReports/App/src/RoleCenters/EXRPurchasingManagerRC.PageExt.al
  src/Apps/W1/ExcelReports/App/src/RoleCenters/EXRSalesManagerRC.PageExt.al
  src/Apps/W1/ExcelReports/App/src/RoleCenters/EXRSalesMarketingMgrRC.PageExt.al
  src/Apps/W1/ExcelReports/App/src/RoleCenters/EXRSalesRelMgrRC.PageExt.al
  src/Apps/W1/ExcelReports/App/src/RoleCenters/EXRSmallBusinessOwnerRC.PageExt.al
  src/Apps/W1/ExcelReports/App/src/RoleCenters/ExtBusManagerRoleCenter.PageExt.al
  src/Apps/W1/ExcelReports/App/src/RoleCenters/ExtCompanyDetail.PageExt.al
  src/Apps/W1/ExcelReports/App/src/Vendor/PageExtensions/EXRPurchaseCreditMemos.PageExt.al
  src/Apps/W1/ExcelReports/App/src/Vendor/PageExtensions/EXRVendorList.PageExt.al
Labels: From Fork, Linked, Finance

#4900 [releases/26.4] [main] add jitter for reschedule email
  src/System Application/App/Email/src/Email/EmailDispatcher.Codeunit.al
Labels: AL: System Application

#4905 [Extension Management] Add missing test artifacts
  src/System Application/Test Library/Extension Management/testArtifacts/PT_EmptyExtension_no1_1.0.0.0.app
  src/System Application/Test Library/Extension Management/testArtifacts/PT_EmptyExtension_no2_1.0.0.0.app
Labels: AL: System Application

#4906 [MCP] Add telemetry to configuration module
  src/System Application/App/MCP/src/Configuration/Codeunits/MCPConfigImplementation.Codeunit.al
  src/System Application/App/MCP/src/Configuration/Pages/MCPConfigCard.Page.al
Labels: AL: System Application
