Repository microsoft/BCApps, pull requests merged in 2025-04, with the labels that each got.

#3417 Add ability to reuse the work item when backporting PRs
  build/scripts/CrossBranchPorting.psm1
Labels: Build: scripts & configs

#3443 Update SignData procedure to include RSASignaturePadding parameter
  src/System Application/App/Cryptography Management/src/CryptographyManagementImpl.Codeunit.al
Labels: AL: System Application, From Fork, Linked, Integration

#3445 Bug 573459: [26.x][BCApps #3443]Update SignData procedure to include RSASignaturePadding parameter
  src/System Application/App/Cryptography Management/src/CryptographyManagementImpl.Codeunit.al
Labels: AL: System Application

#3449 Backport changes from main branch.
  src/System Application/App/External File Storage/src/FileStorage/ExternalFileStorage.Codeunit.al
  src/System Application/App/External File Storage/src/FileStorage/ExternalFileStorageImpl.Codeunit.al
  src/System Application/App/External File Storage/src/Lookup/FileAccountBrowserMgt.Codeunit.al
  src/System Application/App/External File Storage/src/Lookup/StorageBrowser.Page.al
Labels: AL: System Application

#3451 [26.x] Bug 572343: [26.x][BCApps #3186]Fixes #3034
  src/System Application/App/Email/src/Email/Email.Codeunit.al
Labels: AL: System Application

#3480 Uptake version 27.0.25098.1 of Microsoft.Dynamics.BusinessCentral.Translations
  build/Packages.json
  build/scripts/EnlistmentHelperFunctions.psm1
Labels: Build: scripts & configs

#3020 [Copilot] Remove allowlisting logic for toolkit
  src/System Application/App/AI/src/Azure OpenAI/AOAIAuthorization.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AOAIDeploymentsImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
Labels: AL: System Application

#3225 [Copilot] Allow capabilities to run in background
  src/System Application/App/AI/app.json
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
Labels: AL: System Application

#3492 [26.x][Copilot] Remove allowlisting logic for toolkit
  src/System Application/App/AI/src/Azure OpenAI/AOAIAuthorization.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AOAIDeploymentsImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
Labels: AL: System Application

#3491 [26.x][Copilot] Allow capabilities to run in background (#3225)
  src/System Application/App/AI/app.json
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
Labels: AL: System Application

#3494 Caption for General Group on Retention Policy Setup Card
  src/System Application/App/Retention Policy/src/Retention Policy Setup/RetentionPolicySetupCard.Page.al
Labels: AL: System Application, From Fork, Linked, Integration

#2948 Bing search opt in for copilot
  src/System Application/App/AI/src/Copilot/CopilotAICapabilities.Page.al
  src/System Application/App/AI/src/Copilot/CopilotNotifications.Codeunit.al
  src/System Application/App/Privacy Notice/src/SystemPrivacyNoticeReg.Codeunit.al
Labels: AL: System Application

#3503 Fix AA0202 in RetentionPolicyTest.Codeunit.al
  src/System Application/Test/Retention Policy/src/RetentionPolicyTest.Codeunit.al
Labels: AL: System Application

#3501 [26.x] [Change Request] make UserLookUpPage extensible
  src/System Application/App/User Selection/src/UserLookup.Page.al
Labels: AL: System Application

#3500 [Change Request] Make UserLookUpPage extensible
  src/System Application/App/User Selection/src/UserLookup.Page.al
Labels: AL: System Application

#3539 [Master] Include security filter when import permissionset from xml
  src/System Application/App/Permission Sets/src/xmlports/ImportPermissionSets.xmlport.al
  src/System Application/Test/Permission Sets/src/PermissionImportExportTests.Codeunit.al
Labels: AL: System Application

#3562 [26.x] Revert removing allowlisting for AI toolkit
  src/System Application/App/AI/src/Azure OpenAI/AOAIAuthorization.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AOAIDeploymentsImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
Labels: AL: System Application

#3542 Fixes #3399
  src/System Application/App/Azure Blob Services API/src/API Enums/ABSBlobAccessTier.Enum.al
Labels: AL: System Application, From Fork, Linked, Integration

#3570 [26.x] Include security filter when import permissionset from xml (…
  src/System Application/App/Permission Sets/src/xmlports/ImportPermissionSets.xmlport.al
  src/System Application/Test/DisabledTests/RestClientTests.DisabledTest.json
  src/System Application/Test/Permission Sets/src/PermissionImportExportTests.Codeunit.al
Labels: AL: System Application

#3577 Only run automation on supported branches
  .github/Update AL-Go System Files.settings.json
  .github/actions/GetGitBranches/action.ps1
  .github/workflows/SubmitStabilityJobs.yaml
  .github/workflows/UpdateBCArtifactVersion.yaml
  .github/workflows/UpdatePackageVersions.yaml
  build/scripts/EnlistmentHelperFunctions.psm1
Labels: Build: Automation, Build: scripts & configs

#3556 [Email] Add functionality to delete orphaned email recipients.
  src/System Application/App/Email/src/Message/EmailMessage.Codeunit.al
  src/System Application/App/Email/src/Message/EmailMessageImpl.Codeunit.al
  src/System Application/Test/Email/src/EmailMessageUnitTest.Codeunit.al
Labels: AL: System Application

#3573 Test Runner - Hardening the UI around Code Coverage
  src/Tools/Test Framework/Test Runner/src/CodeCoverage/ALCodeCoverage.Page.al
  src/Tools/Test Framework/Test Runner/src/CodeCoverage/ALCodeCoverageMgt.Codeunit.al
Labels: AL: Tools

#3579 Renaming monetization captions
  src/System Application/App/AI/src/Copilot/CopilotQuotaUsageType.Enum.al
Labels: AL: System Application

#3521 remove AS0105 pragma
  src/System Application/App/OAuth2/OAuth2.Codeunit.al
  src/System Application/App/OAuth2/OAuth2Impl.Codeunit.al
Labels: AL: System Application

#3595 Agents - Introducing agent user settings page and fixing few bugs around setup…
  src/System Application/App/Agent/Permissions/AgentObjects.PermissionSet.al
  src/System Application/App/Agent/Setup/AgentCard.Page.al
  src/System Application/App/Agent/Setup/AgentList.Page.al
  src/System Application/App/Agent/Setup/AgentUserSettings.Page.al
  src/System Application/App/Agent/app.json
  src/System Application/App/User Settings/src/UserSettings.Codeunit.al
  src/System Application/App/User Settings/src/UserSettingsImpl.Codeunit.al
Labels: AL: System Application

#3614 [26.x] Add missing read permission for Upgrade Tags (#3331)
  src/System Application/App/Upgrade Tags/src/UpgradeTags.Page.al
Labels: AL: System Application, From Fork, Linked, Integration
