Repository microsoft/BCApps, pull requests merged in 2025-08, with the labels that each got.

#4307 Hosted Pools Consolidation
  .azuredevops/SyncMirroredRepository.yml
Labels: Build: Automation

#4330 [releases/26.4] Hosted Pools Consolidation
  .azuredevops/SyncMirroredRepository.yml
Labels: Build: Automation

#4329 [releases/26.3] Hosted Pools Consolidation
  .azuredevops/SyncMirroredRepository.yml
Labels: Build: Automation

#4328 [releases/26.2] Hosted Pools Consolidation
  .azuredevops/SyncMirroredRepository.yml
Labels: Build: Automation

#4326 [releases/26.0] Hosted Pools Consolidation
  .azuredevops/SyncMirroredRepository.yml
Labels: Build: Automation

#4325 [releases/26.x] Hosted Pools Consolidation
  .azuredevops/SyncMirroredRepository.yml
Labels: Build: Automation

#4324 [releases/25.5] Hosted Pools Consolidation
  .azuredevops/SyncMirroredRepository.yml
Labels: Build: Automation

#4323 [releases/25.4] Hosted Pools Consolidation
  .azuredevops/SyncMirroredRepository.yml
Labels: Build: Automation

#4320 [releases/25.1] Hosted Pools Consolidation
  .azuredevops/SyncMirroredRepository.yml
Labels: Build: Automation

#4317 [releases/24.x] Hosted Pools Consolidation
  .azuredevops/SyncMirroredRepository.yml
Labels: Build: Automation

#4316 [releases/24.5] Hosted Pools Consolidation
  .azuredevops/SyncMirroredRepository.yml
Labels: Build: Automation

#4342 Add indirect permissions to ScheduledPerfProfilerImpl codeunit
  src/System Application/App/Performance Profiler/src/ScheduledPerfProfilerImpl.Codeunit.al
Labels: AL: System Application

#4343 [releases/26.x] Add indirect permissions to ScheduledPerfProfilerImpl codeunit
  src/System Application/App/Performance Profiler/src/ScheduledPerfProfilerImpl.Codeunit.al
Labels: AL: System Application

#4344 [releases/26.3] Add indirect permissions to ScheduledPerfProfilerImpl codeunit
  src/System Application/App/Performance Profiler/src/ScheduledPerfProfilerImpl.Codeunit.al
Labels: AL: System Application

#4276 Reducing critical build time
  build/projects/Business Foundation Tests/.AL-Go/CompileAppInBcContainer.ps1
  build/projects/Business Foundation Tests/.AL-Go/ImportTestToolkitToBcContainer.ps1
  build/projects/Business Foundation Tests/.AL-Go/NewBcContainer.ps1
  build/projects/Business Foundation Tests/.AL-Go/RunTestsInBcContainer.ps1
  build/projects/Business Foundation Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation Tests/.AL-Go/localDevEnv.ps1
  build/projects/Business Foundation Tests/.AL-Go/settings.json
  build/projects/Business Foundation/.AL-Go/settings.json
  build/projects/Performance Toolkit Tests/.AL-Go/CompileAppInBcContainer.ps1
  build/projects/Performance Toolkit Tests/.AL-Go/ImportTestToolkitToBcContainer.ps1
  build/projects/Performance Toolkit Tests/.AL-Go/NewBcContainer.ps1
  build/projects/Performance Toolkit Tests/.AL-Go/RunTestsInBcContainer.ps1
  build/projects/Performance Toolkit Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit Tests/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit Tests/.AL-Go/settings.json
  build/projects/Performance Toolkit/.AL-Go/settings.json
  build/projects/System Application/.AL-Go/NewBcContainer.ps1
  build/projects/System Application/.AL-Go/settings.json
Labels: Build: scripts & configs

#4373 Skip issue validation if AB workitem is linked
  build/scripts/PullRequestValidation/ValidateIssuesForPullRequest.ps1
Labels: Build: scripts & configs

#4337 [Agent] Subscribe to new GetCopilotCapabilityInfo platform event
  src/System Application/App/AI/src/Copilot/CopilotCapabilityImpl.Codeunit.al
Labels: AL: System Application

#4376 [26.1] Add support for agent suggestions and free text instructions in the agent task pane
  src/System Application/App/Agent/Interaction/AgentTaskImpl.Codeunit.al
  src/System Application/App/Agent/TaskPane/AgentTaskDetails.Page.al
  src/System Application/App/Agent/TaskPane/AgentTaskTimeline.Page.al
  src/System Application/App/Agent/TaskPane/AgentTasks.Page.al
Labels: AL: System Application

#4377 [26.0] Add support for agent suggestions and free text instructions in the agent task pane
  src/System Application/App/Agent/Interaction/AgentTaskImpl.Codeunit.al
  src/System Application/App/Agent/TaskPane/AgentTaskDetails.Page.al
  src/System Application/App/Agent/TaskPane/AgentTaskTimeline.Page.al
  src/System Application/App/Agent/TaskPane/AgentTasks.Page.al
Labels: AL: System Application

#4158 28867
  src/Apps/W1/Subscription Billing/App/Billing/Codeunits/DocumentChangeManagement.Codeunit.al
Labels: From Fork, Linked, Finance

#4164 Fixed GitHub issue 4039: Incorrect update of test methods in data-dri…
  src/Tools/Test Framework/Test Runner/src/DataDrivenTest/DataInputs/ExpandDataDrivenTests.Codeunit.al
  src/Tools/Test Framework/Test Runner/src/TestRunnerGetMethods.Codeunit.al
Labels: From Fork, Linked, AL: Tools, Integration

#4384 SetSigningKey in SignedXml accepts the key as SecretText
  src/System Application/App/Cryptography Management/src/Xml/SignedXml.Codeunit.al
  src/System Application/Test/Cryptography Management/src/Xml/SignedXmlModuleTest.Codeunit.al
Labels: AL: System Application, From Fork, Linked, Integration

#4399 Switch to Windows Server 2025 images
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
Labels: Build: Automation

#4403 Set InherentPermissions / InherentEntitlements for codeunit "Email Retry Impl."
  src/System Application/App/Email/permissions/EmailObjects.PermissionSet.al
  src/System Application/App/Email/src/Email/EmailRetryImpl.Codeunit.al
Labels: AL: System Application, From Fork, Linked

#4405 [releases/26.4] Add proper permission to email dispatcher
  src/System Application/App/Email/src/Email/EmailRetryImpl.Codeunit.al
  src/System Application/Test/Email/src/EmailRetryTest.Codeunit.al
Labels: AL: System Application

#4466 Fixing the format option used for the recordId
  src/System Application/Test/Translation/src/TranslationTests.Codeunit.al
Labels: AL: System Application

#4499 Update platform property on select apps
  src/System Application/App/Json/app.json
  src/System Application/Test Library/AppSource Gallery/app.json
  src/System Application/Test/Json/app.json
Labels: AL: System Application

#4493 [Agent] Open Agent Setup Page without using an Agent record for RunModal
  src/System Application/App/Agent/Setup/Agent.Codeunit.al
  src/System Application/App/Agent/Setup/AgentCard.Page.al
  src/System Application/App/Agent/Setup/AgentImpl.Codeunit.al
  src/System Application/App/Agent/Setup/AgentList.Page.al
Labels: AL: System Application

#4561 [releases/27.x] Hardcode platform version to 27.0.0.0 for now
  build/scripts/AppExtensionsHelper.psm1
Labels: Build: scripts & configs

#4508 [Agent] Add 'Refresh' action to agent task log entries
  src/System Application/App/Agent/Interaction/Internal/AgentTaskLogEntryList.Page.al
Labels: AL: System Application

#4509 [Agent] Use Active/Inactive instead of Enabled/Disabled in AgentCard tooltip
  src/System Application/App/Agent/Setup/AgentCard.Page.al
Labels: AL: System Application

#4559 Update app.json properties with props from included Directory.App.Props.json
  build/scripts/AppExtensionsHelper.psm1
Labels: Build: scripts & configs

#4585 [releases/27.x] Update app.json properties with props from included Directory.App.Props.json
  build/scripts/AppExtensionsHelper.psm1
Labels: Build: scripts & configs

#4607 [27.x] Add CLEAN28 to AL-Go-Settings.json
  .github/AL-Go-Settings.json
Labels: Build: Automation

#4541 Agent Access Control - Filter to relevant users only
  src/System Application/App/Agent/Setup/SelectAgentAccessControl.Page.al
Labels: AL: System Application

#4604 Agents - Implementing the support for region and language
  src/System Application/App/Agent/Setup/Agent.Codeunit.al
  src/System Application/App/Agent/Setup/AgentCard.Page.al
  src/System Application/App/Agent/Setup/AgentImpl.Codeunit.al
  src/System Application/App/Agent/Setup/AgentUserSettings.Page.al
Labels: AL: System Application

#4616 [27.x] Agents - Implementing the support for region and language
  src/System Application/App/Agent/Setup/Agent.Codeunit.al
  src/System Application/App/Agent/Setup/AgentCard.Page.al
  src/System Application/App/Agent/Setup/AgentImpl.Codeunit.al
  src/System Application/App/Agent/Setup/AgentUserSettings.Page.al
Labels: AL: System Application
