Repository microsoft/BCApps, pull requests merged in 2025-03, with the labels that each got.

#3131 [25.x] Update BCArtifact version. New value: bcinsider/Sandbox/25.6/base/latest
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#3115 Move quota checks to page background task
  src/System Application/App/AI/src/Copilot/CopilotAICapabilities.Page.al
  src/System Application/App/AI/src/Copilot/CopilotQuotaImpl.Codeunit.al
Labels: AL: System Application

#3009 Update ToolTip for Edit User Settings action
  src/System Application/App/AppSource Gallery/src/AppSourceProductList.Page.al
Labels: AL: System Application

#3136 Address errors in TestCreateNewNoSeriesFromUI
  src/Business Foundation/Test/NoSeries/src/NoSeriesTests.Codeunit.al
Labels: AL: Business Foundation

#3138 [releases/26.x] Address errors in TestCreateNewNoSeriesFromUI
  src/Business Foundation/Test/NoSeries/src/NoSeriesTests.Codeunit.al
Labels: AL: Business Foundation

#3139 [releases/26.0] Address errors in TestCreateNewNoSeriesFromUI
  src/Business Foundation/Test/NoSeries/src/NoSeriesTests.Codeunit.al
Labels: AL: Business Foundation

#3062 Remove ability to expose a Microsoft page as a SOAP endpoint
  src/System Application/App/Web Service Management/app.json
  src/System Application/App/Web Service Management/permissions/WebServiceManagementAdmin.Permissionset.al
  src/System Application/App/Web Service Management/permissions/WebServiceManagementRead.Permissionset.al
  src/System Application/App/Web Service Management/src/WebServiceManagementImpl.Codeunit.al
  src/System Application/Test/Web Service Management/src/WebServiceManagementTest.Codeunit.al
Labels: AL: System Application

#3132 [Copilot] Ensure custom dimensions for data movement telemetry are emitted in default language
  src/System Application/App/AI/src/Copilot/CopilotTelemetry.Codeunit.al
Labels: AL: System Application

#2745 [AI Test Tool] Add support for multi-turn in test data view
  src/Tools/AI Test Toolkit/src/Logs/AITTestData.Codeunit.al
Labels: AL: Tools

#3156 [25.0] Update app baselines package version. New value: 24.5.23489.30936
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3155 [24.0] Update app baselines package version. New value: 23.5.16502.30938
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3154 [24.3] Update app baselines package version. New value: 24.2.20227.30939
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3153 [24.x] Update app baselines package version. New value: 24.5.23489.30936
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3152 [24.1] Update app baselines package version. New value: 24.0.16410.30937
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3151 [25.5] Update translation package version. New value: 25.5.20250225.5
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3150 [26.x] Update app baselines package version. New value: 26.0.30643.30994
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3149 [24.2] Update app baselines package version. New value: 24.1.18927.30940
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3148 [25.1] Update app baselines package version. New value: 25.0.23364.30930
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3147 [24.4] Update app baselines package version. New value: 24.3.21374.30935
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3146 [main] Update app baselines package version. New value: 26.1.30990.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3145 [24.5] Update app baselines package version. New value: 24.4.22295.30933
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3144 [25.3] Update app baselines package version. New value: 25.2.27733.30927
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3143 [25.2] Update app baselines package version. New value: 25.1.25873.30934
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3142 [25.x] Update app baselines package version. New value: 25.5.30921.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3157 [main] Update BCArtifact version. New value: 27.0.30997.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#3159 External File Storage: Fix Parent Folder Navigation in Storage Browset
  src/System Application/App/External File Storage/src/Lookup/FileAccountBrowserMgt.Codeunit.al
Labels: AL: System Application, From Fork, Linked, Integration

#3135 [Word Template] Fix unexpected behavior of AddUnrelatedTable
  src/System Application/App/Word Templates/src/WordTemplate.Codeunit.al
  src/System Application/App/Word Templates/src/WordTemplateImpl.Codeunit.al
  src/System Application/Test/Word Templates/app.json
  src/System Application/Test/Word Templates/src/WordTemplatesTest.Codeunit.al
Labels: AL: System Application, From Fork, Linked, Integration

#3140 Only send errors to background session for logging
  src/System Application/App/Retention Policy/src/Retention Policy Log/RetentionPolicyLogImpl.Codeunit.al
  src/System Application/Test Library/Retention Policy/src/RetentionPolicyTestLibrary.Codeunit.al
  src/System Application/Test/Retention Policy/src/RetentionPolicyLogTest.Codeunit.al
Labels: AL: System Application

#3125 Remove MI5 and MI4 logs
  src/Business Foundation/App/NoSeries/src/Batch/NoSeriesBatchImpl.Codeunit.al
Labels: AL: Business Foundation

#3128 External File Storage: Fix File Name Filter in Storage Browser
  src/System Application/App/External File Storage/src/Lookup/FileAccountBrowserMgt.Codeunit.al
Labels: AL: System Application, From Fork, Linked, Integration

#3137 #3114 Format AppId without brackets and lowercase for VsCode Integration
  src/System Application/App/VS Code Integration/src/VsCodeIntegrationImpl.Codeunit.al
  src/System Application/Test/Vs Code Integration/src/VSCodeIntegrationTest.Codeunit.al
Labels: AL: System Application, From Fork, Linked, Integration

#3166 [releases/25.x] Only send errors to background session for logging
  src/System Application/App/Retention Policy/src/Retention Policy Log/RetentionPolicyLogImpl.Codeunit.al
  src/System Application/Test Library/Retention Policy/src/RetentionPolicyTestLibrary.Codeunit.al
  src/System Application/Test/Retention Policy/src/RetentionPolicyLogTest.Codeunit.al
Labels: AL: System Application

#3165 [releases/26.0] Only send errors to background session for logging
  src/System Application/App/Retention Policy/src/Retention Policy Log/RetentionPolicyLogImpl.Codeunit.al
  src/System Application/Test Library/Retention Policy/src/RetentionPolicyTestLibrary.Codeunit.al
  src/System Application/Test/Retention Policy/src/RetentionPolicyLogTest.Codeunit.al
Labels: AL: System Application

#3164 [releases/26.x] Only send errors to background session for logging
  src/System Application/App/Retention Policy/src/Retention Policy Log/RetentionPolicyLogImpl.Codeunit.al
  src/System Application/Test Library/Retention Policy/src/RetentionPolicyTestLibrary.Codeunit.al
  src/System Application/Test/Retention Policy/src/RetentionPolicyLogTest.Codeunit.al
Labels: AL: System Application

#3134 [26.x] [Copilot] Ensure custom dimensions for data movement telemetry are emitted in default language
  src/System Application/App/AI/src/Copilot/CopilotTelemetry.Codeunit.al
Labels: AL: System Application

#3160 [26.0] Remove ability to expose a Microsoft page as a SOAP endpoint
  src/System Application/App/Web Service Management/app.json
  src/System Application/App/Web Service Management/permissions/WebServiceManagementAdmin.Permissionset.al
  src/System Application/App/Web Service Management/permissions/WebServiceManagementRead.Permissionset.al
  src/System Application/App/Web Service Management/src/WebServiceManagementImpl.Codeunit.al
  src/System Application/Test/Web Service Management/src/WebServiceManagementTest.Codeunit.al
Labels: AL: System Application

#3129 [Language] Add function to get current user language tag (e.g. 'en-US')
  src/System Application/App/Language/src/Language.Codeunit.al
  src/System Application/App/Language/src/LanguageImpl.Codeunit.al
Labels: AL: System Application

#3185 [Web Service Management] Ensure feature key is always on in tests
  src/System Application/Test Library/Web Service Management/Permissions/WebServiceAdmin.Permissionset.al
  src/System Application/Test Library/Web Service Management/app.json
  src/System Application/Test/Web Service Management/app.json
  src/System Application/Test/Web Service Management/src/WebServiceManagementTest.Codeunit.al
Labels: AL: System Application

#3188 [main] Update BCArtifact version. New value: 27.0.31076.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#3192 [26.0] [Web Service Management] Ensure feature key is always on in tests
  src/System Application/Test Library/Web Service Management/Permissions/WebServiceAdmin.Permissionset.al
  src/System Application/Test Library/Web Service Management/app.json
  src/System Application/Test/Web Service Management/app.json
  src/System Application/Test/Web Service Management/src/WebServiceManagementTest.Codeunit.al
Labels: AL: System Application

#3191 [26.x] [Web Service Management] Ensure feature key is always on in tests
  src/System Application/Test Library/Web Service Management/Permissions/WebServiceAdmin.Permissionset.al
  src/System Application/Test Library/Web Service Management/app.json
  src/System Application/Test/Web Service Management/app.json
  src/System Application/Test/Web Service Management/src/WebServiceManagementTest.Codeunit.al
Labels: AL: System Application

#3133 [26.0] [Copilot] Ensure custom dimensions for data movement telemetry are emitted in default language
  src/System Application/App/AI/src/Copilot/CopilotTelemetry.Codeunit.al
Labels: AL: System Application

#3200 [main] Update BCArtifact version. New value: 27.0.31285.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#3201 Disable rule AS0077 in MAIN branch
  src/rulesets/ruleset.json
Labels: Integration

#3193 Add integration event.
  src/System Application/App/Email/src/Account/EmailAccount.Codeunit.al
  src/System Application/App/Email/src/Account/EmailAccountImpl.Codeunit.al
Labels: AL: System Application, From Fork, Linked, Integration

#3195 Adjust CLEAN tags
  .github/AL-Go-Settings.json
Labels: Build: Automation

#3222 [Master] replace the misleading text in agent quote page
  src/System Application/App/AI/src/Copilot/CopilotNotifications.Codeunit.al
Labels: AL: System Application

#3224 [26.x]replace the misleading text in agent quote page
  src/System Application/App/AI/src/Copilot/CopilotNotifications.Codeunit.al
Labels: AL: System Application

#3221 [25.5] Update BCArtifact version. New value: bcartifacts/Sandbox/25.5/base/latest
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#3220 [main] Update BCArtifact version. New value: 27.0.31379.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#3219 [24.x] Update BCArtifact version. New value: bcinsider/Sandbox/24.12/base/latest
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#3217 [25.0] Update app baselines package version. New value: 24.5.23489.31329
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3216 [24.1] Update app baselines package version. New value: 24.0.16410.31330
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3214 [25.3] Update app baselines package version. New value: 25.2.27733.31353
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3213 [24.4] Update app baselines package version. New value: 24.3.21374.31333
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3212 [26.0] Update app baselines package version. New value: 25.5.30849.31352
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3211 [24.3] Update app baselines package version. New value: 24.2.20227.31325
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3210 [25.1] Update app baselines package version. New value: 25.0.23364.31351
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3208 [25.2] Update app baselines package version. New value: 25.1.25873.31356
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3207 [25.x] Update translation package version. New value: 25.6.20250311.2
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3205 [24.5] Update app baselines package version. New value: 24.4.22295.31324
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3231 [main] Update BCArtifact version. New value: 27.0.31468.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#3230 Update AOAIFunction.Interface.al (Typo "Azure Open AI"→"Azure OpenAI")
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/Tools/AOAIFunction.Interface.al
Labels: AL: System Application, From Fork, Linked, Integration

#3262 [25.3] Update app baselines package version. New value: 25.2.27733.31472
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3259 [25.2] Update app baselines package version. New value: 25.1.25873.31470
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3258 [24.5] Update app baselines package version. New value: 24.4.22295.31475
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3257 [24.x] Update app baselines package version. New value: 24.5.23489.31474
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3256 [25.1] Update app baselines package version. New value: 25.0.23364.31392
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3260 [24.4] Update app baselines package version. New value: 24.3.21374.31473
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3261 [25.x] Update translation package version. New value: 25.6.20250312.4
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3265 [25.0] Update app baselines package version. New value: 24.5.23489.31474
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3266 [26.0] Update app baselines package version. New value: 25.5.30849.31476
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3263 [main] Update app baselines package version. New value: 26.1.31482.0
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3255 [releases/25.0] Enable Minor release ruleset in strict mode
  build/scripts/PreCompileApp.ps1
Labels: Build: scripts & configs

#3249 [releases/26.x] Enable Minor release ruleset in strict mode
  build/scripts/PreCompileApp.ps1
Labels: Build: scripts & configs

#3228 [releases/25.5] Enable Minor release ruleset in strict mode
  build/scripts/PreCompileApp.ps1
Labels: Build: scripts & configs

#3252 [releases/25.3] Enable Minor release ruleset in strict mode
  build/scripts/PreCompileApp.ps1
Labels: Build: scripts & configs

#3250 [releases/26.0] Enable Minor release ruleset in strict mode
  build/scripts/PreCompileApp.ps1
Labels: Build: scripts & configs

#3203 Enable Minor release ruleset in strict mode
  build/scripts/PreCompileApp.ps1
Labels: Build: scripts & configs

#3268 [25.4] Update baseline version: 25.3.28755.31479
  build/Packages.json
Labels: Build: scripts & configs

#3264 [26.x] Update app baselines package version. New value: 26.0.30643.31471
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3269 [main] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 6e5bf7752c8288a922c50393814925d794e9ec38 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#3276 [main] Update BCArtifact version. New value: 27.0.31612.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#3112 Obsolete IncrementNoText in favor of IncStr
  src/Business Foundation/App/NoSeries/readme_refactoring.md
  src/Business Foundation/App/NoSeries/src/Legacy/NoSeriesManagement.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Setup/NoSeriesSetup.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Setup/NoSeriesSetupImpl.Codeunit.al
  src/Business Foundation/App/NoSeries/src/Single/NoSeriesStatelessImpl.Codeunit.al
Labels: AL: Business Foundation

#3187 Utilize workflowSchedule AL-Go setting
  .github/Update AL-Go System Files.settings.json
  .github/actions/RunAutomation/UpdateALGo/run.ps1
  .github/workflows/UpdateALGoOnOfficialBranches.yaml
Labels: Build: Automation

#3281 The number of records deleted are doubled every run
  src/System Application/App/Retention Policy/src/Apply Retention Policy/ApplyRetentionPolicyImpl.Codeunit.al
Labels: AL: System Application

#3282 [26.x] The number of records deleted are doubled every run
  src/System Application/App/Retention Policy/src/Apply Retention Policy/ApplyRetentionPolicyImpl.Codeunit.al
Labels: AL: System Application

#3283 [26.0] The number of records deleted are doubled every run
  src/System Application/App/Retention Policy/src/Apply Retention Policy/ApplyRetentionPolicyImpl.Codeunit.al
Labels: AL: System Application

#3285 [25.5] The number of records deleted are doubled every run
  src/System Application/App/Retention Policy/src/Apply Retention Policy/ApplyRetentionPolicyImpl.Codeunit.al
Labels: AL: System Application

#3284 [25.x] The number of records deleted are doubled every run
  src/System Application/App/Retention Policy/src/Apply Retention Policy/ApplyRetentionPolicyImpl.Codeunit.al
Labels: AL: System Application

#3280 [main@51f5bc5] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 6e5bf77 / Related to AB#539394
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
Labels: Automation, Build: Automation

#2419 [AI Test Tool] Add Multi-Turn Accuracy & Export
  src/Tools/AI Test Toolkit/AITestSummary.xlsx
  src/Tools/AI Test Toolkit/src/AITTestContext.Codeunit.al
  src/Tools/AI Test Toolkit/src/AITTestContextImpl.Codeunit.al
  src/Tools/AI Test Toolkit/src/AITTestRunIteration.Codeunit.al
  src/Tools/AI Test Toolkit/src/Logs/AITLogEntries.Page.al
  src/Tools/AI Test Toolkit/src/Logs/AITLogEntry.Table.al
  src/Tools/AI Test Toolkit/src/Logs/AITRunHistory.Page.al
  src/Tools/AI Test Toolkit/src/Logs/AITRunHistory.Table.al
  src/Tools/AI Test Toolkit/src/Logs/AITTestSummary.Report.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestMethodLine.Table.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestMethodLines.Page.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuite.Page.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuite.Table.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuiteMgt.Codeunit.al
Labels: AL: Tools

#3300 [main] Update BCArtifact version. New value: 27.0.31701.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#3297 [26.0] Update app baselines package version. New value: 25.5.30849.31772
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3295 [25.1] Update app baselines package version. New value: 25.0.23364.31736
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3293 [25.4] Update app baselines package version. New value: 25.3.28755.31734
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3292 [26.x] Update app baselines package version. New value: 26.0.30643.31770
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3290 [24.x] Update app baselines package version. New value: 24.5.23489.31733
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3289 [24.4] Update app baselines package version. New value: 24.3.21374.31727
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3296 [main] Update app baselines package version. New value: 26.1.31773.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3288 [25.2] Update app baselines package version. New value: 25.1.25873.31731
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3298 [25.0] Update app baselines package version. New value: 24.5.23489.31733
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3273 External File Storage: Allow to suggest a filename in SaveFile
  src/System Application/App/External File Storage/src/FileStorage/ExternalFileStorage.Codeunit.al
  src/System Application/App/External File Storage/src/FileStorage/ExternalFileStorageImpl.Codeunit.al
  src/System Application/App/External File Storage/src/Lookup/StorageBrowser.Page.al
Labels: AL: System Application, From Fork, Linked, Integration

#3277 Fix media cleanup runtime error
  src/System Application/App/Data Administration/app.json
  src/System Application/App/Data Administration/src/MediaCleanupImpl.Codeunit.al
  src/System Application/Test/Data Administration/src/MediaCleanupTest.Codeunit.al
Labels: AL: System Application, From Fork, Linked, Integration

#3274 Profile schedules UX improvements
  src/System Application/App/Performance Profiler/app.json
  src/System Application/App/Performance Profiler/src/PerfProfileActivityType.enum.al
  src/System Application/App/Performance Profiler/src/PerfProfilerScheduleCard.Page.al
  src/System Application/App/Performance Profiler/src/PerfProfilerSchedulesList.Page.al
  src/System Application/App/Performance Profiler/src/PerformanceProfileList.Page.al
  src/System Application/App/Performance Profiler/src/ScheduledPerfProfilerImpl.Codeunit.al
Labels: AL: System Application

#3319 Bug 571641: Disable unstable REST Client tests in gates
  src/System Application/Test/DisabledTests/RestClientTests.DisabledTest.json
Labels: AL: System Application

#3320 [main] Update BCArtifact version. New value: 27.0.31829.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#3316 [releases/24.3@344b2e8] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 81401b5 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#3315 [releases/26.0@a4cade9] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 81401b5 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#3314 [releases/24.4@a7c5a0c] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 81401b5 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#3312 [releases/26.x@16be982] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 81401b5 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#3311 [releases/25.x@198fa28] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 81401b5 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#3309 [releases/25.4@ff5fd77] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 81401b5 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#3308 [releases/25.2@5a00209] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 81401b5 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#3306 [releases/24.5@467626e] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 81401b5 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#3307 [releases/25.1@ddefca2] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 81401b5 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#3305 [releases/24.x@5d5ebdf] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 81401b5 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#3304 [releases/25.3@630c484] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 81401b5 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#3301 [releases/25.5@2e1e988] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 81401b5 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/Packages.json
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#3303 [main@e6ed0c2] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 81401b5 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2746 [AI Test Tool] Trim ToText output
  src/Tools/Test Framework/Test Runner/src/DataDrivenTest/DataInputs/TestInputJson.Codeunit.al
  src/Tools/Test Framework/Test Runner/src/DataDrivenTest/DataOutputs/TestOutputJson.Codeunit.al
Labels: AL: Tools

#3186 Fixes #3034
  src/System Application/App/Email/src/Email/Email.Codeunit.al
Labels: AL: System Application, From Fork, Linked, Integration

#3184 Importing Permissions with Overwrite Option
  src/System Application/App/Permission Sets/src/xmlports/ImportPermissionSets.xmlport.al
  src/System Application/Test/Permission Sets/src/PermissionImportExportTests.Codeunit.al
Labels: AL: System Application, From Fork, Linked, Integration

#3324 [AI Test Tool] Fix GetNextTurn
  src/Tools/AI Test Toolkit/src/AITTestContextImpl.Codeunit.al
Labels: AL: Tools

#3327 [Agent] Add API to add attachment to task message
  src/System Application/App/Agent/Interaction/AgentMessage.Codeunit.al
  src/System Application/App/Agent/Interaction/AgentMessageImpl.Codeunit.al
  src/System Application/App/Agent/Interaction/AgentTaskImpl.Codeunit.al
Labels: AL: System Application

#3330 [main] Update BCArtifact version. New value: 27.0.31897.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#3334 [main] Update BCArtifact version. New value: 27.0.31987.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#3331 Add missing read permission for Upgrade Tags
  src/System Application/App/Upgrade Tags/src/UpgradeTags.Page.al
Labels: AL: System Application, From Fork, Linked, Integration

#3279 Add CompanyName, TenantID, LanguageID to Command Line Test Tool
  src/Tools/Test Framework/Test Runner/src/CommandLineTestTool.Page.al
Labels: From Fork, Linked, AL: Tools, Integration

#3323 [25.4] [Copilot] Add telemetry when data movement is updated
  src/System Application/App/AI/app.json
  src/System Application/App/AI/src/Copilot/CopilotAICapabilities.Page.al
  src/System Application/App/AI/src/Copilot/CopilotCapabilityImpl.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotTelemetry.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotTelemetryInstall.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotTelemetryUpgrade.Codeunit.al
Labels: AL: System Application

#3322 [25.5] [Copilot] Add telemetry when data movement is updated
  src/System Application/App/AI/app.json
  src/System Application/App/AI/src/Copilot/CopilotAICapabilities.Page.al
  src/System Application/App/AI/src/Copilot/CopilotCapabilityImpl.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotTelemetry.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotTelemetryInstall.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotTelemetryUpgrade.Codeunit.al
Labels: AL: System Application

#3321 [25.x] [Copilot] Add telemetry when data movement is updated
  src/System Application/App/AI/app.json
  src/System Application/App/AI/src/Copilot/CopilotAICapabilities.Page.al
  src/System Application/App/AI/src/Copilot/CopilotCapabilityImpl.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotTelemetry.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotTelemetryInstall.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotTelemetryUpgrade.Codeunit.al
Labels: AL: System Application

#3336 [Copilot] Check database upgrade tag to avoid emitting unnecessary telemetry for cross-geo switch
  src/System Application/App/AI/src/Copilot/CopilotTelemetryUpgrade.Codeunit.al
Labels: AL: System Application

#3337 [26.x] [Copilot] Check database upgrade tag to avoid emitting unnecessary telemetry for cross-geo switch
  src/System Application/App/AI/src/Copilot/CopilotTelemetryUpgrade.Codeunit.al
Labels: AL: System Application

#3350 [26.0] Update app baselines package version. New value: 25.5.30849.32085
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3349 [25.2] Update app baselines package version. New value: 25.1.25873.32081
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3348 [24.4] Update app baselines package version. New value: 24.3.21374.32119
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3343 [24.x] Update app baselines package version. New value: 24.5.23489.32114
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3342 [24.5] Update app baselines package version. New value: 24.4.22295.32113
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3347 [25.x] Update translation package version. New value: 25.6.20250321.2
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3340 [25.0] Update app baselines package version. New value: 24.5.23489.32114
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3339 [main] Update app baselines package version. New value: 26.1.32102.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3345 [26.x] Update app baselines package version. New value: 26.0.30643.32100 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3341 [25.4] Update app baselines package version. New value: 25.3.28755.32084
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3355 [26.x] Importing Permissions with Overwrite Option
  src/System Application/App/Permission Sets/src/xmlports/ImportPermissionSets.xmlport.al
  src/System Application/Test/Permission Sets/src/PermissionImportExportTests.Codeunit.al
Labels: AL: System Application, From Fork, Linked, Integration

#3369 [releases/26.0@91e8027] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - ad07b06 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#3368 [releases/26.x@eb516d4] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - ad07b06 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#3365 [releases/24.5@b6ac54d] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - ad07b06 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#3364 [releases/25.1@ed877ba] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - ad07b06 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#3363 [releases/25.4@f76f18b] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - ad07b06 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs
