Repository microsoft/BCApps, pull requests merged in 2025-07, with the labels that each got.

#4019 Bugs/582272
  src/System Application/App/AppSource Gallery/src/AppSourceProduct.Table.al
  src/System Application/App/Cues and KPIs/src/CueSetup.Table.al
  src/System Application/App/Cues and KPIs/src/CueSetupEndUser.Page.al
  src/System Application/App/Table Information/src/TableInformation.Page.al
  src/System Application/App/Table Information/src/TableInformationCache.Table.al
  src/System Application/Test Library/Cues And KPIs/src/CuesAndKPIsTest1Cue.Table.al
  src/System Application/Test Library/Field Selection/src/TestTableA.Table.al
  src/System Application/Test Library/Field Selection/src/TestTableB.Table.al
  src/System Application/Test Library/Page Action Provider/src/PageActionProviderTest.Table.al
  src/System Application/Test Library/Page Summary Provider/src/PageProviderSummaryTest.Table.al
  src/System Application/Test Library/Page Summary Provider/src/PageProviderSummaryTest2.Table.al
  src/System Application/Test Library/Page Summary Provider/src/PageProviderSummaryTest3.Table.al
  src/System Application/Test/Pdf/src/PDFDocumentTest.Codeunit.al
  src/Tools/AI Test Toolkit/src/Logs/AITLogEntries.Page.al
  src/Tools/AI Test Toolkit/src/Logs/AITLogEntry.Table.al
  src/Tools/AI Test Toolkit/src/Logs/AITRunHistory.Table.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestMethodLine.Table.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestMethodLines.Page.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuite.Table.al
  src/Tools/Performance Toolkit/App/src/BCPTLines.Page.al
  src/Tools/Test Framework/Test Runner/src/CodeCoverage/ALCodeCoverage.Page.al
  src/rulesets/ruleset.json
Labels: AL: System Application, AL: Tools

#4024 [26.3] [Email Retry] Fix concurrency issues
  src/System Application/App/Email/src/RateLimit/EmailRateLimitImpl.Codeunit.al
  src/System Application/Test/Email/src/EmailRetryTest.Codeunit.al
Labels: AL: System Application

#4023 [26.x] [Email Retry] Fix concurrency issues
  src/System Application/App/Email/src/RateLimit/EmailRateLimitImpl.Codeunit.al
  src/System Application/Test/Email/src/EmailRetryTest.Codeunit.al
Labels: AL: System Application

#4022 [Email] Fix concurrency issues
  src/System Application/App/Email/src/RateLimit/EmailRateLimitImpl.Codeunit.al
  src/System Application/Test/Email/src/EmailRetryTest.Codeunit.al
Labels: AL: System Application

#4030 Update AL-Go System Files
  .github/workflows/CICD.yaml
  .github/workflows/PullRequestHandler.yaml
  build/projects/Apps (W1)/.AL-Go/settings.json
Labels: Build: Automation, From Fork, Build: scripts & configs

#4029 Rename Add-Ons to Apps (part 2)
  build/projects/Apps (W1)/.AL-Go/CompileAppInBcContainer.ps1
  build/projects/Apps (W1)/.AL-Go/ImportTestDataInBcContainer.ps1
  build/projects/Apps (W1)/.AL-Go/ImportTestToolkitToBcContainer.ps1
  build/projects/Apps (W1)/.AL-Go/InstallMissingDependencies.ps1
  build/projects/Apps (W1)/.AL-Go/NewBcContainer.ps1
  build/projects/Apps (W1)/.AL-Go/PreCompileApp.ps1
  build/projects/Apps (W1)/.AL-Go/PublishBcContainerApp.ps1
  build/projects/Apps (W1)/.AL-Go/RunTestsInBcContainer.ps1
  build/projects/Apps (W1)/.AL-Go/cloudDevEnv.ps1
  build/projects/Apps (W1)/.AL-Go/customSettings.json
  build/projects/Apps (W1)/.AL-Go/localDevEnv.ps1
  build/projects/Apps (W1)/.AL-Go/settings.json
Labels: Build: scripts & configs

#4042 [Languages] Show all Windows Languages if no Allowed Languages are configured
  src/System Application/App/Language/src/AllowedLanguage.Table.al
  src/System Application/App/Language/src/LanguageImpl.Codeunit.al
Labels: AL: System Application

#4043 [releases/26.0] [Languages] Show all Windows Languages if no Allowed Languages are configured
  src/System Application/App/Language/src/AllowedLanguage.Table.al
  src/System Application/App/Language/src/LanguageImpl.Codeunit.al
Labels: AL: System Application

#4047 [releases/26.x] [Languages] Show all Windows Languages if no Allowed Languages are configured
  src/System Application/App/Language/src/AllowedLanguage.Table.al
  src/System Application/App/Language/src/LanguageImpl.Codeunit.al
Labels: AL: System Application

#4051 [Permission] Exclude Security Group when delete SUPER
  src/System Application/App/User Permissions/src/UserPermissionsImpl.Codeunit.al
  src/System Application/Test/User Permissions/src/UserPermissionsTest.Codeunit.al
Labels: AL: System Application

#4079 [Word Templates] Change table access from internal to public
  src/System Application/App/Word Templates/src/WordTemplateField.Table.al
  src/System Application/App/Word Templates/src/WordTemplatesTable.Table.al
Labels: AL: System Application

#4054 [26.x] [Permission] Keep at least one real Super admin excluding Security Group
  src/System Application/App/User Permissions/src/UserPermissionsImpl.Codeunit.al
  src/System Application/Test/User Permissions/src/UserPermissionsTest.Codeunit.al
Labels: AL: System Application

#4081 [releases/26.x] [Word Templates] Change table access from internal to public
  src/System Application/App/Word Templates/src/WordTemplateField.Table.al
  src/System Application/App/Word Templates/src/WordTemplatesTable.Table.al
Labels: AL: System Application

#3966 [AI Test Tool] Add evaluators and improve extensibility
  src/Tools/AI Test Toolkit/Permissions/AITestToolkitObj.PermissionSet.al
  src/Tools/AI Test Toolkit/src/AITTestContext.Codeunit.al
  src/Tools/AI Test Toolkit/src/AITTestContextImpl.Codeunit.al
  src/Tools/AI Test Toolkit/src/Evaluation/AITColumnMapping.Table.al
  src/Tools/AI Test Toolkit/src/Evaluation/AITColumnMappings.Page.al
  src/Tools/AI Test Toolkit/src/Evaluation/AITEvaluator.Table.al
  src/Tools/AI Test Toolkit/src/Evaluation/AITEvaluatorType.Enum.al
  src/Tools/AI Test Toolkit/src/Evaluation/AITEvaluators.Page.al
  src/Tools/AI Test Toolkit/src/Logs/AITLogEntries.Page.al
  src/Tools/AI Test Toolkit/src/Logs/AITLogEntry.Table.al
  src/Tools/AI Test Toolkit/src/Logs/AITTestData.Page.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITALTestSuiteMgt.Codeunit.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestMethodLines.Page.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuite.Page.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuite.Table.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuiteImportExport.XmlPort.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuiteMgt.Codeunit.al
Labels: AL: Tools

#4110 [releases/24.5] Disable Translated mode due to instabilities with error "End of Central Directory record could not be found"
  build/projects/Business Foundation/.AL-Go/settings.json
  build/projects/System Application/.AL-Go/settings.json
  build/projects/Test Framework/.AL-Go/settings.json
Labels: Build: scripts & configs

#4109 [releases/24.x] Disable Translated mode due to instabilities with error "End of Central Directory record could not be found"
  build/projects/Business Foundation/.AL-Go/settings.json
  build/projects/System Application/.AL-Go/settings.json
  build/projects/Test Framework/.AL-Go/settings.json
Labels: Build: scripts & configs

#4106 [releases/25.3] Disable Translated mode due to instabilities with error "End of Central Directory record could not be found"
  build/projects/Business Foundation/.AL-Go/settings.json
  build/projects/System Application/.AL-Go/settings.json
Labels: Build: scripts & configs

#4105 [releases/25.2] Disable Translated mode due to instabilities with error "End of Central Directory record could not be found"
  build/projects/Business Foundation/.AL-Go/settings.json
  build/projects/System Application/.AL-Go/settings.json
Labels: Build: scripts & configs

#4103 [releases/25.0] Disable Translated mode due to instabilities with error "End of Central Directory record could not be found"
  build/projects/Business Foundation/.AL-Go/settings.json
  build/projects/System Application/.AL-Go/settings.json
Labels: Build: scripts & configs

#4102 [releases/25.x] Disable Translated mode due to instabilities with error "End of Central Directory record could not be found"
  build/projects/Business Foundation/.AL-Go/settings.json
  build/projects/System Application/.AL-Go/settings.json
Labels: Build: scripts & configs

#4101 [releases/26.3] Disable Translated mode due to instabilities with error "End of Central Directory record could not be found"
  build/projects/Business Foundation/.AL-Go/settings.json
  build/projects/System Application/.AL-Go/settings.json
Labels: Build: scripts & configs

#4099 [releases/26.1] Disable Translated mode due to instabilities with error "End of Central Directory record could not be found"
  build/projects/Business Foundation/.AL-Go/settings.json
  build/projects/System Application/.AL-Go/settings.json
Labels: Build: scripts & configs

#4115 Fix encoding when reading blobs in agent timeline pages
  src/System Application/App/Agent/TaskPane/AgentTaskDetails.Page.al
  src/System Application/App/Agent/TaskPane/AgentTaskTimeline.Page.al
  src/System Application/App/Agent/TaskPane/AgentTasks.Page.al
Labels: AL: System Application

#4117 [releases/26.x] [Cryptography Management] Failing test
  src/System Application/Test/Cryptography Management/src/RSACryptoServiceProviderTests.Codeunit.al
Labels: AL: System Application

#4121 [26.2] Azure OpenAI app - Expose GPT 4.1
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesCopilotImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AOAIDeployments.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AOAIDeploymentsImpl.Codeunit.al
  src/System Application/App/Entity Text/src/EntityTextImpl.Codeunit.al
Labels: AL: System Application, AL: Business Foundation

#4125 [26.0] Azure OpenAI app - Expose GPT 4.1
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesCopilotImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AOAIDeployments.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AOAIDeploymentsImpl.Codeunit.al
  src/System Application/App/Entity Text/src/EntityTextImpl.Codeunit.al
Labels: AL: System Application, AL: Business Foundation

#4129 [AI Test Tool] Do not replicate evaluators
  src/Tools/AI Test Toolkit/src/Evaluation/AITColumnMapping.Table.al
  src/Tools/AI Test Toolkit/src/Evaluation/AITEvaluator.Table.al
Labels: AL: Tools

#4132 [main] Update BCArtifact version. New value: 27.0.36655.0
  .github/AL-Go-Settings.json
  build/scripts/AppExtensionsHelper.psm1
Labels: Build: Automation, Build: scripts & configs

#4094 [26.3] Update GPT4o to GPT41
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesCopilotImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AOAIDeployments.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AOAIDeploymentsImpl.Codeunit.al
  src/System Application/App/Entity Text/src/EntityTextImpl.Codeunit.al
Labels: AL: System Application, AL: Business Foundation

#4136 Update BCArtifact version and set GenerateReportLayout to false
  .github/AL-Go-Settings.json
  build/scripts/PreCompileApp.ps1
Labels: Build: Automation, Build: scripts & configs

#4137 Introducing RequiredTestIsolation to TestRunner
  src/System Application/Test/Retention Policy/src/RetentionPolicyLogTest.Codeunit.al
  src/Tools/Test Framework/Test Runner/src/CommandLineTestTool.Page.al
  src/Tools/Test Framework/Test Runner/src/TestSuiteMgt.Codeunit.al
Labels: AL: System Application, AL: Tools

#3620 Display notification on changing Copilot & Agent Capabilities settings
  src/System Application/App/AI/src/Copilot/CopilotAICapabilities.Page.al
  src/System Application/App/AI/src/Copilot/CopilotCapEarlyPreview.Page.al
  src/System Application/App/AI/src/Copilot/CopilotCapabilitiesGA.Page.al
  src/System Application/App/AI/src/Copilot/CopilotCapabilitiesPreview.Page.al
  src/System Application/App/AI/src/Copilot/CopilotCapabilityImpl.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotNotifications.Codeunit.al
Labels: AL: System Application

#4131 [26.x] Enable email retry with customized setting up (#4082)
  src/System Application/App/Email/src/Account/EmailAccounts.Page.al
  src/System Application/App/Email/src/Email/EmailDispatcher.Codeunit.al
  src/System Application/App/Email/src/Email/EmailImpl.Codeunit.al
  src/System Application/App/Email/src/Email/EmailRetryDetail.Page.al
  src/System Application/App/Email/src/Email/Outbox/EmailOutbox.Page.al
  src/System Application/App/Email/src/Email/Outbox/EmailOutbox.Table.al
  src/System Application/App/Email/src/Email/Sent/SentEmails.Page.al
  src/System Application/App/Email/src/RateLimit/EmailRateLimit.Table.al
  src/System Application/App/Email/src/RateLimit/EmailRateLimitImpl.Codeunit.al
  src/System Application/App/Email/src/RateLimit/EmailRateLimitWizard.Page.al
  src/System Application/Test/Email/src/EmailAccountsTest.Codeunit.al
  src/System Application/Test/Email/src/EmailRetryTest.Codeunit.al
Labels: AL: System Application

#4134 [26.x][Performance Scheduler] Allow scheduling profilers for all user types except external
  src/System Application/App/Performance Profiler/src/PerfProfilerScheduleCard.Page.al
  src/System Application/App/User Selection/src/UserLookup.Page.al
  src/System Application/App/User Selection/src/UserSelection.Codeunit.al
  src/System Application/App/User Selection/src/UserSelectionImpl.Codeunit.al
  src/System Application/Test/User Selection/src/UserSelectionTest.Codeunit.al
Labels: AL: System Application

#4156 [26.2] Remove references to GetGPT4oLatest
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesCopilotImpl.Codeunit.al
  src/System Application/App/Entity Text/src/EntityTextImpl.Codeunit.al
Labels: AL: System Application, AL: Business Foundation

#4153 [26.0] Remove references to GetGPT4oLatest
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesCopilotImpl.Codeunit.al
  src/System Application/App/Entity Text/src/EntityTextImpl.Codeunit.al
Labels: AL: System Application, AL: Business Foundation

#4154 [26.1] Remove references to GetGPT4oLatest
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesCopilotImpl.Codeunit.al
  src/System Application/App/Entity Text/src/EntityTextImpl.Codeunit.al
Labels: AL: System Application, AL: Business Foundation

#4161 [Subscription Billing] Test StdSalesOrderConfAssemblyComponentsRDLC fails when Subscription Billing is installed
  src/Apps/W1/Subscription Billing/App/Sales Service Commitments/Report Extensions/ContractSalesOrderConf.ReportExt.al
Labels: Approved

#4179 [AI Test Tool] Skip evaluators that are already inserted
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuiteImportExport.XmlPort.al
Labels: AL: Tools

#4183 Don't need "System Application Tests (No Isolation)" anymore
  build/projects/System Application Tests (No Isolation)/.AL-Go/CompileAppInBcContainer.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/ImportTestToolkitToBcContainer.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/NewBcContainer.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/RunTestsInBcContainer.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/settings.json
  build/projects/System Application Tests/.AL-Go/RunTestsInBcContainer.ps1
  build/scripts/RunTestsInBcContainer.ps1
Labels: Build: scripts & configs

#4208 [26.x] Fix email concurrency limit issue with read Isolation
  src/System Application/App/Email/src/RateLimit/EmailRateLimitImpl.Codeunit.al
Labels: AL: System Application

#4207 [main] fix issue with read Isolation
  src/System Application/App/Email/src/RateLimit/EmailRateLimitImpl.Codeunit.al
Labels: AL: System Application

#4213 [26.3] Add upgrade code for email concurrency limit
  src/System Application/App/Email/src/Email/EmailDispatcher.Codeunit.al
  src/System Application/App/Email/src/EmailUpgrade.Codeunit.al
  src/System Application/App/Email/src/RateLimit/EmailRateLimitImpl.Codeunit.al
Labels: AL: System Application

#4214 [26.x] Add upgrade code for email concurrency limit
  src/System Application/App/Email/src/EmailUpgrade.Codeunit.al
  src/System Application/App/Email/src/RateLimit/EmailRateLimitImpl.Codeunit.al
Labels: AL: System Application

#4212 [main]Add upgrade code for email concurrency limit
  src/System Application/App/Email/src/EmailUpgrade.Codeunit.al
  src/System Application/App/Email/src/RateLimit/EmailRateLimitImpl.Codeunit.al
Labels: AL: System Application

#4231 [26.x]Improve upgrade logic for email concurrency limit
  src/System Application/App/Email/src/EmailUpgrade.Codeunit.al
Labels: AL: System Application

#4246 [releases/25.5] [CES] Remove modern action bar survey
  src/System Application/App/User Settings/src/UserSettings.Page.al
  src/System Application/App/User Settings/src/UserSettingsImpl.Codeunit.al
Labels: AL: System Application

#4247 [releases/25.4] [CES] Remove modern action bar survey
  src/System Application/App/User Settings/src/UserSettings.Page.al
  src/System Application/App/User Settings/src/UserSettingsImpl.Codeunit.al
Labels: AL: System Application

#4248 [releases/25.3] [CES] Remove modern action bar survey
  src/System Application/App/User Settings/src/UserSettings.Page.al
  src/System Application/App/User Settings/src/UserSettingsImpl.Codeunit.al
Labels: AL: System Application

#4251 [releases/25.0] [CES] Remove modern action bar survey
  src/System Application/App/User Settings/src/UserSettings.Page.al
  src/System Application/App/User Settings/src/UserSettingsImpl.Codeunit.al
Labels: AL: System Application

#4252 [releases/24.x] [CES] Remove modern action bar survey
  src/System Application/App/User Settings/src/UserSettings.Page.al
  src/System Application/App/User Settings/src/UserSettingsImpl.Codeunit.al
Labels: AL: System Application

#3995 Add API to feature management
  src/System Application/App/Feature Key/src/FeatureManagementFacade.Codeunit.al
  src/System Application/App/Feature Key/src/FeatureManagementImpl.Codeunit.al
Labels: AL: System Application

#4275 Move system application test library to another AL-Go project
  build/projects/System Application Tests/.AL-Go/settings.json
  build/projects/System Application/.AL-Go/settings.json
Labels: Build: scripts & configs

#4244 Get all app symbols when gathering baselines
  build/scripts/GuardingV2ExtensionsHelper.psm1
Labels: Build: scripts & configs

#4278 System Application Test project - Return status to fail job
  build/projects/System Application Tests/.AL-Go/RunTestsInBcContainer.ps1
Labels: Build: scripts & configs

#4282 [26.3] Insert Retention Policy Allowed Tables when open page instead
  src/System Application/App/Email/src/EmailInstaller.Codeunit.al
  src/System Application/App/Email/src/EmailUpgrade.Codeunit.al
  src/System Application/App/Performance Profiler/src/PerformanceProfilerInstaller.Codeunit.al
  src/System Application/App/Retention Policy/src/Install/RetentionPolicyInstaller.Codeunit.al
  src/System Application/App/Retention Policy/src/Retention Policy Setup/RetentionPolicySetupList.Page.al
Labels: AL: System Application
