Repository microsoft/BCApps, pull requests merged in 2025-01, with the labels that each got.

#2630 [24.x] Update BCArtifact version. New value: bcinsider/Sandbox/24.9/base/latest
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2629 [main] Update BCArtifact version. New value: 26.0.28403.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2625 [24.x] Update app baselines package version. New value: 24.5.23489.28383
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2621 [main] Update app baselines package version. New value: 25.3.28408.0
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2619 [25.x] Update app baselines package version. New value: 25.2.27733.28402
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2628 [25.0] Update app baselines package version. New value: 24.5.23489.28383
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2627 [24.0] Update app baselines package version. New value: 23.5.16502.28390
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2626 [25.2] Update app baselines package version. New value: 25.1.25873.28400
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2623 [24.1] Update app baselines package version. New value: 24.0.16410.28380
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2622 [25.1] Update app baselines package version. New value: 25.0.23364.28387
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2620 [24.4] Update app baselines package version. New value: 24.3.21374.28361
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2618 [24.2] Update app baselines package version. New value: 24.1.18927.28381
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2617 [24.5] Update app baselines package version. New value: 24.4.22295.28385
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2633 [main] Update BCArtifact version. New value: 26.0.28429.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2632 Remove duplicate part in branch name when running automations
  .github/actions/RunAutomation/run.ps1
Labels: Build: Automation

#2634 [main] Update BCArtifact version. New value: 26.0.28458.0
  .github/AL-Go-Settings.json
  .github/workflows/MSDO.yml
Labels: Automation, Build: Automation

#2636 [25.x] Run MSDO on windows-latest
  .github/workflows/MSDO.yml
Labels: Build: Automation

#2645 [releases/25.1] Run MSDO on windows-latest
  .github/workflows/MSDO.yml
Labels: Build: Automation

#2644 [releases/25.0] Run MSDO on windows-latest
  .github/workflows/MSDO.yml
Labels: Build: Automation

#2643 [releases/24.x] Run MSDO on windows-latest
  .github/workflows/MSDO.yml
Labels: Build: Automation

#2642 [releases/24.5] Run MSDO on windows-latest
  .github/workflows/MSDO.yml
Labels: Build: Automation

#2641 [releases/24.4] Run MSDO on windows-latest
  .github/workflows/MSDO.yml
Labels: Build: Automation

#2640 [releases/24.3] Run MSDO on windows-latest
  .github/workflows/MSDO.yml
Labels: Build: Automation

#2639 [releases/24.2] Run MSDO on windows-latest
  .github/workflows/MSDO.yml
Labels: Build: Automation

#2638 [releases/24.1] Run MSDO on windows-latest
  .github/workflows/MSDO.yml
Labels: Build: Automation

#2637 [releases/24.0] Run MSDO on windows-latest
  .github/workflows/MSDO.yml
Labels: Build: Automation

#2659 Delay obsoletion of ExtractEntry
  src/System Application/App/Data Compression/src/DataCompression.Codeunit.al
Labels: AL: System Application

#2647 Delete MSDO workflow
  .github/workflows/MSDO.yml
Labels: Build: Automation

#2648 [releases/24.0] Delete MSDO workflow
  .github/workflows/MSDO.yml
Labels: Build: Automation

#2649 [releases/24.1] Delete MSDO workflow
  .github/workflows/MSDO.yml
Labels: Build: Automation

#2650 [releases/24.2] Delete MSDO workflow
  .github/workflows/MSDO.yml
Labels: Build: Automation

#2651 [releases/24.3] Delete MSDO workflow
  .github/workflows/MSDO.yml
Labels: Build: Automation

#2652 [releases/24.4] Delete MSDO workflow
  .github/workflows/MSDO.yml
Labels: Build: Automation

#2653 [releases/24.5] Delete MSDO workflow
  .github/workflows/MSDO.yml
Labels: Build: Automation

#2654 [releases/24.x] Delete MSDO workflow
  .github/workflows/MSDO.yml
Labels: Build: Automation

#2655 [releases/25.0] Delete MSDO workflow
  .github/workflows/MSDO.yml
Labels: Build: Automation

#2656 [releases/25.1] Delete MSDO workflow
  .github/workflows/MSDO.yml
Labels: Build: Automation

#2657 [releases/25.2] Delete MSDO workflow
  .github/workflows/MSDO.yml
Labels: Build: Automation

#2658 [releases/25.x] Delete MSDO workflow
  .github/workflows/MSDO.yml
Labels: Build: Automation

#2673 [main] Update BCArtifact version. New value: 26.0.28476.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2671 [25.0] Update app baselines package version. New value: 24.5.23489.28471
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2670 [24.5] Update app baselines package version. New value: 24.4.22295.28433
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2667 [24.2] Update app baselines package version. New value: 24.1.18927.28488
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2666 [24.3] Update app baselines package version. New value: 24.2.20227.28491
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2664 [24.4] Update app baselines package version. New value: 24.3.21374.28486
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2663 [25.1] Update app baselines package version. New value: 25.0.23364.28527
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2662 [25.2] Update app baselines package version. New value: 25.1.25873.28528
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2668 [main] Update app baselines package version. New value: 25.3.28522.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2661 [25.x] Update app baselines package version. New value: 25.2.27733.28472 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2660 Scheduled Profiler - Add http call data
  src/System Application/App/Performance Profiler/src/PerformanceProfileList.Page.al
Labels: AL: System Application

#2679 [main] Update BCArtifact version. New value: 26.0.28602.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2674 Added indirect modify permission in "Email Message Impl."
  src/System Application/App/Email/src/Message/EmailMessageImpl.Codeunit.al
Labels: AL: System Application, From Fork, Linked, Integration

#2680 [25.x] [Copilot] Backport privacy check support
  src/System Application/App/AI/src/Copilot/CopilotCapabilitiesGA.Page.al
  src/System Application/App/AI/src/Copilot/CopilotCapabilitiesPreview.Page.al
  src/System Application/App/AI/src/Copilot/CopilotCapability.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotCapabilityImpl.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotCapabilityInstall.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotSettings.Table.al
  src/System Application/App/Privacy Notice/src/PrivacyNotices.Page.al
  src/System Application/App/Privacy Notice/src/SystemPrivacyNoticeReg.Codeunit.al
Labels: AL: System Application

#2678 Adding permission set
  src/System Application/App/System Permissions/permissions/CopilotEssentials.PermissionSet.al
Labels: AL: System Application

#2631 Deliverable 561132: [Deleting Obsolete Objects] [App] Delete obsolete objects and fields older than 3 major releases and all corresponding references in BCApps
  src/Business Foundation/App/AuditCodes/src/Legacy/ObsoleteSourceCodeExt.TableExt.al
  src/Business Foundation/App/AuditCodes/src/Legacy/ObsoleteSourceCodeSetupExt.TableExt.al
  src/Business Foundation/App/NoSeries/src/Legacy/NoSeriesObsolete.TableExt.al
  src/System Application/App/Email/src/EmailAttachmentUpgrade.Codeunit.al
  src/System Application/App/Email/src/Message/EmailMessageAttachment.Table.al
  src/System Application/App/Guided Experience/src/Assisted Setup/AggregatedAssistedSetup.Table.al
  src/System Application/App/Guided Experience/src/Assisted Setup/AssistedSetup.Table.al
  src/System Application/App/Guided Experience/src/Assisted Setup/AssistedSetupIcons.Table.al
  src/System Application/App/Guided Experience/src/Assisted Setup/AssistedSetupLog.Table.al
  src/System Application/App/Guided Experience/src/Assisted Setup/AssistedSetupUpgrade.Codeunit.al
  src/System Application/App/Guided Experience/src/Assisted Setup/ProductVideoCategory.Table.al
  src/System Application/App/Guided Experience/src/Manual Setup/BusinessSetupIcon.Table.al
  src/System Application/App/Guided Experience/src/Manual Setup/ManualSetup.Table.al
  src/System Application/App/Satisfaction Survey/src/NetPromoterScoreSetup.Table.al
  src/System Application/App/SmartList Designer Subscribers/src/QueryNavigationValidation.Table.al
  src/System Application/App/SmartList Designer Subscribers/src/SmartListDesignerHandler.Table.al
  src/System Application/App/User Settings/src/ExtraSettings.Table.al
  src/System Application/App/User Settings/src/UserSettingsUpgrade.Codeunit.al
  src/System Application/App/Video/src/ProductVideoBuffer.Table.al
Labels: AL: System Application, AL: Business Foundation

#2684 Disable failing test TestGetAsJson
  src/System Application/Test/DisabledTests/RestClientTests.DisabledTest.json
Labels: AL: System Application

#2677 #2635 - Add caption to enum 59
  src/System Application/App/Auto Format/src/AutoFormat.Enum.al
Labels: AL: System Application, From Fork, Linked, Integration

#2683 [main] Update BCArtifact version. New value: 26.0.28669.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2698 [releases/24.1] Add Commit Options to AL-Go created pull requests
  .github/AL-Go-Settings.json
Labels: Build: Automation

#2699 [releases/24.2] Add Commit Options to AL-Go created pull requests
  .github/AL-Go-Settings.json
Labels: Build: Automation

#2700 [releases/24.3] Add Commit Options to AL-Go created pull requests
  .github/AL-Go-Settings.json
Labels: Build: Automation

#2701 [releases/24.4] Add Commit Options to AL-Go created pull requests
  .github/AL-Go-Settings.json
Labels: Build: Automation

#2702 [releases/24.5] Add Commit Options to AL-Go created pull requests
  .github/AL-Go-Settings.json
Labels: Build: Automation

#2697 [releases/24.0] Add Commit Options to AL-Go created pull requests
  .github/AL-Go-Settings.json
Labels: Build: Automation

#2703 [releases/24.x] Add Commit Options to AL-Go created pull requests
  .github/AL-Go-Settings.json
Labels: Build: Automation

#2706 [releases/25.2] Add Commit Options to AL-Go created pull requests
  .github/AL-Go-Settings.json
  .github/dependabot.yml
Labels: Build: Automation

#2707 [releases/25.x] Add Commit Options to AL-Go created pull requests
  .github/AL-Go-Settings.json
  .github/dependabot.yml
Labels: Build: Automation

#2705 [releases/25.1] Add Commit Options to AL-Go created pull requests
  .github/AL-Go-Settings.json
  .github/dependabot.yml
Labels: Build: Automation

#2711 [main] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 044c659dce8d72c3f1750a55dd7792c4db0a0a56 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2708 [releases/24.0] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 044c659dce8d72c3f1750a55dd7792c4db0a0a56 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2682 Remove workflow for creating build tags
  .github/workflows/CreateBuildTag.yaml
Labels: Build: Automation

#2675 Add top-level permissions VerifyAppChanges.yaml
  .github/workflows/VerifyAppChanges.yaml
Labels: Build: Automation

#2709 [releases/24.x] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 044c659dce8d72c3f1750a55dd7792c4db0a0a56 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2710 [releases/24.3] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 044c659dce8d72c3f1750a55dd7792c4db0a0a56 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2712 [releases/25.1] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 044c659dce8d72c3f1750a55dd7792c4db0a0a56 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2713 [releases/25.0] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 044c659dce8d72c3f1750a55dd7792c4db0a0a56 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2716 [releases/24.1] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 044c659dce8d72c3f1750a55dd7792c4db0a0a56 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2718 [releases/24.4] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 044c659dce8d72c3f1750a55dd7792c4db0a0a56 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation

#2719 [releases/24.2] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 044c659dce8d72c3f1750a55dd7792c4db0a0a56 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2717 [releases/25.2] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 044c659dce8d72c3f1750a55dd7792c4db0a0a56 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2722 [main] Update BCArtifact version. New value: 26.0.28721.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2731 [25.x] Update BCArtifact version. New value: bcinsider/Sandbox/25.4/base/latest
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2421 Bug 501006: [Bug] Page "Word Template Creation Wizard" (9995) - missing variable update leads to an error #23867
  src/System Application/App/Word Templates/src/WordTemplatesRelatedPart.Page.al
Labels: AL: System Application

#2727 [releases/25.x] Migrate cleanModePreProcessorSymbols to a conditional setting
  .github/AL-Go-Settings.json
Labels: Build: Automation

#2761 [main] Update BCArtifact version. New value: 26.0.28826.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2760 [24.0] Update app baselines package version. New value: 23.5.16502.28840
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2759 [25.0] Update app baselines package version. New value: 24.5.23489.28863
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2758 [25.x] Update app baselines package version. New value: 25.3.28795.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2757 [24.2] Update app baselines package version. New value: 24.1.18927.28831
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2755 [24.4] Update app baselines package version. New value: 24.3.21374.28837
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2754 [24.x] Update app baselines package version. New value: 24.5.23489.28863 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2753 [25.2] Update app baselines package version. New value: 25.1.25873.28868
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2752 [24.1] Update app baselines package version. New value: 24.0.16410.28829
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2751 [24.3] Update app baselines package version. New value: 24.2.20227.28834
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2750 [25.3] Update app baselines package version. New value: 25.2.27733.28869 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2749 [25.1] Update app baselines package version. New value: 25.0.23364.28865
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2748 [main] Update app baselines package version. New value: 25.4.28874.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2743 [releases/25.3] Run CLEAN mode only on main and major release branches
  .github/AL-Go-Settings.json
Labels: Build: Automation

#2742 [releases/25.2] Run CLEAN mode only on main and major release branches
  .github/AL-Go-Settings.json
Labels: Build: Automation

#2741 [releases/25.1] Run CLEAN mode only on main and major release branches
  .github/AL-Go-Settings.json
Labels: Build: Automation

#2740 [releases/25.0] Run CLEAN mode only on main and major release branches
  .github/AL-Go-Settings.json
Labels: Build: Automation

#2739 [releases/24.x] Run CLEAN mode only on main and major release branches
  .github/AL-Go-Settings.json
Labels: Build: Automation

#2738 [releases/24.5] Run CLEAN mode only on main and major release branches
  .github/AL-Go-Settings.json
Labels: Build: Automation

#2737 [releases/24.4] Run CLEAN mode only on main and major release branches
  .github/AL-Go-Settings.json
Labels: Build: Automation

#2736 [releases/24.3] Run CLEAN mode only on main and major release branches
  .github/AL-Go-Settings.json
Labels: Build: Automation

#2735 [releases/24.2] Run CLEAN mode only on main and major release branches
  .github/AL-Go-Settings.json
Labels: Build: Automation

#2734 [releases/24.1] Run CLEAN mode only on main and major release branches
  .github/AL-Go-Settings.json
Labels: Build: Automation

#2733 [releases/24.0] Run CLEAN mode only on main and major release branches
  .github/AL-Go-Settings.json
Labels: Build: Automation

#2766 [main] Update BCArtifact version. New value: 26.0.28918.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2767 [releases/25.2] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 764fc413d9ab5b31265377c8422a71163b464db6 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2768 [releases/24.5] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 764fc413d9ab5b31265377c8422a71163b464db6 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2769 [releases/24.1] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 764fc413d9ab5b31265377c8422a71163b464db6 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2770 [releases/24.2] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 764fc413d9ab5b31265377c8422a71163b464db6 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2772 [main] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 764fc413d9ab5b31265377c8422a71163b464db6 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2773 [releases/24.0] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 764fc413d9ab5b31265377c8422a71163b464db6 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2775 [releases/24.x] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 764fc413d9ab5b31265377c8422a71163b464db6 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2776 [releases/25.1] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 764fc413d9ab5b31265377c8422a71163b464db6 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2777 [releases/25.0] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 764fc413d9ab5b31265377c8422a71163b464db6 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2778 [releases/25.3] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 764fc413d9ab5b31265377c8422a71163b464db6 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2779 [releases/24.4] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 764fc413d9ab5b31265377c8422a71163b464db6 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2762 [releases/25.x] [Copilot] Reduce KV checks for embed ISVs
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/Chat Completion/AOAIChatMessagesImpl.Codeunit.al
Labels: AL: System Application

#2780 add test for create new no. series from UI
  src/Business Foundation/Test/NoSeries/src/NoSeriesTests.Codeunit.al
Labels: AL: Business Foundation

#2781 [Copilot] Revert error in CheckTextCompletionMetaprompt
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
  src/System Application/Test/DisabledTests/AzureOpenAITest.json
Labels: AL: System Application

#2783 [25.x][Copilot] Revert error in CheckTextCompletionMetaprompt (#2781)
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
  src/System Application/Test/DisabledTests/AzureOpenAITest.json
Labels: AL: System Application

#2782 [main] Update BCArtifact version. New value: 26.0.28997.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2763 [Edit In Excel] Support plus signs in field names (Currently plus is interpreted as x002b by Edit In Excel and x002B by the platform)
  src/System Application/App/Edit in Excel/src/EditinExcelImpl.Codeunit.al
  src/System Application/Test/Edit in Excel/src/EditInExcelTest.Codeunit.al
Labels: AL: System Application

#2744 [releases/25.x] Run CLEAN mode only on main and major release branches
  .github/AL-Go-Settings.json
Labels: Build: Automation

#2784 [25.x][Edit In Excel] Support plus signs in field names (Currently plus is …
  src/System Application/App/Edit in Excel/src/EditinExcelImpl.Codeunit.al
  src/System Application/Test/Edit in Excel/src/EditInExcelTest.Codeunit.al
Labels: AL: System Application

#2584 Remove jQuery from add-ins
  src/System Application/App/ControlAddIns/Resources/BusinessChart/js/BusinessChartAddIn.js
  src/System Application/App/ControlAddIns/Resources/RoleCenterSelector/js/RoleCenterSelector.js
  src/System Application/App/ControlAddIns/Resources/WelcomeWizard/js/WelcomeWizard.js
  src/System Application/App/ControlAddIns/src/BusinessChart.ControlAddin.al
  src/System Application/App/ControlAddIns/src/MicrosoftDynamicsNavClientBusinessChart.ControlAddin.al
  src/System Application/App/ControlAddIns/src/MicrosoftDynamicsNavClientRoleCenterSelector.ControlAddin.al
  src/System Application/App/ControlAddIns/src/MicrosoftDynamicsNavClientWelcomeWizard.ControlAddin.al
  src/System Application/App/ControlAddIns/src/RoleCenterSelector.ControlAddin.al
  src/System Application/App/ControlAddIns/src/WelcomeWizard.ControlAddin.al
  src/System Application/App/Resources/BusinessChart/js/BusinessChartAddIn.js
  src/System Application/App/Resources/RoleCenterSelector/js/RoleCenterSelector.js
  src/System Application/App/Resources/WelcomeWizard/js/WelcomeWizard.js
Labels: AL: System Application

#2524 Application Insights warning on llm model deprecation
  src/System Application/App/AI/src/Azure OpenAI/AOAIDeploymentsImpl.Codeunit.al
Labels: AL: System Application

#2786 Private/moahuja/summarize system perm
  src/System Application/App/Permissions/SystemApplicationBasic.PermissionSet.al
  src/System Application/App/System Permissions/permissions/CopilotSysFeatures.PermissionSet.al
Labels: AL: System Application

#2788 [main] Update BCArtifact version. New value: 26.0.29075.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2729 Update extension installation page
  src/System Application/App/Extension Management/src/MarketplaceExtnDeployment.Page.al
Labels: AL: System Application

#2789 [25.x] Update translation package version. New value: 25.4.20250117.1
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2790 [24.5] Update app baselines package version. New value: 24.4.22295.29076
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2791 [25.1] Update app baselines package version. New value: 25.0.23364.29122
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2792 [main] Update app baselines package version. New value: 25.4.29130.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2794 [25.2] Update app baselines package version. New value: 25.1.25873.29124
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2795 [24.4] Update app baselines package version. New value: 24.3.21374.29101
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2796 [24.2] Update app baselines package version. New value: 24.1.18927.29105
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2797 [24.3] Update app baselines package version. New value: 24.2.20227.29102
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2798 [24.x] Update app baselines package version. New value: 24.5.23489.29100 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2799 [24.1] Update app baselines package version. New value: 24.0.16410.29104
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2800 [25.0] Update app baselines package version. New value: 24.5.23489.29100
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2801 [24.0] Update app baselines package version. New value: 23.5.16502.28996
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2802 [main] Update BCArtifact version. New value: 26.0.29145.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2793 [25.3] Update app baselines package version. New value: 25.2.27733.29140
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2815 [releases/25.3] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 52b990dc650f1be8736a804faebd2b5567e77e09 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2814 [releases/24.0] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 52b990dc650f1be8736a804faebd2b5567e77e09 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2813 [releases/24.4] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 52b990dc650f1be8736a804faebd2b5567e77e09 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs
