Repository microsoft/BCApps, pull requests merged in 2025-06, with the labels that each got.

#3742 Allow filter to only V3 Email accounts.
  src/System Application/App/Email/src/Account/EmailAccounts.Page.al
Labels: AL: System Application

#3807 [releases/26.x] [Appsource] Fix currency values formatting for Appsource Apps plans
  src/System Application/App/AppSource Gallery/src/AppSourceProductDetails.Page.al
Labels: AL: System Application

#3785 Pdf to Img
  src/System Application/App/DotNet Aliases/src/dotnet.al
  src/System Application/App/Pdf/app.json
  src/System Application/App/Pdf/src/PDFDocument.Codeunit.al
  src/System Application/App/Pdf/src/PDFDocumentImpl.Codeunit.al
  src/System Application/Test/.resources/test.pdf
  src/System Application/Test/.resources/test.png
  src/System Application/Test/Document Sharing/app.json
  src/System Application/Test/Pdf/app.json
  src/System Application/Test/Pdf/src/PDFDocumentTest.Codeunit.al
  src/System Application/Test/app.json
Labels: AL: System Application

#3813 TestRunner will be powered by CodeunitMetadata instead
  src/Tools/Test Framework/Test Runner/src/SelectTestRunner.Page.al
  src/Tools/Test Framework/Test Runner/src/SelectTests.Page.al
  src/Tools/Test Framework/Test Runner/src/TestMethodLine.Table.al
  src/Tools/Test Framework/Test Runner/src/TestSuiteMgt.Codeunit.al
Labels: AL: Tools

#3815 [releases/26.x] #3114 Format AppId without brackets and lowercase for VsCode Integration
  src/System Application/App/VS Code Integration/src/VsCodeIntegrationImpl.Codeunit.al
  src/System Application/Test/Vs Code Integration/src/VSCodeIntegrationTest.Codeunit.al
Labels: AL: System Application

#3816 [releases/26.2] #3114 Format AppId without brackets and lowercase for VsCode Integration
  src/System Application/App/VS Code Integration/src/VsCodeIntegrationImpl.Codeunit.al
  src/System Application/Test/Vs Code Integration/src/VSCodeIntegrationTest.Codeunit.al
Labels: AL: System Application

#3630 [26.x] Remove allowlisting for AI resources (2)
  src/System Application/App/AI/src/Azure OpenAI/AOAIAuthorization.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AOAIDeploymentsImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
Labels: AL: System Application

#3822 [releases/26.1] [Appsource] Fix currency values formatting for Appsource Apps plans
  src/System Application/App/AppSource Gallery/src/AppSourceProductDetails.Page.al
Labels: AL: System Application

#3823 [releases/26.0] [Appsource] Fix currency values formatting for Appsource Apps plans
  src/System Application/App/AppSource Gallery/src/AppSourceProductDetails.Page.al
Labels: AL: System Application

#3784 Add support for agent suggestions and free text instructions in the agent task pane
  src/System Application/App/Agent/Interaction/AgentTaskImpl.Codeunit.al
  src/System Application/App/Agent/TaskPane/AgentTaskDetails.Page.al
  src/System Application/App/Agent/TaskPane/AgentTaskTimeline.Page.al
  src/System Application/App/Agent/TaskPane/AgentTasks.Page.al
Labels: AL: System Application

#2255 Update RSA.Codeunit.al
  src/System Application/App/Cryptography Management/src/RSA.Codeunit.al
  src/System Application/App/Cryptography Management/src/RSAImpl.Codeunit.al
Labels: AL: System Application, From Fork, Linked, Integration

#3786 Added support to test ReviewMessage setting while creating agent task message
  src/System Application/Test Library/Email/src/TestEmailConnectorv3.Codeunit.al
Labels: AL: System Application

#3744 Improve extensibility of AI Test Tool
  src/Tools/AI Test Toolkit/src/AITTestContext.Codeunit.al
  src/Tools/AI Test Toolkit/src/AITTestContextImpl.Codeunit.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestMethodLine.Table.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuite.Page.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuite.Table.al
Labels: AL: Tools

#3563 Add IsUserDelegated to AzureAdGraphUser
  src/System Application/App/Azure AD User/src/AzureADGraphUser.Codeunit.al
  src/System Application/App/Azure AD User/src/AzureADGraphUserImpl.Codeunit.al
  src/System Application/Test Library/Azure AD User/src/AzureADUserTestLibrary.Codeunit.al
Labels: AL: System Application

#3761 [2025June]Email retry logic
  src/System Application/App/Email/permissions/EmailEdit.PermissionSet.al
  src/System Application/App/Email/permissions/EmailObjects.PermissionSet.al
  src/System Application/App/Email/permissions/EmailRead.PermissionSet.al
  src/System Application/App/Email/src/Email/EmailDispatcher.Codeunit.al
  src/System Application/App/Email/src/Email/EmailImpl.Codeunit.al
  src/System Application/App/Email/src/Email/Outbox/EmailError.Table.al
  src/System Application/App/Email/src/Email/Outbox/EmailOutbox.Page.al
  src/System Application/App/Email/src/Email/Outbox/EmailOutbox.Table.al
  src/System Application/App/Email/src/Email/Outbox/EmailRetry.Table.al
  src/System Application/App/Email/src/Email/Outbox/EmailRetryDetail.Page.al
  src/System Application/App/Email/src/EmailLogsDelete.Codeunit.al
  src/System Application/App/Email/src/RateLimit/EmailRateLimit.Table.al
  src/System Application/App/Email/src/RateLimit/EmailRateLimitImpl.Codeunit.al
  src/System Application/Test/Email/src/EmailE2ETests.Codeunit.al
  src/System Application/Test/Email/src/EmailTest.Codeunit.al
Labels: AL: System Application

#3925 [releases/26.x] [AI] Add GPT41 and GPT41 mini to AOAI deployments
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesCopilotImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AOAIDeployments.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AOAIDeploymentsImpl.Codeunit.al
  src/System Application/App/Entity Text/src/EntityTextImpl.Codeunit.al
Labels: AL: System Application, AL: Business Foundation

#3924 [AI] Add GPT41 and GPT41 mini to AOAI deployments
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/NoSeriesCopilotImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AOAIDeployments.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AOAIDeploymentsImpl.Codeunit.al
  src/System Application/App/Entity Text/src/EntityTextImpl.Codeunit.al
Labels: AL: System Application, AL: Business Foundation

#3928 [2025 June] [Released/26.x] Backport Email retry to 26.x
  src/System Application/App/Email/permissions/EmailEdit.PermissionSet.al
  src/System Application/App/Email/permissions/EmailObjects.PermissionSet.al
  src/System Application/App/Email/permissions/EmailRead.PermissionSet.al
  src/System Application/App/Email/src/Account/EmailAccounts.Page.al
  src/System Application/App/Email/src/Email/EmailDispatcher.Codeunit.al
  src/System Application/App/Email/src/Email/EmailImpl.Codeunit.al
  src/System Application/App/Email/src/Email/EmailRetry.Table.al
  src/System Application/App/Email/src/Email/EmailRetryDetail.Page.al
  src/System Application/App/Email/src/Email/EmailRetryImpl.Codeunit.al
  src/System Application/App/Email/src/Email/Outbox/EmailError.Table.al
  src/System Application/App/Email/src/Email/Outbox/EmailOutbox.Page.al
  src/System Application/App/Email/src/Email/Outbox/EmailOutbox.Table.al
  src/System Application/App/Email/src/EmailLogsDelete.Codeunit.al
  src/System Application/App/Email/src/RateLimit/EmailRateLimit.Table.al
  src/System Application/App/Email/src/RateLimit/EmailRateLimitImpl.Codeunit.al
  src/System Application/App/Email/src/RateLimit/EmailRateLimitWizard.Page.al
  src/System Application/Test/Email/app.json
  src/System Application/Test/Email/src/EmailAddressLookupTests.Codeunit.al
  src/System Application/Test/Email/src/EmailE2ETests.Codeunit.al
  src/System Application/Test/Email/src/EmailRetryTest.Codeunit.al
  src/System Application/Test/Email/src/EmailTest.Codeunit.al
Labels: AL: System Application

#3826 Uptake TestType property in the pipeline
  build/projects/Business Foundation/.AL-Go/RunTestsInBcContainer.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/RunTestsInBcContainer.ps1
  build/projects/System Application Tests/.AL-Go/RunTestsInBcContainer.ps1
  src/System Application/Test Library/User Login Times/src/UserLoginTestLibrary.Codeunit.al
  src/System Application/Test/DisabledTests/ChecklistAdministrationTest.json
  src/System Application/Test/DisabledTests/ChecklistBannerTest.json
  src/System Application/Test/DisabledTests/ChecklistFacadeTest.json
  src/System Application/Test/DisabledTests/RestClientTests.DisabledTest.json
  src/System Application/Test/DisabledTests/UserLoginTimeTrackerTest.json
  src/System Application/Test/Guided Experience/app.json
  src/System Application/Test/Guided Experience/src/ChecklistAdministrationTest.Codeunit.al
  src/System Application/Test/Guided Experience/src/ChecklistBannerTest.Codeunit.al
  src/System Application/Test/Guided Experience/src/ChecklistFacadeTest.Codeunit.al
Labels: AL: System Application, Build: scripts & configs

#3932 Fix BCApps Uptake 26.x
  src/System Application/Test/.resources/test.png
  src/System Application/Test/Pdf/.resources/XRechnung.pdf
  src/System Application/Test/Pdf/.resources/test.pdf
  src/System Application/Test/Pdf/app.json
  src/System Application/Test/Pdf/src/PDFDocumentTest.Codeunit.al
  src/System Application/Test/app.json
Labels: AL: System Application

#3927 [26.2] Remove allowlisting for Toolkit AI Resources
  src/System Application/App/AI/src/Azure OpenAI/AOAIAuthorization.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AOAIDeploymentsImpl.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
Labels: AL: System Application

#3943 [Email Retry] Change the name of the permission set in tests
  src/System Application/Test/Email/src/EmailRetryTest.Codeunit.al
Labels: AL: System Application

#3947 Backport activity Log to 26.i
  .github/AL-Go-Settings.json
  src/System Application/App/ActivityLog/app.json
  src/System Application/App/ActivityLog/src/ActivityLogBuilder.Codeunit.al
  src/System Application/App/ActivityLog/src/ActivityLogBuilderImpl.Codeunit.al
  src/System Application/App/DotNet Aliases/src/dotnet.al
Labels: Build: Automation, AL: System Application

#3970 [Permissions] Functionality to restore license configuration default to defaults without tenant permission sets
  src/System Application/App/Azure AD Plan/src/Plan Configuration/Default Permssions/DefaultPermissionSetInPlan.Page.al
  src/System Application/App/Azure AD Plan/src/Plan Configuration/PlanConfigurationCard.Page.al
  src/System Application/App/Azure AD Plan/src/Plan Configuration/PlanConfigurationImpl.Codeunit.al
Labels: AL: System Application

#3988 [26.x]Add more tests for email scenarios
  src/System Application/App/Email/src/Account/EmailAccounts.Page.al
  src/System Application/Test/Email/src/EmailAccountsTest.Codeunit.al
  src/System Application/Test/Email/src/EmailRetryTest.Codeunit.al
Labels: AL: System Application

#3993 Uptake Type in Activity Log
  src/System Application/App/ActivityLog/src/ActivityLogBuilder.Codeunit.al
  src/System Application/App/ActivityLog/src/ActivityLogBuilderImpl.Codeunit.al
  src/System Application/App/ActivityLog/src/ActivityLogType.Enum.al
Labels: AL: System Application

#3998 Integrating 26.i into 26.x
  src/System Application/App/ActivityLog/app.json
  src/System Application/App/ActivityLog/src/ActivityLogBuilder.Codeunit.al
  src/System Application/App/ActivityLog/src/ActivityLogBuilderImpl.Codeunit.al
  src/System Application/App/ActivityLog/src/ActivityLogType.Enum.al
  src/System Application/App/Agent/Interaction/AgentMessage.Codeunit.al
  src/System Application/App/Agent/Interaction/AgentMessageImpl.Codeunit.al
  src/System Application/App/Agent/Interaction/AgentSession.Codeunit.al
  src/System Application/App/Agent/Interaction/AgentTask.Codeunit.al
  src/System Application/App/Agent/Interaction/AgentTaskBuilder.Codeunit.al
  src/System Application/App/Agent/Interaction/AgentTaskMessageBuilder.Codeunit.al
  src/System Application/App/Agent/Interaction/Internal/AgentMessageImpl.Codeunit.al
  src/System Application/App/Agent/Interaction/Internal/AgentSessionImpl.Codeunit.al
  src/System Application/App/Agent/Interaction/Internal/AgentTaskBuilderImpl.Codeunit.al
  src/System Application/App/Agent/Interaction/Internal/AgentTaskImpl.Codeunit.al
  src/System Application/App/Agent/Interaction/Internal/AgentTaskList.Page.al
  src/System Application/App/Agent/Interaction/Internal/AgentTaskLogEntryList.Page.al
  src/System Application/App/Agent/Interaction/Internal/AgentTaskMessageCard.Page.al
  src/System Application/App/Agent/Interaction/Internal/AgentTaskMessageList.Page.al
  src/System Application/App/Agent/Interaction/Internal/AgentTaskMsgBuilderImpl.Codeunit.al
  src/System Application/App/Agent/Permissions/AgentObjects.PermissionSet.al
  src/System Application/App/Agent/Setup/AgentCard.Page.al
  src/System Application/App/Agent/Setup/AgentList.Page.al
  src/System Application/App/Agent/Setup/AgentUserSettings.Page.al
  src/System Application/App/Agent/TaskPane/AgentTaskDetails.Page.al
  src/System Application/App/Agent/TaskPane/AgentTaskTimeline.Page.al
  src/System Application/App/Agent/TaskPane/AgentTasks.Page.al
  src/System Application/App/Agent/app.json
  src/System Application/App/Agent/dotnet.al
  src/System Application/App/DotNet Aliases/src/dotnet.al
  src/System Application/App/User Settings/src/UserSettings.Codeunit.al
  src/System Application/App/User Settings/src/UserSettingsImpl.Codeunit.al
  src/System Application/Test Library/Email/src/TestEmailConnectorv3.Codeunit.al
Labels: AL: System Application
