Repository microsoft/BCApps, pull requests merged in 2025-05, with the labels that each got.

#3619 M365 Sync may fail as multiple identical permissions are added to the same temporary table
  src/System Application/App/Azure AD User Management/src/AzureADUserMgmtImpl.Codeunit.al
Labels: AL: System Application

#3621 [AI] Update telemetry verbosity for CanConsume from warning to normal.
  src/System Application/App/AI/src/Copilot/CopilotQuotaImpl.Codeunit.al
Labels: AL: System Application

#3623 [releases/26.x] M365 Sync may fail as multiple identical permissions are added to the same temporary table
  src/System Application/App/Azure AD User Management/src/AzureADUserMgmtImpl.Codeunit.al
Labels: AL: System Application

#3624 [releases/26.1] M365 Sync may fail as multiple identical permissions are added to the same temporary table
  src/System Application/App/Azure AD User Management/src/AzureADUserMgmtImpl.Codeunit.al
Labels: AL: System Application

#3625 [releases/26.0] M365 Sync may fail as multiple identical permissions are added to the same temporary table
  src/System Application/App/Azure AD User Management/src/AzureADUserMgmtImpl.Codeunit.al
Labels: AL: System Application

#3615 [25.x] Add missing read permission for Upgrade Tags (#3331)
  src/System Application/App/Upgrade Tags/src/UpgradeTags.Page.al
Labels: AL: System Application, From Fork, Linked, Integration

#3626 Refactoring Rest Client Tests to use HttpClient Mocking instead of an actual service
  src/System Application/Test/Rest Client/app.json
  src/System Application/Test/Rest Client/src/MockRestClientService.Codeunit.al
  src/System Application/Test/Rest Client/src/RestClientTests.Codeunit.al
Labels: AL: System Application

#3636 remove AS0086 pragma
  src/System Application/App/Azure Blob Services API/src/ABSContainerContent.Table.al
  src/Tools/Performance Toolkit/App/src/BCPTLine.Table.al
  src/Tools/Performance Toolkit/App/src/BCPTLogEntry.Table.al
Labels: AL: System Application, AL: Tools

#3653 [Bug fix] The function logapply does not take the record as var. As such the telemetry is never sent
  src/Business Foundation/App/NoSeriesCopilot/src/Copilot/Telemetry/NoSeriesCopilotTelemetry.Codeunit.al
Labels: From Fork, AL: Business Foundation

#3661 [releases/26.1] [Language] Revert LookupWindowsLanguageId change from #2463
  src/System Application/App/Language/src/LanguageImpl.Codeunit.al
Labels: AL: System Application

#3658 [Language] Revert LookupWindowsLanguageId change from #2463
  src/System Application/App/Language/src/LanguageImpl.Codeunit.al
Labels: AL: System Application

#3660 [releases/26.0] [Language] Revert LookupWindowsLanguageId change from #2463
  src/System Application/App/Language/src/LanguageImpl.Codeunit.al
Labels: AL: System Application

#3659 [releases/26.x] [Language] Revert LookupWindowsLanguageId change from #2463
  src/System Application/App/Language/src/LanguageImpl.Codeunit.al
Labels: AL: System Application

#3565 [Email] Add Edit Account action to Email Account Wizard
  src/System Application/App/Email/src/Account/EmailAccountWizard.Page.al
Labels: AL: System Application

#3631 [AI Test Tool] Add support to rerun a test
  src/Tools/AI Test Toolkit/src/AITTestRunInputHandler.Codeunit.al
  src/Tools/AI Test Toolkit/src/AITTestRunIteration.Codeunit.al
  src/Tools/AI Test Toolkit/src/Logs/AITLogEntries.Page.al
  src/Tools/AI Test Toolkit/src/TestSuite/AITTestSuiteMgt.Codeunit.al
Labels: AL: Tools

#3287 No try functions in Page Summary
  src/System Application/App/Page Summary Provider/src/PageSummaryProviderImpl.Codeunit.al
  src/System Application/Test/Page Summary Provider/src/PageSummaryProviderTest.Codeunit.al
Labels: AL: System Application

#3635 Add permission set for Adding Related Fields in Analysis Mode
  src/System Application/App/Permissions/SystemApplicationAdmin.PermissionSet.al
  src/System Application/App/System Permissions/permissions/AddRelatedFields.Permissionset.al
Labels: AL: System Application

#2870 Add functionality to the Crypto Module to create P12 certs containing…
  src/System Application/App/Cryptography Management/src/RSAImpl.Codeunit.al
  src/System Application/App/Cryptography Management/src/X509Certificate2.Codeunit.al
  src/System Application/App/Cryptography Management/src/X509Certificate2Impl.Codeunit.al
  src/System Application/App/Cryptography Management/src/dotnet.al
Labels: AL: System Application, From Fork, Linked, Integration

#3622 [releases/26.x] [AI] Update telemetry verbosity for CanConsume from warning to normal.
  src/System Application/App/AI/src/Copilot/CopilotQuotaImpl.Codeunit.al
Labels: AL: System Application

#3667 Fix caption for Add Fields in Analysis Mode permission set
  src/System Application/App/System Permissions/permissions/AddRelatedFields.Permissionset.al
Labels: AL: System Application

#3613 26.x: No try functions in Page Summary
  src/System Application/App/Page Summary Provider/src/PageSummaryProviderImpl.Codeunit.al
  src/System Application/Test/Page Summary Provider/src/PageSummaryProviderTest.Codeunit.al
Labels: AL: System Application

#3687 Change Update AL-Go System files schedule
  .github/Update AL-Go System Files.settings.json
Labels: Build: Automation

#3699 Fix build issues
  build/projects/Add-Ons (W1)/.AL-Go/PreCompileApp.ps1
  build/projects/Add-Ons (W1)/.AL-Go/customSettings.json
  build/projects/Add-Ons (W1)/.AL-Go/settings.json
  build/scripts/AppExtensionsHelper.psm1
  build/scripts/PreCompileApp.ps1
Labels: From Fork, Build: scripts & configs

#3670 Make ToXmlString() function of codeunit "Signature Key" external
  src/System Application/App/Cryptography Management/src/SignatureKey.Codeunit.al
Labels: AL: System Application

#3702 [26.x][AI Toolkit] Copilot & agent capabilities page is missing the indirect read permissions for Copilot Settings
  src/System Application/App/AI/src/Copilot/CopilotAICapabilities.Page.al
Labels: AL: System Application

#3700 [26.x] Add Base64UrlEncode() function to "Base64 Convert" codeunit
  src/System Application/App/Base64 Convert/src/Base64Convert.Codeunit.al
  src/System Application/App/Base64 Convert/src/Base64ConvertImpl.Codeunit.al
Labels: AL: System Application

#3701 [26.x] Make ToXmlString() function of codeunit "Signature Key" external
  src/System Application/App/Cryptography Management/src/SignatureKey.Codeunit.al
Labels: AL: System Application

#2110 adds a test to verify no. series drilldown doesn't remove filter
  src/Business Foundation/Test/NoSeries/src/NoSeriesTests.Codeunit.al
Labels: AL: Business Foundation

#3704 clean up MovedTo/MovedFrom with CLEANSCHEMA
  src/Business Foundation/App/AuditCodes/src/Legacy/ObsoleteReturnReasonExt.TableExt.al
  src/Business Foundation/App/AuditCodes/src/Legacy/ObsoleteSourceCodeExt.TableExt.al
  src/Business Foundation/App/AuditCodes/src/Legacy/ObsoleteSourceCodeSetupExt.TableExt.al
  src/Business Foundation/App/AuditCodes/src/ReasonCode.Table.al
  src/Business Foundation/App/AuditCodes/src/ReturnReason.Table.al
  src/Business Foundation/App/AuditCodes/src/SourceCode.Table.al
  src/Business Foundation/App/AuditCodes/src/SourceCodeSetup.Table.al
  src/Business Foundation/App/NoSeries/src/GlobalNoSeries/NoSeriesTenant.Table.al
  src/Business Foundation/App/NoSeries/src/Legacy/NoSeriesObsolete.TableExt.al
  src/Business Foundation/App/NoSeries/src/Setup/NoSeries.Table.al
  src/Business Foundation/App/NoSeries/src/Setup/NoSeriesLine.Table.al
  src/Business Foundation/App/NoSeries/src/Setup/NoSeriesRelationship.Table.al
Labels: AL: Business Foundation

#3741 Exclude Test Next Major.settings.json and Test Next Minor.settings.json
  .github/AL-Go-Settings.json
Labels: Build: Automation
