Repository microsoft/BCApps, pull requests merged in 2025-02, with the labels that each got.

#2871 [main] Update BCArtifact version. New value: 26.0.29684.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2872 [25.x] Update BCArtifact version. New value: bcinsider/Sandbox/25.5/base/latest
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2875 [24.4] Update app baselines package version. New value: 24.3.21374.29711
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2876 [25.x] Update app baselines package version. New value: 25.4.29671.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2878 [25.2] Update app baselines package version. New value: 25.1.25873.29719
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2879 [24.x] Update app baselines package version. New value: 24.5.23489.29713
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2880 [25.3] Update app baselines package version. New value: 25.2.27733.29716
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2882 [24.5] Update app baselines package version. New value: 24.4.22295.29694
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2881 [main] Update app baselines package version. New value: 25.5.29760.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2883 [24.3] Update app baselines package version. New value: 24.2.20227.29715
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2884 [24.1] Update app baselines package version. New value: 24.0.16410.29714
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2885 [25.4] Update translation package version. New value: 25.4.20250130.7
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2886 [24.0] Update app baselines package version. New value: 23.5.16502.29645
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2890 Bug 564482: W1 2025 - Bug Bash I: Cannot setup Ext. File Storage module - probably missing permissions
  src/System Application/App/Permissions/SystemApplicationAdmin.PermissionSet.al
Labels: AL: System Application, Integration

#2892 [main] Update BCArtifact version. New value: 26.0.29806.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2867 [Purview] Add missing audit log events
  src/System Application/App/Security Groups/src/SecurityGroupImpl.Codeunit.al
  src/System Application/App/User Permissions/src/UserSubform.Page.al
Labels: AL: System Application

#2676 Add Harden Runner step to various workflows
  .github/workflows/PowerShell.yaml
  .github/workflows/UpdateALGoOnOfficialBranches.yaml
  .github/workflows/UpdateBCArtifactVersion.yaml
  .github/workflows/UpdatePackageVersions.yaml
  .github/workflows/WorkitemValidation.yaml
  .github/workflows/scorecard-analysis.yml
Labels: Build: Automation

#2889 Add AboutTitle and AboutText to page 8700
  src/System Application/App/Table Information/src/TableInformation.Page.al
Labels: AL: System Application

#2894 [main] Update BCArtifact version. New value: 26.0.29863.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2896 Remove memory limit 16G
  .github/AL-Go-Settings.json
Labels: Build: Automation

#2899 [main] Update BCArtifact version. New value: 26.0.29889.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2903 [main] Update BCArtifact version. New value: 26.0.29926.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2904 Fix Increment Version Number bug
  src/System Application/Test Library/app.json
  src/System Application/Test/app.json
Labels: AL: System Application

#2901 [AI] Monetization notifications
  src/System Application/App/AI/app.json
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotAICapabilities.Page.al
  src/System Application/App/AI/src/Copilot/CopilotCapabilityImpl.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotNotifications.Codeunit.al
  src/System Application/App/DotNet Aliases/src/dotnet.al
Labels: AL: System Application

#2898 Add FolderExistsByServerRelativeUrl method to SharePoint Client
  src/System Application/App/SharePoint/src/SharePointClient.Codeunit.al
  src/System Application/App/SharePoint/src/SharePointClientImpl.Codeunit.al
Labels: AL: System Application, From Fork, Linked, Integration

#2919 [main] Update BCArtifact version. New value: 26.0.29985.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2834 Azure Document Intelligence Module
  src/System Application/App/AI/app.json
  src/System Application/App/AI/src/Azure AI Document Intelligence/ADIModelType.Enum.al
  src/System Application/App/AI/src/Azure AI Document Intelligence/AzureDIImpl.Codeunit.al
  src/System Application/App/AI/src/Azure AI Document Intelligence/AzureDocumentIntelligence.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAI.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
  src/System Application/App/AI/src/Copilot/AzureAIServiceType.Enum.al
  src/System Application/App/AI/src/Copilot/CopilotAICapabilities.Page.al
  src/System Application/App/AI/src/Copilot/CopilotCapEarlyPreview.Page.al
  src/System Application/App/AI/src/Copilot/CopilotCapabilitiesGA.Page.al
  src/System Application/App/AI/src/Copilot/CopilotCapabilitiesPreview.Page.al
  src/System Application/App/AI/src/Copilot/CopilotCapabilityImpl.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotSettings.Table.al
  src/System Application/App/AI/src/Copilot/Interfaces/AIServiceName.Interface.al
  src/System Application/Test/AI/src/AzureDITest.Codeunit.al
Labels: AL: System Application

#2920 [24.x] Update BCArtifact version. New value: bcinsider/Sandbox/24.11/base/latest
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2918 [25.0] Update app baselines package version. New value: 24.5.23489.29954
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2917 [24.0] Update app baselines package version. New value: 23.5.16502.29801
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2916 [24.3] Update app baselines package version. New value: 24.2.20227.29951
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2909 [25.1] Update app baselines package version. New value: 25.0.23364.29957
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2908 [24.4] Update app baselines package version. New value: 24.3.21374.29958
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2907 [24.2] Update app baselines package version. New value: 24.1.18927.29955
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2922 Uptake agent instructions API changes
  src/System Application/App/Agent/Setup/AgentImpl.Codeunit.al
  src/System Application/App/Agent/dotnet.al
Labels: AL: System Application

#2927 Copilot capability IsEnabled - return value lost in update
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
Labels: AL: System Application

#2930 Revert "Azure Document Intelligence Module" (#2834)
  src/System Application/App/AI/app.json
  src/System Application/App/AI/src/Azure AI Document Intelligence/ADIModelType.Enum.al
  src/System Application/App/AI/src/Azure AI Document Intelligence/AzureDIImpl.Codeunit.al
  src/System Application/App/AI/src/Azure AI Document Intelligence/AzureDocumentIntelligence.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAI.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
  src/System Application/App/AI/src/Copilot/AzureAIServiceType.Enum.al
  src/System Application/App/AI/src/Copilot/CopilotAICapabilities.Page.al
  src/System Application/App/AI/src/Copilot/CopilotCapEarlyPreview.Page.al
  src/System Application/App/AI/src/Copilot/CopilotCapabilitiesGA.Page.al
  src/System Application/App/AI/src/Copilot/CopilotCapabilitiesPreview.Page.al
  src/System Application/App/AI/src/Copilot/CopilotCapabilityImpl.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotSettings.Table.al
  src/System Application/App/AI/src/Copilot/Interfaces/AIServiceName.Interface.al
  src/System Application/Test/AI/src/AzureDITest.Codeunit.al
Labels: AL: System Application

#2943 [releases/24.x] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - b637e79b7209c4b6e42696e1efdb066a0a25f3fb / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2942 [releases/24.2] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - b637e79b7209c4b6e42696e1efdb066a0a25f3fb / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2941 [releases/24.0] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - b637e79b7209c4b6e42696e1efdb066a0a25f3fb / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2938 [releases/24.3] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - b637e79b7209c4b6e42696e1efdb066a0a25f3fb / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2939 [releases/24.1] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - b637e79b7209c4b6e42696e1efdb066a0a25f3fb / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2937 [releases/24.5] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - b637e79b7209c4b6e42696e1efdb066a0a25f3fb / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2936 [releases/25.2] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - b637e79b7209c4b6e42696e1efdb066a0a25f3fb / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2934 [releases/25.0] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - b637e79b7209c4b6e42696e1efdb066a0a25f3fb / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2933 [releases/25.x] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - b637e79b7209c4b6e42696e1efdb066a0a25f3fb / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2931 [releases/25.4] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - b637e79b7209c4b6e42696e1efdb066a0a25f3fb / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2932 [releases/25.3] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - b637e79b7209c4b6e42696e1efdb066a0a25f3fb / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2944 [releases/25.1] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - b637e79b7209c4b6e42696e1efdb066a0a25f3fb / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2951 [main] Update BCArtifact version. New value: 26.0.30068.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2950 [25.4] Update BCArtifact version. New value: bcartifacts/Sandbox/25.4/base/latest
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2923 Features/agent tables refactoring
  src/System Application/App/Agent/Interaction/AgentTaskImpl.Codeunit.al
  src/System Application/App/Agent/Interaction/AgentTaskList.Page.al
  src/System Application/App/Agent/Interaction/AgentTaskLogEntryList.Page.al
  src/System Application/App/Agent/Permissions/AgentObjects.PermissionSet.al
  src/System Application/App/Agent/TaskPane/AgentTaskDetails.Page.al
  src/System Application/App/Agent/TaskPane/AgentTaskTimeline.Page.al
  src/System Application/App/Agent/TaskPane/AgentTasks.Page.al
  src/System Application/App/Agent/dotnet.al
  src/System Application/App/app.json
Labels: AL: System Application

#2953 [main] Update BCArtifact version. New value: 26.0.30098.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2945 Reapply "Azure Document Intelligence Module" (#2834)"
  src/System Application/App/AI/app.json
  src/System Application/App/AI/src/Azure AI Document Intelligence/ADIModelType.Enum.al
  src/System Application/App/AI/src/Azure AI Document Intelligence/AzureDIImpl.Codeunit.al
  src/System Application/App/AI/src/Azure AI Document Intelligence/AzureDocumentIntelligence.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAI.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
  src/System Application/App/AI/src/Copilot/AzureAIServiceType.Enum.al
  src/System Application/App/AI/src/Copilot/CopilotAICapabilities.Page.al
  src/System Application/App/AI/src/Copilot/CopilotCapEarlyPreview.Page.al
  src/System Application/App/AI/src/Copilot/CopilotCapabilitiesGA.Page.al
  src/System Application/App/AI/src/Copilot/CopilotCapabilitiesPreview.Page.al
  src/System Application/App/AI/src/Copilot/CopilotCapabilityImpl.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotSettings.Table.al
  src/System Application/App/AI/src/Copilot/Interfaces/AIServiceName.Interface.al
  src/System Application/Test/AI/src/AzureDITest.Codeunit.al
Labels: AL: System Application

#2928 Reapply "Remove Environment dotnet in favor of new app addin SystemEnvironment (#2893) (#2924)
  src/System Application/App/DotNet Aliases/src/dotnet.al
Labels: AL: System Application

#2956 [Agents] Show notification in the Agents list page when no agents available in environment
  src/System Application/App/Agent/Setup/AgentImpl.Codeunit.al
  src/System Application/App/Agent/Setup/AgentList.Page.al
Labels: AL: System Application

#2947 [Copilot] Add telemetry when data movement is updated
  src/System Application/App/AI/app.json
  src/System Application/App/AI/src/Copilot/CopilotAICapabilities.Page.al
  src/System Application/App/AI/src/Copilot/CopilotCapabilityImpl.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotTelemetry.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotTelemetryInstall.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotTelemetryUpgrade.Codeunit.al
Labels: AL: System Application

#2959 [main] Update BCArtifact version. New value: 26.0.30142.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2963 [main] Update BCArtifact version. New value: 26.0.30163.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2964 Agents - Marking agent pages with preview
  src/System Application/App/Agent/Interaction/AgentTaskList.Page.al
  src/System Application/App/Agent/Setup/AgentList.Page.al
Labels: AL: System Application

#2954 Agent task pane - task Created By and Now Authorized By fields
  src/System Application/App/Agent/TaskPane/AgentTaskTimeline.Page.al
  src/System Application/App/Agent/TaskPane/AgentTasks.Page.al
Labels: AL: System Application

#2974 [main] Update BCArtifact version. New value: 26.0.30195.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2990 [main] Update BCArtifact version. New value: 26.0.30278.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2989 [25.0] Update app baselines package version. New value: 24.5.23489.30235
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2988 [24.0] Update app baselines package version. New value: 23.5.16502.30234
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2987 [24.1] Update app baselines package version. New value: 24.0.16410.30242
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2986 [25.3] Update app baselines package version. New value: 25.2.27733.30243
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2985 [24.2] Update app baselines package version. New value: 24.1.18927.30244
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2984 [24.3] Update app baselines package version. New value: 24.2.20227.30241
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2982 [24.x] Update app baselines package version. New value: 24.5.23489.30235
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2983 [24.4] Update app baselines package version. New value: 24.3.21374.30239
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2980 [24.5] Update app baselines package version. New value: 24.4.22295.30233
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2979 [25.1] Update app baselines package version. New value: 25.0.23364.30236
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2978 [25.2] Update app baselines package version. New value: 25.1.25873.30237
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2977 [25.x] Update translation package version. New value: 25.5.20250217.1
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2981 [main] Update app baselines package version. New value: 25.5.30256.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#2994 [main] Update BCArtifact version. New value: 26.0.30335.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2995 [releases/25.0] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 4c9ea6f8e445c270e93ff18ec7cf07153256ec8f / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2997 [releases/25.1] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 4c9ea6f8e445c270e93ff18ec7cf07153256ec8f / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2998 [releases/24.x] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 4c9ea6f8e445c270e93ff18ec7cf07153256ec8f / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2999 [releases/24.4] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 4c9ea6f8e445c270e93ff18ec7cf07153256ec8f / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#3000 [releases/25.x] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 4c9ea6f8e445c270e93ff18ec7cf07153256ec8f / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#3001 [releases/24.5] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 4c9ea6f8e445c270e93ff18ec7cf07153256ec8f / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#3003 [releases/25.3] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 4c9ea6f8e445c270e93ff18ec7cf07153256ec8f / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#3005 [releases/24.1] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 4c9ea6f8e445c270e93ff18ec7cf07153256ec8f / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#3006 [releases/24.2] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 4c9ea6f8e445c270e93ff18ec7cf07153256ec8f / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#3007 [releases/24.3] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 4c9ea6f8e445c270e93ff18ec7cf07153256ec8f / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Automation, Build: Automation, Build: scripts & configs

#2965 [Feature Management] Fix test to be able to remove the Feature Key SAFTAuditFileExport
  src/System Application/Test/Feature Key/src/FeatureKeyTest.Codeunit.al
Labels: AL: System Application

#3016 [main] Update BCArtifact version. New value: 26.0.30369.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#2968 [25.4] Get rid of allowedsecretslist from app KV
  src/System Application/App/Azure Key Vault/src/AzureKeyVaultImpl.Codeunit.al
  src/System Application/Test/Azure Key Vault/src/AzureKeyVaultTest.Codeunit.al
  src/System Application/Test/Satisfaction Survey/src/SatisfactionSurveyTests.Codeunit.al
Labels: AL: System Application

#3024 Run incremental builds in "modifiedProjects" mode
  .github/AL-Go-Settings.json
Labels: Build: Automation

#3023 Updated Warning No Field of No Series Line table
  src/Business Foundation/App/NoSeries/src/Setup/NoSeriesLine.Table.al
Labels: AL: Business Foundation

#3021 [main] Update BCArtifact version. New value: 26.0.30444.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#3033 [25.4] Revert latest AL-Go uptake
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#3032 [25.3] Revert latest AL-Go uptake
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#3030 [25.1] Revert latest AL-Go uptake
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#3031 [25.2] Revert latest AL-Go uptake
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#3029 [25.0] Revert latest AL-Go uptake
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#3027 [25.x] Revert latest AL-Go uptake
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#3035 [24.x] Revert latest AL-Go uptake
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#3036 [24.0] Revert latest AL-Go uptake
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#3037 [24.1] Revert latest AL-Go uptake
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#3038 [24.2] Revert latest AL-Go uptake
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#3040 [24.4] Revert latest AL-Go uptake
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#3041 [24.5] Revert latest AL-Go uptake
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#3039 [24.3] Revert latest AL-Go uptake
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
Labels: Build: Automation, Build: scripts & configs

#3018 [Copilot] Interface for logging quota usage
  src/System Application/App/AI/app.json
  src/System Application/App/AI/src/Copilot/CopilotCapabilityImpl.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotQuota.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotQuotaImpl.Codeunit.al
  src/System Application/App/AI/src/Copilot/CopilotQuotaUsageType.Enum.al
  src/System Application/App/DotNet Aliases/src/dotnet.al
Labels: AL: System Application

#2991 Automatic access verification for AOAI services
  src/System Application/App/AI/app.json
  src/System Application/App/AI/src/Azure OpenAI/AOAIAuthorization.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAI.Codeunit.al
  src/System Application/App/AI/src/Azure OpenAI/AzureOpenAIImpl.Codeunit.al
Labels: AL: System Application

#3042 Hide Agent users from Users page and user lookup
  src/System Application/App/User Selection/src/UserSelectionImpl.Codeunit.al
Labels: AL: System Application

#3044 [main] Update BCArtifact version. New value: 26.0.30544.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#3010 Remove ability to expose a Microsoft page as a SOAP endpoint
  src/System Application/App/Feature Key/permissions/FeatureKeyView.PermissionSet.al
  src/System Application/App/Web Service Management/app.json
  src/System Application/App/Web Service Management/permissions/WebServiceManagementAdmin.Permissionset.al
  src/System Application/App/Web Service Management/permissions/WebServiceManagementRead.Permissionset.al
  src/System Application/App/Web Service Management/src/WebServiceManagementImpl.Codeunit.al
  src/System Application/Test/Web Service Management/src/WebServiceManagementTest.Codeunit.al
Labels: AL: System Application

#2993 [24.x] Get rid of allowedsecretslist from app KV
  src/System Application/App/Azure Key Vault/src/AzureKeyVaultImpl.Codeunit.al
  src/System Application/Test/Azure Key Vault/src/AzureKeyVaultTest.Codeunit.al
  src/System Application/Test/Satisfaction Survey/src/SatisfactionSurveyTests.Codeunit.al
Labels: AL: System Application

#3045 Revert "Remove ability to expose a Microsoft page as a SOAP endpoint"
  src/System Application/App/Feature Key/permissions/FeatureKeyView.PermissionSet.al
  src/System Application/App/Web Service Management/app.json
  src/System Application/App/Web Service Management/permissions/WebServiceManagementAdmin.Permissionset.al
  src/System Application/App/Web Service Management/permissions/WebServiceManagementRead.Permissionset.al
  src/System Application/App/Web Service Management/src/WebServiceManagementImpl.Codeunit.al
  src/System Application/Test/Web Service Management/src/WebServiceManagementTest.Codeunit.al
Labels: AL: System Application

#2972 [25.1] Get rid of allowedsecretslist from app KV
  src/System Application/App/Azure Key Vault/src/AzureKeyVaultImpl.Codeunit.al
  src/System Application/Test/Azure Key Vault/src/AzureKeyVaultTest.Codeunit.al
  src/System Application/Test/Satisfaction Survey/src/SatisfactionSurveyTests.Codeunit.al
Labels: AL: System Application

#2973 [25.0] Get rid of allowedsecretslist from app KV
  src/System Application/App/Azure Key Vault/src/AzureKeyVaultImpl.Codeunit.al
  src/System Application/Test/Azure Key Vault/src/AzureKeyVaultTest.Codeunit.al
  src/System Application/Test/Satisfaction Survey/src/SatisfactionSurveyTests.Codeunit.al
Labels: AL: System Application

#2992 [24.5] Get rid of allowedsecretslist from app KV
  src/System Application/App/Azure Key Vault/src/AzureKeyVaultImpl.Codeunit.al
  src/System Application/Test/Azure Key Vault/src/AzureKeyVaultTest.Codeunit.al
  src/System Application/Test/Satisfaction Survey/src/SatisfactionSurveyTests.Codeunit.al
Labels: AL: System Application

#3011 [24.4] Get rid of allowedsecretslist from app KV
  src/System Application/App/Azure Key Vault/src/AzureKeyVaultImpl.Codeunit.al
  src/System Application/Test/Azure Key Vault/src/AzureKeyVaultTest.Codeunit.al
  src/System Application/Test/Satisfaction Survey/src/SatisfactionSurveyTests.Codeunit.al
Labels: AL: System Application

#3013 [24.2] Get rid of allowedsecretslist from app KV
  src/System Application/App/Azure Key Vault/src/AzureKeyVaultImpl.Codeunit.al
  src/System Application/Test/Azure Key Vault/src/AzureKeyVaultTest.Codeunit.al
  src/System Application/Test/Satisfaction Survey/src/SatisfactionSurveyTests.Codeunit.al
Labels: AL: System Application

#3014 [24.1] Get rid of allowedsecretslist from app KV
  src/System Application/App/Azure Key Vault/src/AzureKeyVaultImpl.Codeunit.al
  src/System Application/Test/Azure Key Vault/src/AzureKeyVaultTest.Codeunit.al
  src/System Application/Test/Satisfaction Survey/src/SatisfactionSurveyTests.Codeunit.al
Labels: AL: System Application

#3059 [25.0] Update app baselines package version. New value: 24.5.23489.30616
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3058 [24.0] Update app baselines package version. New value: 23.5.16502.30562
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3057 [24.5] Update app baselines package version. New value: 24.4.22295.30617
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3055 [24.x] Update app baselines package version. New value: 24.5.23489.30616
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3054 [24.3] Update app baselines package version. New value: 24.2.20227.30619
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3053 [24.4] Update app baselines package version. New value: 24.3.21374.30615
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3051 [25.3] Update app baselines package version. New value: 25.2.27733.30535
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3052 [25.x] Update translation package version. New value: 25.5.20250225.3
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3050 [24.2] Update app baselines package version. New value: 24.1.18927.30618
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3049 [25.2] Update app baselines package version. New value: 25.1.25873.30612
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3048 [25.1] Update app baselines package version. New value: 25.0.23364.30611
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3066 Update dependencies to 27.0
  src/System Application/App/AI/app.json
Labels: AL: System Application

#3069 [26.0] Update BCArtifact version. New value: 26.0.30643.30657
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#3081 [main] Update app baselines package version. New value: 26.1.30654.0 (+ 1 more update(s))
  build/Packages.json
Labels: Automation, Build: scripts & configs

#3063 [Agents] Allow discarding input messages
  src/System Application/App/Agent/TaskPane/AgentTaskDetails.Page.al
  src/System Application/App/Agent/TaskPane/AgentTaskTimeline.Page.al
Labels: AL: System Application

#3102 [Agents 26.0] Allow discarding input messages (#3063)
  src/System Application/App/Agent/TaskPane/AgentTaskDetails.Page.al
  src/System Application/App/Agent/TaskPane/AgentTaskTimeline.Page.al
Labels: AL: System Application

#2921 Exposing application environment settings.
  .github/AL-Go-Settings.json
  src/System Application/App/Environment Information/src/EnvironmentInformation.Codeunit.al
  src/System Application/App/Environment Information/src/EnvironmentInformationImpl.Codeunit.al
Labels: Build: Automation, AL: System Application

#3109 [main] Update BCArtifact version. New value: 27.0.30742.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#3108 Exposing application environment settings.
  src/System Application/App/Environment Information/src/EnvironmentInformation.Codeunit.al
  src/System Application/App/Environment Information/src/EnvironmentInformationImpl.Codeunit.al
Labels: AL: System Application

#3110 [26.x] Update BCArtifact version. New value: 26.1.30740.0
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#3111 [26.0] Update BCArtifact version. New value: 26.0.30643.30741
  .github/AL-Go-Settings.json
Labels: Automation, Build: Automation

#3107 Exposing application environment settings.
  src/System Application/App/Environment Information/src/EnvironmentInformation.Codeunit.al
  src/System Application/App/Environment Information/src/EnvironmentInformationImpl.Codeunit.al
Labels: AL: System Application

#3116 [releases/26.x] Move quota checks to page background task
  src/System Application/App/AI/src/Copilot/CopilotAICapabilities.Page.al
  src/System Application/App/AI/src/Copilot/CopilotQuotaImpl.Codeunit.al
Labels: AL: System Application

#3117 [releases/26.0] Move quota checks to page background task
  src/System Application/App/AI/src/Copilot/CopilotAICapabilities.Page.al
  src/System Application/App/AI/src/Copilot/CopilotQuotaImpl.Codeunit.al
Labels: AL: System Application

#3121 [Agents] Fixes for "task now authorized by" scenarios
  src/System Application/App/Agent/TaskPane/AgentTaskTimeline.Page.al
Labels: AL: System Application

#3120 [releases/26.x] [VS Code Integration] Fix filtering of extensions and enabling of "Get selected as dependencies" actions
  src/System Application/App/Extension Management/src/ExtensionManagement.Page.al
  src/System Application/App/VS Code Integration/src/VsCodeIntegrationImpl.Codeunit.al
Labels: AL: System Application

#3119 [releases/26.0] [VS Code Integration] Fix filtering of extensions and enabling of "Get selected as dependencies" actions
  src/System Application/App/Extension Management/src/ExtensionManagement.Page.al
  src/System Application/App/VS Code Integration/src/VsCodeIntegrationImpl.Codeunit.al
Labels: AL: System Application

#3118 [VS Code Integration] Fix filtering of extensions and enabling of "Get selected as dependencies" actions
  src/System Application/App/Extension Management/src/ExtensionManagement.Page.al
Labels: AL: System Application

#3104 [VS Code Integration] Fix navigating to System app objects definition
  src/System Application/App/VS Code Integration/src/VsCodeIntegrationImpl.Codeunit.al
Labels: AL: System Application

#3123 [releases/26.x] [Agents] Fixes for "task now authorized by" scenarios
  src/System Application/App/Agent/TaskPane/AgentTaskTimeline.Page.al
Labels: AL: System Application

#3124 [releases/26.0] [Agents] Fixes for "task now authorized by" scenarios
  src/System Application/App/Agent/TaskPane/AgentTaskTimeline.Page.al
Labels: AL: System Application
