Repository microsoft/BCApps, changes with the owners that CODEOWNERS names for each.
All owners: @microsoft/dynamics-365-business-central, @microsoft/d365-bc-app-required, @microsoft/d365-bc-app-rulesets, @microsoft/dynamics-smb-developertools, @microsoft/d365-bc-copilot-toolkit, @microsoft/d365-bc-app-security, @microsoft/d365-bc-app-permissions, @microsoft/d365-bc-engineering-systems

polish the tests
  src/System Application/Test/Email/src/HttpsMockEmailTest.Codeunit.al
Owners: @microsoft/d365-bc-app-required

complete the success tests
  src/System Application/Test/Email/src/HttpsMockEmailTest.Codeunit.al
Owners: @microsoft/d365-bc-app-required

fix app.json
  src/System Application/Test/app.json
Owners: @microsoft/d365-bc-engineering-systems, @microsoft/d365-bc-app-required

Update BCArtifact version. New value: 27.0.34354.0
  .github/AL-Go-Settings.json
Owners: @microsoft/d365-bc-engineering-systems

Add permission set for Adding Related Fields in Analysis Mode (#3635)
  src/System Application/App/Permissions/SystemApplicationAdmin.PermissionSet.al
  src/System Application/App/System Permissions/permissions/AddRelatedFields.Permissionset.al
Owners: @microsoft/d365-bc-app-permissions

Fix caption for Add Fields in Analysis Mode permission set (#3667)
  src/System Application/App/System Permissions/permissions/AddRelatedFields.Permissionset.al
Owners: @microsoft/d365-bc-app-permissions

adds a test to verify no. series drilldown doesn't remove filter (#2110)
  src/Business Foundation/Test/NoSeries/src/NoSeriesTests.Codeunit.al
Owners: @microsoft/d365-bc-app-required

Suppress new rules AS0131, AS0132, AS0133
  src/rulesets/AppSourceCop.ruleset.json
Owners: @microsoft/d365-bc-app-rulesets

clean up MovedTo/MovedFrom with CLEANSCHEMA (#3704)
  src/Business Foundation/App/AuditCodes/src/Legacy/ObsoleteReturnReasonExt.TableExt.al
  src/Business Foundation/App/AuditCodes/src/Legacy/ObsoleteSourceCodeExt.TableExt.al
  src/Business Foundation/App/AuditCodes/src/Legacy/ObsoleteSourceCodeSetupExt.TableExt.al
  src/Business Foundation/App/AuditCodes/src/ReasonCode.Table.al
  src/Business Foundation/App/AuditCodes/src/ReturnReason.Table.al
  src/Business Foundation/App/AuditCodes/src/SourceCode.Table.al
  src/Business Foundation/App/AuditCodes/src/SourceCodeSetup.Table.al
  src/Business Foundation/App/NoSeries/src/GlobalNoSeries/NoSeriesTenant.Table.al
  src/Business Foundation/App/NoSeries/src/Legacy/NoSeriesObsolete.TableExt.al
  src/Business Foundation/App/NoSeries/src/Setup/NoSeries.Table.al
  src/Business Foundation/App/NoSeries/src/Setup/NoSeriesLine.Table.al
  src/Business Foundation/App/NoSeries/src/Setup/NoSeriesRelationship.Table.al
Owners: @microsoft/d365-bc-app-required

Suppress new rules AS0131, AS0132, AS0133 (#3720)
  src/rulesets/AppSourceCop.ruleset.json
Owners: @microsoft/d365-bc-app-rulesets

[releases/26.x@a202780] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 4c6b438 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/Test Current.settings.json
  .github/Test Next Major.settings.json
  .github/Test Next Minor.settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/settings.json
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/settings.json
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/settings.json
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/settings.json
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/settings.json
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/settings.json
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/settings.json
Owners: @microsoft/d365-bc-engineering-systems

[releases/25.2@8861c45] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 4c6b438 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/Test Current.settings.json
  .github/Test Next Major.settings.json
  .github/Test Next Minor.settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/settings.json
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/settings.json
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/settings.json
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/settings.json
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/settings.json
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/settings.json
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/settings.json
Owners: @microsoft/d365-bc-engineering-systems

[releases/24.5@218c863] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 4c6b438 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/Test Current.settings.json
  .github/Test Next Major.settings.json
  .github/Test Next Minor.settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/settings.json
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/settings.json
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/settings.json
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/settings.json
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/settings.json
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/settings.json
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/settings.json
Owners: @microsoft/d365-bc-engineering-systems

[releases/25.3@f322bd8] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 4c6b438 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/Test Current.settings.json
  .github/Test Next Major.settings.json
  .github/Test Next Minor.settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/settings.json
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/settings.json
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/settings.json
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/settings.json
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/settings.json
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/settings.json
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/settings.json
Owners: @microsoft/d365-bc-engineering-systems

[releases/25.4@f9cb399] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 4c6b438 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/Test Current.settings.json
  .github/Test Next Major.settings.json
  .github/Test Next Minor.settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/settings.json
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/settings.json
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/settings.json
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/settings.json
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/settings.json
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/settings.json
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/settings.json
Owners: @microsoft/d365-bc-engineering-systems

[releases/25.1@f8ef5e0] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 4c6b438 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/Test Current.settings.json
  .github/Test Next Major.settings.json
  .github/Test Next Minor.settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/settings.json
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/settings.json
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/settings.json
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/settings.json
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/settings.json
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/settings.json
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/settings.json
Owners: @microsoft/d365-bc-engineering-systems

[releases/24.x@4b3ecbe] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 4c6b438 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/Test Current.settings.json
  .github/Test Next Major.settings.json
  .github/Test Next Minor.settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/settings.json
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/settings.json
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/settings.json
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/settings.json
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/settings.json
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/settings.json
  build/projects/Test Framework/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Framework/.AL-Go/localDevEnv.ps1
  build/projects/Test Framework/.AL-Go/settings.json
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/settings.json
Owners: @microsoft/d365-bc-engineering-systems

[releases/25.x@61e72b3] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 4c6b438 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/Test Current.settings.json
  .github/Test Next Major.settings.json
  .github/Test Next Minor.settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/settings.json
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/settings.json
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/settings.json
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/settings.json
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/settings.json
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/settings.json
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/settings.json
Owners: @microsoft/d365-bc-engineering-systems

[releases/25.0@7b7c737] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 4c6b438 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/Test Current.settings.json
  .github/Test Next Major.settings.json
  .github/Test Next Minor.settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/settings.json
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/settings.json
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/settings.json
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/settings.json
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/settings.json
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/settings.json
Owners: @microsoft/d365-bc-engineering-systems

[main@c5ba851] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 4c6b438 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/Test Current.settings.json
  .github/Test Next Major.settings.json
  .github/Test Next Minor.settings.json
  build/projects/Business Foundation/.AL-Go/settings.json
  build/projects/Performance Toolkit/.AL-Go/settings.json
  build/projects/System Application Modules/.AL-Go/settings.json
  build/projects/System Application Tests (No Isolation)/.AL-Go/settings.json
  build/projects/System Application Tests/.AL-Go/settings.json
  build/projects/System Application/.AL-Go/settings.json
  build/projects/Test Stability Tools/.AL-Go/settings.json
Owners: @microsoft/d365-bc-engineering-systems

[releases/26.1@b13af41] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 4c6b438 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/Test Current.settings.json
  .github/Test Next Major.settings.json
  .github/Test Next Minor.settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/settings.json
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/settings.json
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/settings.json
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/settings.json
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/settings.json
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/settings.json
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/settings.json
Owners: @microsoft/d365-bc-engineering-systems

[releases/26.0@584ddf2] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 4c6b438 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/Test Current.settings.json
  .github/Test Next Major.settings.json
  .github/Test Next Minor.settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/settings.json
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/settings.json
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/settings.json
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/settings.json
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/settings.json
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/settings.json
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/settings.json
Owners: @microsoft/d365-bc-engineering-systems

[releases/25.5@892cf94] Update AL-Go System Files from microsoft/AL-Go-PTE@preview - 4c6b438 / Related to AB#539394
  .github/AL-Go-Settings.json
  .github/RELEASENOTES.copy.md
  .github/Test Current.settings.json
  .github/Test Next Major.settings.json
  .github/Test Next Minor.settings.json
  .github/workflows/CICD.yaml
  .github/workflows/DeployReferenceDocumentation.yaml
  .github/workflows/IncrementVersionNumber.yaml
  .github/workflows/PullRequestHandler.yaml
  .github/workflows/Troubleshooting.yaml
  .github/workflows/UpdateGitHubGoSystemFiles.yaml
  .github/workflows/_BuildALGoProject.yaml
  build/projects/Business Foundation/.AL-Go/cloudDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/localDevEnv.ps1
  build/projects/Business Foundation/.AL-Go/settings.json
  build/projects/Performance Toolkit/.AL-Go/cloudDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/localDevEnv.ps1
  build/projects/Performance Toolkit/.AL-Go/settings.json
  build/projects/System Application Modules/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/localDevEnv.ps1
  build/projects/System Application Modules/.AL-Go/settings.json
  build/projects/System Application Tests (No Isolation)/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests (No Isolation)/.AL-Go/settings.json
  build/projects/System Application Tests/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/localDevEnv.ps1
  build/projects/System Application Tests/.AL-Go/settings.json
  build/projects/System Application/.AL-Go/cloudDevEnv.ps1
  build/projects/System Application/.AL-Go/localDevEnv.ps1
  build/projects/System Application/.AL-Go/settings.json
  build/projects/Test Stability Tools/.AL-Go/cloudDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/localDevEnv.ps1
  build/projects/Test Stability Tools/.AL-Go/settings.json
Owners: @microsoft/d365-bc-engineering-systems

Suppress new rules AS0131, AS0132, AS0133
  src/rulesets/AppSourceCop.ruleset.json
Owners: @microsoft/d365-bc-app-rulesets

Suppress new rules AS0131, AS0132, AS0133
  src/rulesets/AppSourceCop.ruleset.json
Owners: @microsoft/d365-bc-app-rulesets

Suppress new rules AS0131, AS0132, AS0133
  src/rulesets/AppSourceCop.ruleset.json
Owners: @microsoft/d365-bc-app-rulesets

[26.x] Suppress new rules AS0131, AS0132, AS0133 (#3734)
  src/rulesets/AppSourceCop.ruleset.json
Owners: @microsoft/d365-bc-app-rulesets

[26.1] Suppress new rules AS0131, AS0132, AS0133 (#3736)
  src/rulesets/AppSourceCop.ruleset.json
Owners: @microsoft/d365-bc-app-rulesets

[26.0] Suppress new rules AS0131, AS0132, AS0133 (#3735)
  src/rulesets/AppSourceCop.ruleset.json
Owners: @microsoft/d365-bc-app-rulesets

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.
# CODEOWNERS paths are case sensitive, because GitHub uses a case sensitive file system

# Default owners
* @microsoft/dynamics-365-business-central

# Default owners for all app code
/src @microsoft/d365-bc-app-required

# App Rulesets
/src/rulesets/ @microsoft/d365-bc-app-rulesets

# Developer Tools
/src/System\ Application/App/Extension\ Management @microsoft/dynamics-smb-developertools

# App Foundation
/src/System\ Application/App/AI @microsoft/d365-bc-copilot-toolkit

# App Security
dotnet.al @microsoft/d365-bc-app-security

# App Permissions
/src/**/Permissions/ @microsoft/d365-bc-app-permissions
/src/**/permissions/ @microsoft/d365-bc-app-permissions
*.Permissionset.al @microsoft/d365-bc-app-permissions
*.Permissionsetext.al @microsoft/d365-bc-app-permissions
*.Entitlement.al @microsoft/d365-bc-app-permissions

# app.json files are owned by Engineering Systems to control the versions and BC app team to control the other metadata
app.json @microsoft/d365-bc-engineering-systems @microsoft/d365-bc-app-required

# AL-Go files and build scripts are owned by Engineering Systems
.AL-Go/ @microsoft/d365-bc-engineering-systems
*.ps1 @microsoft/d365-bc-engineering-systems
/.azuredevops @microsoft/d365-bc-engineering-systems
/.github @microsoft/d365-bc-engineering-systems
/build @microsoft/d365-bc-engineering-systems
/CODEOWNERS @microsoft/d365-bc-engineering-systems
